﻿@model DMMS.Models.TreeCategoriesAddRequest
@{
    Layout = null;
}

<div class="kt-body-content">
    <a class="active">
        Dụng cụ lao động <i class="la la-angle-right"></i>
    </a>
</div>

<div class="wizard-content">
    <form id="example-form" asp-action="CreateDevice" class="dmms-treecategoriesaddtools__form tab-wizard wizard clearfix" onsubmit="return false">
        <section class="row">
            <div class="col-md-6">
                <div class="kt-form-left">
                    <div class="form-group">
                        <label class="control-label">Tên danh mục vật tư</label>
                        <div class="kt-input-icon">
                            <input class="form-control" placeholder="Nhập tên danh mục vật tư" asp-for="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="kt-radio-inline">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" class="removefiledlast" name="is_leaf" value="0" checked> Danh mục mới
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" class="filedlast" name="is_leaf" value="1"> Danh mục cuối
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="addfield">

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-form-right">
                    <div class="kt-form-right--content row">
                        <div class="col-md-5">
                            <span class="text-uppercase">Thêm lĩnh vực:</span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="kt-checkbox-inline check-all" data-all="false">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        Chọn tất cả/Bỏ chọn <input value="" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Lĩnh vực *@
                    <div class="kt-form-right--body">
                        @foreach (var item in ViewBag.Field)
                        {
                            <div class="form-group check-each">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        @item.name <input name="fields[]" value="@item.id" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>


        </section>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
</div>

