﻿@model DMMS.Models.TreeCategoriesDetailRespose
@{
    Layout = null;
}

<div class="kt-body-content">
    <a class="active">
        Dụng cụ lao động <i class="la la-angle-right"></i>
    </a>
</div>

<div class="wizard-content">
    <form id="example-form" asp-action="CreateDevice" class="dmms-treecategoriesedittools__form tab-wizard wizard clearfix" onsubmit="return false">
        <section class="row">
            <div class="col-md-6">
                <div class="kt-form-left">
                    <div class="form-group">
                        <label class="control-label">Tên danh mục vật tư</label>
                        <div class="kt-input-icon">
                            <input class="form-control" placeholder="Nhập tên danh mục vật tư" asp-for="name" />
                        </div>
                    </div>
                    <input hidden asp-for="id" />
                    <input hidden asp-for="detail.category_id" />
                    <input hidden asp-for="detail.status" />
                    <input hidden asp-for="is_leaf" />
                    <div class="form-group">
                        <div class="kt-radio-inline">
                            @if (Model.is_leaf == 0)
                            {
                                <label class="kt-radio kt-radio--bold kt-radio--brand">
                                    <input type="radio" class="removefiledlast" name="is_leaf" value="0" checked> Danh mục mới
                                    <span></span>
                                </label>
                                <label class="kt-radio kt-radio--bold kt-radio--brand">
                                    <input type="radio" class="filedlast" name="is_leaf" value="1" disabled> Danh mục cuối
                                    <span></span>
                                </label>
                            }
                            else if (Model.is_leaf == 1)
                            {
                                <label class="kt-radio kt-radio--bold kt-radio--brand">
                                    <input type="radio" class="removefiledlast" name="is_leaf" value="0" disabled> Danh mục mới
                                    <span></span>
                                </label>
                                <label class="kt-radio kt-radio--bold kt-radio--brand">
                                    <input type="radio" class="filedlast" name="is_leaf" value="1" checked> Danh mục cuối
                                    <span></span>
                                </label>
                            }

                        </div>
                    </div>
                    @if (Model.is_leaf == 1)
                    {
                        <label class="control-label">Mã dụng cụ</label>
                        <div class="form-group row">
                            <div class="form-group col-6">
                                <div class="kt-input-icon">
                                    <input class="form-control codedevice" placeholder="Nhập tên danh mục dụng cụ" asp-for="detail.code" disabled />
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <select class="form-control" id="checkauto">
                                    <option value="0">Auto</option>
                                    <option value="1">Nhập text</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-6">
                                <label class="control-label">Hãng dụng cụ lao động</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" placeholder="Nhập hãng dụng cụ lao động" asp-for="detail.manufacturer" />
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="control-label">Xuất xứ</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" placeholder="Xuất xứ" asp-for="detail.origin" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-6">
                                <label class="control-label">Giá nhập vào</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" placeholder="Giá nhập vào" asp-for="detail.imp_price_ref_string" />
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="control-label">Giá xuất ra</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" placeholder="Giá xuất ra" asp-for="detail.exp_price_ref_string" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đơn vị tính</label>
                            <div class="kt-input-icon">
                                <input class="form-control" placeholder="Đơn vị tính" asp-for="detail.unit" />
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-form-right">
                    <div class="kt-form-right--content row">
                        <div class="col-md-5">
                            <span class="text-uppercase">Thêm lĩnh vực:</span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="kt-checkbox-inline check-all" data-all="false">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        Chọn tất cả/Bỏ chọn <input value="" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Lĩnh vực *@
                    <div class="kt-form-right--body">
                        @foreach (var item in ViewBag.Field)
                        {
                            <div class="form-group check-each">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        @item.name <input name="fields[]" value="@item.id" type="checkbox" @item.IsCheck>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>


        </section>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
</div>

