﻿
@{
    ViewData["Title"] = "Danh sách";
    ViewData["BodyClass"] = "dmms-treecategories";
}
<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keywordtree" type="text" name="keyword" class="form-control" value="" placeholder="VD: Nhập từ khóa tìm kiếm" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--end: Search Form -->
</div>


<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                MÔ HÌNH QUẢN LÝ DANH MỤC THIẾT BỊ VẬT TƯ
            </h3>
        </div>
        <div class="kt-portlet__head-label">
            <div class="kt-portlet__head-title countstaff" style="font-size: 12px;color: orange;">

            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div id="kt_tree_4" class="tree-demo">
        </div>
    </div>
</div>


@section scripts {
    <script src="~/dist/jquery-ui.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>*@

}



