﻿@model DMMS.Models.RolesAddRequest
@{

    Layout = null;
}
<form asp-action="Create" class="dmms-roles__form" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="name" class="control-label">Tên chức năng</label>
        <div class="kt-input-icon">
            <input asp-for="name" class="form-control" placeholder="Tên chức năng" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="description" class="control-label">Mô tả</label>
        <textarea asp-for="description" class="form-control auto-resize" placeholder="Mô tả"></textarea>
    </div> 
    <div class="form-group row">
        <label class="control-label col-3">Quyền mặc định</label>
        <input type="checkbox" name="is_default" value="true">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary submit">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>
