﻿@model DMMS.Models.RolesDataResponse

@{
    ViewData["Title"] = "Cập nhật thiết bị";
    ViewData["BodyClass"] = "dmms-device";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                VAI TRÒ VÀ PHÂN QUYỀN - THÊM MỚI
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a href="/roles" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form class="dmms-rolesedit__form" asp-action="Edit" onsubmit="return false">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input asp-for="role.uuid" hidden />
            <div class="form-group row">
                <label asp-for="role.name" class="control-label col-3">Tên vai trò</label>
                <div class="kt-input-icon col-9">
                    <input asp-for="role.name" class="form-control" placeholder="Tên vai trò" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="role.description" class="control-label col-3">Mô tả</label>
                <div class="kt-input-icon col-9">
                    <textarea asp-for="role.description" class="form-control" placeholder="Mô tả"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="role.name" class="control-label col-3 ">Quyền mặc định</label>
                <div class="kt-input-icon col-1">
                    @if (Model.role.is_default == 1)
                    {
                        var check = "";
                        check = "checked";
                        <input value="1" name="role.is_default" type="checkbox" style="height:65%;" @check />
                    }
                    else
                    {
                        <input value="1" name="role.is_default" type="checkbox" style="height:65%;" />
                    }

                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-3">Tìm kiếm chức năng</label>
                <div class="kt-input-icon col-4">
                    <input class="form-control filter-keyword" placeholder="Tìm kiếm theo chức năng" />
                </div>
            </div>
            <div class="initper">
                @foreach (var i in Model.permissions)
                {
                    @if (i.type == 1)
                    {
                        var check = "";
                        <label class="control-label col-3 text-uppercase"><b>Web</b></label>
                        <div class="form-group row getvalueweb" style="margin-top:0px;margin-bottom: 10px;padding-top: 10px;background-color: #f9f9fc;border: 1px solid #ebedf2;">
                            @foreach (var m in i.permissions)
                            {


                                if (m.hasPermission == true)
                                {
                                    check = "checked";
                                }
                                else
                                {
                                    check = "";
                                }

                                <label class="control-label col-3 text-uppercase">@m.name</label>
                                <div class="kt-input-icon col-1">
                                    <input name="listpermissinos[]" value="@m.uuid" class="form-control check-roles" type="checkbox" @check style="height:65%;" />
                                </div>
                            }
                        </div>

                    }
                    else if (i.type == 2)
                    {
                        <label class="control-label col-3 text-uppercase"><b>App</b></label>
                        <div class="form-group row" style="margin-top:0px;margin-bottom: 10px;padding-top: 10px;background-color: #f9f9fc;border: 1px solid #ebedf2;">

                            @foreach (var m in i.permissions)
                            {
                                var check = "";
                                if (m.hasPermission == true)
                                {
                                    check = "checked";
                                }
                                else
                                {
                                    check = "";
                                }

                                <label class="control-label col-3 text-uppercase">@m.name</label>
                                <div class="kt-input-icon col-1">
                                    <input name="listpermissinos[]" value="@m.uuid" class="form-control abcd check-roles" type="checkbox" @check style="height:65%;" />
                                </div>
                            }
                        </div>
                    }
                    else if (i.type == 3)
                    {

                        <label class="control-label col-3 text-uppercase"><b>CRM</b></label>
                        <div class="form-group row" style="margin-top:0px;margin-bottom: 10px;padding-top: 10px;background-color: #f9f9fc;border: 1px solid #ebedf2;">
                            @foreach (var m in i.permissions)
                            {
                                var check = "";
                                if (m.hasPermission == true)
                                {
                                    check = "checked";
                                }
                                else
                                {
                                    check = "";
                                }

                                <label class="control-label col-3 text-uppercase">@m.name</label>
                                <div class="kt-input-icon col-1">
                                    <input name="listpermissinos[]" value="@m.uuid" class="form-control abcd check-roles" type="checkbox" @check style="height:65%;" />
                                </div>
                            }
                        </div>
                    }
                    else if (i.type == 4)
                    {

                        <label class="control-label col-3 text-uppercase"><b>Customer</b></label>
                        <div class="form-group row" style="margin-top:0px;margin-bottom: 10px;padding-top: 10px;background-color: #f9f9fc;border: 1px solid #ebedf2;">
                            @foreach (var m in i.permissions)
                            {
                                var check = "";
                                if (m.hasPermission == true)
                                {
                                    check = "checked";
                                }
                                else
                                {
                                    check = "";
                                }

                                <label class="control-label col-3 text-uppercase">@m.name</label>
                                <div class="kt-input-icon col-1">
                                    <input name="listpermissinos[]" value="@m.uuid" class="form-control abcd check-roles" type="checkbox" @check style="height:65%;" />
                                </div>
                            }
                        </div>
                    }


                }
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary submit">
                    <i class="la la-save"></i>
                    Lưu
                </button>
            </div>
        </form>
    </div>
  
</div>