﻿@model IEnumerable<DMMS.Models.PermissionsModel>

@{
    ViewData["Title"] = "Danh sách chức năng";
    ViewData["BodyClass"] = "dmms-roles";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                <i class="flaticon-user"></i>
            </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách chức năng
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button class="btn btn-primary btn-icon-sm addroles">
                        <i class="la la-plus"></i>
                        Thêm chức năng
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        @*<div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-3 col-lg-3">
                    <div class="kt-form__group">
                        <select id="js-filter-type" class="form-control bootstrap-select" name="type">
                            <option value="">Chọn trạng thái</option>
                            <option value="1" selected>Web</option>
                            <option value="2">App</option>
                            <option value="3">CRM</option>
                            <option value="4">Customer</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>*@
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>
