﻿@model IEnumerable<DMMS.Models.TeamModel>

@{
    ViewData["Title"] = "Danh sách";
    ViewData["BodyClass"] = "dmms-area";
}

<div class="row">
    <div class="col-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        DANH SÁCH NHÓM
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-group__container" id="js-teams"></div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        ĐỘI NHÓM QUẢN LÝ ĐƠN VỊ KHÁCH HÀNG
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="form-group">
                    <input id="js-filter-team-staff" type="text" class="form-control" value="" placeholder="Tìm kiếm" style="border-radius:0px" />
                </div>
                <div class="form-group">
                    <h5 class="kt-portlet__head-title" id="js-title-2">
                    </h5>
                </div>
                <div class="kt-group__container" id="js-area-2" style="top:80px">

                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        ĐƠN VỊ KHÁCH HÀNG CHƯA PHÂN CÔNG
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="form-group">
                    <input id="js-filter-customer" type="text" class="form-control" value="" placeholder="Tìm kiếm" style="border-radius:0px" />
                </div>
                <div class="kt-group__container" id="js-area-3" style="top:80px"></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="js-staff-uuid" />
    <input type="hidden" id="js-team-uuid" />
    <input type="hidden" id="js-customer-uuid" />
</div>