﻿@model DMMS.Models.TeamUpsertRequest

@{
    Layout = null;
}

<form class="dmms-team__form" asp-action="create" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="form-group">
        <div class="form-group kt-margin-t-10 kt-margin-b-30">
            <div class="kt-input-icon">
                <input asp-for="name" class="form-control" placeholder="Tên Đội - Nhóm" />
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-info">
            <i class="la la-save"></i>
            Lưu tên nhóm
        </button>
    </div>
</form>