﻿    @model TeamDataResponse

@{
    Layout = null;
}

    <div class="container">
        <h4><a class="">@Model.name</a></h4><hr />
        <div class="row mt-4">
            <div class="col-3 kt-font-bold">Tên đội - nhóm: </div>
            <div class="col-9 ">@Model.name</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Leader: </div>
            <div class="col-9 ">
                <div class="row">
                    <a class="col-12">@Model.leader.name</a>
                    <a class="col-12">@Model.leader.email</a>
                    <a class="col-12">@Model.leader.address</a>
                    <a class="col-12">@Model.leader.phone_number</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Nhân viên: </div>
            <div class="col-9 ">
                @if (Model.staff != null && Model.staff.Count > 0)
                {
                    foreach (var item in Model.staff)
                    {
                        <div class="row">
                            <a class="showBtn d-flex align-items-center py-2">
                                <i class="showBtn la la-angle-down"></i>
                                @item.name
                            </a>
                            <div class="hideme col-12 mb-3">
                                <div class="pl-1"><a class="kt-font-bold">Email:</a> @item.email</div>
                                <div class="pl-1"><a class="kt-font-bold">Địa chỉ:</a> @item.address</div>
                                <div class="pl-1"><a class="kt-font-bold">Số điện thoại:</a> @item.phone_number</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>Chưa có nhân viên</div>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Mô tả: </div>
            <div class="col-9">@Model.description</div>
        </div>
    </div>