﻿@model DMMS.Models.TeamUpsertRequest

@{
    Layout = null;
}

    <form class="dmms-team__form" asp-action="edit" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input asp-for="uuid" type="hidden" class="form-control" />
        @*<input asp-for="leader_uuid" type="hidden" />*@
        @*<input asp-for="staff_uuid_str" type="hidden" />*@
        @*<div class="form-group">
            <label asp-for="name" class="control-label">Mã Đội-Nhóm</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="name" disabled class="form-control" readonly />
                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="name" class="control-label">Tên Đội-Nhóm</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="name" class="form-control" placeholder="Tên Đội-Nhóm" />
                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="leader_uuid" class="control-label">Leader</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control bootstrap-select" id="kt-staff" name="leader_uuid"
                        asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                    <option value="">---Chọn leader---</option>
                </select>
            </div>
        </div>*@

        @*<div class="form-group">
            <label asp-for="staff" class="control-label">Nhân viên</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control bootstrap-select" id="kt-multiple-select-staff" multiple name="staff"
                        title="Chọn nhân viên..." asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                </select>
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="staff" class="control-label">Nhân viên</label><br />
            @if (@ViewBag.CountStaff == 0)
            {
                <a>Chưa có nhân viên trong nhóm.</a>
            }
            else
            {
                <a>Có <a class="font-weight-bold text-danger">@ViewBag.CountStaff</a> nhân viên trong nhóm.</a>
            }
            <a title="Thêm nhân viên vào nhóm" data-team-name="@Model.name" data-team-desc="@Model.description" data-id="@Model.uuid"
               class="ml-3 js-list-staff text-primary" style="cursor: pointer;">
                Thêm
            </a>
        </div>*@

        @*<div class="form-group">
            <label asp-for="description" class="control-label">Mô tả Đội-Nhóm</label>
            <div class="kt-input-icon">
                <textarea asp-for="description" class="form-control">@Model.description</textarea>
            </div>
        </div>*@
        <div class="text-center">
            <button type="submit" class="btn btn-info">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>

