﻿@model IEnumerable<DMMS.Models.TeamModel>

@{
    ViewData["Title"] = "Danh sách";
    ViewData["BodyClass"] = "dmms-team";
}
    <div class="row">
        <div class="col-8">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            DANH SÁCH NHÓM
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                <button type="button" class="js-edit-team btn btn-primary btn-icon-sm">
                                    <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                                    <span class="d-none d-sm-inline-block">Đội nhóm mới</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <input id="js-filter-keyword" type="text" class="form-control" value="" placeholder="Tìm kiếm theo nhóm hoặc nhân viên" style="border-radius:0px" />
                    </div>
                    <div class="kt-team__container" id="js-display-team" style="top:54px"></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            NHÂN VIÊN CHƯA CÓ NHÓM
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <input id="js-filter-staff" type="text" class="form-control" value="" placeholder="Tìm kiếm theo nhóm hoặc nhân viên" style="border-radius:0px" />
                    </div>
                    <div class="kt-team__container" id="js-team-2" style="top:54px"></div>
                </div>
            </div>
        </div>
        <input id="js-staff-uuid" type="hidden" />
        <input id="js-team-uuid" type="hidden" />
    </div>