﻿@using System.Security.Claims;
@{
    Layout = null;
    ViewData["BodyClass"] = "dmms-default";
}

<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
    <div class="kt-container  kt-container--fluid ">
        <!-- begin:: Brand -->
        <div class="kt-header__brand " id="kt_header_brand">
            <div class="kt-header__brand-logo">
                <a href="/">
                    <img alt="DMMS - Hệ Thống Quản Lý Bảo Trì - Bảo Dưỡng" src="/statics/images/logo.svg">
                </a>
            </div>
        </div>
        <!-- end:: Brand -->
        <!-- begin:: Header Topbar -->
        <div class="kt-header__topbar">
            <!--begin: Search -->
            <!--end: Search -->
            <!--begin: Notifications -->
            <div class="kt-header__topbar-item dropdown">
                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                    <span class="kt-header__topbar-icon badge badge-light js-notification">
                        <i class="flaticon2-bell-alarm-symbol"></i>
                    </span>
                    <span class="kt-badge kt-badge--danger" id="notificetion"></span>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                    <form>
                        <!--begin: Head -->
                        <div class="kt-head kt-head--skin-light kt-head--fit-x kt-head--fit-b">
                            <h3 class="kt-head__title">
                                Thông báo mới
                                &nbsp;
                                <span class="btn btn-label-primary btn-sm btn-bold btn-font-md" id="totalnoti"></span>
                                <span class="readall"></span>

                            </h3>
                        </div>
                        <!--end: Head -->
                        <div class="tab-content">
                            <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                                <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" id="noti" data-mobile-height="200">

                                </div>
                            </div>
                            <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200" id="noti2">

                                </div>
                            </div>
                            <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
                                    <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                                        <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                            All caught up!
                                            <br>No new notifications.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end: Notifications -->
            <!--begin: Quick actions -->
            <div class="kt-header__topbar-item dropdown">
                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                    <span class="kt-header__topbar-icon"><i class="flaticon2-gear"></i></span>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl cus">
                    <!--begin: Navigation -->
                    <div class="kt-notification">
                        <a href="javascript:changeTheme('white');" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon-squares"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    Theme Light
                                </div>
                            </div>
                        </a>
                        <a href="javascript:changeTheme('dask');" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon-squares"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    Theme Dask
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end: Navigation -->
                </div>
            </div>
            <!--end: Quick actions -->
            <!--begin: Cart -->
            <!--end: Cart-->
            <!--begin: User bar -->
            <div class="kt-header__topbar-item kt-header__topbar-item--user">
                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                    <span class="kt-header__topbar-welcome kt-visible-desktop">Xin chào, </span>
                    <span class="kt-header__topbar-username kt-visible-desktop">@User.FindFirst(ClaimTypes.Name).Value</span>
                    @if (User.FindFirst(DMMS.Utilities.Constants.USER_AVATAR) == null)
                    {
        <img class="kt-hidden-" alt="Pic" src="/dist/images/icon-avatar.png" />
    }
    else
    {
<img class="kt-hidden-" alt="Pic" src="@User.FindFirst(DMMS.Utilities.Constants.USER_AVATAR).Value" style="border-radius: 20%;" />
}
                    <span class="kt-header__topbar-icon kt-bg-brand kt-hidden"><b>S</b></span>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl cus">
                    <!--begin: Head -->
                    <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                        <div class="kt-user-card__avatar">
                            @if (User.FindFirst(DMMS.Utilities.Constants.USER_AVATAR) == null)
                            {
                <img class="kt-hidden-" alt="Pic" src="/dist/images/icon-avatar.png" />
            }
            else
            {
<img class="kt-hidden-" alt="Pic" src="@User.FindFirst(DMMS.Utilities.Constants.USER_AVATAR).Value" />
}
                        </div>
                        <div class="kt-user-card__name">
                            @User.FindFirst(ClaimTypes.Name).Value
                        </div>
                        <div class="kt-user-card__badge">
                            <span class="btn btn-label-light btn-sm btn-bold btn-font-md">23 messages</span>
                        </div>
                    </div>
                    <!--end: Head -->
                    <!--begin: Navigation -->
                    <div class="kt-notification">
                        <a href="/account/personal" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-calendar-3"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    Thông tin cá nhân
                                </div>
                                <div class="kt-notification__item-time">
                                    Cài đặt thông tin cá nhân
                                </div>
                            </div>
                        </a>
                        @*<a href="demo11/custom/apps/user/profile-3.html" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-mail"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        My Messages
                                    </div>
                                    <div class="kt-notification__item-time">
                                        Inbox and tasks
                                    </div>
                                </div>
                            </a>
                            <a href="demo11/custom/apps/user/profile-2.html" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-rocket-1"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        My Activities
                                    </div>
                                    <div class="kt-notification__item-time">
                                        Logs and notifications
                                    </div>
                                </div>
                            </a>
                            <a href="demo11/custom/apps/user/profile-3.html" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-hourglass"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        My Tasks
                                    </div>
                                    <div class="kt-notification__item-time">
                                        latest tasks and projects
                                    </div>
                                </div>
                            </a>

                            <a href="demo11/custom/apps/user/profile-1/overview.html" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <i class="flaticon2-cardiogram"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                        Billing
                                    </div>
                                    <div class="kt-notification__item-time">
                                        billing & statements <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded" >2 pending</span>
                                    </div>
                                </div>
                            </a>*@
                        <div class="kt-notification__custom kt-space-between">
                            <form asp-action="Logout" asp-controller="Authen">
                                <button type="submit" class="btn btn-label btn-label-brand btn-sm btn-bold">Đăng xuất</button>
                            </form>
                        </div>
                    </div>
                    <!--end: Navigation -->
                </div>
            </div>
            <!--end: User bar -->
        </div>
        <!-- end:: Header Topbar -->
    </div>
</div>
