﻿@model DMMS.Models.ListSuppliesAddRequest
@{

    Layout = null;
}
<form asp-action="Edit" class="dmms-listsupplies__form" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label class="control-label">Tên Thiết bị-Vật tư</label>
        <div class="kt-input-icon">
            <input asp-for="name" class="form-control" placeholder="Tên Thiết bị-Vật tư" readonly/>
            @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Phân Loại</label>
        <div class="kt-input-icon">
            @if (Model.type == 1)
            {
                <input class="form-control" placeholder="Phân loại" value="Thiết bị" readonly />
            }
            else if (Model.type == 2)
            {
                <input class="form-control" placeholder="Phân loại" value="Vật tư" readonly />
            }
            else if (Model.type == 3) 
            {
            <input class="form-control" placeholder="Phân loại" value="Dụng cụ" readonly />
            }

            @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Chủng Loại</label>
        <div class="kt-input-icon">
            <input asp-for="prefix_name" class="form-control" placeholder="Chủng loại" readonly/>
            @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Đơn vị tính</label>
        <div class="kt-input-icon">
            <input asp-for="unit" class="form-control" placeholder="Nhập đơn vị tính" />
            @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <label class="control-label">Giá nhập vào (Đ)</label>
            <div class="kt-input-icon">
                <input asp-for="imp_price_ref_format" class="form-control money" placeholder="Giá nhập vào" />
                @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
            </div>
        </div>
        <div class="col-6">
            <label class="control-label">Giá xuất ra (Đ)</label>
            <div class="kt-input-icon">
                <input asp-for="exp_price_ref_format" class="form-control money" placeholder="Giá xuất ra" />
                @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
            </div>
        </div>
        
    </div>
    <div class="form-group row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Xuất xứ</label>
                <div class="kt-input-icon">
                    <input asp-for="origin" class="form-control" placeholder="Nhập xuất xứ" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Hãng thiết bị</label>
                <div class="kt-input-icon">
                    <input asp-for="manufacturer" class="form-control" placeholder="Nhập hãng thiết bị" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
            </div>
        </div>
        @*<label class="col-form-label">Trạng Thái Thiết bị-Vật tư</label>

        <div class="form-group">
            @if (Model.status == 1)
            {
                <div class="radio-inline row " style="flex-wrap: inherit;margin-left: 22px;">
                    <label class="container">
                        Hoạt động
                        <input type="radio" checked="checked" asp-for="status" value="1">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Tạm Ngưng
                        <input type="radio" asp-for="status" value="0">
                        <span class="checkmark"></span>
                    </label>
                </div>
            }
            else
            {
                <div class="radio-inline row " style="flex-wrap: inherit;margin-left: 22px;">
                    <label class="container">
                        Hoạt động
                        <input type="radio" asp-for="status" value="1">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Tạm Ngưng
                        <input type="radio" asp-for="status" value="0" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
            }


        </div>*@
        <input asp-for="id" type="hidden" />
        <div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
</form>

    <script src="~/dist/simple.money.format.js"></script>
    <script type="text/javascript">
        $('.money').simpleMoneyFormat();
    </script>

