﻿@model DMMS.Models.DeviceAddRequest

@{
    ViewData["Title"] = "Thêm thiết bị";
    ViewData["BodyClass"] = "dmms-device";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-user"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Thêm thiết bị
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a href="/device" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet__body">
        <form id="dmms-device__form" asp-action="Create" asp-controller="Device">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="kt-section kt-section--first">
                        <h3 class="kt-section__title">Thông tin cơ bản</h3>
                        <div class="kt-section__body">
                            <div class="form-group">
                                @*<label asp-for="name" class="control-label">Tên thiết bị</label>*@
                                <label asp-for="name" class="control-label">Tên thiết bị</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="name" class="form-control" placeholder="Tên thiết bị" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                </div>
                            </div>
                            @if (ViewBag.category != null && ViewBag.category.Count > 0)
                            {
                                <div class="form-group">
                                    <label asp-for="category_id" class="control-label">Loại thiết bị</label>
                                    <div class="kt-form__group">
                                        <select asp-items="@(new SelectList(ViewBag.category,"id","name"))" id="js-filter-category" data-live-search="true" class="form-control bootstrap-select" asp-for="category_id">
                                            <option value="">--- Chọn loại thiết bị ---</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label asp-for="category_id" class="control-label">Chưa có loại thiết bị</label>
                                    <div class="kt-form__group">
                                        <select disabled asp-items="@(new SelectList("id","name"))" id="js-filter-category" data-live-search="true" class="form-control bootstrap-select" asp-for="category_id">
                                            <option value="">--- Chọn loại thiết bị ---</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <label asp-for="serial" class="control-label">Serial</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="serial" class="form-control" placeholder="Serial" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-barcode"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="imei" class="control-label">IMEI</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="imei" class="form-control" placeholder="IMEI" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-barcode"></i></span></span>
                                </div>
                            </div>
                            @*@if (ViewBag.project != null && ViewBag.project.Count > 0)
                            {
                                <div class="form-group">
                                    <label asp-for="project_uuid" class="control-label">Dự án - Đơn vị</label>
                                    <div class="kt-form__group">
                                        <select asp-items="@(new SelectList(ViewBag.project,"uuid","name"))" id="js-filter-project" data-live-search="true" class="form-control bootstrap-select" asp-for="project_uuid">
                                            <option value="">--- Chọn dự án ---</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            <select name="project_customer_uuid" id="variant" class="form-control input-md">
                                <option value="">---Chọn đơn vị---</option>
                            </select>*@
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="kt-section kt-section--first">
                        <h3 class="kt-section__title">Thông tin bổ sung</h3>
                        <div class="kt-section__body">
                            @if (ViewBag.supplier != null && ViewBag.supplier.Count > 0)
                            {
                                <div class="form-group">
                                    <label asp-for="supplier_uuid" class="control-label">Nhà cung cấp</label>
                                    <div class="kt-form__group">
                                        <select asp-items="@(new SelectList(ViewBag.supplier,"uuid","name"))" id="js-filter-supplier" data-live-search="true" class="form-control bootstrap-select" asp-for="supplier_uuid">
                                            <option value="">--- Chọn nhà cung cấp ---</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label asp-for="supplier_uuid" class="control-label">Chưa có nhà cung cấp</label>
                                    <div class="kt-form__group">
                                        <select disabled asp-items="@(new SelectList("uuid","name"))" id="js-filter-supplier" data-live-search="true" class="form-control bootstrap-select" asp-for="supplier_uuid">
                                            <option value="">--- Chọn nhà cung cấp ---</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label asp-for="model" class="control-label">Model thiết bị</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="model" class="form-control" placeholder="Model thiết bị" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-barcode"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="position" class="control-label">Vị trí</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="position" class="form-control" placeholder="Vị trí" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-location-arrow"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="state" class="control-label">Trạng thái</label>
                                <div class="kt-form__group">
                                    <select asp-items="@(new SelectList(ViewBag.devicestate,"Value","Text"))" id="js-filter-states" data-live-search="true" class="form-control bootstrap-select" asp-for="state" name="state">
                                        <option value="">--- Trạng thái ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="expire_device" class="control-label">Ngày thiết bị hết hạn</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="expire_device" type="text" readonly placeholder="Chọn ngày" class="kt_datepicker_expire_device form-control" name="expire_device" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-calendar"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="expire_contract" class="control-label">Ngày hết hạn hợp đồng</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="expire_contract" type="text" readonly placeholder="Chọn ngày" class="kt_datepicker_expire_contract form-control" name="expire_contract" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-calendar"></i></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="input-group">
                <input type="text" class="form-control" id="kt_gmap_8_address" placeholder="address...">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="kt_gmap_8_btn"><i class="fa fa-search"></i></button>
                </div>
            </div>*@

            @*<div id="kt_gmap_8" style="height:300px;">

            </div>*@
            <div class="form-group form-group-last">
                <label class="control-label">Upload image:</label>
                <div>
                    <div class="dropzone dropzone-default" id="kt_dropzone_image">
                        <div class="dropzone-panel">
                            @*<a class="dropzone-select btn btn-label-brand btn-bold btn-sm">Chọn ảnh</a>*@
                        </div>
                        <div class="dropzone-items">
                            <div class="dropzone-item" style="display:none">
                                <div class="dropzone-file">
                                    <div class="dropzone-filename" title="some_image_file_name.jpg">
                                        <span data-dz-name></span>
                                    </div>
                                    <div class="dropzone-error" data-dz-errormessage></div>
                                </div>
                                <div class="dropzone-progress">
                                    <div class="progress">
                                        <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                    </div>
                                </div>
                                <div class="dropzone-toolbar">
                                    <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
                </div>
            </div>


            <input asp-for="uuid_images" type="hidden" />
            @*<input id="customer_uuid_str" type="hidden" value="@ViewBag.project" />*@
            <div class="text-center">
                <button type="submit" class="btn btn-primary submit">
                    <i class="la la-save"></i>
                    Lưu
                </button>
            </div>
        </form>

    </div>


</div>
@section Scripts {
    <script src="//maps.google.com/maps/api/js?key=AIzaSyC6qXQQnXHMJEglRAIh4-sbcX8HkWDrO7A" type="text/javascript"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2OOvTXdwhj_hcp6SWpIJfMjP9Yuziih8&libraries=places&language=vi"></script>*@
    <script src="~/dist/gmap/gmaps.js"></script>

}
