﻿@*@model DMMS.Models.DeviceDataResponse
@{
    Layout = null;
}
<div class="form-group">
    <label asp-for="name" class="control-label" style="font-weight: bold;">Tên thiết bị</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="category_name" class="control-label" style="font-weight: bold;">Loại thiết bị</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="category_name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="expire_device" class="control-label" style="font-weight: bold;">Ngày hết hạn thiết bị</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="expire_device" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="expire_contract" class="control-label" style="font-weight: bold;">Ngày hết hạn hợp đồng</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="expire_contract" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="serial" class="control-label" style="font-weight: bold;">Serial</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="serial" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="imei" class="control-label" style="font-weight: bold;">Imei</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="imei" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="supplier_name" class="control-label" style="font-weight: bold;">Nhà cung cấp</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="supplier_name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="customer_name" class="control-label" style="font-weight: bold;">Đơn vị triển khai</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="customer_name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
  @Html.Raw(Model.avatar)*@

