﻿@model DMMS.Models.DeviceModel

@{
    ViewData["Title"] = "Cập nhật thiết bị";
    ViewData["BodyClass"] = "dmms-device";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a data-id="@Model.uuid" title="Xóa" class="js-delete-device btn btn-danger btn-icon-sm text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>
                    <a href="/device" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" data-toggle="tab" href="#" data-target="#kt_tabs_1_2" id="device_history">Lịch sử cập nhật thiết bị</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link movedevice" data-toggle="tab" href="#" data-target="#kt_tabs_1_3" id="device_history">LỊCH SỬ DI CHUYỂN THIẾT BỊ</a>
            </li>*@
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">

                <form id="dmms-device__form" asp-action="Edit" asp-controller="Device">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <div class="kt-section kt-section--first">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label class="control-label col-3">Mã TB-Hãng-Model</label>
                                <div class="kt-input-icon col-3">
                                    <input asp-for="code" class="form-control" placeholder="Mã Thiết bị" readonly />
                                </div>
                                <div class="kt-input-icon col-3 kt-padding-l-10">
                                    <input asp-for="manufacturer" class="form-control" placeholder="Hãng" readonly />
                                </div>
                                <div class="kt-input-icon col-3 kt-padding-l-10">
                                    <input asp-for="model" class="form-control" placeholder="Model" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="name" class="control-label col-3">Tên thiết bị</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="name" class="form-control" placeholder="Tên thiết bị" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Số serial-IMEI</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="serial" class="form-control" placeholder="Serial" readonly />
                                </div>
                                @*<div class="kt-input-icon col-4 kt-padding-l-10">
                                    <input asp-for="imei" class="form-control" placeholder="IMEI" readonly />
                                </div>*@
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Danh mục</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="prefix_name" class="form-control" placeholder="Danh mục" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Nhà cung cấp</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="supplier.name" class="form-control" placeholder="Nhà cung cấp" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Dự án-ĐV triển khai</label>
                                <div class="kt-input-icon col-5">
                                    <input asp-for="project.name" class="form-control" placeholder="Dự án" readonly />
                                </div>
                                <div class="kt-input-icon col-4 kt-padding-l-10">
                                    <input asp-for="customer_name" class="form-control" placeholder="Đơn vị triển khai" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Ngày hết hạn BH</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="expiredDevice_nohh" class="form-control" placeholder="Ngày hết hạn bảo hành" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Ngày hết hạn HĐ</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="expiredDevice_nohh" class="form-control" placeholder="Ngày hết hạn hợp đồng" readonly />
                                </div>
                            </div>
                            <div class="form-group row" hidden>
                                <label class="control-label col-3">Trạng thái</label>
                                <select id="js-filter-state" data-live-search="true" class="form-control bootstrap-select col-9" disabled asp-for="state" asp-items="@(new SelectList(ViewBag.devicestate, "Value", "Text"))">
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Trạng thái</label>
                                <div class="kt-input-icon col-9">
                                    <input class="form-control fillstate" placeholder="Trạng thái" readonly />
                                </div>
                            </div>
                            @*<div class="form-group">
            <label asp-for="imei" class="control-label">IMEI</label>
            <div class="kt-input-icon kt-input-icon--left">

                <span class="kt-input-icon__icon"><span><i class="la la-barcode"></i></span></span>
            </div>
        </div>*@
                            @*<div class="form-group row">
            <label asp-for="project_uuid" class="control-label col-3">Dự án - Đơn vị</label>

            <select asp-items="@(new SelectList(ViewBag.project,"uuid","name"))" id="js-filter-projectedit" data-live-search="true" class="form-control col-4 bootstrap-select" asp-for="project_uuid">
                <option value="">--- Chọn dự án ---</option>
            </select>


            <input asp-for="project_uuid" hidden />
            <input asp-for="project_customer_uuid" hidden />
            <select asp-for="project_customer_uuid" class="form-control col-4 kt-ml-10 input-md getcuspro" id="variant1">
                <option class="remove1" value="@Model.project_customer_uuid">@Model.customer_name</option>
            </select>
        </div>*@



                            @*<div class="form-group row">
            <label asp-for="position" class="control-label col-3">Vị trí</label>
            <div class="kt-input-icon col-9">
                <input asp-for="position" class="form-control" placeholder="Vị trí" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="state" class="control-label col-3">Trạng thái</label>

            <select asp-items="@(new SelectList(ViewBag.devicestate,"Value","Text", Model.state))" id="js-filter-states"
                    data-live-search="true" class="form-control col-9 bootstrap-select" asp-for="state">
                <option value="">--- Trạng thái ---</option>
            </select>

        </div>
        <div class="form-group row">
            <label asp-for="expire_device" class="control-label col-3">Ngày thiết bị hết hạn</label>
            <div class="kt-input-icon col-9">
                <input asp-for="expire_device" type="text" readonly placeholder="Chọn ngày" class="kt_datepicker_expire_device form-control" />

            </div>
        </div>
        <div class="form-group row">
            <label asp-for="expire_contract" class="control-label col-3">Ngày hết hạn hợp đồng</label>
            <div class="kt-input-icon col-9">
                <input asp-for="expire_contract" type="text" readonly placeholder="Chọn ngày" class="kt_datepicker_expire_contract form-control" />

            </div>
        </div>*@

                            @*<div class="input-group">
            <input type="text" class="form-control" id="kt_gmap_8_address" placeholder="address...">
            <div class="input-group-append">
                <button class="btn btn-primary" id="kt_gmap_8_btn"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <div id="kt_gmap_8" style="height:300px;">

        </div>*@

                            @*<div class="form-group form-group-last row">
            <label class="control-label col-3">Upload image:</label>
            <div class="dropzone dropzone-default col-9" id="kt_dropzone_image">
                <div class="dropzone-panel">

                </div>
                <div class="dropzone-items">
                    <div class="dropzone-item" style="display:none">
                        <div class="dropzone-file">
                            <div class="dropzone-filename" title="some_image_file_name.jpg">
                                <span data-dz-name></span>
                            </div>
                            <div class="dropzone-error" data-dz-errormessage></div>
                        </div>
                        <div class="dropzone-progress">
                            <div class="progress">
                                <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div class="dropzone-toolbar">
                            <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="form-text text-muted offset-3">Dung lượng file lớn nhất 5MB</span>
        </div>*@
                            @*<input asp-for="uuid_images" type="hidden" />
        <input asp-for="uuid" type="hidden" />
        <input id="expire_contract_str" type="hidden" value="@Model.expire_contract" />
        <input id="expire_device_str" type="hidden" value="@Model.expire_device" />*@
                            @*<div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>*@
                        </div>

                        </div>
                </form>
            </div>
 

            @* Lịch sử cập nhật thiết bị *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <input asp-for="uuid" type="hidden" />
                <div class="container" id="device_history_body">

                </div>
            </div>
        </div>

        <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">


        </div>
    </div>
</div>
@section Scripts {
    <script src="//maps.google.com/maps/api/js?key=AIzaSyDfrZl8X2VMeO4SGsrq3fwqZTA-5N6NMZY" type="text/javascript"></script>
    <script src="~/dist/gmap/gmaps.js"></script>
    
}



