﻿@model IEnumerable<DMMS.Models.DeviceModel>

@{
    ViewData["Title"] = "Danh sách thiết bị";
    ViewData["BodyClass"] = "dmms-device";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                <i class="flaticon-user"></i>
            </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách thiết bị
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    @*<a asp-action="create" asp-controller="device" class="btn btn-primary btn-icon-sm">
                        <i class="la la-plus"></i>
                        Thêm thiết bị
                    </a>*@
                </div>
               
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-3 col-lg-3">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên thiết bị, mã dự án" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                @*@if (ViewBag.category != null)
                {
                    <div class="col-md-3 col-lg-3">
                        <div class="kt-form__group">
                            <select asp-items="@(new SelectList(ViewBag.TypeCategory,"id", "name"))" id="js-filter-category" data-live-search="true" class="form-control bootstrap-select" name="category_id">
                                <option value="0">Chọn loại thiết bị</option>
                            </select>
                        </div>
                    </div>
                }*@
                @*@if (ViewBag.project != null)
                {
                    <div class="col-md-4 col-lg-3">
                        <div class="kt-form__group">
                            <select asp-items="@(new SelectList(ViewBag.project,"uuid","name"))" id="js-filter-project" data-live-search="true" class="form-control bootstrap-select" name="projectUuid">
                                <option value="">--- Chọn dự án ---</option>
                            </select>
                        </div>
                    </div>
                }*@
                @*@if (ViewBag.supplier != null)
                {
                    <div class="col-md-3 col-lg-3">
                        <div class="kt-form__group">
                            <select asp-items="@(new SelectList(ViewBag.supplier,"uuid","name"))" id="js-filter-supplier" data-live-search="true" class="form-control bootstrap-select" name="supplier_uuid">
                                <option value="">Chọn nhà cung cấp</option>
                            </select>
                        </div>
                    </div>
                }*@
                @*@if (ViewBag.customer != null)
                    {
                        <div class="col-md-4 col-lg-4">
                            <div class="kt-form__group">
                                <select asp-items="@(new SelectList(ViewBag.customer,"uuid","name"))" id="js-filter-customer" data-live-search="true" class="form-control bootstrap-select" name="customer_uuid">
                                    <option value="">--- Chọn đơn vị ---</option>
                                </select>
                            </div>
                        </div>
                    }*@
              
                    <div class="col-md-3 col-lg-3">
                        <div class="kt-form__group">
                            <select  id="js-filter-states" data-live-search="true" class="form-control bootstrap-select" name="states[]">
                                <option value="">Chọn trạng thái</option>
                                <option value="1,10,12,17">Hoạt động</option>
                                <option value="2,4,5,6,7">Sửa chữa</option>
                                <option value="3">Đến lịch bảo hành</option>
                                <option value="8">Thay thế tạm thời</option>
                                <option value="9,11">Hỏng</option>
                                <option value="13">Đã xuất thanh lý</option>
                                <option value="14">Đã xuất tiêu hao</option>
                                <option value="15">Đã hoàn trả nhà cung cấp</option>
                                <option value="16">Thêm mới/cập nhật thiết bị</option>
                            </select>
                        </div>
                    </div>
                
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>
