﻿@model DMMS.Models.DeviceAddRequest

@{
    Layout = null;
}

    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist" id="test">
            <li class="nav-item">
                <a class="nav-link active step1" href="#" data-target="#kt_tabs_1_1">Chọn tệp nguồn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link step2"  href="#kt_tabs_1_2" data-target="#kt_tabs_1_2">Kiểm tra dữ liệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link step3"  href="#kt_tabs_1_3">Hoàn thành</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="kt-portlet__body">
                    <form asp-action="UploadFileExcel" method="post" enctype="multipart/form-data" class="dmms-upload__form" onsubmit="return false">
                        <div class="form-group">
                            <label asp-for="FileUploadExcel"></label>
                            <input asp-for="FileUploadExcel" type="file" class="form-control" />
                            <span asp-validation-for="FileUploadExcel" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary submit">
                                <i class="la la-save"></i>
                                Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
          


            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">

                <div class="kt-portlet__body kt-portlet__body--table">
                    <!--begin: Datatable -->
                    <div class="updone"></div>                    
                    <div class="upfail"></div>
                    <div class="initbutton">
                        
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">

                <div class="kt-portlet__body kt-portlet__body--table">
                    <!--begin: Datatable -->
                    <div class="finish"></div>
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
<script>
    
    $('.initbutton').append(`<button data-toggle="tab" href="#kt_tabs_1_1" class="btn btn-white toback">Quay lại</button>&nbsp&nbsp&nbsp`);
    $('.initbutton').append(`<button data-toggle="tab" href="#kt_tabs_1_3" class="btn btn-primary tonext">Tiếp theo</button>`);
    $('.initbutton .toback').click(function () {
        $('.nav-link').removeClass("active");
        $('.step1').addClass("active");
        $('.updone').find('.table-hover').remove();
        $('.updone').find('.text-success').remove();
        $('.upfail').find('.table-hover').remove();
        $('.upfail').find('.text-danger').remove();
         $('.finish').find('.text-danger').remove();
        
    })
     $('.initbutton .tonext').click(function () {
        $('.nav-link').removeClass("active");
         $('.step3').addClass("active");
        
        
    })

</script>