﻿@model DMMS.Models.AccountChangePasswordModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->
        <!--Begin:: App Aside-->
        @await Component.InvokeAsync("AccountProfile")
        <!--End:: App Aside-->
        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Thay đổi mật khẩu<small></small></h3>
                            </div>
                        </div>
                        <form class="kt-form kt-form--label-right" asp-action="ChangePassword" asp-controller="Account">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Thay đổi mật khẩu</h3>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control"
                                                       type="password"
                                                       name="old_password"
                                                       asp-for="old_password"
                                                       placeholder="Mật khẩu hiện tại"
                                                       autocomplete="off" />
                                                <span asp-validation-for="old_password" class="d-block invalid-feedback"></span>                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu mới</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control"
                                                       type="password"
                                                       name="new_password"
                                                       asp-for="new_password"
                                                       placeholder="Mật khẩu mới"
                                                       autocomplete="off" />
                                                <span asp-validation-for="new_password" class="d-block invalid-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-last row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Nhập lại mật khẩu mới</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control"
                                                       type="password"
                                                       name="verify_new_password"
                                                       asp-for="verify_new_password"
                                                       placeholder="Nhập lại mật khẩu mới"
                                                       autocomplete="off" />
                                                <span asp-validation-for="verify_new_password" class="d-block invalid-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3">
                                        </div>
                                        <div class="col-lg-6 col-xl-6">
                                            @if (!string.IsNullOrEmpty(ViewBag.Success))
                                            {
                                                <div class="alert alert-success">
                                                    <span class="kt-font-bold">@ViewBag.Success</span>
                                                </div>

                                            }
                                            else
                                            {
                                                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                                            }
                                            <button type="submit" class="btn btn-brand btn-bold">Thay đổi mật khẩu</button>
                                        </div>
                                        <div class="col-lg-3 col-xl-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->
</div>