﻿@{
    Layout = null;
}

<div class="kt-portlet__body dmms-import_form">
    @* <form action="UpsetExcelProject" name="myForm" method="post" class="dmms-import_form" onsubmit="return myFunctionName()">*@
    <div class="form-group">
        <label>Tải lên file Excel</label>
        <input type="file" id="fileupload" name="files" class="form-control" />
        <span class="text-danger"></span>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link link-importExcelProject1 active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">Dự án</a>
        </li>

        <li class="nav-item">
            <a class="nav-link link-importExcelProject2" data-toggle="tab" href="#kt_tabs_1_2">Chi tiết dự án</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane importExcelProjectTab1 active" id="kt_tabs_1_1" role="tabpanel">
            <div id="divPrint"></div>
        </div>

        <div class="tab-pane importExcelProjectTab2" id="kt_tabs_1_2" role="tabpanel">
            <div id="divPrint2"></div>
        </div>
    </div>

    <input type="hidden" id="checksubmit" name="checksubmit" value="0" />
    <div class="text-center" style="margin-top:20px;">
        <button type="submit" class="btn btn-primary submitForm" disabled>
            <i class="la la-save"></i>
            Lưu
        </button>
        <a href="ImportExcel/Download" class="btn btn-danger btn-icon-sm">
            <i class="flaticon-download"></i>
            Download File mẫu
        </a>
    </div>
    @* </form>*@
</div>

<script>
    myFunctionName = function () {
        if (document.myForm.checksubmit.value == 0)
            return false;
        else
            return true;
    }
</script>
