﻿@model DMMS.Models.StaffInGroupModel
@{
    Layout = null;
}

    <form class="dmms-add-staff-to-group__form"  onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <h4>Nhóm: <span id="group-title">nhóm nhân viên</span></h4>
        </div>
        <div class="form-group">
            <input asp-for="group_uuid" type="hidden" class="form-control" />
            <input asp-for="staff.uuid" type="hidden" class="form-control" />
            <label asp-for="staffNotInGroup" class="control-label">Danh sách nhân viên</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control" id="kt-select-staff"
                        name="staff_uuid" asp-items="@(new SelectList(Model.staffNotInGroup, "uuid", "display"))">
                    <option value="">--- Chọn nhân viên ---</option>
                </select>
            </div>
        </div>
        @if (Model.staff != null)
        {
            <div class="form-group">
                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                    <div class="kt-portlet kt-portlet--height-fluid-">
                        <div class="kt-portlet__head  kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Nhân viên thuộc nhóm
                                </h3>
                                
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a title="Xóa" class="btn btn-sm btn-danger btn-icon btn-icon-md js-delete-staff-group" data-personal-uuid="@Model.staff.uuid" data-group-uuid="@Model.group_uuid">
                                    <i class="la la-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-1">
                                <div class="kt-widget__body">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Họ tên:</span>
                                            <a href="#" class="kt-widget__data">@Model.staff.name</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Email:</span>
                                            <a href="#" class="kt-widget__data">@Model.staff.email</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Số điện thoại:</span>
                                            <a href="#" class="kt-widget__data">@Model.staff.phone_number</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Địa chỉ:</span>
                                            <span class="kt-widget__data">@Model.staff.address</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Avatar:</span>
                                            <span class="kt-widget__data">@Model.staff.img_avatar_path</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="text-center">
            <button type="submit" class="btn btn-info">
                <i class="la la-save"></i>
                Cập nhật
            </button>
        </div>
    </form>