﻿@model GroupDataResponse

@{
    Layout = null;
}

<div class="container">
    <h4><a class="">@Model.name</a></h4><hr />
    <div class="row mt-4">
        <div class="col-3 kt-font-bold">Tên khu vực: </div>
        <div class="col-9 ">@Model.name</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3 kt-font-bold">Nhân viên: </div>
        <div class="col-9 ">
            <div class="row">
                @if (Model.staff != null)
                {
                    <a class="col-12">@Model.staff.name</a>
                    <a class="col-12">@Model.staff.email</a>
                    <a class="col-12">@Model.staff.address</a>
                    <a class="col-12">@Model.staff.phone_number</a>
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3 kt-font-bold">Danh sách đơn vị: </div>
        <div class="col-9">
            @if (Model.customers != null && Model.customers.Count > 0)
            {
                foreach (var item in Model.customers)
                {
                    <div class="row">
                        <a class="showBtn d-flex align-items-center py-2">
                            <i class="showBtn la la-angle-down"></i>
                            @item.name
                        </a>
                        <div class="hideme col-12 mb-3">
                            <div class="pl-1"><a class="kt-font-bold">Email:</a> @item.email</div>
                            <div class="pl-1"><a class="kt-font-bold">Tên liên hệ:</a> @item.contact_name</div>
                            <div class="pl-1"><a class="kt-font-bold">SĐT liên hệ:</a> @item.contact_phone_number</div>
                            <div class="pl-1"><a class="kt-font-bold">Địa chỉ:</a> @item.address</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <a>Không có đơn vị</a>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3 kt-font-bold">Mô tả: </div>
        @if (Model.description != null)
        {
            <div class="col-9">@Model.description</div>
        }
        else
        {
            <div class="col-9">Không có mô tả</div>
        }
    </div>
</div>