﻿@model DMMS.Models.GroupModel

@{
    ViewData["Title"] = "Cập nhật nhóm";
    Layout = null;
}

<form asp-action="Edit" class="dmms-group__form" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="uuid" type="hidden" class="form-control" />
    <div class="form-group">
        <div class="form-group">
            <label asp-for="name" class="control-label">Tên nhóm</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="name" class="form-control" placeholder="Tên nhóm" />
                <span class="kt-input-icon__icon"><span><i class="la la-group"></i></span></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label">Mô tả</label>
            <textarea asp-for="description" class="form-control auto-resize"></textarea>
        </div>
        <input asp-for="uuid" type="hidden" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            <i class="la la-save"></i>
            Cập Nhật
        </button>
    </div>
</form>
