﻿@model DMMS.Models.ProjectAddCustomerRequest

@{
    Layout = null;
}
    <form asp-action="AddCustomer" class="dmms-project-customer__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h4>@ViewBag.ProjectName</h4><br />
        
        @if (ViewBag.Customers.Count != 0)
        {
        <div class="form-group">
            <label asp-for="customerUuid" class="control-label">Thêm đơn vị</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control search kt-select-customer" id="kt-select-customer1"
                        name="customerUuid">
                    <option value="">Lựa chọn đơn vị</option>
                    @foreach(var item in ViewBag.Customers)
                                                {
                    <option value="@item.uuid" data-subtext="@item.address">@item.name</option>
                                                }
                </select>
            </div>
        </div>

        }
        else
        {
        <div class="form-group">
            <label asp-for="customerUuid" class="control-label">Thêm đơn vị</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control" id="kt-select-customer1">
                    <option value="">Chưa có đơn vị</option>
                </select>
            </div>
        </div>
        }
        @if (ViewBag.contract.Count == 1)
        {
        <div class="form-group">
            <label asp-for="contractUuid" class="control-label">Hợp đồng</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control kt-select-contract"
                        name="contractUuid" asp-items="@(new SelectList(ViewBag.contract, "uuid", "contractCode"))">
                </select>
            </div>
        </div>
        }
        else if (ViewBag.contract.Count != 0 && ViewBag.contract.Count > 1)
        {
        <div class="form-group">
            <label asp-for="contractUuid" class="control-label">Hợp đồng</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control kt-select-contract"
                        name="contractUuid" asp-items="@(new SelectList(ViewBag.contract, "uuid", "contractCode"))">
                    <option value="">Chọn hợp đồng</option>
                </select>
            </div>
        </div>
        }
        else
        {
        <div class="form-group">
            <label asp-for="contractUuid" class="control-label">Hợp đồng</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control kt-select-contract">
                    <option value="">Chưa có hợp đồng</option>
                </select>
            </div>
        </div>
        }
        <div class="form-group row">
            <div class=" form-group col-6">
                <label class="control-label">Ngày bàn giao</label>

                <div class="kt-input-icon">
                    <input asp-for="timeHandOverstring" class="form-control" placeholder="Ngày bàn giao" id="timeHandOver" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Trạng thái bảo hành</label>
                @*<div class="kt-input-icon input-group">
                    <input asp-for="code" class="form-control" placeholder="Thời hạn bảo hành" />
                    <div class="input-group-append">
                        <span class="input-group-text">Tháng</span>
                    </div>
                </div>*@
                <select class="form-control bootstrap-select" id="js-select-statedevice" asp-for="state">
                    <option value="1">Đang bảo hành</option>
                    <option value="2">Hết bảo hành</option>
                    <option value="3">Đã gửi thông báo</option>
                    <option value="4">Đã ký đóng</option>
                    <option value="5">Đóng bảo hành</option>
                    <option value="6">Gia hạn bảo hành</option>
                    <option value="7">Chưa nghiệm thu</option>
                </select>
            </div>
        </div>
        <label class="control-label">Phòng thiết bị triển khai</label>
        <div class="addpackage">
            <div class="form-group checkinput">

                <div class="kt-input-icon form-group row">
                    @if (ViewBag.getpackage.Count != 0 && ViewBag.getpackage.Count > 1)
                    {
                        <div class="form-group col-6">
                            <select data-live-search="true" id="getval" class="form-control kt-staff-select controlSelectcus controlSelect1 getpackage"
                                    name="orderPackages[][packageUuid]" asp-items="@(new SelectList(ViewBag.getpackage,"uuid", "name"))">
                                <option value="">Lựa chọn sản phẩm</option>
                            </select>
                        </div>
                    }
                    else if (ViewBag.getpackage.Count != 0 && ViewBag.getpackage.Count == 1)
                    {
                        <div class="form-group col-6">
                            <select data-live-search="true" id="getval" class="form-control kt-staff-select controlSelectcus controlSelect1 getpackage"
                                    name="orderPackages[][packageUuid]" asp-items="@(new SelectList(ViewBag.getpackage,"uuid", "name"))">
                                
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="form-group col-6">
                            <select data-live-search="true" class="form-control kt-staff-select controlSelectcus controlSelect1"
                                    name="orderPackages[][packageUuid]">
                                <option value="">--- Chưa có phòng triển khai---</option>
                            </select>
                        </div>
                    }
                    <div class="form-group col-4">
                        <input type="number" name="orderPackages[][quantity]" class="form-control getcount" placeholder="Số lượng" min="1" />
                    </div>
                    <div class="kt-ml-10"><i class="btn btn-primary la la-plus addinputp"></i></div>
                </div>
            </div>
        </div>
        <input asp-for="uuid" type="hidden" />
        <input id="customer_uuid_str" type="hidden" value="@ViewBag.CustomerUuids" />
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <i class="la la-save"></i>
                Thêm mới
            </button>
        </div>
    </form>

