﻿@model DMMS.Models.ProjectAddRequest
@{
    Layout = null;
}


    <form asp-action="Create" class="dmms-project__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="project.code" class="control-label">Mã dự án</label>
                <div class="kt-input-icon">
                    <input asp-for="project.code" class="form-control" placeholder="Mã dự án" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
            <div class="form-group col-4">
                <label asp-for="project.fieldId" class="control-label">Lĩnh vực</label>
                <div class="kt-input-icon">
                    @if (ViewBag.Field != null)
                    {
                        <select asp-items="@(new SelectList(ViewBag.Field,"id","name"))" data-live-search="true" class="bootstrap-select form-control" id="js-select-field"
                                name="project.fieldId">
                            <option value="">Chọn lĩnh vực</option>
                        </select>
                    }
                    else
                    {
                        <select data-live-search="true" class="bootstrap-select form-control" id="js-select-field"
                                name="fieldId">
                            <option value="">Chọn lĩnh vực</option>
                        </select>
                    }
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
            <div class="form-group col-4">
                <label asp-for="project.provinceId" class="control-label">Tỉnh thành</label>
                <div class="kt-input-icon">
                    @if (ViewBag.province != null)
                    {
                        <select asp-items="@(new SelectList(ViewBag.province,"id","name"))" data-live-search="true" class="bootstrap-select form-control" id="js-select-province"
                                name="project.provinceId">
                            <option value="">Chọn tỉnh thành</option>
                        </select>
                    }
                    else
                    {
                        <select data-live-search="true" class="bootstrap-select form-control" id="js-select-province"
                                name="provinceId">
                            <option value="">Chọn tỉnh thành</option>
                        </select>
                    }
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="project.name" class="control-label">Tên dự án</label>
            <div class="kt-input-icon">
                <input asp-for="project.name" class="form-control" placeholder="Tên dự án" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Số hiệu HĐ</label>
            <div class="kt-input-icon">
                <input asp-for="contract.code" class="form-control" placeholder="Số hiệu hợp đồng" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Phòng ban</label>
            <div class="kt-input-icon">
                @if (ViewBag.FilterTeam != null)
                {
                    <select asp-items="@(new SelectList(ViewBag.FilterTeam,"uuid","name"))" id="js-filter-team1" data-live-search="true" class="form-control" asp-for="project.teamUuid">
                        <option value="">Chọn phòng ban</option>
                    </select>
                }
                else
                {
                    <select id="js-filter-team1" data-live-search="true" class="form-control" asp-for="project.teamUuid">
                        <option value="">Chọn phòng ban</option>
                    </select>
                }
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="cost_string" class="control-label">Giá trị HĐ</label>
                <div class="kt-input-icon">
                    <input asp-for="cost_string" class="form-control" placeholder="Giá trị HĐ" id="totalcost" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Ngày ký HĐ</label>
                <div class="kt-input-icon">
                    <input asp-for="contract.timeSignedstring" class="form-control" placeholder="Ngày ký hợp đồng" id="createcontract" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label class="control-label">Chủ đầu tư</label>
                <div class="appendInvestor"></div>
                <div class="kt-input-icon checkInvestor">
                    @if (ViewBag.Investor != null)
                    {
                        <select asp-for="contract.investorUuid" asp-items="@(new SelectList(ViewBag.Investor,"uuid","name"))" title="Chọn chủ đầu tư" data-live-search="true" class="bootstrap-select form-control js-select-field">
                            <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                        </select>
                    }
                    else
                    {
                        <select data-live-search="true" class="bootstrap-select form-control js-select-field" id="js-select-field"
                                name="contract.investorUuid">
                            <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                        </select>
                    }
                </div>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Đơn vị ký HĐ</label>
                <div class="appendUnitsigned"></div>
                <div class="form-group checkUnitsigned">
                    @if (ViewBag.Unitsigned != null)
                    {
                        <select asp-for="contract.unitSignedUuid" asp-items="@(new SelectList(ViewBag.Unitsigned,"uuid","name"))" data-live-search="true" class="bootstrap-select form-control js-select-unitSignedUuid" title="Chọn đơn vị kí HĐ">
                            <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                        </select>
                    }
                    else
                    {
                        <select data-live-search="true" class="bootstrap-select form-control js-select-unitSignedUuid" id="js-select-field"
                                name="contract.unitSignedUuid">
                            <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                        </select>
                    }
                </div>


            </div>

        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="contract.timeValidStartstring" class="control-label">Ngày bàn giao</label>
                <div class="kt-input-icon">
                    <input class="form-control" asp-for="contract.timeValidStartstring" placeholder="Chọn ngày" id="kt-datepicker-start" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Thời hạn BH</label>
                @*<div class="kt-input-icon input-group">
                    <input asp-for="code" class="form-control" placeholder="Thời hạn bảo hành" />
                    <div class="input-group-append">
                        <span class="input-group-text">Tháng</span>
                    </div>
                </div>*@
                <select class="form-control bootstrap-select" id="js-select-date_expire" asp-for="contract.timeValidValue">
                    <option value="">Thời hạn bảo hành</option>
                    <option value="6">6 tháng</option>
                    <option value="12">12 tháng</option>
                    <option value="15">15 tháng</option>
                    <option value="24">24 tháng</option>
                    <option value="36">36 tháng</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="contract.timeValidEndstring" class="control-label">Thời gian kết thúc HĐ</label>
                <div class="kt-input-icon">
                    <input class="form-control endgame" asp-for="contract.timeValidEndstring" readonly placeholder="Ngày kết thúc HĐ" />
                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                </div>
            </div>

            <div class="form-group col-3">
                <label asp-for="project.code" class="control-label">Số lần bảo hành</label>
                <div class="kt-input-icon">
                    <input class="form-control" asp-for="contract.timeMaintainLoop" placeholder="Số lần bảo hành" />
                </div>

            </div>
            <div class="form-group col-3">
                <label asp-for="project.code" class="control-label">Số lần đã bảo hành</label>
                <div class="kt-input-icon">
                    <input class="form-control" asp-for="contract.timeMaintainValue" placeholder="Số đã lần bảo hành" />
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Tự động đóng</label>
            <select class="form-control" asp-for="contract.isAutoClose" id="closeproject">
                <option value="true">Tự động đóng</option>
                <option value="false">Không tự động đóng</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Mô tả</label>
            <textarea asp-for="project.description" class="form-control auto-resize" placeholder="Mô tả"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary submit createproject">
                Thêm dự án
            </button>
            <button type="button" class="btn btn-danger kt-close">
                Hủy
            </button>
        </div>
    </form>
<script> $('#totalcost').simpleMoneyFormat();</script>
