﻿@model DMMS.Models.ConTractAddRequest

@{
    Layout = null;
}
    <form asp-action="CreateContract" class="dmms-project-contract__form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h4>@ViewBag.ProjectName</h4>
        <div class="form-group">
            <label class="control-label">Số hiệu hợp đồng chính</label>
            <div class="kt-input-icon">
                <input value="@Model.code" class="form-control" placeholder="Số hiệu hợp đồng chính" disabled />
            </div>
        </div>





        <div class="form-group">
            <label class="control-label">Số hiệu hợp đồng gia hạn</label>
            <div class="kt-input-icon">
                <input name="code" class="form-control" placeholder="Số hiệu hợp đồng gia hạn" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Ngày kí hợp đồng</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="timeSignedstring" class="form-control datesigned" placeholder="Ngày kí hợp đồng" />
                <span class="kt-input-icon__icon"><span><i class="la la-calendar-o"></i></span></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Thời gian bắt đầu bảo hành</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input name="timeValidStartstring" class="form-control datecomplete" id="timeinput" type="datetime" />
                <span class="kt-input-icon__icon"><span><i class="la la-calendar-o"></i></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="timeValidValue" class="control-label">Thời gian gia hạn hợp đồng</label>
                    <select class="form-control" name="timeValidValue" id="timeselect">
                        <option value="">Thời gian gia hạn hợp đồng</option>
                        <option value="6">6 tháng</option>
                        <option value="12">12 tháng</option>
                        <option value="15">15 tháng</option>
                        <option value="24">24 tháng</option>
                        <option value="36">36 tháng</option>
                    </select>

                </div>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Thời gian kết thúc BH</label>
                <div class="kt-input-icon kt-input-icon--left">
                    <input class="form-control endgame" readonly />
                    <span class="kt-input-icon__icon"><span><i class="la la-calendar-o"></i></span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="timeMaintainLoop" class="control-label">Số lần phải bảo hành</label>
                    <input asp-for="timeMaintainLoop" class="form-control" placeholder="Số lần phải bảo hành" min="0" type="number" />
                </div>
            </div>
                <div class="form-group col-6">
                    <label asp-for="timeMaintainValue" class="control-label">Số lần đã bảo hành</label>
                    <input asp-for="timeMaintainValue" class="form-control" placeholder="Số lần đã bảo hành" min="0" type="number" />
                </div>
        
           
           
        </div>
            <div class="form-group">
                <label class="control-label">Đơn vị triển khai</label>
                <div class="form-group">
                    <div class="kt-input-icon">
                        <select data-live-search="true" class="form-control search kt-select-customer-contract" id="kt-select-customer1"
                                asp-for="customerUuid">
                            <option value="">Lựa chọn đơn vị</option>
                            @foreach (var item in ViewBag.getcustomer)
                            {
                                <option value="@item.customerUuid" data-subtext="@item.customerAddress">@item.customerName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <input asp-for="ProjectUuid" type="hidden" />
            <input asp-for="contractUuid" type="hidden" />
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="la la-save"></i>
                    Thêm mới
                </button>
            </div>
</form>
