﻿

@{
        Layout = null;
}




        <div class="kt-portlet__head kt-portlet__head--lg">
          

                <div class="kt-datatable1 table-responsive-lg"></div>

         
        </div>
    

@*<div class="kt-datatable1"></div>*@


