﻿@model DMMS.Models.ProjectDataResponse

@{
    Layout = null;
}

<div class="container">
    <h4><a class="">@Model.name</a></h4><hr />
    <div class="row mt-4">
        <div class="col-3 kt-font-bold">Tên dự án: </div>
        <div class="col-9 ">@Model.name</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3 kt-font-bold">Danh sách đơn vị: </div>
        <div class="col-9">
            @if (Model.customers != null && Model.customers.Count > 0)
            {
                foreach (var item in Model.customers)
                {
                    <div>@item.name</div>
                }
            }
            else
            {
                <a>Không có đơn vị</a>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3 kt-font-bold">Ảnh: </div>
        <div class="col-9">
            @if (Model.images != null && Model.images.Count > 0)
            {
                foreach (var item in Model.images)
                {
                    <div class="row">
                        <img src="@item.path" class="col-4" />
                    </div>
                }
            }
            else
            {
                <a>Không có ảnh</a>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3 kt-font-bold">Mô tả: </div>
        @if (Model.description != null)
        {
            <div class="col-9">@Model.description</div>
        }
        else
        {
            <div class="col-9">Không có mô tả</div>
        }
    </div>
</div>
