﻿@model DMMS.Models.ProjectAddPackageRequest

@{
    Layout = null;
}
    <form asp-action="EditPackage" class="dmms-project-edit-package__form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h4>@ViewBag.ProjectName</h4><br />
        <input asp-for="projectUuid" hidden />
        <input asp-for="uuid" hidden />
        @*<input asp-for="packageCodeID" hidden />*@
        <input asp-for="packageUuid" hidden />


        <div class="row">
            <div class="col-6">
                <div class="col-md-12">
                    <label asp-for="packageCodeID" class="control-label">Mã phòng</label>
                    @if (ViewBag.packagelst != null)
                    {
                        <div class="form-group">
                            <select data-live-search="true" class="form-control setvalpackage" id="kt-select-customer1"
                                    asp-for="packageCodeID" asp-items="@(new SelectList(ViewBag.packagelst, "id", "name"))">
                                <option value="">Chọn mã phòng</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <select data-live-search="true" class="form-control controlSelect"
                                name="">
                            <option value="">Chọn mã phòng</option>
                        </select>
                    }
                </div>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="name" class="control-label">Tên sản phẩm</label>
                <input name="name" class="form-control findname" value="@Model.name" placeholder="Tên sản phẩm" readonly />
                @*<input name="uuid" class="form-control finduuid" value="@Model.uuid" hidden />*@
                @* BEGIN: Hiển thị các gợi ý *@
                <div class="form-autocomplete">
                    <ul class="findname_autocomplete kt-hidden"></ul>
                </div>
                @* END: Hiển thị các gợi ý *@
            </div>
        </div>
        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên thiết bị</th>
                        @*<th scope="col">Đơn giá(đ)</th>*@
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thời hạn BH(tháng)</th>
                        <th scope="col">Tác vụ</th>
                    </tr>
                </thead>
                <tbody class="wrapper-fill">
                    <tr class="display-default">
                        <td class="stt">1</td>
                        <td>
                            @if (ViewBag.category != null)
                            {
                            <select data-live-search="true" class="form-control bootstrap-select controlSelectcus controlSelect1 kt-select-supplies" id="kt-select-supplies"
                                    name="packageCategories[][categoryId]">
                                <option value="">Lựa chọn thiết bị</option>
                                @foreach (var item in ViewBag.category)
                                {
                                    <option value="@item.id" data-subtext="@item.name_display">@item.prefix_name</option>
                                }
                            </select>
                            }
                            else
                            {
                                <select data-live-search="true" class="form-control bootstrap-select controlSelect" id="kt-select-supplies"
                                        name="packageCategories[][categoryId]">
                                    <option value="">Lựa chọn thiết bị</option>
                                </select>
                            }
                        </td>
                        @*<td>-</td>*@
                        <td><input name="packageCategories[][count]" class="form-control" placeholder="Nhập" id="count_supplies" type="number" min="1" /></td>
                        <td>
                            <div class="appendpackage"></div>
                            <div class="row kt-margin-l-0 kt-margin-r-0 checkpackage">
                                <select class="form-control bootstrap-select filldata" name="packageCategories[][timeMaintain]" id="js-select-date_expire1" title="Thời hạn bảo hành">
                                    <option value="">Thêm mới</option>
                                    <option value="6">6 tháng</option>
                                    <option value="12">12 tháng</option>
                                    <option value="15">15 tháng</option>
                                    <option value="24">24 tháng</option>
                                    <option value="36">36 tháng</option>
                                </select>
                                @*<div class="ml-auto kt-padding-t-10">
                    <div class="kt-checkbox-inline">
                        <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                            Khác <input value="" type="checkbox">
                            <span></span>
                        </label>
                    </div>
                </div>*@
                            </div>
                            @*<input class="form-control col-8" placeholder="Nhập" id="date_expire" />*@
                        </td>
                        <td><i class="la la-plus kt-p-0-tablet-and-mobile addinputpac" id="js-add-importsupplies"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*<label name="code" class="control-label">Loại thiết bị - Model - Số lượng</label>
        <div id="test">

            <div class="checkinput">

                <div class="row">

                    @if (ViewBag.category.Count > 0)
                    {
                    <div class="form-group col-6">
                        <select asp-items="@(new SelectList(ViewBag.category,"id","name_format"))" id="js-filter-categorypac" data-live-search="true" class="form-control bootstrap-select controlSelect controlSelect1" name="packageCategories[][categoryId]">
                            <option value="">--- Chọn loại thiết bị ---</option>
                        </select>
                    </div>
                        }
                        else
                        {
                    <div class="form-group col-6">
                        <select id="js-filter-categorypac" data-live-search="true" class="form-control controlSelect controlSelect1" name="packageCategories[][categoryId]">
                            <option value="">--- Chưa có loại thiết bị ---</option>
                        </select>
                    </div>
                        }
                    <div class="form-group col-4">
                        <input type="number" name="packageCategories[][count]" class="form-control" placeholder="Số lượng" />
                    </div>
                    <div class="form-group col-2">
                        <i class="btn btn-primary la la-plus addinputpac kt-ml-10"></i>
                    </div>

                </div>
                </div>
        </div>*@
        <div class="test"></div>

        <div class="text-right kt-margin-t-10">
            <button type="submit" class="btn btn-primary">
                Cập nhật
            </button>
            <button type="button" class="btn btn-danger kt-close">
                Hủy
            </button>
        </div>
    </form>
