﻿@model DMMS.Models.ProjectAddRequest

@{
    ViewData["Title"] = "Cập nhật dự án";
    ViewData["BodyClass"] = "dmms-project";
}


<div class="kt-portlet checklock">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" title="@Model.project.name">
                @Model.project.name_display
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @if(ViewBag.CheckState == 0){
                    <a data-id="@Model.project.uuid" title="Hoàn tất" class="js-done-project btn btn-success btn-icon-sm text-white">
                        <i class="la la-check"></i>
                       Hoàn tất
                    </a>
                    }
                    <a data-id="@Model.project.uuid" title="Xóa" class="js-delete-project btn btn-danger btn-icon-sm text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>
                    <a href="/project" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link package" data-toggle="tab" href="#" data-target="#kt_tabs_1_5">SẢN PHẨM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkdetail1" data-toggle="tab" href="#kt_tabs_1_3">ĐƠN VỊ THỤ HƯỞNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkcontract" data-toggle="tab" href="#kt_tabs_1_4">HỢP ĐỒNG GIA HẠN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkprodevice" data-toggle="tab" href="#kt_tabs_1_2">DANH SÁCH THIẾT BỊ</a>
            </li>
        </ul>
        <div class="tab-content">
            <input hidden asp-for="province_display">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="kt-portlet__body">
                    <form asp-action="Edit" class="dmms-project__form" onsubmit="return false">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        @if (Model.contract != null)
                        {
                            <input id="timeSigned" value="@Model.contract.timeSigned" hidden />
                            <input id="timeValidStart" value="@Model.contract.timeValidStart" hidden />
                            @*<input id="timeValidEnd" value="@Model.contract.timeValidEnd" hidden />*@
                            <input asp-for="contract.uuid" hidden />
                        }
                        <div class="form-group row">
                            <div class="col-6 kt-padding-r-10">
                                <div class="form-group row">
                                    <label class="control-label col-3">Mã dự án</label>
                                    <div class="kt-input-icon col-9">
                                        <input asp-for="project.code" class="form-control" placeholder="Mã dự án" />
                                        @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Tên dự án</label>
                                    <div class="kt-input-icon col-9">
                                        <input asp-for="project.name" class="form-control" placeholder="Tên dự án" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Lĩnh vực</label>
                                    <div class="kt-input-icon col-9">
                                        @if (ViewBag.Field != null)
                                        {
                                            <select asp-for="project.fieldId" asp-items="@(new SelectList(ViewBag.Field,"id","name"))" data-live-search="true" class="bootstrap-select form-control" id="js-select-field">
                                                <option value="">Chọn lĩnh vực</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select data-live-search="true" class="bootstrap-select form-control" id="js-select-field"
                                                    name="fieldId">
                                                <option value="">Chọn lĩnh vực</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="contract.code" class="control-label col-3">Số hiệu HĐ</label>
                                    <div class="kt-input-icon col-9">
                                        <input asp-for="contract.code" class="form-control" placeholder="Số hiệu HĐ" />
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label asp-for="contract.investorUuid" class="control-label col-3">Chủ đầu tư</label>
                                    <div class="appendeditcheckInvestor"></div>
                                    <div class="kt-input-icon col-9 editcheckInvestor">
                                        @if (ViewBag.Investor != null)
                                        {
                                            <select asp-for="contract.investorUuid" asp-items="@(new SelectList(ViewBag.Investor,"uuid","name"))" data-live-search="true" class="bootstrap-select form-control js-select-field" title="Chọn chủ đầu tư">
                                                <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select data-live-search="true" class="bootstrap-select form-control js-select-field" id="js-select-field"
                                                    name="contract.investorUuid" title="Chọn chủ đầu tư">
                                                <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Phòng ban</label>
                                    <div class="appendeditcheckInvestor"></div>
                                    <div class="kt-input-icon col-9">
                                        @if (ViewBag.Investor != null)
                                        {
                                            <select asp-items="@(new SelectList(ViewBag.FilterTeam,"uuid","name"))" id="js-filter-team" data-live-search="true" class="form-control" asp-for="project.teamUuid">
                                                <option value="">Chọn phòng ban</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select data-live-search="true" class="form-control js-select-field" id="js-select-field"
                                                    name="contract.investorUuid" title="Chọn phòng ban">
                                                <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Đơn vị kí hợp đồng</label>
                                    <div class="appededitcheckUnitsigned"></div>
                                    <div class="kt-input-icon col-9 editcheckUnitsigned">
                                        @if (ViewBag.Investor != null)
                                        {
                                            <select asp-for="contract.unitSignedUuid" asp-items="@(new SelectList(ViewBag.Unitsigned,"uuid","name"))" data-live-search="true" class="bootstrap-select form-control js-select-field1" title="Chọn đơn vị kí HĐ">
                                                <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select data-live-search="true" class="bootstrap-select form-control js-select-field1" id="js-select-field" title="Chọn đơn vị kí HĐ"
                                                    name="contract.unitSignedUuid">
                                                <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Chọn khu vực</label>
                                    <div class="kt-input-icon col-9">
                                        @if (ViewBag.Location != null)
                                        {
                                            <select asp-for="project.provinceId" asp-items="@(new SelectList( ViewBag.Location,"id","name"))" data-live-search="true" class="bootstrap-select form-control" id="js-select-location">
                                                <option value="">Chọn khu vực</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select data-live-search="true" class="bootstrap-select form-control" id="js-select-location"
                                                    name="">
                                                <option value="">Chưa có khu vực</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Tự động đóng</label>
                                    <div class="kt-input-icon col-9">
                                        <select class="form-control" asp-for="contract.isAutoClose" id="closeproject">
                                            <option value="true">Tự động đóng</option>
                                            <option value="false">Không tự động đóng</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-6 kt-padding-l-10">
                                <div class="form-group row">
                                    <label asp-for="contract.coststring" class="control-label col-3">Giá trị HĐ(đ)</label>
                                    <div class="kt-input-icon col-9">
                                        <input asp-for="contract.coststring" class="form-control" placeholder="Giá trị hợp đồng" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="contract.timeSigned" class="control-label col-3">Ngày ký HĐ</label>
                                    <div class="kt-input-icon col-9">
                                        <input class="form-control" asp-for="contract.timeSignedstring" placeholder="Chọn ngày" id="kt-datepicker-start" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="contract.timeValidStart" class="control-label col-3">Ngày bàn giao</label>
                                    <div class="kt-input-icon col-9">
                                        <input class="form-control" asp-for="contract.timeValidStartstring" placeholder="Chọn ngày" id="kt-datepicker-start1" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="contract.timeValidValue" class="control-label col-3">Thời hạn BH</label>

                                    <select class="form-control bootstrap-select care col-9" id="js-select-date_expire" asp-for="contract.timeValidValue">
                                        <option value="">Thời hạn bảo hành</option>
                                        <option value="6">6 tháng</option>
                                        <option value="12">12 tháng</option>
                                        <option value="15">15 tháng</option>
                                        <option value="24">24 tháng</option>
                                        <option value="36">36 tháng</option>
                                    </select>

                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Thời gian kết thúc HĐ</label>
                                    <div class="kt-input-icon col-9">
                                        <input class="form-control endgame" asp-for="contract.timeValidEndstring" readonly placeholder="Chọn ngày" />
                                    </div>
                                    @*id="kt-datepicker-end"*@
                                </div>
                                <div class="form-group row">
                                    <label asp-for="contract.timeMaintainLoop" class="control-label col-3 ">Số lần bảo hành</label>
                                    <div class="kt-input-icon col-9">
                                        <input class="form-control" asp-for="contract.timeMaintainLoop" placeholder="Số lần bảo hành" type="number"/>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label asp-for="contract.timeMaintainValue" class="control-label col-3 ">Số đã lần bảo hành</label>
                                    <div class="kt-input-icon col-9">
                                        <input class="form-control" asp-for="contract.timeMaintainValue" placeholder="Số đã lần bảo hành" type="number" />
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label asp-for="project.description" class="control-label col-3">Mô tả</label>
                                    <textarea asp-for="project.description" class="form-control auto-resize col-9"></textarea>
                                </div>
                            </div>
                        </div>
                        <input asp-for="project.uuid" type="hidden" class="form-control" />
                        @if (ViewBag.CheckState == 0)
                        {
                    <div class="text-right kt-mb-30">
                        <button type="submit" class="btn btn-primary submit editproject">
                            Cập nhật thông tin
                        </button>
                    </div>
                        }
                            
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <button class="dropbtn btn btn-success btn-icon-sm js-projeccustomer"> <i class="la la-plus kt-p-0-tablet-and-mobile dropbtn"></i>Thêm đơn vị triển khai</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-3">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keywordp" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tìm kiếm theo đơn vị" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="kt-form__group">
                                        @if (ViewBag.prodevicestate != null)
                                        {
                                            <select asp-items="@(new SelectList(ViewBag.prodevicestate,"Value","Text"))" id="js-filter-supplierID" data-live-search="true" class="form-control bootstrap-select" name="contractState">
                                                <option value="">---Trạng thái ---</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="js-filter-supplierID" data-live-search="true" class="form-control bootstrap-select" name="supplierID">
                                                <option value="">---Trạng thái ---</option>
                                            </select>
                                        }
                                    </div>
                                </div>

                                @*@if (ViewBag.supplier != null)
                            {
                                <div class="col-md-2 col-lg-2">
                                    <div class="kt-form__group">
                                        <select asp-items="@(new SelectList(ViewBag.supplier,"uuid","name"))" id="js-filter-supplier" data-live-search="true" class="form-control bootstrap-select filtercustomer" name="supplier_uuid">
                                            <option value="">--- Phòng---</option>
                                        </select>
                                    </div>
                                </div>
                            }*@


                            </div>

                        </div>
                        <!--end: Search Form -->
                    </div>


                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div id="kt-datatableprodetail"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <input asp-for="project.uuid" type="hidden" />
                <input asp-for="contract.uuid" type="hidden" />

                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <div class="dropdown">
                                        <button class="btn btn-success btn-icon-sm dropbtn" id="ImportDeivce">
                                            <i class="la la-plus kt-p-0-tablet-and-mobile dropbtn"></i>
                                            <span class="d-none d-sm-inline-block dropbtn">Import Excel</span>
                                        </button>
                                        @*<button class="btn btn-danger btn-icon-sm dropbtnupload" href="@Model.path">
                                <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                                <a href ="" style="color: white;">Template Excel</a>
                            </button>*@
                                        <a href="/project/download" class="btn btn-danger btn-icon-sm">
                                            <i class="la la-cloud-download"></i>
                                            Download File mẫu
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <div class="row align-items-center">

                            <div class="col-md-3 col-lg-3">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input id="js-filter-keyworddevice" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã thiết bị,tên thiết bị" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>


                        </div>
                        <div></div>
                        <!--begin: Datatable -->


                    </div>
                    <div class="kt-datatablepro kt-portlet__body kt-portlet__body--table">
                    </div>
                </div>
               

            </div>
            <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            @*<span class="kt-portlet__head-icon">
                            <i class="flaticon-user"></i>
                        </span>*@
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <div class="dropdown">
                                        <button class="btn btn-success btn-icon-sm ">
                                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                                            <span class="d-none d-sm-inline-block dropbtn" id="contract">Thêm Hợp đồng</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-4">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keywordcontract" type="text" name="keyword" class="form-control" value="" placeholder="VD: Số hiệu HĐ, dự án" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="kt-form__group">
                                            <select asp-items="@(new SelectList(ViewBag.prodevicestate,"Value","Text"))" id="js-filter-states" data-live-search="true" class="form-control bootstrap-select filtercontract" name="category_id">
                                                <option value="">--- Trạng thái hợp đồng ---</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body kt-portlet__body--table">
                        <div class="kt-datatablecontract">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_5" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            @*<span class="kt-portlet__head-icon">
                            <i class="flaticon-user"></i>
                        </span>*@
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <div class="dropdown">
                                        <button class="btn btn-success btn-icon-sm dropbtn tongquan10">
                                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                                            <span class="d-none d-sm-inline-block">Sản phẩm mới</span>
                                        </button>
                                        <button class="btn btn-warning btn-icon-sm dropbtn" id="ImportPackage">
                                            <i class="la la-upload kt-p-0-tablet-and-mobile dropbtn"></i>
                                            <span class="d-none d-sm-inline-block dropbtn">Import Excel</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-4">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keywordpackage" type="text" name="keyword" class="form-control" value="" placeholder="VD: Sản phẩm" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                @if (ViewBag.getpackage != null)
                                {
                                    <div class="col-md-4 col-lg-4">
                                        <div class="kt-form__group">
                                            <select asp-items="@(new SelectList(ViewBag.getpackage,"id","name"))" id="js-filter-packagea" data-live-search="true" class="form-control bootstrap-select filterpackage" name="packageCodeId">
                                                <option value="">Chọn phòng</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatablepackage"></div>
                        <!--end: Datatable -->
                    </div>
                </div>


            </div>
        </div>
            </div>
</div>
