﻿@model DMMS.Models.PackageImportProject

@{
    Layout = null;
}
    <form asp-action="AddPackage" class="dmms-project-importpackage__form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h4>@ViewBag.ProjectName</h4><br />
        <input asp-for="projectUuid" hidden />
        <div class="row">
            <div class="col-md-6">
                <label asp-for="packageCodeID" class="control-label">Mã phòng</label>
                <div class="kt-input-icon">
                    @if (ViewBag.packagelst.Count > 0)
                    {
                        <div class="form-group">
                            <select data-live-search="true" class="js-filter-packagelst form-control" id="kt-select-customer1" asp-for="packageCodeID"
                                    asp-items="@(new SelectList(ViewBag.packagelst, "id", "name"))">
                                <option value="">Chọn mã phòng</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <select data-live-search="true" class="js-filter-packagelst form-control" id="kt-select-customer1" name="packageCodeID">
                            <option value="">Chưa có mã phòng</option>
                        </select>
                    }
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="name" class="control-label">Tên sản phẩm</label>
                <input asp-for="name" class="form-control findname" placeholder="Tên sản phẩm" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FileUploadExcel">Tải lên file Excel</label>
            <input asp-for="FileUploadExcel" type="file" class="form-control" />
            
        </div>
        <div class="text-right kt-margin-t-10">
            <button type="submit" class="btn btn-primary">
                Thêm mới
            </button>
            <button type="button" class="btn btn-danger kt-close">
                Hủy
            </button>
        </div>
    </form>
