﻿@model IEnumerable<DMMS.Models.ProjectModel>

@{
    ViewData["Title"] = "Danh sách dự án";
    ViewData["BodyClass"] = "dmms-project";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách dự án
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button id="import-project" type="button" class="btn btn-success btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile dropbtn"></i>
                        <span class="d-none d-sm-inline-block">Import Excels</span>
                    </button>
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <button type="button" class="js-edit-project btn btn-primary btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm dự án</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên dự án, Mã" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        @if (ViewBag.FilterField != null)
                        {
                            <select asp-items="@(new SelectList(ViewBag.FilterField,"id","name"))" id="js-filter-filed" data-live-search="true" class="form-control bootstrap-select" name="fieldId">
                                <option>--- Chọn lĩnh vực ---</option>
                            </select>
                        }

                        else
                        {
                            <select id="js-filter-filed" data-live-search="true" class="form-control bootstrap-select" name="fieldId">
                                <option>--- Chưa có lĩnh vực ---</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        @if (ViewBag.FilterProvince != null)
                        {
                            <select asp-items="@(new SelectList(ViewBag.FilterProvince,"id","name"))" id="js-filter-province" data-live-search="true" class="form-control bootstrap-select" name="provinceId">
                                <option>--- Chọn tỉnh thành ---</option>
                            </select>
                        }
                        else
                        {
                            <select id="js-filter-province" data-live-search="true" class="form-control bootstrap-select" name="provinceId">
                                <option>--- Chưa có tỉnh thành ---</option>
                            </select>
                        }


                    </div>
                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        @if (ViewBag.FilterTeam != null)
                        {
                            <select asp-items="@(new SelectList(ViewBag.FilterTeam,"uuid","name"))" id="js-filter-team" data-live-search="true" class="form-control bootstrap-select" name="teamUuid">
                                <option value="">--- Chọn phòng ban ---</option>
                            </select>
                        }
                        else
                        {
                            <select id="js-filter-team" data-live-search="true" class="form-control bootstrap-select" name="teamUuid">
                                <option value="">--- Chưa có phòng ban ---</option>
                            </select>
                        }

                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>