﻿@model DMMS.Models.ProjectAddPackageRequest

@{
    Layout = null;
}
    <form asp-action="PackageDetail" class="dmms-project-detail-package__form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h4>@ViewBag.ProjectName</h4><br />
        <input asp-for="projectUuid" hidden />
        <input asp-for="uuid" hidden />
        <input asp-for="packageCodeID" hidden />


        <div class="row">
            <div class="form-group col-md-6">
                <div class="form-group col-md-6">
                    <label asp-for="package_name" class="control-label">Mã phòng</label>
                    <input asp-for="package_name" class="form-control" placeholder="Mã phòng" />
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="name" class="control-label">Tên sản phẩm</label>
                <input asp-for="name" class="form-control" placeholder="Tên sản phẩm" />
            </div>
        </div>
        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên thiết bị</th>
                        @*<th scope="col">Đơn giá(đ)</th>*@
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thời hạn BH</th>
                        <th scope="col">Tác vụ</th>
                    </tr>
                </thead>
                <tbody class="wrapper-fill">
                    <tr>
                        <td>1</td>
                        <td>
                            @if (ViewBag.category != null)
                        {
                            <select data-live-search="true" class="form-control bootstrap-select controlSelect" id="kt-select-supplies"
                                    name="packageCategories[][categoryId]" asp-items="@(new SelectList(ViewBag.category, "id", "name_format"))">
                                <option value="">Lựa chọn thiết bị</option>
                            </select>
                        }
                        else
                        {
                            <select data-live-search="true" class="form-control bootstrap-select controlSelect" id="kt-select-supplies"
                                    name="packageCategories[][categoryId]">
                                <option value="">Lựa chọn thiết bị</option>
                            </select>
                        }
                        </td>
                        @*<td>-</td>*@
                        <td><input name="packageCategories[][count]" class="form-control" placeholder="Nhập" id="count_supplies" type="number" min="0" /></td>
                        <td>
                            <div class="row kt-margin-l-0 kt-margin-r-0">
                                <select class="form-control bootstrap-select" name="packageCategories[][timeMaintain]" id="js-select-date_expire1">
                                    <option value="">Thời hạn bảo hành</option>
                                    <option value="6">6 tháng</option>
                                    <option value="12">12 tháng</option>
                                    <option value="15">15 tháng</option>
                                    <option value="24">24 tháng</option>
                                    <option value="36">36 tháng</option>
                                </select>
                                @*<div class="ml-auto kt-padding-t-10">
                                    <div class="kt-checkbox-inline">
                                        <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                            Khác <input value="" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>*@
                            </div>
                            @*<input class="form-control col-8" placeholder="Nhập" id="date_expire" />*@
                        </td>
                        <td><i class="la la-plus kt-p-0-tablet-and-mobile addinputpac" id="js-add-importsupplies"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*<label name="code" class="control-label">Loại thiết bị - Model - Số lượng</label>
        <div id="test">

            <div class="checkinput">

                <div class="row">

                    @if (ViewBag.category.Count > 0)
                    {
                    <div class="form-group col-6">
                        <select asp-items="@(new SelectList(ViewBag.category,"id","name_format"))" id="js-filter-categorypac" data-live-search="true" class="form-control bootstrap-select controlSelect controlSelect1" name="packageCategories[][categoryId]">
                            <option value="">--- Chọn loại thiết bị ---</option>
                        </select>
                    </div>
                        }
                        else
                        {
                    <div class="form-group col-6">
                        <select id="js-filter-categorypac" data-live-search="true" class="form-control controlSelect controlSelect1" name="packageCategories[][categoryId]">
                            <option value="">--- Chưa có loại thiết bị ---</option>
                        </select>
                    </div>
                        }
                    <div class="form-group col-4">
                        <input type="number" name="packageCategories[][count]" class="form-control" placeholder="Số lượng" />
                    </div>
                    <div class="form-group col-2">
                        <i class="btn btn-primary la la-plus addinputpac kt-ml-10"></i>
                    </div>

                </div>
                </div>
        </div>*@
        @*<input asp-for="uuid" type="hidden" />*@

        <div class="text-right kt-margin-t-10">
            <button type="submit" class="btn btn-primary">
                Thêm mới
            </button>
            <button type="button" class="btn btn-danger">
                Hủy
            </button>
        </div>
    </form>
