﻿@model DMMS.Models.ImportDevice

@{

    Layout = null;
}
<form asp-action="Create" class="dmms-savedevice__form" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input hidden name="projectUuid" class="addproject_uuid">
    <input hidden name="customerUuid" class="addcustomer_uuid">
    <input hidden name="contractUuid" class="addcontract_uuid">
    <div id="devicetable"></div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary submit">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>
