﻿@model DMMS.Models.ImportDevice


@{
    Layout = null;
}

<div class="kt-portlet__body">
    <div class="tab-content">
        <div class="tab-pane active" id="kt_tabs_1_1a" role="tabpanel">
            <div class="kt-portlet__body">
                <form asp-action="UploadFileExcel" method="post" enctype="multipart/form-data" class="dmms-upload__form" onsubmit="return false">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <div class="form-group row">
                        <div class="form-group col-6">
                            <label class="control-label">Khách hàng</label>
                            @if (ViewBag.Customer != null)
                            {
                            <select data-live-search="true" class="form-control" id="kt-select-customer"
                                    asp-for="customerUuid" asp-items="@(new SelectList(ViewBag.Customer, "customerUuid", "customerName"))">
                                <option value="">Lựa chọn</option>
                            </select>
                            }
                            else{ <select data-live-search="true" class="form-control" id="kt-select-customer"
                                         >
                                <option value="">Lựa chọn</option>
                            </select>}
                        </div>
                        <div class="form-group col-6">
                            <label class="control-label">Hợp đồng</label>

                            @if (ViewBag.Contract != null)
                            {
                            <select data-live-search="true" class="form-control" id="kt-select-contract"
                                    asp-for="contractUuid" asp-items="@(new SelectList(ViewBag.Contract, "uuid", "code"))">
                                <option value="">Lựa chọn</option>
                            </select>
                            }
                             else{ <select data-live-search="true" class="form-control" id="kt-select-customer">
                                <option value="">Lựa chọn</option>
                            </select>}
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="FileUploadExcel">Tải lên file Excel</label>
                        <input asp-for="FileUploadExcel" type="file" class="form-control" />
                        <span asp-validation-for="FileUploadExcel" class="text-danger"></span>
                    </div>



                    <input type="hidden" asp-for="projectUuid">
                    @*<input hidden name="projectUuid" class="addproject_uuid">*@
                    <div id="devicetable"></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary submit">
                            <i class="la la-save"></i>
                            Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

   

</script>
