﻿@model DMMS.Models.CategoryUpsertRequest

@{

    Layout = null;
}

    <form asp-action="Create" class="dmms-category__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="control-label">Tên loại thiết bị</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="name" class="form-control" placeholder="Tên loại thiết bị" />
                <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
            </div>
        </div>
        @if (ViewBag.Category != null && ViewBag.Category.Count > 0)
        {
            <div class="form-group">
                <label asp-for="parent_id" class="control-label">Tên loại thiết bị cha</label>
                <div class="kt-input-icon">
                    <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-devicecategory" title="Chọn thiết bị cha..."
                            name="parent_id" asp-items="@(new SelectList(ViewBag.Category, "id", "name"))">
                    </select>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label asp-for="parent_id" class="control-label">Chưa có loại thiết bị</label>
                <div class="kt-input-icon">
                    <select disabled data-live-search="true" class="form-control bootstrap-select" id="kt-select-devicecategory" title="Chọn thiết bị cha..."
                            name="parent_id" asp-items="@(new SelectList("id", "name"))">
                    </select>
                </div>
            </div>
        }
        

        <div class="form-group">
            <label asp-for="description" class="control-label">Mô tả</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="description" class="form-control" placeholder="Mô tả" />
                <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
