//
// Global Config
//



// Functions
@import "core/functions";

// Mixins
@import "core/mixins";
@import "../vendors/mixins/perfect-scrollbar";
@import "core/base/mixins/grid";
@import "core/base/mixins/burger-menu";
@import "core/base/mixins/menu-horizontal";
@import "core/base/mixins/menu-vertical";
@import "core/base/mixins/offcanvas";
@import "core/base/mixins/spinner";
@import "core/base/mixins/wave";

// Theme mixins
@import "core/layout/mixins/app";
@import "core/typography/mixins/link";
@import "core/general/mixins/media";

// Layout Breakpoints(bootstrap responsive breakpoints)
// Define the minimum and maximum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries.
$kt-media-breakpoints: (
    // Extra small screen / phone
    xs: 0,

    // Small screen / phone
    sm: 576px,

    // Medium screen / tablet
    md: 768px,

    // Large screen / desktop
    lg: 1024px, //1024px,

    // Extra large screen / wide desktop
    xl: 1399px
) !default;

// Global rounded border mode
$kt-rounded: true !default;

// Border Radius
$kt-border-radius: 4px !default;

// Core icon codes(lineawesome icons: https://icons8.com/line-awesome)
$kt-action-icons: (
    close: '\f191',
    down: '\f110',
    up: '\f113',
    left: '\f111',
    right: '\f112',
    plus: '\f2c2',
    minus: '\f28e'
) !default;

// Core bold icon codes(lineawesome icons: https://keenthemes.com/metronic/preview/default/components/icons/flaticon.html)
$kt-action-bold-icons: (
    down: '\f1a3',
    up: '\f1a5',
    left: '\f1a4',
    right: '\f19d',
    close: '\f1b2'
) !default;

// Elevate shadow
$kt-elevate-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05) !default;
$kt-elevate-shadow-2: 0px 0px 13px 0px rgba(82,63,105,0.1) !default;

// Dropdown shadow
$kt-dropdown-shadow: 0px 0px 50px 0px rgba(82,63,105, 0.15) !default;

// Custom scrollbar color
$kt-scroll-color: darken(#ebedf2, 6%) !default;

// Transition
$kt-transition: all 0.3s !default;

// Modal Z-index
$kt-modal-zindex: 1050 !default;

// dropdown Z-index
$kt-dropdown-zindex: 95 !default;

// State colors
$kt-state-colors: (
    // Metronic states
    brand: (
        base: #0078FC,
        inverse: #ffffff
    ),
    light: (
        base: #ffffff,
        inverse: #282a3c
    ),

    // Bootstrap states
    primary: (
        base: #0078FC,
        inverse: #ffffff
    ),
    success: (
        base: #52c41a,
        inverse: #ffffff
    ),
    info: (
        base: #1890ff,
        inverse: #ffffff
    ),
    warning: (
        base: #faad14,
        inverse: #ffffff
    ),
    danger: (
        base: #FF5F6D,
        inverse: #ffffff
    )
)!default;

// Base colors
$kt-base-colors: (
    label: (
        1: #F1F3F4,
        2: #F1F3F4,
        3: #F1F3F4,
        4: #F1F3F4
    ),
    shape: (
        1: #F1F3F4,
        2: #F1F3F4,
        3: #F1F3F4,
        4: #F1F3F4
    ),
    grey: (
        1: #f7f8fa, //#f4f5f8
        2: #ebedf2,
        3: darken(#ebedf2, 3%),
        4: darken(#ebedf2, 6%)
    )
) !default;

// Social network colors(see: https://brandcolors.net/)
$kt-social-colors: (
    facebook: (
        base: #3b5998,
        inverse: #ffffff
    ),
    google: (
        base: #dc4e41,
        inverse: #ffffff
    ),
    twitter: (
        base: #4AB3F4,
        inverse: #ffffff
    ),
    instagram: (
        base: #517fa4,
        inverse: #ffffff
    ),
    youtube: (
        base: #b31217,
        inverse: #ffffff
    ),
    linkedin: (
        base: #0077b5,
        inverse: #ffffff
    ),
    skype: (
        base: #00aff0,
        inverse: #ffffff
    )
) !default;

// Root Font Settings
$kt-font-families: (
    regular: 'Open Sans',
    heading: 'Open Sans'
) !default;

// Root Font Settings
$kt-font-size: (
    size: (
        desktop: 14px,
        tablet: 14px,
        mobile: 14px
    ),
    weight: 300
) !default;

// General Link Settings
$kt-font-color: (
    text: #F1F3F4,
    link: (
        default: kt-state-color(brand),
        hover: darken(kt-state-color(brand), 6%)
    )
) !default;

// Portlet settings
$kt-portlet: (
    min-height: (
        default: (
            desktop: 60px,
            mobile: 50px
        ),
        sm: (
            desktop: 50px,
            mobile: 40px
        ),
        lg: (
            desktop: 80px,
            mobile: 60px
        ),
        xl: (
            desktop: 100px,
            mobile: 80px
        )
    ),
    space: (
        desktop: 25px,
        mobile: 15px
    ),
    bottom-space: (
        desktop: 20px,
        mobile: 20px
    ),
    // border-color: kt-base-color(grey, 2),
    // bg-color: #ffffff,
    // shadow: 0px 0px 30px 0px rgba(82,63,105,0.05)

    border-color: #004A9B,
    bg-color: #00336c,
    shadow: 0px 0px 10px rgba(0, 12, 77, 0.25)
) !default;

// Page padding
$kt-page-padding: (
	desktop: 30px,
	mobile: 15px
) !default;

// Page container width
$kt-page-container-width: 1380px !default;

// Custom Scroll(Perfect Scrollbar) size
$kt-custom-scroll-size: 4px !default;


// Brand Color
$kt-brand-hover-color: #f5f6fc;
$kt-brand-inverse-color: #ffffff !default;

// Layout
$kt-aside-default-width: 255px;
$kt-aside-offcanvas-width: 255px;

// Page padding
$kt-page-padding: (
	desktop: 30px,
	mobile: 15px
);

// Page container
$kt-page-container-width: 1380px; //  fixed page width
$kt-page-fluid-container-padding: 60px; // fluid page padding
