﻿@model DMMS.Models.TimeWarningUpsertRequest

@{

    Layout = null;
}

    @*<form asp-action="Create" class="dmms-timewarning__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
        <label asp-for="type" class="control-label">Loại</label>
        <div class="kt-input-icon kt-input-icon--left">
            <input asp-for="type" class="form-control" placeholder="Loại" />
            <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
        </div>
        </div>
        <div class="form-group">
            <label asp-for="warning_value" class="control-label">Giá trị cảnh báo</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="warning_value" class="form-control" placeholder="Giá trị cảnh báo" />
                <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="warning_level" class="control-label">Mức độ cảnh báo</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="warning_level" class="form-control" placeholder="Mức độ cảnh báo" />
                <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="state" class="control-label">Trạng thái</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="state" class="form-control" placeholder="Trạng thái" />
                <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>*@
