﻿@model TimeWarningUpsertRequest

@{
    ViewData["Title"] = "Danh sách";
    ViewData["BodyClass"] = "dmms-timewarning";

}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                Cấu hình cài đặt
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG BÁO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2">MÀU SẮC</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG BAO *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                @*<div id="js-display-warning"></div>*@
                @foreach (var item in ViewBag.Warnings)
                {
                    <div class="kt-warning">
                        <div data-type="@item.Key" class="kt-warning__title d-flex align-items-center js-warning">
                            <span class="text-uppercase">@ViewBag.NameTypes[item.Key].Text</span>
                            <span class="ml-auto kt-switch kt-switch--sm kt-switch--icon">
                                <label class="btn-on-off">
                                    <input type="checkbox" checked="checked" id="js-on-off" data-type="@item.Key">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                        <form asp-action="index" data-name="@ViewBag.NameTypes[item.Key].Text" data-type="@item.Key" class="kt-warning__list dmms-warning__form" onsubmit="return false">
                            @foreach (var warning in item.Value)
                            {
                                var nameState = "";
                                try
                                {
                                    nameState = ViewBag.WarningTypes[item.Key][warning.Key - 1].Text;
                                }
                                catch(Exception e)
                                {
                                    Console.WriteLine(e);
                                }
                                var check = false;
                                var time_unit = 2;
                                <div class="kt-warning__item js-select-warning" data-state="@warning.Key">
                                    <div class="row">
                                        <span class="kt-state-title text-uppercase col-md-4">@nameState</span>
                                        @foreach (var state in warning.Value)
                                        {
                                            var state_number = @state.unit > 0 ? @state.unit : 2;
                                            check = state.isEnable == true ? true : check;
                                            time_unit = state_number;
                                            <div class="col-md-2 row kt-margin-r-20">
                                                <input name="warnings[][type]" value="@state.type" type="hidden" />
                                                <input name="warnings[][uuid]" value="@state.uuid" type="hidden" />
                                                <input name="warnings[][state]" value="@state.state" type="hidden" />
                                                <input name="warnings[][isEnable]" class="isEnable-change" value="@state.isEnable.ToString()" type="hidden" />
                                                <input name="warnings[][warningLevel]" value="@state.warningLevel" type="hidden" />
                                                <div class="col-md-8 text-uppercase"><span class="float-right">Mức độ @state.warningLevel</span></div>
                                                @if (check == true) 
                                                { 
                                                    <input class="col-md-2 text-center" name="warnings[][warningValue]" value="@state.warningValue" />
                                                }
                                                else
                                                {
                                                    <input class="col-md-2 text-center" name="warnings[][warningValue]" value="@state.warningValue" readonly />
                                                }
                                                <span class="col-md-2 text-uppercase display-unit">@ViewBag.UnitStates[state_number - 1].Text</span>
                                                <input name="warnings[][unit]" value="@state.unit" type="hidden" />
                                            </div>
                                        }
                                        <div class="col-md-1">
                                            @if(check == true)
                                            {
                                                 <select class="text-uppercase js-select-unittime" data-type="@item.Key" data-state="@warning.Key"
                                                    asp-items="@(new SelectList(ViewBag.UnitStates, "Value", "Text"))">
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="text-uppercase js-select-unittime" data-type="@item.Key" data-state="@warning.Key"
                                                    asp-items="@(new SelectList(ViewBag.UnitStates, "Value", "Text"))" disabled>
                                                </select>
                                            }
                                        </div>
                                        <div class="ml-auto" style="height: 23px;">
                                            <span class="ml-auto kt-switch kt-switch--sm kt-switch--icon">
                                                <label class="btn-on-off">
                                                    @if (check == true)
                                                    {
                                                        <input type="checkbox" checked="checked" class="js-on-off-state" data-type="@item.Key" data-state="@warning.Key">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="js-on-off-state" data-type="@item.Key" data-state="@warning.Key">
                                                    }
                                                    <span></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row kt-warning-footer">
                                <div class="ml-auto">
                                    <button type="submit" class="btn btn-primary" data-type="@item.Key">Lưu cấu hình</button>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>

            @* Begin: MÀU SẮC *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <!--begin: Navigation -->
                <div class="kt-notification">
                    <a href="javascript:changeTheme('white');" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon-squares"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Theme Light
                            </div>
                        </div>
                    </a>
                    <a href="javascript:changeTheme('dask');" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon-squares"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Theme Dask
                            </div>
                        </div>
                    </a>
                </div>
                <!--end: Navigation -->
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->