﻿@model DMMS.Models.MangeFiledAddRequest
@{

    Layout = null;
}
    <form asp-action="Create" class="dmms-managefield__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <label class="control-label">Tên lĩnh vực</label>
            <div class="kt-input-icon">
                <input asp-for="name" class="form-control" placeholder="Tên lĩnh vực" />
                @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Mô tả</label>
            <div class="kt-input-icon">
                <textarea asp-for="description" class="form-control" placeholder="Nhập mô tả"></textarea>
                @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
            </div>
        </div>
        <label class="control-label">Danh mục thiết bị vật tư</label>

        <div class="form-group" style="border: 1px solid LightGray;">
            <div class="form-check row" style="margin-top: 10px;">
                <label class="control-label">&#160;&#160;&#160;Chọn tất cả / bỏ chọn</label>
                <label class="checkbox checkbox-square checkbox-success" style="float: right;margin-right: 30px;">
                    <input type="checkbox" id="chkSelectAll" />
                    <span></span>
                </label>
            </div>
            <div class="form-group">

                @*<div class="kt-input-icon kt-input-icon--left col-10" style="margin-left: 3%;">
                    <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tìm kiếm" />
                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                    </span>
                </div>*@
                <div class="kt-portlet__body">
                    <div id="kt_tree_4" class="tree-demo">
                    </div>
                </div>
            </div>
            <input hidden name="categoryId[]">

        </div>



        <div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
