﻿@model DMMS.Models.ManageFiledDataResponse
@{
    ViewData["Title"] = "Cập nhật lĩnh vực";
    ViewData["BodyClass"] = "dmms-managefiled";

}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a data-id="" title="Xóa" class="js-delete-supplier btn btn-danger btn-icon-sm text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>
                    <a href="/ManageFiled" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkfiled" data-toggle="tab" href="#kt_tabs_1_3">DANH SÁCH THIẾT BỊ - VẬT TƯ</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="kt-portlet__body">
                    <form asp-action="Edit" class="dmms-managefield__form" onsubmit="return false">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group row">
                            <label asp-for="name" class="control-label col-2">Tên lĩnh vực</label>
                            <input asp-for="name" class="form-control col-6" placeholder="Tên lĩnh vực" />
                        </div>
                        <div class="form-group row">
                            <label asp-for="description" class="control-label col-2">Mô tả</label>
                            <textarea asp-for="description" class="form-control auto-resize col-6" placeholder="Mô tả"></textarea>
                        </div>
                        <input asp-for="id" type="hidden" />


                        <div class="text-center kt-mb-30">
                            <button type="submit" class="btn btn-primary submit">
                                <i class="la la-save"></i>
                                Cập Nhật
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-form kt-form--label-right">
                   
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-lg-4">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input id="js-filter-keyword1" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên thiết bị" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                
                                    <select id="js-filter-type" class="form-control bootstrap-select">
                                        <option value="">Lọc theo danh mục </option>
                                        <option value="1">Thiết Bị</option>
                                        <option value="2">Vật Tư</option>
                                        <option value="3">Dụng Cụ Lao Động</option>
                                    </select>
                               
                            </div>
                        </div>
                        <br/>
                        <!--begin: Datatable -->
                        <div class="kt-datatablefiled">

                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>

    </div>
</div>