﻿@{
    ViewData["Title"] = "Trang chủ";
    ViewData["BodyClass"] = "dmms-dashboard-demo";
}

    <div class="row">
        <!--begin::Ticket chưa xử lý-->

        <div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon2-list-2  text-danger"></i>
                            </span>
                            TICKET CHƯA XỬ LÝ
                        </h3>
                    </div>
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            20
                        </h3>
                    </div>
                </div>
            </div>
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h4 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon2-line-chart text-success"></i>
                            </span>
                            Biểu đồ thể hiện mực độ cảnh báo của ticket chưa xử lý
                        </h4>
                    </div>
                </div>
                <div class="kt-portlet--height-fluid">
                    <div class="kt-portlet__body kt-portlet__body--fluid">
                        <div class="dmms-home-chart w-100">
                            <div id="dmms-chart-ticket"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Ticket chưa xử lý-->
        <!--begin::Cuộc gọi chưa xử lý-->
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon2-phone text-danger"></i>
                            </span>
                            CUỘC GỌI CHƯA XỬ LÝ
                        </h3>
                    </div>
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            10
                        </h3>
                    </div>
                </div>
            </div>
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h4 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon2-line-chart text-success"></i>
                            </span>
                            Biểu đồ thể hiện mực độ cảnh báo cuộc gọi chưa xử lý
                        </h4>
                    </div>
                </div>
                <div class="kt-portlet--height-fluid">
                    <div class="kt-portlet__body kt-portlet__body--fluid">
                        <div class="dmms-home-chart w-100">
                            <div id="dmms-chart-call"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Cuộc gọi chưa xử lý-->
        <!--begin:: Biểu đồ thể hiện ticket chưa được xử lý-->
        @*<div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon-graphic-2 text-success"></i>
                            </span>
                            Cảnh báo ticket chưa xử lý
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-ticket"></div>
                    </div>
                </div>
            </div>
        </div>*@
        <!--end:: Biểu đồ ticket chưa xử lý-->
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h4 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon-pie-chart text-warning"></i>
                            </span>
                            Biểu đồ thông kê trạng thái công việc trên hệ thống
                        </h4>
                    </div>
                </div>
                <div class="kt-portlet">
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-task" style="overflow: hidden;margin-top: 12%;"></div>
                    </div>
                </div>
            </div>
        </div>
        @*Biểu đồ báo cáo hàng hàng*@
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon-graphic-2 text-success"></i>
                            </span>
                            Cảnh báo cáo hàng ngày
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-dailyreport"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--begin:: Biểu đồ thể hiện cuộc gọi chưa được xử lý-->
        @*<div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon-graphic-2 text-success"></i>
                            </span>
                            Cảnh báo cuộc gọi chưa xử lý
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-call"></div>
                    </div>
                </div>
            </div>
        </div>*@
        <!--end:: Biểu đồ cuộc gọi chưa xử lý-->

        <div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h4 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon2-time text-danger"></i>
                            </span>
                            Biểu đồ thời gian cảnh bảo trạng thái công việc
                        </h4>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-time"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon-graphic-2 text-success"></i>
                            </span>
                            Thiết bị đang sửa
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-device"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--
    <div class="col-12 col-sm-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Thống kê đề xuất
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="dmms-home-chart w-100">
                    <div id="dmms-chart-pr"></div>
                </div>
            </div>
        </div>
    </div>
        -->
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>
                                <i class="flaticon2-pie-chart-1 text-primary"></i>
                            </span>
                            Tình trạng hợp đồng
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-contract"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--
    <div class="col-12 col-sm-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Tình trạng nhân viên
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="dmms-home-chart w-100">
                    <div id="dmms-chart-staff"></div>
                </div>
            </div>
        </div>
    </div>
        -->
    </div>