﻿@{
    ViewData["Title"] = "Trang chủ";
    ViewData["BodyClass"] = "dmms-dashboard";
}

<div class="row">
    <div class="col-12 col-xl-8">
        <div class="kt-portlet kt-portlet--head-sm kt-portlet--height-fluid">
            <div class="kt-portlet__body kt-portlet__body--fluid">
                
                    <div class="col-12 col-sm-6 px-0">
                    <h5 class="mb-3">
                        Tình trạng công việc
                    </h5>
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-task" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 px-0">
                    <h5 class="mb-3">
                        Thời gian cảnh báo
                    </h5>
                    
                    <div class="dmms-home-chart w-100">
                        <div id="dmms-chart-time" style="width: 100%;"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Tình trạng hợp đồng
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="dmms-home-chart w-100">
                    <div id="dmms-chart-contract" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Thống kê đề xuất
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="dmms-home-chart w-100">
                    <div id="dmms-chart-pr"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Thiết bị đang sửa
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="dmms-home-chart w-100">
                    <div id="dmms-chart-device"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Tình trạng nhân viên
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="dmms-home-chart w-100">
                    <div id="dmms-chart-staff"></div>
                </div>
            </div>
        </div>
    </div>
</div>