﻿@model DMMS.Models.StaffAddRequest



@{
    Layout = null;
}


    <form class="dmms-staff__form" asp-action="Create" asp-controller="staff" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="form-group col-12">
            <label class="form-label">Hình đại diện</label>
            <br />
            <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                <div name="image" class="kt-avatar__holder" style="background-image: url(/dist/images/icon-avatar.png);"></div>
                <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Thay đổi">
                    <i class="la la-pencil"></i>
                    <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                </label>
                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Hủy thay đổi">
                    <i>x</i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="name" class="control-label">Tên nhân viên</label>
                <div class="kt-input-icon kt-input-icon--left">
                    <input asp-for="name" class="form-control" placeholder="Tên nhân viên" />
                    <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                </div>
            </div>
            <div class="form-group col-6">
                <label asp-for="account.username" class="control-label">Tên đăng nhập</label>
                <div class="kt-input-icon kt-input-icon--left">
                    <input asp-for="account.username" class="form-control" placeholder="Tên đăng nhập" />
                    <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="form-group">
                            <label asp-for="email" class="control-label">Email</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input asp-for="email" class="form-control" placeholder="Email" />
                                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="type" class="control-label">Tỉnh thành</label>
                            <div class="kt-form__group">
                                @if (ViewBag.province != null)
                                {
                                    <select data-live-search="true" class="form-control kt-select-location" id="js-filter-location"
                                            asp-for="province_id" asp-items="@(new SelectList(ViewBag.province, "id", "name"))">
                                        <option value="">--- Tỉnh/Thành---</option>
                                    </select>
                                }
                                else
                                {
                                    <select data-live-search="true" class="form-control kt-select-location" id="js-filter-location"
                                            asp-for="province_id">
                                        <option value="">--- Tỉnh/Thành---</option>
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="type" class="control-label">Quận huyện</label>
                            <div class="kt-form__group">
                                <select id="locationtown1" class="form-control input-md" data-live-search="true" asp-for="town_id" disabled>
                                    <option value="">---Quận/Huyện/Thị Xã---</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="type" class="control-label">Phường xã</label>
                            <div class="kt-form__group">
                                <select id="locationvillage1" class="form-control input-md" asp-for="village_id" data-live-search="true" disabled>
                                    <option value="">---Phường/Xã/Thị Trấn---</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="type" class="control-label">Chức vụ</label>
                            <div class="kt-form__group">
                                @if (ViewBag.Types != null)
                                {
                                    <select id="kt_select_type_staff" class="form-control kt_select_type_staff"
                                            name="type" asp-items="@(new SelectList(ViewBag.Types, "Value", "Text"))">
                                        <option value="">Chọn chức vụ</option>
                                    </select>
                                }
                                else
                                {
                                    <select id="kt_select_type_staff" class="form-control kt_select_type_staff"
                                            name="type">
                                        <option value="">Chọn chức vụ</option>
                                    </select>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-12 col-lg-6">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="form-group">
                            <label asp-for="phone_number" class="control-label">Số điện thoại</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input asp-for="phone_number" class="form-control" placeholder="Số điện thoại" />
                                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="address" class="control-label">Địa chỉ chi tiết</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input asp-for="address" class="form-control" placeholder="Địa chỉ chi tiết" />
                                <span class="kt-input-icon__icon"><span><i class="la la-phone"></i></span></span>
                            </div>
                        </div>
                        @*<div class="form-group">
            <label asp-for="type" class="control-label">Đội nhóm</label>
            <div class="kt-form__group">
                <select id="kt_select_type_team" class="form-control kt_select_type_team"
                        name="team_uuid" asp-items="@(new SelectList(ViewBag.teams, "uuid", "name"))">
                    <option value="">Chọn Team</option>
                </select>
            </div>
        </div>*@
                        <div class="form-group">
                            <label asp-for="account.password" class="control-label">Mật khẩu</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input asp-for="account.password" class="form-control" placeholder="Nhập mật khẩu" id="password" type="password" />
                                <span class="kt-input-icon__icon"><span><i class="la la-lock"></i></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nhập lại mật khẩu</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input name="re_password" class="form-control" placeholder="Nhập lại Mật khẩu" type="password" />
                                <span class="kt-input-icon__icon"><span><i class="la la-lock"></i></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="type" class="control-label">Đơn vị công tác</label>
                            <div class="appendUnitsigned"></div>
                            <div class="kt-form__group checkUnitsigned">
                                @if (ViewBag.Unitsigned != null)
                                {
                                    <select asp-for="unit_signed_uuid" asp-items="@(new SelectList(ViewBag.Unitsigned,"uuid","name"))" data-live-search="true" class="bootstrap-select form-control js-select-unitSignedUuid" id="test" title="Chọn đơn vị kí HĐ">
                                        <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                    </select>
                                }
                                else
                                {
                                    <select data-live-search="true" class="bootstrap-select form-control js-select-unitSignedUuid" id="js-select-field"
                                            name="contract.unitSignedUuid">
                                        <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                    </select>
                                }
                            </div>
                        </div>
                        @*@if (ViewBag.teams != null && ViewBag.teams.Count > 0)
        {
            <div class="form-group">
                <label asp-for="team_uuid" class="control-label">Chọn đội</label>
                <div class="kt-form__group">
                    <select data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid" asp-items="@(new SelectList(ViewBag.teams, "uuid", "name"))"><option value="">---Chọn đội---</option></select>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label asp-for="team_uuid" class="control-label">Chưa có đội</label>
                <div class="kt-form__group">
                    <select disabled data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid" asp-items="@(new SelectList("uuid", "name"))"><option value="">---Chọn đội---</option></select>
                </div>
            </div>
        }*@

                    </div>
                </div>
            </div>

        </div>
        <div>

        </div>
        @*<div class="form-group form-group-last">
            <label class="control-label">Tải ảnh:</label>
            <div>
                <div class="dropzone dropzone-default" id="kt_dropzone_image">

                    <div class="dropzone-items">
                        <div class="dropzone-item" style="display:none">
                            <div class="dropzone-file">
                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                    <span data-dz-name></span>
                                </div>
                                <div class="dropzone-error" data-dz-errormessage></div>
                            </div>
                            <div class="dropzone-progress">
                                <div class="progress">
                                    <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div class="dropzone-toolbar">
                                <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
            </div>
        </div>*@
        <input asp-for="image" type="hidden" />

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
