@model IEnumerable<DMMS.Models.StaffModel>

@{
    ViewData["Title"] = "Danh sách nhân viên";
    ViewData["BodyClass"] = "dmms-staff";

}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                <i class="flaticon2-avatar"></i>
            </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách nhân viên
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <button type="button" class="js-edit-staff btn btn-primary btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm nhân viên</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile kt-margin-b-10">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên nhân viên" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile kt-margin-b-10">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-phone" type="text" name="keyword" class="form-control" value="" placeholder="VD: Số điện thoại" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 kt-margin-b-10">
                    @if (ViewBag.Types != null)
                    {
                        <select asp-items="@(new SelectList(ViewBag.Types,"Value","Text"))" id="kt_select_type_staff" data-live-search="true" class="form-control bootstrap-select" name="type">
                            <option value="">---Chức vụ---</option>
                        </select>
                    }
                    else
                    {
                        <select id="kt_select_type_staff" data-live-search="true" class="form-control bootstrap-select" name="type">
                            <option value="">---Chức vụ---</option>
                        </select>
                    }
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="kt-form__group">
                        @if (ViewBag.province != null)
                        {
                            <select asp-items="@(new SelectList(ViewBag.province,"id","name"))" id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="province_id">
                                <option value="">---Tỉnh/Thành---</option>
                            </select>
                        }
                        else
                        {
                            <select id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="province_id">
                                <option value="">---Tỉnh/Thành---</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="col-4">
                    <select name="town_id" id="locationtown" class="form-control input-md" data-live-search="true" disabled>
                        <option value="">---Quận/Huyện/Thị Xã---</option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-4">
                    <select name="village_id" id="locationvillage" class="form-control input-md" data-live-search="true" disabled>
                        <option value="">---Phường/Xã/Thị Trấn---</option>
                    </select>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt"></div>
    <div class="kt-portlet__body kt-portlet__body--table table-responsive">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>




