﻿@model StaffAddDataResponse

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <div class="img-thumbnail"><img class="avatar shadow p-1 mb-2 bg-white mt-2" src="@Model.image.path" /></div>
            <div class="kt-font-bold text-uppercase mt-3">@Model.name</div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4 kt-font-bold">Tài khoản: </div>
                <div class="col-8 ">@Model.account.username</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 kt-font-bold">Email: </div>
                <div class="col-8 ">@Model.email</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 kt-font-bold">Địa chỉ: </div>
                <div class="col-8">@Model.address</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 kt-font-bold">SĐT liên hệ: </div>
                <div class="col-8 ">@Model.phone_number</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 kt-font-bold">Đội quản lý: </div>
                <div class="col-8 ">@Model.team.name</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 kt-font-bold">Khu vực quản lý: </div>
                <div class="col-8">
                    @if (Model.groups != null && Model.groups.Count > 0)
                    {
                        foreach (var item in Model.groups)
                        {
                            <div>@item.name</div>
                        }
                    }
                    else
                    {
                        <a>Không có</a>
                    }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 kt-font-bold">Trạng thái: </div>
                <div class="col-8 ">
                    @if(Model.state != 0)
                    {
                        <a class="badge badge-success text-white">Rảnh</a>
                    }
                    else
                    {
                        <a class="badge badge-danger text-white">Bận</a>
                    }
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>