﻿@model IEnumerable<DMMS.Models.StaffModel>

@{
    ViewData["Title"] = "Danh sách theo team lead";
    ViewData["BodyClass"] = "dmms-staff-list-by-teamlead";

}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-avatar"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Danh sách nhân viên
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a asp-controller="staff" asp-action="create" class="btn btn-primary btn-icon-sm">
                        <i class="la la-plus"></i>
                        Thêm nhân viên
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="Từ khóa tìm kiếm" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="kt-form__group">
                        <select asp-items="@(new SelectList(ViewBag.teams,"uuid","name"))" id="js-filter-team" data-live-search="true" class="form-control bootstrap-select" name="team_uuid">
                            <option>--- Chọn đội ---</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt"></div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>




