﻿@model DMMS.Models.StaffAddRequest


@{
    ViewData["Title"] = "Cập nhật thiết bị";
    ViewData["BodyClass"] = "dmms-staff";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a data-id="@Model.uuid" title="Xóa" class="js-delete-staff btn btn-danger btn-icon-sm text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>
                    <a href="/staff" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkdetail" data-toggle="tab" href="#kt_tabs_1_3">CÔNG VIỆC TIẾP NHẬN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link staffdevice" data-toggle="tab" href="#kt_tabs_1_2">DANH SÁCH THIẾT BỊ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link staffbalo" data-toggle="tab" href="#kt_tabs_1_4">BA LÔ NHÂN VIÊN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link staffhistory" data-toggle="tab" href="#kt_tabs_1_5">DANH SÁCH PHIẾU NHẬP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link staffhistoryex" data-toggle="tab" href="#kt_tabs_1_6">DANH SÁCH PHIẾU XUẤT</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="kt-portlet__body">
                    <form class="dmms-staff__form" asp-action="Update" onsubmit="return false">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <input asp-for="type" type="hidden" />
                        <div class="row">

                            <div class="kt-section kt-section--first">

                                <div class="kt-section__body">
                                    <div class="form-group form-group-last">
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="col-3 col-form-label" style="padding-left: 0px;">Hình đại diện</label>
                                                <label class="col-4 erroavata">Tải lên hình đại diện tùy chỉnh của riêng bạn 300 x 300 pixel. Các tệp lớn hơn sẽ được thay đổi kích thước và cắt để phù hợp.</label>
                                                <div class="col-lg-3 col-xl-3">
                                                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                                        @if (!string.IsNullOrEmpty(Model.avatar))
                                                        {
                                                            <div name="image" class="kt-avatar__holder" style="background-image: url(@Model.avatar);">
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div name="image" class="kt-avatar__holder" style="background-image: url(/statics/images/icon-avatar.png);">
                                                            </div>
                                                        }
                                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Thay đổi">
                                                            <i class="la la-pencil"></i>
                                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                                        </label>
                                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Hủy thay đổi">
                                                            <i>x</i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="name" class="control-label col-3">Tên nhân viên</label>
                                        <div class="kt-input-icon col-6 kt-input-icon--left">
                                            <input asp-for="name" class="form-control" placeholder="Tên nhân viên" />
                                            <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                        </div>
                                    </div>
                                    
                                        <div class="form-group row">
                                            <label asp-for="team.name" class="control-label col-3">Đội</label>
                                            <div class="kt-input-icon col-6 kt-input-icon--left">
                                                <input asp-for="team.name" class="form-control" placeholder="Đội" readonly />
                                                <input asp-for="team.uuid" hidden />
                                                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                            </div>
                                        </div>

                                   
                                    <div class="form-group row">
                                        <label asp-for="department.name" class="control-label col-3">Phòng ban</label>
                                        <div class="kt-input-icon col-6 kt-input-icon--left">
                                            <input asp-for="department.name" class="form-control" placeholder="Phòng ban" readonly />
                                            <input asp-for="department.uuid" hidden />
                                            <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                        </div>
                                    </div>
                                    <input name="type" value="@Model.type" hidden />
                                    <div class="form-group row">
                                        <label asp-for="type" class="control-label col-3">Chức vụ</label>
                                        @*<select id="kt_select_type_staff" class="form-control col-6"
                    name="type" asp-items="@(new SelectList(ViewBag.Types, "Value", "Text"))">
                <option value="">chọn chức vụ</option>
            </select>*@
                                        @if (Model.type == null)
                                        {
                                            <select id="kt_select_type_staff" class="form-control col-6"
                                                    name="type" asp-items="@(new SelectList(ViewBag.Types, "Value", "Text"))">
                                                <option value="">Chọn chức vụ</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <div class="kt-input-icon col-6 kt-input-icon--left">
                                                <input value="@ViewBag.Types[Model.type.Value - 1].Text" class="form-control" placeholder="Chức vụ nhân viên" readonly />
                                                <span class="kt-input-icon__icon"><span><i class="la la-cab"></i></span></span>
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="account.username" class="control-label col-3">tên đăng nhập</label>
                                        <div class="kt-input-icon col-6 kt-input-icon--left">
                                            <input asp-for="account.username" class="form-control" placeholder="tên đăng nhập" />
                                            <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label asp-for="email" class="control-label col-3">Email</label>
                                    <div class="kt-input-icon col-6 kt-input-icon--left">
                                        <input asp-for="email" class="form-control" placeholder="Email" />
                                        <span class="kt-input-icon__icon"><span><i class="la la-envelope"></i></span></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="address" class="control-label col-3">Địa chỉ</label>
                                    <div class="kt-input-icon col-6 kt-input-icon--left">
                                        <input asp-for="address" class="form-control" placeholder="Địa chỉ" />
                                        <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="phone_number" class="control-label col-3">Số điện thoại</label>
                                    <div class="kt-input-icon col-6 kt-input-icon--left">
                                        <input asp-for="phone_number" class="form-control" placeholder="Số điện thoại" />
                                        <span class="kt-input-icon__icon"><span><i class="la la-phone"></i></span></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="phone_number" class="control-label col-3">Đơn vị công tác</label>

                                    @if (ViewBag.Unitsigned != null)
                                    {
                                        <select asp-for="unit_signed_uuid" asp-items="@(new SelectList(ViewBag.Unitsigned,"uuid","name"))" data-live-search="true" class="col-6 form-control js-select-field1">
                                            <option value="">Chọn đơn vị</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select data-live-search="true" class="form-control col-6 js-select-field1" id="js-select-field" title="Chọn đơn vị kí HĐ"
                                                name="unit_signed_uuid">
                                            <option value="">Chọn đơn vị</option>
                                        </select>
                                    }

                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Đơn vị hành chính</label>
                                    @if (ViewBag.province != null)
                                    {
                                        <select data-live-search="true" class="form-control col-2 locationupdate"
                                                id="js-filter-location" asp-for="province_id" asp-items="@(new SelectList(ViewBag.province, "id", "name"))">
                                            <option value="">--- Tỉnh/Thành---</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select data-live-search="true" class="form-control col-2 locationupdate"
                                                id="js-filter-location" asp-for="province_id">
                                            <option value="">--- Tỉnh/Thành---</option>
                                        </select>
                                    }
                                    @if (ViewBag.Town != null)
                                    {
                                        <select asp-for="town_id" id="locationtown" class="form-control input-md col-2 locationupdate" data-live-search="true" asp-items="@(new SelectList(ViewBag.Town, "id", "name"))">
                                            <option value="">---Quận/Huyện/Thị Xã---</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select asp-for="town_id" id="locationtown" class="form-control input-md col-2 locationupdate" data-live-search="true">
                                            <option value="">---Quận/Huyện/Thị Xã---</option>
                                        </select>
                                    }
                                    @if (ViewBag.Vilages != null)
                                    {
                                        <select asp-for="village_id" id="locationvillage"
                                                class="form-control input-md col-2 locationupdate" data-live-search="true" asp-items="@(new SelectList(ViewBag.Vilages, "id", "name"))">
                                            <option value="">---Phường/Xã/Thị Trấn---</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select asp-for="village_id" id="locationvillage"
                                                class="form-control input-md col-2 locationupdate" data-live-search="true">
                                            <option value="">---Phường/Xã/Thị Trấn---</option>
                                        </select>
                                    }

                                </div>
                            </div>
                            <input asp-for="uuid" type="hidden" />
                        </div>
                        <input asp-for="image" type="hidden" />
                        <br>
                        <div class="text-center kt-mb-30">
                            <button type="submit" class="btn btn-info submit">
                                <i class="la la-save"></i>
                                Cập nhật
                            </button>
                            @if (Model.account != null && Model.account.uuid != null)
                            {
                                <button data-id="@Model.account.uuid" type="button" title="Đặt lại mật khẩu" class="js-reset-account btn btn-success">
                                    <i class="la la-key"></i>
                                    Reset password
                                </button>
                            }

                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <input asp-for="uuid" type="hidden" />
                <div class="kt-portlet__body">
                    <!--begin: Search Form -->
                    <div class="kt-form kt-form--label-right">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-lg-4">
                                <div class="kt-form__group">
                                    <select asp-items="@(new SelectList(ViewBag.State,"Value","Text"))" id="js-filter-states" data-live-search="true" class="form-control bootstrap-select" name="state">
                                        <option value="">--- Trạng thái---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--table">
                    <!--begin: Datatable -->
                    <div class="kt-datatable1">

                    </div>
                    <!--end: Datatable -->
                </div>
            </div>
                    <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                        <input asp-for="uuid" type="hidden" />
                        <div class="kt-portlet__body kt-portlet__body--table">
                            <!--begin: Datatable -->
                            <div class="kt-datatablestaffdevice">

                            </div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                        <input asp-for="uuid" type="hidden" />
                        <div class="kt-portlet__body kt-portlet__body--table">
                            <!--begin: Datatable -->
                            <div class="kt-datatablestaffbalo">

                            </div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_5" role="tabpanel">
                        <input asp-for="uuid" type="hidden" />
                        <div class="kt-portlet__body kt-portlet__body--table">
                            <!--begin: Datatable -->
                            <div class="kt-datatablestaffhistory">

                            </div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_6" role="tabpanel">
                        <input asp-for="uuid" type="hidden" />
                        <div class="kt-portlet__body kt-portlet__body--table">
                            <!--begin: Datatable -->
                            <div class="kt-datatablestaffhistoryex">

                            </div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>
    </div>
</div>

