﻿
@model DMMS.Models.AmiUpdateRequest
@{

    Layout = null;
}
<form asp-action="Create" class="dmms-sipaccount__form" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>   
    <div class="form-group">
        <label asp-for="ami_user" class="control-label">Ami User</label>
        <input asp-for="ami_user" class="form-control" placeholder="Ami User" />
    </div>
    <div class="form-group">
        <label asp-for="ami_password" class="control-label">Ami Password</label>
        <input asp-for="ami_password" class="form-control" placeholder="Ami Password" type="password" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary submit">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>
