﻿
@model DMMS.Models.SipAccountAddRequest
@{

    Layout = null;
}
    <form asp-action="Create" class="dmms-sipaccount__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="uuidep" class="control-label">Người phụ trách</label>
            <div class="kt-form__group">
                @if (ViewBag.ListAcc != null)
                {
                    <select class="form-control kt_sip_team_add" name="uuidep"
                            asp-items="@(new SelectList(ViewBag.ListAcc, "uuid", "name"))">
                        <option value="">---Chọn người phụ trách---</option>
                    </select>
                }
                else
                {
                    <select class="form-control kt_sip_team_add" name="uuidep">
                        <option value="">---Chọn người phụ trách---</option>
                    </select>
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="exten" class="control-label">Số máy lẻ</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="exten" class="form-control" placeholder="Số máy lẻ" />
                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="password" class="control-label">Mật khẩu</label>
            <input asp-for="password" class="form-control" placeholder="Mật khẩu" type="password" />
        </div>      
        <div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
