﻿
@model IEnumerable<DMMS.Models.SipAccountModel>

@{
    ViewData["Title"] = "Danh sách Sip Account";
    ViewData["BodyClass"] = "dmms-sipaccount";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                <i class="flaticon-user"></i>
            </span>*@
            <h3 class="kt-portlet__head-title">
               Quản lý Sip Account
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <button type="button" class="js-edit-sip btn btn-primary btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm Sip Account</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
               
                <div class="col px-md-5 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <button type="button" class="js-edit-ami btn btn-success btn-icon-sm" style="float: right;">
                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Cấu hình Ami</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>
