﻿@{
    Layout = null;
}

<div class="kt-body-content">
    <a class="active">
        Thiết bị <i class="la la-angle-right"></i>
    </a>
</div>

<div class="wizard-content">
    <form id="example-form" asp-action="createsupplies" class="dmms-supplies__form tab-wizard wizard clearfix" onsubmit="return false">
        <h6></h6>
        <section class="row">
            <div class="col-md-6">
                <div class="kt-form-left">
                    <div class="form-group">
                        <label class="control-label">Tên danh mục thiết bị</label>
                        <div class="kt-input-icon">
                            <input class="form-control" placeholder="Nhập tên danh mục thiết bị" name="name1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="kt-radio-inline">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" name="radio1" checked> Danh mục mới
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" name="radio1"> Danh mục cuối
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-form-right">
                    <div class="kt-form-right--content row">
                        <div class="col-md-5">
                            <span class="text-uppercase">Thêm lĩnh vực:</span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="kt-checkbox-inline check-all" data-all="false">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        Chọn tất cả/Bỏ chọn <input value="" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Lĩnh vực *@
                    <div class="kt-form-right--body">
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 0 <input value="0" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 1 <input value="1" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 2 <input value="2" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 3 <input value="3" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 4 <input value="4" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 5 <input value="5" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </section>

        <h6></h6>
        <section class="row">
            <div class="col-md-6">
                <div class="kt-form-left">
                    <div class="form-group">
                        <label class="control-label">Tên danh mục thiết bị</label>
                        <div class="kt-input-icon">
                            <input class="form-control" placeholder="Nhập tên danh mục thiết bị" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="kt-radio-inline">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" name="radio2" checked> Danh mục mới
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" name="radio2"> Danh mục cuối
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-form-right">
                    <div class="kt-form-right--content row">
                        <div class="col-md-5">
                            <span class="text-uppercase">Thêm lĩnh vực:</span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="kt-checkbox-inline check-all" data-all="false">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        Chọn tất cả/Bỏ chọn <input value="" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Lĩnh vực *@
                    <div class="kt-form-right--body">
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 0 <input value="0" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 1 <input value="1" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 2 <input value="2" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 3 <input value="3" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 4 <input value="4" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 5 <input value="5" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </section>

        <h6></h6>
        <section class="row">
            <div class="col-md-6">
                <div class="kt-form-left">
                    <div class="form-group">
                        <label class="control-label">Tên danh mục thiết bị</label>
                        <div class="kt-input-icon">
                            <input class="form-control" placeholder="Nhập tên danh mục thiết bị" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mã thiết bị</label>
                        <div class="kt-input-icon">
                            <input class="form-control" placeholder="Nhập mã thiết bị" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 kt-padding-l-10">
                            <label class="control-label">Mã thiết bị</label>
                            <div class="kt-input-icon">
                                <input class="form-control" placeholder="Nhập mã thiết bị" />
                            </div>
                        </div>
                        <div class="col-md-6 kt-padding-r-10">
                            <label class="control-label">Model</label>
                            <div class="kt-input-icon">
                                <input class="form-control" placeholder="Nhập model thiết bị" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="kt-radio-inline">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" name="radio3"> Danh mục mới
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input type="radio" name="radio3" checked> Danh mục cuối
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-form-right">
                    <div class="kt-form-right--content row">
                        <div class="col-md-5">
                            <span class="text-uppercase">Thêm lĩnh vực:</span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="kt-checkbox-inline check-all" data-all="false">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        Chọn tất cả/Bỏ chọn <input value="" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Lĩnh vực *@
                    <div class="kt-form-right--body">
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 0 <input value="0" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 1 <input value="1" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 2 <input value="2" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 3 <input value="3" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 4 <input value="4" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group check-each">
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    Lĩnh vực 5 <input value="5" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>

