﻿
@{
    ViewData["Title"] = "Danh sách";
    ViewData["BodyClass"] = "dmms-supplies";
}

<h1>Index</h1>
<button type="button" class="js-edit-device btn btn-primary btn-icon-sm">
    <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
    <span class="d-none d-sm-inline-block">Thêm thiết bị</span>
</button>
<button type="button" class="js-edit-supplies btn btn-primary btn-icon-sm">
    <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
    <span class="d-none d-sm-inline-block">Thêm vật tư</span>
</button>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
}