/*Viet css vo day. Xem nhung file scss khac roi viet dung chuan nhe*/
/*.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span{
margin: 0 auto;
}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell:last-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell:last-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell:last-child{
    padding-right: 10px;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell:first-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell:first-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell:first-child {
    padding-left:10px;
}*/
.kt-badge.kt-badge--inline {
    height: 0;
    width: 100%;
    padding: 0.75rem 0.75rem;  
}

// .kt-portlet .kt-portlet__body {
//     padding: 25px 25px 0px 25px!important;
// }

.dmms-home-chart {
    min-height: 400px;
}
body {
    font-family: Roboto,"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 420px){
    .dmms-drawer__container{
        width: 340px;
    }
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span,
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell > span {
    font-weight: 600;
    vertical-align: middle;
}
/*@media (max-width: 768px){
    .dmms-drawer__container {
        width: 440px;
    }
}*/

/* Datatable */
#category-table_filter,
.dataTables_filter {
    display:none;
}
table.dataTable thead tr {
    background-color: #498FF8;
}

#category-table {
    margin: -1rem 0 !important;
}
/*.kt-datatable__head span {
    text-align: center;
    margin: 0 auto;
}*/


    .widthfull div.dropdown-menu.show {
        width: 100% !important;
    }

    .dblwidth div.dropdown-menu.show {
        width: 200% !important;
    }
    //hide staff in detail team
    .hideme {
        display: none;
    }

#notificetion {
    margin: 7px 0 0 -17px;
}

/* =============== */

.avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
    /* =============== */
