@model DMMS.Models.SupplierAddRequest
@{

    Layout = null;
}
    <form asp-action="Create" class="dmms-supplier__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="form-group">
            <label asp-for="name" class="control-label">Tên nhà cung cấp</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="name" class="form-control" placeholder="Tên nhà cung cấp" />
                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label">Mô tả</label>
            <textarea asp-for="description" class="form-control auto-resize" placeholder="Mô tả"></textarea>
        </div>
        <div class="form-group form-group-last">
            <label class="control-label">Tải ảnh:</label>
            <div>
                <div class="dropzone dropzone-default" id="kt_dropzone_image">

                    <div class="dropzone-items">
                        <div class="dropzone-item" style="display:none">
                            <div class="dropzone-file">
                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                    <span data-dz-name></span>
                                </div>
                                <div class="dropzone-error" data-dz-errormessage></div>
                            </div>
                            <div class="dropzone-progress">
                                <div class="progress">
                                    <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div class="dropzone-toolbar">
                                <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
            </div>
        </div>
        <input asp-for="image" type="hidden" />
        <div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
