﻿@model DMMS.Models.SupplierModel
@{
    ViewData["Title"] = "Cập nhật nhà cung cấp";
    ViewData["BodyClass"] = "dmms-supplier";

}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a data-id="@Model.uuid" title="Xóa" class="js-delete-supplier btn btn-danger btn-icon-sm text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>
                    <a href="/supplier" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linksupp" data-toggle="tab" href="#kt_tabs_1_3">THIẾT BỊ</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="kt-portlet__body">
                    <form asp-action="Edit" class="dmms-supplier__form" onsubmit="return false">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                       
                            <div class="form-group row">
                                <label asp-for="name" class="control-label col-2">Tên nhà cung cấp</label>
                                @*<div class="kt-input-icon kt-input-icon--left">*@
                                    <input asp-for="name" class="form-control col-6" placeholder="Tên nhà cung cấp" />
                                    @*<span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>*@
                                @*</div>*@
                            </div>
                            <div class="form-group row">
                                <label asp-for="description" class="control-label col-2">Mô tả</label>
                                <textarea asp-for="description" class="form-control auto-resize col-6"></textarea>
                            </div>
                            @*@if(!string.IsNullOrEmpty(Model.test))
                                {
                                    <div class="form-group">
                                        <label class="control-label">Ảnh đại diện nhà cung cấp:</label>
                                        <div>
                                            <img height="100" width="200" src="@Model.test" />
                                        </div>
                                    </div>
                                }*@
                            @*<div class="form-group form-group-last">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="control-label">Ảnh đại diện nhà cung cấp:</label>
                                            <div class="img-thumbnail text-center">
                                                @if (!string.IsNullOrEmpty(Model.test))
                                                {
                                                    <img height="100" src="@Model.test" />
                                                }
                                                else
                                                {
                                                    <img height="100" src="/statics/images/noimage.jpg" />
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label">Tải ảnh:</label>
                                            <div>
                                                <div class="dropzone dropzone-default" id="kt_dropzone_image">
                                                    <div class="dropzone-items">
                                                        <div class="dropzone-item" style="display:none">
                                                            <div class="dropzone-file">
                                                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                                                    <span data-dz-name></span>
                                                                </div>
                                                                <div class="dropzone-error" data-dz-errormessage></div>
                                                            </div>
                                                            <div class="dropzone-progress">
                                                                <div class="progress">
                                                                    <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                                                </div>
                                                            </div>
                                                            <div class="dropzone-toolbar">
                                                                <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>*@
                           
                                <div class="form-group row">
                                    <label class="form-label col-2">Hình đại diện</label>
                                    <label class="col-4">Tải lên hình đại diện tùy chỉnh của riêng bạn 300 x 300 pixel. Các tệp lớn hơn sẽ được thay đổi kích thước và cắt để phù hợp.</label>
                                    <div class="col-lg-3 col-xl-3">
                                        <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                            @if (!string.IsNullOrEmpty(Model.test))
                                            {
                                                <div name="image" class="kt-avatar__holder" style="background-image: url(@Model.test);"></div>
                                            }
                                            else
                                            {
                                                <div name="image" class="kt-avatar__holder" style="background-image: url(/statics/images/noimage.png);"></div>
                                            }
                                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Thay đổi">
                                                <i class="la la-pencil"></i>
                                                <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                            </label>
                                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Hủy thay đổi">
                                                <i>x</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                       

                            <input asp-for="uuid" type="hidden" />
                            <input asp-for="id" type="hidden" />
                            <input asp-for="image" type="hidden" />
                      
                        <div class="text-center kt-mb-30">
                            <button type="submit" class="btn btn-primary submit">
                                <i class="la la-save"></i>
                                Cập Nhật
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <input asp-for="uuid" type="hidden" />
                <div class="kt-portlet__body kt-portlet__body--table">
                  
                            <!--begin: Datatable -->
                            <div class="kt-datatablesupp">

                            </div>
                        </div>
                    </div>
                </div>

    </div>
</div>