﻿@model DMMS.Models.KnowledgeModel
@{
    Layout = null;
}



<form asp-action="edit" class="dmms-knowledge__form" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="name" class="control-label">Tên câu hỏi</label>
        <div class="kt-input-icon kt-input-icon--left">
            <input asp-for="name" class="form-control" placeholder="Tên câu hỏi" />
            <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
        </div>
    </div>

    <input asp-for="uuid" hidden>

    <div class="text-center">
        <button type="submit" class="btn btn-primary submit">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>


