﻿@model DMMS.Models.KnowledgeModel
@{
    Layout = null;
}


<link href="~/dist/summernote/summernote.css" rel="stylesheet" />

<form asp-action="edit" class="dmms-knowledge__formqa" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="question" class="control-label">Tên câu hỏi</label>
        <div class="kt-input-icon kt-input-icon--left">
            <input asp-for="question" class="form-control" placeholder="Tên câu hỏi" />
            <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="answer" class="control-label">Mô tả</label>
        <textarea asp-for="answer" class="form-control auto-resize summernote" placeholder="Mô tả"></textarea>
    </div>
    <input asp-for="topic_uuid" hidden>
    <input asp-for="uuid" hidden>
    <div class="text-center">
        <button type="submit" class="btn btn-primary submit">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>

<script>



    $('.summernote').summernote({
            dialogsInBody: true,
            placeholder: '',
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
            tabsize: 2,
            height: 200,
            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    debugger
                    for (var i = 0; i < files.length; i++) {
                        SendFile(files[i], this);
                    }

                },
            },
        });


function SendFile(file, el)
{
    debugger
    var data = new FormData();
    data.append("file", file);

    //CallAjax("/images/upload", data, function (url) {
    //    debugger

    //    $(el).summernote('editor.insertImage', url);

    //}, "post");
     $.ajax({
                url: "/images/upload",
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
         success: function (data, textStatus, jqXHR) {
             debugger
             var url = "";
             for (var i = 0; i < data.length; i++) {
                 url = "http://35.240.155.147:1237/" + data[i].path;
                  $(el).summernote('editor.insertImage', url);
             }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //Handle errors here


                }
            });
}
</script>

