﻿@model DMMS.Models.KnowledgeModel
@{
    Layout = null;
}

    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body kt-portlet__body--table">
                <!--begin: Datatable -->
                <div class="kt-datatable1"></div>
                <!--end: Datatable -->
            </div>
        </div>
        </div>

