//
// User Login v3
//




// Custom pages SASS files are compiled per demo as 
// each demo has own config settings that may override the global theme config
// and pages may slighty different on demos


// Global theme config(sass/theme/core/config.scss)
@import "../../config";

// Login Base
.kt-login.kt-login--v5 {
    height: auto;
    display: flex;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: stretch;

    // Buttons

    .kt-login__div {
        width: 100px;
        height: 2px;
        margin: 2rem auto;
        background-color: #fff;
    }

    .btn {
        height: 46px;
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    // Left Panel
    .kt-login__left {
        display: flex;
        flex: 1;
        width: 50%;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .kt-login__wrapper {
            display: flex;
            width: 500px;
            max-width: 100%;
            align-items: center;
            justify-content: center;

            .kt-login__content {
                padding: 1rem 1.5rem;
                color: #fff;

                .kt-login__title {
                    margin: 5rem 0 1rem 0;
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 700;

                    @include media-breakpoint-down(md) {
                        font-size: 1.5rem;
                        margin-top: 2rem;
                        margin-bottom: 1rem;
                    }
                }

                .kt-login__subtitle {
                    text-align: center;
                    font-size: 1.125rem;
                    font-weight: 700;
                }

                .kt-login__desc {
                    color: #fff;
                    font-size: 1rem;
                    margin-top: 1rem;
                }

                .kt-login__actions {
                    margin: 3.4rem 0 3rem 0;
                    text-align: center;
                }
            }
        }
    }

    .kt-login__divider {
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            height: 400px;
            background: #ffffff;
            width: 30px;
            box-shadow: -19px 0 35px -7px #F5F5F5;
        }
    }

    // Right Panel
    .kt-login__right {
        display: flex;
        flex: 1;
        width: 50%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        background: url("/statics/images/login-corner.png") no-repeat top right;
        background-size: 60% auto;

        .kt-login__wrapper {
            width: 400px;
            padding: 1rem 1.5rem;

            .kt-login__head {
                text-align: center;
            }

            .kt-login__logo {
                text-align: center;
                margin: 0 auto 4rem auto;
            }

            .kt-login__title {
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
                color: kt-base-color(label, 3);

                @include media-breakpoint-down(md) {
                    font-size: 1.5rem;
                }
            }

            .kt-login__subtitle {
                text-align: center;
                font-size: 1.125rem;
                font-weight: 700;
            }

            .kt-login__desc {
                font-size: 1rem;
                font-weight: 400;
                color: kt-base-color(label, 2);
                margin-top: 1rem;
            }

            .kt-login__form {
                margin-top: 4rem;

                // .form-group {
                //     margin: 0;
                //     padding: 0;
                // }

                .form-control {
                    height: 46px;
                    border-radius: 0;
                    border: none;
                    border-left: 0.5rem solid $primary !important;
                    @include kt-input-placeholder(#93959e);
                    background-color: #F0F0F0;

                    &:focus {
                        @include kt-input-placeholder(kt-brand-color());
                    }

                    &.form-control-last {
                        border-bottom: 0 !important;
                    }
                }

                .form-control.is-valid+.valid-feedback,
                .form-control.is-invalid+.invalid-feedback {
                    font-weight: 600;
                    font-size: 0.9rem;
                    padding-left: 1.6rem;
                }
            }

            .kt-login__extra {
                margin-top: 2rem;
                color: #585a62;

                .kt-checkbox {
                    font-size: 1rem;
                }

                .kt-link {
                    font-size: 1rem;
                }
            }

            .kt-login__actions {
                margin: 3rem 0 3rem 0;
                text-align: center;
            }

            .kt-login__account {
                text-align: center;

                .kt-login__account-msg {
                    font-size: 1.1rem;
                    font-weight: 600;
                }

                .kt-login__account-link {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }

    // Login Modes  
    &.kt-login--signin {
        .kt-login__signin {
            display: block;
        }

        .kt-login__forgot {
            display: none;
        }
    }

    &.kt-login--forgot {
        .kt-login__signin {
            display: none;
        }

        .kt-login__forgot {
            display: block;
        }
    }
}

@include kt-tablet-and-mobile() {
    .kt-login.kt-login--v5 {
        flex-direction: column;

        .kt-login__subtitle {
            display: none;
        }

        .kt-login__desc {
            font-size: 1rem;
        }

        .kt-login__form {
            margin-top: 2rem;
        }

        .kt-login__left {
            flex-grow: 1;
            width: 100%;
            margin: 0 auto;
            padding: 2.5rem 0;

            .kt-login__wrapper {
                padding-bottom: 0;
                margin: 0 auto;
                flex-direction: column;

                .kt-login__contanier {
                    padding: 1rem;
                    width: 100%;
                    margin-top: 3rem;

                    .kt-login__content {
                        width: 100%;
                    }
                }
            }

            .kt-login__actions {
                margin: 1rem 0;
            }
        }

        .kt-login__right {

            background-size: auto 50%;
            flex-grow: 1;
            width: 100%;
            padding-top: 1.5rem;
            padding-bottom: 2.5rem;

            .kt-login__title {}

            .kt-login__container {
                width: 100%;
                margin: 0 auto;
                padding: 1rem;

                .kt-login__actions {
                    .btn {
                        padding: 1rem 1.95rem;
                        margin-right: 0.5rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .kt-login__divider {
            display: flex;
            padding-top: 0;
            width: 60%;
            margin: 5px auto;
            align-items: center;
            justify-content: center;

            >div {
                height: 30px;
                background: #ffffff;
                width: 100%;
                box-shadow: 0 -15px 30px -10px #F5F5F5;
            }
        }
    }
}