﻿@model DMMS.Objects.FileInputRequest

@{
    ViewData["Title"] = "Create";
    ViewData["BodyClass"] = "dmms-image";
}

<h1>Create</h1>

<h4>ImageAddRequest</h4>
<hr />
<div class="form-group form-group-last">
    <label class="control-label">Upload image:</label>
    <div>
        <div class="dropzone dropzone-default" id="kt_dropzone_image">
            <div class="dropzone-panel">
                <a class="dropzone-select btn btn-label-brand btn-bold btn-sm">Chọn ảnh</a>
            </div>
            <div class="dropzone-items">
                <div class="dropzone-item" style="display:none">
                    <div class="dropzone-file">
                        <div class="dropzone-filename" title="some_image_file_name.jpg">
                            <span data-dz-name></span>
                        </div>
                        <div class="dropzone-error" data-dz-errormessage></div>
                    </div>
                    <div class="dropzone-progress">
                        <div class="progress">
                            <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                        </div>
                    </div>
                    <div class="dropzone-toolbar">
                        <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
    </div>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
