﻿@model DMMS.Models.TicketUpsertRequest

@{
    Layout = null;
}

    <form class="dmms-ticket__form" asp-action="create" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="priority" class="control-label">Mức độ ưu tiên</label>
            <div class="kt-input-icon widthfull">
                <select class="form-control bootstrap-select" id="kt-priority-select"
                        name="priority" asp-items="@(new SelectList(ViewBag.TicketPriority, "Value", "Text"))">
                    <option value="">Lựa chọn độ ưu tiên</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="customer_uuid" class="control-label">Đơn vị triển khai</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control" id="kt-select-customer"
                        name="customer_uuid" asp-items="@(new SelectList(ViewBag.Customer, "uuid", "name_display"))">
                    <option value="">Lựa chọn đơn vị</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Người liên hệ</label>
            <div class="kt-input-icon widthfull">
                <select data-live-search="true" class="form-control input_fields_wrap" id="kt-select-contact"
                        title="Lựa chọn liên hệ" name="contact_uuid">
                    <option value="">Lựa chọn liên hệ</option>
                </select>
            </div>
        </div>
        <div class="row" hidden>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="contact_name" class="control-label">Tên liên hệ</label>
                    <div class="kt-input-icon kt-input-icon--left">
                        <input asp-for="contact_name" class="form-control" placeholder="Tên liên hệ" id="variant_name" readonly />
                        <span class="kt-input-icon__icon"><span><i class="la la-bookmark"></i></span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="contact_phone_number" class="control-label">SĐT liên hệ</label>
                    <div class="kt-input-icon kt-input-icon--left">
                        <input asp-for="contact_phone_number" class="form-control variant" placeholder="SĐT liên hệ" id="variant_phone" readonly />
                        <span class="kt-input-icon__icon"><span><i class="la la-phone"></i></span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="title" class="control-label">Tiêu đề</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="title" class="form-control" placeholder="Tiêu đề" />
                <span class="kt-input-icon__icon"><span><i class="la la-align-justify"></i></span></span>
            </div>
        </div>

        @*<div class="form-group">
            <label asp-for="devices" class="control-label">Thiết bị</label>
            <div class="kt-input-icon">
                <select data-live-search="true" class="form-control" id="kt-multiple-select-device" multiple="multiple"
                        name="devices[]" asp-items="@(new SelectList(ViewBag.Devices, "uuid", "name"))">
                    <option value="">--- Chọn thiết bị ---</option>
                </select>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="content" class="control-label">Mô tả yêu cầu</label>
            <div class="kt-input-icon">
                <textarea asp-for="content" class="form-control" placeholder="Mô tả yêu cầu"></textarea>
                @*<span class="kt-input-icon__icon"><span><i class="la la-align-justify"></i></span></span>*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Thiết bị</label>
            <div class="kt-input-icon widthfull">
                <select data-live-search="true" class="form-control kt-select-device" id="kt-select-device"
                        title="Lựa chọn thiết bị">
                    <option value="">Lựa chọn thiết bị</option>
                </select>
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label">Thiết bị</label>
            <div class="kt-input-icon widthfull">
                <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-device"
                        name="devices[][device_id]" asp-items="@(new SelectList(ViewBag.Devices, "uuid", "name"))">
                    <option value="">Lựa chọn thiết bị</option>
                </select>
            </div>
        </div>*@

        @*<div class="form-group form-group-last">
            <label class="control-label">Tải ảnh:</label>
            <div>
                <div class="dropzone dropzone-default" id="kt_dropzone_image">

                    <div class="dropzone-items">
                        <div class="dropzone-item" style="display:none">
                            <div class="dropzone-file">
                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                    <span data-dz-name></span>
                                </div>
                                <div class="dropzone-error" data-dz-errormessage></div>
                            </div>
                            <div class="dropzone-progress">
                                <div class="progress">
                                    <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div class="dropzone-toolbar">
                                <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
            </div>
        </div>*@

        <div id="js-create-device">

        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-info">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>

