﻿@*@model TicketDataResponse

@{
    Layout = null;
}

    <div class="container">
        <h4><a class="">@Model.title</a></h4><hr />
        <div class="row mt-4">
            <div class="col-3 kt-font-bold">Nguời tạo: </div>
            <div class="col-9 ">@Model.creator.name</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Đơn vị: </div>
            <div class="col-9 ">@Model.customer.name</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Tiêu đề: </div>
            <div class="col-9 ">@Model.title</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Thiết bị</div>
            <div class="col-9 ">
                @if (Model.devices.Count > 0)
                {
                    foreach (var item in Model.devices)
                    {                       
                        <div>@item.name</div>
                    }
                }
                else
                {
                    <a>Không có thiết bị lỗi</a>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Nội dung: </div>
            <div class="col-9 ">@Model.content</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Nguời tạo: </div>
            <div class="col-9 ">@Model.creator.name</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Nguời liên hệ: </div>
            <div class="col-9 ">@Model.contact_name</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">SĐT liên hệ: </div>
            <div class="col-9 ">@Model.contact_phone_number</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Ảnh: </div>
            <div class="col-9">
                @if (Model.images.Count > 0)
                {
                    <div class="row">
                        @foreach (var item in Model.images)
                        {
                            <img class="col-4 pb-2" src="@item.path" height="120" width="120" title="" />
                        }
                    </div>
                }
                else
                {
                   <a>Chưa có hình ảnh</a>
                }

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3 kt-font-bold">Ngày tạo: </div>
            <div class="col-9 ">@Model.time_created</div>
        </div>
    </div>*@