﻿@model DMMS.Models.TicketUpsertRequest

@{
    ViewData["Title"] = "Cập nhật thông tin yêu cầu";
    ViewData["BodyClass"] = "dmms-ticket";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                @Model.title
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @if (Model.state == 6)
                    {
                        <button class="btn btn-danger" title="Yêu cầu đã đóng" data-id="@Model.uuid">
                            Yêu cầu đã hủy
                        </button>
                    }
                    @if (Model.state == 1 && Model.rating == null)
                    {
                        <button class="btn btn-danger cancel-ticket" title="Hủy yêu cầu" data-id="@Model.uuid">
                            Hủy yêu cầu
                        </button>
                    }
                    @if (Model.rating != null)
                    {
                        <button class="btn btn-danger" title="Yêu cầu đã đóng" data-id="@Model.uuid">
                            Yêu cầu đã đóng
                        </button>
                    }
                    else if(Model.state == 4)
                    {
                        <button class="btn btn-primary js-rate-ticket" title="Đóng yêu cầu" data-id="@Model.uuid">
                            Đóng yêu cầu
                        </button>
                    }
                    <a href="/ticket" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link display-device" data-toggle="tab" href="#kt_tabs_1_3">DANH SÁCH THIẾT BỊ</a>
            </li>

        </ul>
        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="row">
                    <div class="col-6 border-right">
                        @if (Model.rating == null)
                        {
                        <form class="dmms-ticket__form" asp-action="Edit" onsubmit="return false">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <input asp-for="customer_uuid" type="hidden" />
                            <input asp-for="priority" type="hidden" />
                            <input asp-for="state" type="hidden" />
                            <input id="contact_uuid" value="@Model.contact_uuid" type="hidden" />
                            <input asp-for="uuid" type="hidden" />
                            <div class="form-group row">
                                <label asp-for="priority" class="control-label col-3">Mức độ ưu tiên</label>
                                <div class="kt-input-icon widthfull col-8">
                                    <select class="form-control bootstrap-select" id="kt-priority-select"
                                            name="priority" asp-items="@(new SelectList(ViewBag.TicketPriority, "Value", "Text"))">
                                        <option value="">Lựa chọn độ ưu tiên</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="title" class="control-label col-3">Trạng thái yêu cầu</label>
                                <div style="width:110px">
                                    @{ var text = "";
                                        var color = "";
                                        if (Model.state == 1)
                                        {
                                            text = "Chưa tiếp nhận";
                                            color = "kt-badge--danger";
                                        }
                                        else if (Model.state == 2)
                                        {
                                            text = "Đã tiếp nhận";
                                            color = "kt-badge--warning";
                                        }
                                        else if (Model.state == 3)
                                        {
                                            text = "Đang xử lý";
                                            color = "kt-badge--primary";
                                        }
                                        else if (Model.state == 4)
                                        {
                                            text = "Đã xử lý xong";
                                            color = "kt-badge--primary";
                                        }
                                        else if (Model.state == 5)
                                        {
                                            text = "Hoàn thành";
                                            color = "kt-badge--success";
                                        }
                                        else if (Model.state == 6)
                                        {
                                            text = "Đã hủy";
                                            color = "kt-badge--danger";
                                        }
                                        <span class="kt-badge @color kt-badge--inline kt-badge--pill">@text</span>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Tiêu đề</label>
                                <div class="kt-input-icon col-8">
                                    <input asp-for="title" class="form-control" placeholder="Tiêu đề" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Công việc phát sinh</label>
                                <div class="col-8">
                                    <a href="/task/update/@Model.task.uuid" placeholder="Công việc phát sinh">@Model.task.code</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Nhân viên phụ trách</label>
                                <div class="col-8">
                                    <a href="/staff/update/@Model.task.staff.uuid" placeholder="Công việc phát sinh">@Model.task.staff.name - @Model.task.staff.phone_number</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="customer_uuid" class="control-label col-3">Tên đơn vị</label>
                                <div class="kt-input-icon dblwidth col-8">
                                    <input asp-for="customer_uuid" class="form-control" placeholder="Tên liên hệ" value="@Model.customer_name" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Người liên hệ</label>
                                <div class="kt-input-icon widthfull col-8">
                                    @if (ViewBag.Contacts != null)
                                    {
                                        <select data-live-search="true" class="form-control input_fields_wrap" id="kt-select-contact" title="Lựa chọn liên hệ"
                                                name="contact_uuid" asp-items="@(new SelectList(ViewBag.Contacts, "uuid", "name_display"))">
                                            <option value="">Lựa chọn liên hệ</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select data-live-search="true" class="form-control input_fields_wrap" id="kt-select-contact" title="Lựa chọn liên hệ">
                                            <option value="">Lựa chọn liên hệ</option>
                                        </select>
                                    }
                                </div>
                            </div>
                            <input asp-for="contact_name" class="form-control" placeholder="Tên liên hệ" id="variant_name" hidden />
                            <input asp-for="contact_phone_number" class="form-control" placeholder="SĐT liên hệ" id="variant_phone" hidden />
                            <div class="form-group row">
                                <label asp-for="content" class="control-label col-3">Mô tả</label>
                                <div class="kt-input-icon col-8">
                                    <textarea asp-for="content" class="form-control"></textarea>
                                </div>
                            </div>
                            <input name="devices[][images[]]" id="image_uuids" type="hidden" />
                            <input asp-for="device_uuid_str" type="hidden" />
                            @if (Model.state != 6)
                            {
                                <div class="kt-mb-30 row">
                                    <div class="col-3"></div>
                                    <button type="submit" class="btn btn-info submit kt-mr-10">
                                        <i class="la la-save"></i>
                                        Cập nhật
                                    </button>
                                </div>
                            }

                        </form>
                        }
                        else
                        {
                        <form class="dmms-ticket__form" asp-action="Edit" onsubmit="return false">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <input asp-for="customer_uuid" type="hidden" />
                            <input asp-for="priority" type="hidden" />
                            <input asp-for="state" type="hidden" />
                            <input asp-for="contact_uuid" type="hidden" />
                            <input asp-for="uuid" type="hidden" />
                            <div class="form-group row">
                                <label asp-for="priority" class="control-label col-3">Mức độ ưu tiên</label>
                                <div class="kt-input-icon widthfull col-8">
                                    @if (ViewBag.TicketPriority != null)
                                {
                                    <select class="form-control bootstrap-select" id="kt-priority-select" disabled
                                            name="priority" asp-items="@(new SelectList(ViewBag.TicketPriority, "Value", "Text"))">
                                        <option value="">Lựa chọn độ ưu tiên</option>
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control bootstrap-select" id="kt-priority-select" disabled
                                            name="priority">
                                        <option value="">Lựa chọn độ ưu tiên</option>
                                    </select>
                                }
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="title" class="control-label col-3">Tiêu đề</label>
                                <div class="kt-input-icon col-8">
                                    <input asp-for="title" class="form-control" placeholder="Tiêu đề" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="customer_uuid" class="control-label col-3">Tên đơn vị</label>
                                <div class="kt-input-icon dblwidth col-8">
                                    <input asp-for="customer_uuid" class="form-control" placeholder="Tên liên hệ" value="@Model.customer_name" readonly />
                                    <input asp-for="contact_name" class="form-control" placeholder="Tên liên hệ" id="variant_name" hidden />
                                    <input asp-for="contact_phone_number" class="form-control" placeholder="SĐT liên hệ" id="variant_phone" hidden />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="content" class="control-label col-3">Mô tả</label>
                                <div class="kt-input-icon col-8">
                                    <textarea asp-for="content" class="form-control" readonly></textarea>
                                </div>
                            </div>
                        </form>
                        }

                    </div>
                    @if (Model.rating != null)
                    {
                    <div class="col-6 rating-display">
                        <div class="kt-margin-l-20">
                            <div class="col-11">
                                <div class="row">
                                    <span class="col-5 col-form-label kt-font-bold text-uppercase">Khách hàng đánh giá</span>
                                    <!-- Rating Stars Box -->
                                    <div class='rating-stars'>
                                        <ul id='stars'>
                                            @for (var i = 1; i <= 5; i++)
                                                {
                                                    if (i <= Model.rating)
                                                    {
                                            <li class='star selected'>
                                                <i class='la la-star la-fw'></i>
                                            </li>
                                                    }
                                                    else
                                                    {
                                            <li class='star'>
                                                <i class='la la-star la-fw'></i>
                                            </li>
                                                    }

                                                }
                                        </ul>
                                    </div>
                                    <span class="col-12 rate-content"></span>
                                </div>
                            </div>
                            @*<div class="col-11">
                    <span>@Model.feedback</span>
                </div>*@

                        </div>
                        <br />
                        <div class="kt-margin-l-20">
                            <div class="form-group row" style="margin-left: 1px;">
                                <label class="control-label col-3">Mô tả</label>
                                <div class="kt-input-icon col-8">
                                    <textarea class="form-control" readonly>@Model.feedback</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    }
                    @if (ViewBag.reason != null){

                    <div class="col-6 rating-display">
                       
                        <div class="kt-margin-l-20">
                            <div class="form-group row" style="margin-left: 1px;">
                                <label class="control-label col-3">Nội dung hủy</label>
                                <div class="kt-input-icon col-8">
                                    <textarea class="form-control" readonly>@ViewBag.reason</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>

            </div>
            @* Công việc trong ticket *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                @if (Model.task != null)
                {
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label class="control-label col-md-3">Mã công việc - Mức độ ưu tiên</label>
                            <div class="kt-input-icon col-md-4 kt-padding-r-10"><input value="@Model.task.code" class="form-control" readonly /></div>
                            @if (Model.task.priority == 1)
                            {
                                <input value="Khẩn cấp" class="form-control col-md-2" readonly />
                            }
                            else if (Model.task.priority == 2)
                            {
                                <input value="Ưu tiên" class="form-control col-md-2" readonly />
                            }
                            else if (Model.task.priority == 3)
                            {
                                <input value="Bình thường" class="form-control col-md-2" readonly />
                            }
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Tên công việc</label>
                            <input value="@Model.task.name" class="form-control col-md-6" readonly />
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Kỹ thuật phụ trách</label>
                            @if (Model.task.staff != null)
                            {
                                <input value="@Model.task.staff.name - @Model.task.staff.phone_number" class="form-control col-md-6" readonly />
                            }
                            else
                            {
                                <input placeholder="Chưa có nhân viên phụ trách" class="form-control col-md-6" readonly />
                            }
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Mô tả công việc</label>
                            <textarea class="form-control col-md-6" style="height: 100px" readonly>@Model.task.description</textarea>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-danger kt-mb-20">Không có công việc</div>
                }
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded kt-portlet__body">
                    <table class="kt-datatable__table">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row">
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:5%;text-align: center;">#</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="text-align: center;">Tên thiết bị sử dụng</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:15%;text-align: center;">Serial</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:15%;text-align: center;">Dự án</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:15%;text-align: center;">Sản phẩm</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:12%;text-align: center;">Thời gian hết BH</th>
                            </tr>

                        </thead>
                        @if (Model.ticket_devices != null && Model.ticket_devices.Count > 0)
                        {
                            var k = 1;
                            foreach (var item in Model.ticket_devices)
                            {
                                <tbody class="kt-datatable__body">
                                    <tr class="kt-datatable__row">
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width: 5%;">@(k++)</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false"><b>@item.prefix_name</b><br/>@item.name</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:15%;">@item.serial</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:15%;">@item.project_name </td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:15%;">@item.package_name </td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:12%;">@item.time_valid_end_format</td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
