﻿@model IEnumerable<DMMS.Models.TicketModel>

@{
    ViewData["Title"] = "Danh sách";
    ViewData["BodyClass"] = "dmms-ticket";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách yêu cầu
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <button type="button" class="js-edit-ticket btn btn-primary btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm yêu cầu</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            @*<div class="row align-items-center kt-margin-b-10 kt-margin-b-10-tablet-and-mobile">
                <div class="col-md-4 col-lg-3">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên liên hệ & SĐT liên hệ" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
            </div>*@
            <div class="row align-items-center">
                @*<div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group" id="search-creator">
                        <select id="js-filter-creator" data-live-search="true" class="form-control bootstrap-select" name="creator_uuid">
                            <option value="">Chọn người tạo</option>
                        </select>
                    </div>
                </div>*@
                        @*@if (ViewBag.staff != null)
                {
                    <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <div class="kt-form__group" id="search-creator">
                            <select id="js-filter-creator" data-live-search="true" class="form-control bootstrap-select" name="creator_uuid"
                                    asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                                <option value="">Chọn người tạo</option>
                            </select>
                        </div>
                    </div>
                }*@
                <div class="col-md-4 col-lg-3">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tiêu đề, Tên, SĐT liên hệ" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                @if (ViewBag.Customer != null)
                {
                    <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <div class="kt-form__group dblwidth">
                            <select id="js-filter-customer" data-live-search="true" class="form-control bootstrap-select" name="customer_uuid" asp-items="@(new SelectList(ViewBag.Customer, "uuid", "name_display"))">
                                <option value="">Lựa chọn đơn vị</option>
                            </select>
                        </div>
                    </div>
                }
                @if (ViewBag.State != null)
                {
                    <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <div class="kt-form__group">
                            <select id="js-filter-state" data-live-search="true" class="form-control bootstrap-select" name="state" asp-items="@(new SelectList(ViewBag.State, "Value", "Text"))">
                                <option value="">Lựa chọn trạng thái</option>
                            </select>
                        </div>
                    </div>
                }
                @if (ViewBag.Priority != null)
                {
                    <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <div class="kt-form__group">
                            <select id="js-filter-priority" data-live-search="true" class="form-control bootstrap-select" name="priority" asp-items="@(new SelectList(ViewBag.Priority, "Value", "Text"))">
                                <option value="">Lựa chọn độ ưu tiên</option>
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table table-responsive">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>
