﻿@model TicketRateRequest

@{
    Layout = null;
}

    <form class="dmms-rate__form" asp-action="RateTicket" onsubmit="return false">
        <input asp-for="uuid" type="hidden" />
        <div class="kt-margin-b-10">Vui lòng gửi cho chúng tôi đánh giá của quý khách. Xin cảm ơn!</div>
        <section class='rating-widget'>
            <!-- Rating Stars Box -->
            <div class='rating-stars'>
                <ul id='stars'>
                    <li class='star' title='Tệ' data-value='1'>
                        <i class='la la-star la-fw'></i>
                    </li>
                    <li class='star' title='Trung bình' data-value='2'>
                        <i class='la la-star la-fw'></i>
                    </li>
                    <li class='star' title='Tốt' data-value='3'>
                        <i class='la la-star la-fw'></i>
                    </li>
                    <li class='star' title='Rất tốt' data-value='4'>
                        <i class='la la-star la-fw'></i>
                    </li>
                    <li class='star' title='Tuyệt vời' data-value='5'>
                        <i class='la la-star la-fw'></i>
                    </li>
                </ul>
            </div>

            <div class="form-group success-box">
                <div class="kt-input-icon">
                    <input name="rating" class="form-control" id="value-rate" type="hidden" />
                </div>
            </div>
        </section>
        <div class="form-group">
            <textarea class="form-control" asp-for="feedback" placeholder="Nhập nội dung đánh giá" style="height: 150px"></textarea>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-danger" id="kt-close">
                Hủy bỏ
            </button>
            <button type="submit" class="btn btn-info">
                Đóng yêu cầu & Lưu đánh giá
            </button>
        </div>
    </form>