﻿@model ContactUpsertRequest

@{
    Layout = null;
}

<form class="dmms-contact__form" asp-action="CreateContact" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="customer_uuid" class="form-control" type="hidden" />
    <div class="form-group row">
        <label asp-for="name" class="control-label col-3">Người liên hệ</label>
        <div class="kt-input-icon col-8">
            <input asp-for="name" class="form-control" placeholder="Người liên hệ" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="phone_number" class="control-label col-3">Số điện thoại</label>
        <div class="kt-input-icon col-8">
            <input asp-for="phone_number" class="form-control" placeholder="Số điện thoại" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="duty" class="control-label col-3">Chức vụ</label>
        <div class="kt-input-icon col-8">
            <input asp-for="duty" class="form-control" placeholder="Chức vụ" />
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-info">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>

