﻿@model DMMS.Models.CustomerAddRequest

@{
    ViewData["Title"] = "Thêm đơn vị";
    ViewData["BodyClass"] = "dmms-customer";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-user"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Thêm khách hàng
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a href="/customer" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form id="dmms-customer__form" asp-action="Create" asp-controller="Customer">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="kt-section kt-section--first">
                        <h3 class="kt-section__title">Thông tin cơ bản</h3>
                        <div class="kt-section__body">
                            <div class="form-group">
                                <label asp-for="name" class="control-label">Tên đơn vị</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="name" class="form-control" placeholder="Tên đơn vị" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="account.username" class="control-label">Tên tài khoản</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="account.username" class="form-control" placeholder="Tên tài khoản" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="account.password" class="control-label">Mật khẩu</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="account.password" class="form-control" placeholder="Mật khẩu" type="password" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-lock"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="address" class="control-label">Địa chỉ</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="address" class="form-control" placeholder="Địa chỉ" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Đơn vị hành chính</label>
                                <div class="form-group row">
                                    <div class="col-md-2 col-lg-4">
                                        @if (ViewBag.province != null)
                                        {
                                            <select data-live-search="true" class="form-control kt-select-location" id="js-filter-location" asp-for="province_id"
                                                    asp-items="@(new SelectList(ViewBag.province, "id", "name"))">
                                                <option value="">--- Tỉnh/Thành---</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select data-live-search="true" class="form-control kt-select-location" id="js-filter-location" asp-for="province_id">
                                                <option value="">--- Tỉnh/Thành---</option>
                                            </select>
                                        }
                                    </div>
                                    <div class="col-md-2 col-lg-4">
                                        <select asp-for="town_id" id="locationtown" class="form-control input-md" data-live-search="true" disabled>
                                            <option value="">---Quận/Huyện/Thị Xã---</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-lg-4">
                                        <select asp-for="village_id" id="locationvillage" class="form-control input-md" data-live-search="true" disabled>
                                            <option value="">---Phường/Xã/Thị Trấn---</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="kt-section kt-section--first">
                        <h3 class="kt-section__title">Thông tin liên hệ</h3>
                        <div class="kt-section__body">
                            <div class="form-group" style="margin-bottom: 0.25rem;">
                                <label class="form-label">Hình đại diện</label>
                                <br />
                                <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                    <div name="image" class="kt-avatar__holder" style="background-image: url(/dist/images/icon-avatar.png);"></div>
                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Thay đổi">
                                        <i class="la la-pencil"></i>
                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                    </label>
                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Hủy thay đổi">
                                        <i>x</i>
                                    </span>
                                </div>
                            </div>
                            @*<div class="form-group">
                                    <label asp-for="contact_name" class="control-label">Người liên hệ</label>
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input asp-for="contact_name" class="form-control" placeholder="Người liên hệ" />
                                        <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="contact_phone_number" class="control-label">Số điện thoại</label>
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input asp-for="contact_phone_number" class="form-control" placeholder="Số điện thoại" />
                                        <span class="kt-input-icon__icon"><span><i class="la la-phone"></i></span></span>
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label asp-for="email" class="control-label">Email</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="email" class="form-control" placeholder="Email" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-envelope"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="coordinate" class="control-label">Vị trí</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="coordinate" class="form-control" placeholder="Vị trí" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-location-arrow"></i></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input asp-for="description" class="form-control" placeholder="Ghi chú" />
                                    <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: -15px">
                    <label class="control-label">Người liên hệ</label>
                    <div class="form-group input_fields_wrap">
                        <div class="row" style="padding-left: 10px; padding-right:10px">
                            <div class="kt-input-icon kt-input-icon--left col-4">
                                <input class="form-control" name="contacts[][name]" placeholder="Người liên hệ" id="name_contact" />
                                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                            </div>
                            <div class="kt-input-icon kt-input-icon--left col-4 kt-padding-l-10">
                                <input class="form-control" name="contacts[][phone_number]" placeholder="Số điện thoại" id="phone_contact" />
                                <span class="kt-input-icon__icon"><span><i class="la la-phone"></i></span></span>
                            </div>
                            <div class="kt-input-icon kt-input-icon--left col-3 kt-padding-l-10">
                                <input class="form-control" name="contacts[][duty]" placeholder="Chức vụ" id="duty_contact" />
                                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                            </div>
                            <i class="btn btn-success la la-plus add_field_button ml-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group form-group-last">
                    <label class="control-label">Tải ảnh:</label>
                    <div>
                        <div class="dropzone dropzone-default" id="kt_dropzone_image">

                            <div class="dropzone-items">
                                <div class="dropzone-item" style="display:none">
                                    <div class="dropzone-file">
                                        <div class="dropzone-filename" title="some_image_file_name.jpg">
                                            <span data-dz-name></span>
                                        </div>
                                        <div class="dropzone-error" data-dz-errormessage></div>
                                    </div>
                                    <div class="dropzone-progress">
                                        <div class="progress">
                                            <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                        </div>
                                    </div>
                                    <div class="dropzone-toolbar">
                                        <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
                    </div>
                </div>*@
            <div class="input-group">
                <input type="text" class="form-control" id="kt_gmap_8_address" placeholder="Nhập địa chỉ tìm kiếm" readonly>
                <div class="input-group-append">
                    <button class="btn btn-primary" id="kt_gmap_8_btn"><i class="la la-search text-white"></i></button>
                </div>
            </div>

            <div id="kt_gmap_8" style="height:300px;">
            </div>
            <input asp-for="image" type="hidden" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary submit">
                    <i class="la la-save"></i>
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="~/dist/gmap/gmaps.js"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyAFjN5pICmBJZEFSKTIZ-glnM9llLQwVPU" type="text/javascript"></script>
}
