﻿@model CustomerDataResponse

@{
    ViewData["Title"] = "Chi tiết đơn vị";
    ViewData["BodyClass"] = "dmms-customer";
}

<h5 class="kt-mt-30 kt-mb-30">
    <a>Danh sách các đơn vị triển khai</a>
    <i class="la la-circle text-gray"></i>
    <a class="kt-opacity-6">@Model.name</a>
</h5>
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a data-id="@Model.uuid" type="button" title="Xóa" class="btn btn-danger btn-icon-sm js-delete-customer text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>
                    <a href="/customer" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2">YÊU CẦU ĐÃ TẠO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_3">NGƯỜI LIÊN HỆ</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <form id="dmms-customer__form" asp-action="Update" asp-controller="Customer">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input asp-for="image" type="hidden" />
                    <input asp-for="uuid" type="hidden" />
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group row">
                                <label asp-for="avatar" class="control-label col-3">Hình đại diện</label>
                                <div class="kt-opacity-6 col-6">Tải lên hình đại diện tùy chỉnh của riêng bạn 300 x 300 pixel. Các tệp lớn hơn sẽ được thay đổi kích thước và cắt để phù hợp</div>
                                <div class="col-3">
                                    <img class="shadow p-1 mb-2 bg-white" src="@Model.avatar" style="width: 100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="account.username" class="control-label col-3">Tên đăng nhập</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="account.username" class="form-control" placeholder="Tên đăng nhập" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="email" class="control-label col-3">Email</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="email" class="form-control" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="address" class="control-label col-3">Địa chỉ</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="address" class="form-control" placeholder="Địa chỉ" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="location.name" class="control-label col-3">Khu vực</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="location.name" class="form-control" placeholder="Khu vực" />
                                </div>
                            </div>
                            <div class="text-center kt-mb-30">
                                <button type="submit" class="btn btn-info submit">
                                    <i class="la la-save"></i>
                                    Cập nhật
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                @if (ViewBag.ListTicket != null && ViewBag.ListTicket.Count > 0)
                {
                    foreach (var item in ViewBag.ListTicket)
                    {
                        <tr>
                            @*<td>@item.code</td>*@
                            <td>@item.title</td>
                            <td>@item.time_created</td>
                            <td>@item.state</td>
                        </tr>
                    }
                }
                else
                {
                    <a>Không có yêu cầu</a>
                }

            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
            </div>
            <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
