﻿@model DMMS.Models.CustomerModel
@{
    ViewData["Title"] = "Danh sách khách hàng";
    ViewData["BodyClass"] = "dmms-customer";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách đơn vị
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <a asp-action="create" asp-controller="customer" class="btn btn-primary btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm đơn vị</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Đơn vị thụ hưởng, email" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                @*<div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-phonenumber" type="text" name="phone_number" class="form-control" value="" placeholder="VD: Số điện thoại" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>*@
                <div class="col-md-2 col-lg-2">
                    <div class="kt-form__group">
                        @if (ViewBag.province != null)
                        {
                            <select asp-items="@(new SelectList(ViewBag.province,"id","name"))" id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="province_id">
                                <option value="">---Tỉnh/Thành---</option>
                            </select>
                        }
                        else
                        {
                            <select id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="province_id">
                                <option value="">---Tỉnh/Thành---</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <select name="town_id" id="locationtown" class="form-control input-md" data-live-search="true" disabled>
                        <option value="">---Quận/Huyện/Thị Xã---</option>
                    </select>
                </div>
                <div class="col-md-2 col-lg-2">
                    <select name="village_id" id="locationvillage" class="form-control input-md" data-live-search="true" disabled>
                        <option value="">---Phường/Xã/Thị Trấn---</option>
                    </select>
                </div>
                @*<div class="col-md-4 col-lg-3">
            <div class="kt-form__group">
                <select asp-items="@(new SelectList(ViewBag.Groups,"uuid","name"))" id="js-filter-group" data-live-search="true" class="form-control bootstrap-select" name="group_id">
                    <option value="">--- Chọn nhóm ---</option>
                </select>
            </div>
        </div>*@
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>
@section scripts {
    <script src="~/dist/gmap/gmaps.js"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyC6qXQQnXHMJEglRAIh4-sbcX8HkWDrO7A" type="text/javascript"></script>
}

