﻿@model DMMS.Models.CustomerAddRequest

@{
    ViewData["Title"] = "Cập nhật thông tin khách hàng";
    ViewData["BodyClass"] = "dmms-customer";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a data-id="@Model.uuid" type="button" title="Xóa" class="btn btn-danger btn-icon-sm js-delete-customer text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>
                    <a href="/customer" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link listticket" data-toggle="tab" href="#kt_tabs_1_2">YÊU CẦU ĐÃ TẠO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link list-contact" data-toggle="tab" href="#kt_tabs_1_3">NGƯỜI LIÊN HỆ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link list-package" data-toggle="tab" href="#kt_tabs_1_4">DANH SÁCH DỰ ÁN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link device-in_customer" data-toggle="tab" href="#kt_tabs_1_5">DANH SÁCH THIẾT BỊ</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <form id="dmms-customer__form" asp-action="Update" asp-controller="Customer">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input asp-for="image" type="hidden" />
                    @*<input asp-for="location_id" type="hidden" />*@
                    <input asp-for="uuid" type="hidden" />
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Hình đại diện</label>
                                <label class="col-6">Tải lên hình đại diện tùy chỉnh của riêng bạn 300 x 300 pixel. Các tệp lớn hơn sẽ được thay đổi kích thước và cắt để phù hợp.</label>
                                <div class="col-lg-3 col-xl-3">
                                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                        @if (Model.avatar != null)
                                        {
                                            <div name="image" class="kt-avatar__holder" style="background-image: url(@Model.avatar);"></div>
                                        }
                                        else
                                        {
                                            <div name="image" class="kt-avatar__holder" style="background-image: url(/dist/images/icon-avatar.png);"></div>
                                        }
                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Thay đổi">
                                            <i class="la la-pencil"></i>
                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                        </label>
                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Hủy thay đổi">
                                            <i>x</i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="name" class="control-label col-3">Tên đơn vị</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="name" class="form-control" placeholder="Tên đơn vị" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-3">Tài khoản</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="@Model.account.username" class="form-control" placeholder="Tài khoản" readonly />
                                    <input asp-for="@Model.account.uuid" class="form-control" placeholder="Tài khoản" hidden />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="email" class="control-label col-3">Email</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="email" class="form-control" placeholder="Email" />
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label asp-for="contact_name" class="control-label col-3">Tên liên hệ</label>
                                    <div class="kt-input-icon col-9">
                                        <input asp-for="contact_name" class="form-control" placeholder="Tên liên hệ" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="contact_phone_number" class="control-label col-3">SĐT liên hệ</label>
                                    <div class="kt-input-icon col-9">
                                        <input asp-for="contact_phone_number" class="form-control" placeholder="SĐT liên hệ" />
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label asp-for="address" class="control-label col-3">Địa chỉ</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="address" class="form-control" placeholder="Địa chỉ" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Đơn vị hành chính</label>
                                @if (ViewBag.province != null)
                                {
                                    <select data-live-search="true" class="form-control col-3 kt-padding-r-10 locationupdate" id="js-filter-location" asp-for="province_id"
                                            asp-items="@(new SelectList(ViewBag.province, "id", "name"))">
                                        <option value="">--- Tỉnh/Thành---</option>
                                    </select>
                                }
                                else
                                {
                                    <select data-live-search="true" class="form-control col-3 kt-padding-r-10 locationupdate" id="js-filter-location" asp-for="province_id">
                                        <option value="">--- Tỉnh/Thành---</option>
                                    </select>
                                }
                                @if (ViewBag.Town != null)
                                {
                                    <select asp-for="town_id" id="locationtown" class="form-control input-md col-3 kt-padding-r-10 locationupdate" data-live-search="true"
                                            asp-items="@(new SelectList(ViewBag.Town, "id", "name"))">
                                        <option value="">---Quận/Huyện/Thị Xã---</option>
                                    </select>
                                }
                                else
                                {
                                    <select asp-for="town_id" id="locationtown" class="form-control input-md col-3 kt-padding-r-10 locationupdate" data-live-search="true">
                                        <option value="">---Quận/Huyện/Thị Xã---</option>
                                    </select>
                                }
                                @if (ViewBag.Vilages != null)
                                {
                                    <select asp-for="village_id" id="locationvillage" class="form-control input-md col-3 locationupdate" data-live-search="true"
                                            asp-items="@(new SelectList(ViewBag.Vilages, "id", "name"))">
                                        <option value="">---Phường/Xã/Thị Trấn---</option>
                                    </select>
                                }
                                else
                                {
                                    <select asp-for="village_id" id="locationvillage" class="form-control input-md col-3 locationupdate" data-live-search="true">
                                        <option value="">---Phường/Xã/Thị Trấn---</option>
                                    </select>
                                }
                            </div>
                            <div class="form-group row">
                                <label asp-for="coordinate" class="control-label col-3">Vị trí</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="coordinate" class="form-control" placeholder="Vị trí" />
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="kt_gmap_8_address" placeholder="address...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" id="kt_gmap_8_btn"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                            <div id="kt_gmap_8" style="height:300px;">
                            </div>
                            <div class="row kt-margin-t-20">
                                <div class="col-3"></div>
                                <div class="kt-mb-30">
                                    <button type="submit" class="btn btn-info submit kt-mr-10">
                                        <i class="la la-save"></i>
                                        Cập nhật
                                    </button>
                                    <button data-id="@Model.uuid" type="button" title="Đặt lại mật khẩu" class="js-reset-account btn btn-success">
                                        <i class="la la-key"></i>
                                        Reset password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            @* Ticket đã gửi *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword--ticket" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tiêu đề ticket" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        <select id="js-filter-ticketstate" data-live-search="true" class="form-control bootstrap-select" name="state" asp-items="@(new SelectList(ViewBag.TicketState, "Value", "Text"))">
                                            <option value="">Lựa chọn trạng thái</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable--ticket"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
            @* Danh sách liên hệ *@
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="row">
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <!--begin: Search Form -->
                            <div class="kt-form kt-form--label-right">
                                <div class="row align-items-center">
                                    <div class="col-md-3 col-lg-3 kt-margin-b-0-tablet-and-mobile">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên liên hệ " />
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="la la-search"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    @*<div class="col-md-2 col-lg-2 kt-margin-b-0-tablet-and-mobile">
                                            <div class="kt-form__group">
                                                <select id="js-filter-statecontact" data-live-search="true" class="form-control bootstrap-select" name="state" asp-items="@(new SelectList(ViewBag.LockOrUnlock, "Value", "Text"))">
                                                    <option value="">Trạng thái</option>
                                                </select>
                                            </div>
                                        </div>*@
                                    <div class="kt-margin-b-0-tablet-and-mobile ml-auto kt-padding-r-10">
                                        <button type="button" data-customer_uuid="@Model.uuid" class="js-edit-contact btn btn-primary btn-icon-sm">
                                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                                            <span class="d-none d-sm-inline-block">Thêm người liên hệ</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--end: Search Form -->
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--table">
                            <!--begin: Datatable -->
                            <div class="kt-datatable--contact"></div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>
            </div>
            @*du an*@
            <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                <div class="row">
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <!--begin: Search Form -->
                            <div class="kt-form kt-form--label-right">
                                <div class="row align-items-center">
                                    <div class="col-md-3 col-lg-3 kt-margin-b-0-tablet-and-mobile">
                                    </div>
                                </div>
                            </div>
                            <!--end: Search Form -->
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--table">
                            <!--begin: Datatable -->
                            <div class="kt-datatable--package"></div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>
            </div>
            @*THIẾT BỊ*@
            <div class="tab-pane" id="kt_tabs_1_5" role="tabpanel">
                <div class="row">
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <!--begin: Search Form -->
                            <div class="kt-form kt-form--label-right">
                                <div class="row align-items-center">
                                    <div class="col-md-3 col-lg-3 kt-margin-b-0-tablet-and-mobile">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input id="js-filter-keyword_device" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên thiết bị, phòng..." />
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="la la-search"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Search Form -->
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--table">
                            <!--begin: Datatable -->
                            <div class="kt-datatable--deviceincustomer"></div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
@section scripts {
    <script src="~/dist/gmap/gmaps.js"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyAFjN5pICmBJZEFSKTIZ-glnM9llLQwVPU" type="text/javascript"></script>
}

