﻿@model DMMS.Models.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
    ViewData["BodyClass"] = "";
    Layout = "_AuthenLayout";
}

<div class="kt-login__signin">
    <div class="kt-login__head">
        <h1 class="kt-login__title text-uppercase font-weight-bold">Đăng nhập</h1>
        <div class="kt-login__subtitle text-uppercase font-weight-bold">HỆ THỐNG QUẢN LÝ BẢO TRÌ BẢO DƯỠNG</div>
    </div>
<div class="kt-login__form">
    <form class="kt-form" asp-action="Login" asp-controller="Authen">
        <div class="form-group">
            <input class="form-control"
                   type="text"
                   name="Username"
                   asp-for="Username"
                   placeholder="Tên đăng nhập"
                   autocomplete="off" />
            <span asp-validation-for="Username" class="d-block invalid-feedback"></span>
        </div>
        <div class="form-group">
            <input class="form-control"
                   type="password"
                   name="Password"
                   placeholder="Mật khẩu"
                   asp-for="Password" />
            <span asp-validation-for="Password" class="d-block invalid-feedback"></span>
        </div>
        <div class="kt-login__actions">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <button id="kt_login_signin_submit"
                    class="btn btn-brand btn-block text-uppercase font-weight-bold"
                    type="submit">
                Đăng nhập
            </button>
        </div>
    </form>
</div>
</div>
