﻿@model BunkerUpsertRequest

<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword--staff" type="text" name="keyword" class="form-control" value="" placeholder="VD: Nhân viên kho, số điện thoại..." />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                @* Thao tác khi kho ở trạng thái hoạt động *@
                @if (Model.state == 1)
                {
                    <button type="button" class="js-add-stafftobunker btn btn-success btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm nhân viên</span>
                    </button>
                }
                else
                {
                    <button type="button" class="js-add-stafftobunker btn btn-success btn-icon-sm" disabled>
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm nhân viên</span>
                    </button>
                }
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable--staff"></div>
        <!--end: Datatable -->
    </div>
</div>