﻿@model BunkerUpsertRequest

<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input class="form-control" readonly placeholder="Chọn ngày" id="kt-datepicker" />
                        <span class="kt-input-icon__icon"><span><i class="la la-calendar-check-o"></i></span></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    @* Hoạt động khi kho ở trạng thái kiểm kê *@
                    @if (Model.state == 2)
                    {
                        <button type="button" class="js-add-inventory btn btn-success btn-icon-sm">
                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Tạo kiểm kê</span>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="js-add-inventory btn btn-success btn-icon-sm" disabled>
                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Tạo kiểm kê</span>
                        </button>
                    }
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable--inventory"></div>
        <!--end: Datatable -->
    </div>
</div>