﻿@model BunkerUpsertRequest

<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword--supplies" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã, tên thiết bị-vật tư..." />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                @* Thao tác khi kho ở trạng thái hoạt động *@
                @if (Model.state == 1)
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Nhập-xuất kho
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu_import">
                            <li class="dropdown-submenu">
                                <a class="dropdown-import" tabindex="-1" href="#">
                                    <i class="la la-cloud-upload kt-font-primary"></i> Nhập kho <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" class="import-supplies" data-type="1">Nhân viên KT</a></li>
                                    <li><a tabindex="-1" href="#" class="import-supplies" data-type="2">Nhà cung cấp</a></li>
                                    @*<li><a tabindex="-1" href="#" class="import-supplies" data-type="3">Kho</a></li>*@
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropdown-menu_export">
                                <a class="dropdown-export" tabindex="-1" href="#">
                                    <i class="la la-cloud-upload  kt-font-danger">
                                    </i> Xuất kho <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="1">Từ kho đến NVKT</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="3">Từ kho đến kho</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="2">Hoàn trả NCC</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="5">Tiêu hao</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="4">Thanh lý</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" disabled>
                            Nhập-xuất kho
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu_import">
                            <li class="dropdown-submenu">
                                <a class="dropdown-import" tabindex="-1" href="#">
                                    <i class="la la-cloud-upload kt-font-primary"></i> Nhập kho <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" class="import-supplies" data-type="1">Nhân viên KT</a></li>
                                    <li><a tabindex="-1" href="#" class="import-supplies" data-type="2">Nhà cung cấp</a></li>
                                    <li><a tabindex="-1" href="#" class="import-supplies" data-type="3">Kho</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu dropdown-menu_export">
                                <a class="dropdown-export" tabindex="-1" href="#">
                                    <i class="la la-cloud-upload  kt-font-danger">
                                    </i> Xuất kho <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="1">Từ kho đến NVKT</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="3">Từ kho đến kho</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="2">Hoàn trả NCC</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="5">Tiêu hao</a></li>
                                    <li><a tabindex="-1" href="#" class="export-supplies" data-type="4">Thanh lý</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
            </div>
            @*<div class="row kt-margin-t-10">
                    <div class="col-11 row filter-zone">
                        <div class="kt-form__group col-md-3 col-lg-3">
                            @if (ViewBag.Categories != null)
                            {
                                <select data-live-search="true" class="form-control bootstrap-select js-filter-category" data-index="1"
                                        asp-items="@(new SelectList(ViewBag.Categories, "id", "name"))">
                                    <option value="">Lọc theo danh mục</option>
                                </select>
                            }
                            else
                            {
                                <select data-live-search="true" class="form-control bootstrap-select js-filter-category" data-index="1">
                                    <option value="">Lọc theo danh mục</option>
                                </select>
                            }
                        </div>
                        <div class="kt-form__group kt-hidden col-md-3 col-lg-3">
                            <select data-live-search="true" class="form-control bootstrap-select js-filter-category" data-index="2">
                                <option value="">Lọc theo danh mục</option>
                            </select>
                        </div>
                        <div class="kt-form__group col-md-3 col-lg-3 kt-hidden">
                            <select data-live-search="true" class="form-control bootstrap-select js-filter-category" data-index="3">
                                <option value="">Lọc theo danh mục</option>
                            </select>
                        </div>
                        <div class="kt-form__group col-md-3 col-lg-3 kt-hidden">
                            <select data-live-search="true" class="form-control bootstrap-select js-filter-category" data-index="4">
                                <option value="">Lọc theo danh mục</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 ml-auto" style="margin-right: -10px">
                        <a href="#" class="btn btn-success btn-icon-sm btn-filter_category" title="Tìm kiếm theo danh mục">
                            <i class="la la-search kt-p-0-tablet-and-mobile"></i>
                        </a>
                    </div>
                </div>*@
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable--supplies"></div>
        <!--end: Datatable -->
    </div>
</div>