﻿@model BunkerUpsertRequest

<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword--offer" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã đề xuất..." />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                @*<div class="col-md-3 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        <select id="js-filter-typeoffer" class="form-control bootstrap-select"
                                name="">
                            <option value="">Loại đề xuất</option>
                        </select>
                    </div>
                </div>*@
                <div class="col-md-3 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        <select id="js-filter-state" class="form-control bootstrap-select"
                                asp-items="@(new SelectList(ViewBag.StatusOffers, "Value", "Text"))" name="status">
                            <option value="">Trạng thái</option>
                        </select>
                    </div>
                </div>
                @*@if (Model.state == 1)
                {
                    <div class="col-md-3 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <button type="button" class="js-add-offer btn btn-success btn-icon-sm">
                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Đề xuất</span>
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <button type="button" class="js-add-offer btn btn-success btn-icon-sm" disabled>
                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Đề xuất</span>
                        </button>
                    </div>
                }*@
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable--offer"></div>
        <!--end: Datatable -->
    </div>
</div>