﻿@model AddInventoryRequest

@{
    Layout = null;
}

<form class="dmms-form-add__inventory" asp-action="addinventory" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="storage_uuid" hidden />
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị <span class="tab2"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_3">Danh sách vật tư <span class="tab3"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_4">Danh sách dụng cụ lao động <span class="tab4"></span></a>
                </li>
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Nhân viên kiểm kê</label>
                                    <div class="kt-input-icon">
                                        <input asp-for="creator_uuid" class="form-control" hidden />
                                        <input value="@Model.creator_name" class="form-control" placeholder="Nhân viên kiểm kê" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian kiểm kê</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" placeholder="Thời gian kiểm kê" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon">
                                    <textarea asp-for="description" class="form-control" placeholder="Nhập ghi chú" style="height: 115px"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            <div class="form-group">
                                <label class="control-label">Người tham gia kiểm kê</label>
                                <div class="wrapper-tab-1">
                                    <div class="row">
                                        <div class="form-group col-4">
                                            <div class="kt-input-icon">
                                                @if (ViewBag.Staffs != null)
                                                {
                                                    <select data-live-search="true" class="form-control" id="kt-select-staff"
                                                            name="staff[][uuid]" asp-items="@(new SelectList(ViewBag.Staffs, "uuid", "name"))">
                                                        <option value="">Lựa chọn</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select data-live-search="true" class="form-control" id="kt-select-staff" name="staff[][uuid]">
                                                        <option value="">Chưa có nhân viên</option>
                                                    </select>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group col-3">
                                            <div class="kt-input-icon">
                                                <input class="form-control" name="staff[][position]" placeholder="Chức vụ" id="kt-select-type" />
                                            </div>
                                        </div>
                                        <div class="form-group col-3">
                                            <div class="kt-input-icon">
                                                <input class="form-control" name="staff[][role]" placeholder="Vai trò" id="kt-select-role" />
                                            </div>
                                        </div>
                                        <div class="form-group ml-auto kt-margin-r-10"><i class="btn btn-primary la la-plus" id="js-add-staffininventory"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Tab DANH SÁCH THIẾT BỊ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2" role="tabpanel">
                    <div class="kt-checkbox-inline">
                        <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand done-tab2">
                            <input type="checkbox"> HOÀN TẤT
                            <span></span>
                        </label>
                    </div>
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Đơn vị tính</th>
                                @*<th scope="col">Phân loại</th>*@
                                <th scope="col" style="width: 100px">Tồn kho</th>
                                <th scope="col" style="width: 100px">Tồn thực</th>
                                <th scope="col" style="width: 100px">SL hỏng</th>
                                <th scope="col" style="width: 100px">Sai lệch</th>
                                <th scope="col">Chi tiết TB thực</th>
                            </tr>
                        </thead>
                        @if (ViewBag.Supplies != null)
                        {
                            foreach (var item in ViewBag.Supplies)
                            {
                                if (item.type == 1)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="categories[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td>@item.unit</td>
                                            @*<td>@item.type_format</td>*@
                                            <td><input hidden name="categories[][quantity_exist]" value="@item.quantity_exist" />@item.quantity_exist</td>
                                            <td><input hidden name="categories[][real_quantity]" value="@item.real_quantity" /><span class="real_quantity">@item.real_quantity</span></td>
                                            <td><input hidden name="categories[][broken_quantity]" value="@item.broken_quantity" /><span class="broken_quantity">0</span>/<span class="deviations_quantity_after">@item.quantity_exist</span></td>
                                            <td class="deviations_quantity">0</td>
                                            <td style="display: none" class="list_device"></td>
                                            <td>
                                                <button type="button" class="btn btn-success detail-supplies" data-id="@item.category_id">
                                                    <span class="d-none d-sm-inline-block">Thêm chi tiết</span>
                                                </button>
                                            </td>
                                            @*@if (item.type == 1)
                                    {
                                        <td><input hidden name="categories[][real_quantity]" value="@item.real_quantity" /><span class="real_quantity">@item.real_quantity</span></td>
                                        <td><input hidden name="categories[][broken_quantity]" value="@item.broken_quantity" /><span class="broken_quantity">0</span>/@item.quantity_exist</td>
                                        <td class="deviations_quantity">0</td>
                                        <td style="display: none" class="list_device"></td>
                                        <td>
                                            <button type="button" class="btn btn-success detail-supplies" data-id="@item.category_id">
                                                <span class="d-none d-sm-inline-block">Thêm chi tiết</span>
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td><input name="categories[][real_quantity]" placeholder="Nhập" style="width: 40px" /></td>
                                        <td><input name="categories[][broken_quantity]" placeholder="Nhập" style="width: 40px" />/@item.quantity_exist</td>
                                        <td class="deviations_quantity">0</td>
                                        <td>
                                            <button type="button" class="btn btn-success" disabled>
                                                <span class="d-none d-sm-inline-block">Thêm chi tiết</span>
                                            </button>
                                        </td>
                                    }*@
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
                @*TAB DANH SÁCH VẬT TƯ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_3" role="tabpanel">
                    <div class="kt-checkbox-inline">
                        <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand done-tab3">
                            <input type="checkbox"> HOÀN TẤT
                            <span></span>
                        </label>
                    </div>
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên vật tư</th>
                                <th scope="col" width="150">Đơn vị tính</th>
                                @*<th scope="col">Phân loại</th>*@
                                <th scope="col" style="width: 150px">Tồn kho</th>
                                <th scope="col" style="width: 150px">Tồn thực</th>
                                <th scope="col" style="width: 150px">SL hỏng</th>
                                <th scope="col" style="width: 150px">Sai lệch</th>
                                @*<th scope="col">Chi tiết TB thực</th>*@
                            </tr>
                        </thead>
                        @if (ViewBag.Supplies != null)
                        {
                            foreach (var item in ViewBag.Supplies)
                            {
                                if (item.type == 2)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="categories[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td>@item.unit</td>
                                            @*<td>@item.type_format</td>*@
                                            <td>
                                                <input class="form-control" hidden name="categories[][quantity_exist]" value="@item.quantity_exist" />@item.quantity_exist
                                            </td>
                                            <td>
                                                <input class="form-control" name="categories[][real_quantity]" data-id="@item.category_id" min="0" max="@item.quantity_exist" />
                                            </td>
                                            <td>
                                                <div class="d-inline-flex">
                                                    <input class="form-control" name="categories[][broken_quantity]" min="0" max="@item.quantity_exist" data-id="@item.category_id" value="0" />
                                                    <span class="m-auto">/<span class="deviations_quantity_after">@item.quantity_exist</span></span>
                                                </div>
                                            </td>
                                            <td class="deviations_quantity">0</td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
                @*TAB DỤNG CỤ LAO ĐỘNG*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_4" role="tabpanel">
                    <div class="kt-checkbox-inline">
                        <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand done-tab4">
                            <input type="checkbox"> HOÀN TẤT
                            <span></span>
                        </label>
                    </div>
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên DCLĐ</th>
                                <th scope="col" width="150">Đơn vị tính</th>
                                @*<th scope="col">Phân loại</th>*@
                                <th scope="col" style="width: 150px">Tồn kho</th>
                                <th scope="col" style="width: 150px">Tồn thực</th>
                                <th scope="col" style="width: 150px">SL hỏng</th>
                                <th scope="col" style="width: 150px">Sai lệch</th>
                                @*<th scope="col">Chi tiết TB thực</th>*@
                            </tr>
                        </thead>
                        @if (ViewBag.Supplies != null)
                        {
                            foreach (var item in ViewBag.Supplies)
                            {
                                if (item.type == 3)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="categories[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td>@item.unit</td>
                                            @*<td>@item.type_format</td>*@
                                            <td>
                                                <input class="form-control" hidden name="categories[][quantity_exist]" value="@item.quantity_exist" />@item.quantity_exist
                                            </td>
                                            <td>
                                                <input class="form-control" name="categories[][real_quantity]" data-id="@item.category_id" min="0" max="@item.quantity_exist" />
                                            </td>
                                            <td>
                                                <div class="d-inline-flex">
                                                    <input class="form-control" name="categories[][broken_quantity]" min="0" max="@item.quantity_exist" data-id="@item.category_id" value="0" />
                                                    <span class="m-auto">/<span class="deviations_quantity_after">@item.quantity_exist</span></span>
                                                </div>
                                            </td>
                                            <td class="deviations_quantity">0</td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-success">
            Lưu và in chứng từ
        </button>
        <button type="submit" class="btn btn-info submit-inventory" disabled>
            Lưu dữ liệu
        </button>
        <button type="button" class="btn btn-danger kt-close">
            Hủy bỏ
        </button>
    </div>
</form>



