﻿@model OfferInBunkerAddRequest

@{
    Layout = null;
}

<form class="dmms-form-bunker__addoffer" asp-action="AddOffer" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase importsupplier1" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị-vật tư</a>
                </li>
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Người đề xuất</label>
                                    <div class="kt-input-icon">
                                        <input asp-for="creator_uuid" hidden />
                                        <input value="@Model.creator_name" class="form-control" placeholder="Người đề xuất" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian đề xuất</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" placeholder="Thời gian đề xuất" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Mã đề xuất</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" placeholder="Mã đề xuất" disabled readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Kho đích</label>
                                <div class="kt-input-icon" id="wrapper-to_uuid">
                                    <input asp-for="storage_uuid" placeholder="Kho đích" hidden />
                                    <input class="form-control" placeholder="Kho đích" value="@Model.storage_name" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            @*<div class="form-group">
                                <label class="control-label">Lĩnh vực</label>
                                <div class="kt-form__group">
                                    @if (ViewBag.Filed != null)
                                    {
                                        <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-filed"
                                                name="supplier_id" asp-items="@(new SelectList(ViewBag.Suppliers, "id", "name"))">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-filed"
                                                name="supplier_id">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="control-label">Nội dung đề xuất</label>
                                <div class="kt-input-icon">
                                    <textarea asp-for="content" class="form-control" placeholder="Nhập nội dung" style="height: 115px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 400px">Tên vật tư-thiết bị</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">SL đề xuất</th>
                                <th scope="col">Đơn vị tính</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody class="wrapper-fill">
                            <tr id="first">
                                <td>
                                    @if (ViewBag.Supplies != null)
                                    {
                                        <select data-live-search="true" class="form-control kt-select-supplies" id="kt-select-supplies"
                                                name="categories[][category_id]">
                                            <option value="">Lựa chọn</option>
                                            @foreach (var item in ViewBag.Supplies)
                                            {
                                                <option value="@item.id" data-subtext="@item.name_display">@item.prefix_name</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-supplies"
                                                name="">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                </td>
                                <td id="type_category">-</td>
                                <td><input class="form-control" name="categories[][offer_quantity]" min="0" placeholder="Nhập" id="offer_quantity" /></td>
                                <td id="unit">-</td>
                                <td><i class="la la-plus kt-p-0-tablet-and-mobile" id="js-add-offersupplies"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Gửi phiếu đề xuất
        </button>
        <button type="button" class="btn btn-danger kt-close">
            Hủy bỏ
        </button>
    </div>
</form>



