﻿@model AddStaffInBunkerRequest

@{
    Layout = null;
}

<form class="dmms-staff__form" asp-action="addstaff" onsubmit="return false">
    <input name="storage_uuid" value="@Model.storage_uuid" hidden />
    <div class="form-group">
        <label class="control-label">Nhân viên kho</label>
        <div class="kt-input-icon widthfull">
            @if (ViewBag.StaffNotIn != null)
            {
                <select data-live-search="true" class="form-control bootstrap-select kt-selectbox" data-all="false" multiple
                        title="Chọn nhân viên kho" name="storage_keeper[]" id="kt-select-staffintab" asp-items="@(new SelectList(ViewBag.StaffNotIn, "uuid", "name"))">
                    <option value="">Chọn tất cả</option>
                </select>
            }
            else
            {
                <select data-live-search="true" class="form-control bootstrap-select kt-selectbox" data-all="false" multiple
                        title="Chọn nhân viên kho" name="storage_keeper[]" id="kt-select-staffintab">
                    <option value="">Lựa chọn</option>
                </select>
            }

        </div>
    </div>
    <div class="kt-mt-30">
        <button type="submit" class="btn btn-info submit">
            <i class="la la-save"></i>
            Thêm mới
        </button>
    </div>
</form>

