﻿@model BunkerUpsertRequest

@{
    Layout = null;
}

    <form class="dmms-bunker__form" asp-action="create" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="control-label">Tên kho vật tư - thiết bị</label>
            <div class="kt-input-icon">
                <input asp-for="name" class="form-control" placeholder="Nhập tên kho vật tư - thiết bị" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Tỉnh/thành</label>
                <div class="kt-input-icon">
                    @if (ViewBag.Provinces != null)
                    {
                        <select data-live-search="true" class="form-control" id="kt-select-province"
                                name="province_id" asp-items="@(new SelectList(ViewBag.Provinces, "id", "name"))">
                            <option value="">Lựa chọn</option>
                        </select>
                    }
                    else
                    {
                        <select data-live-search="true" class="form-control" id="kt-select-province"
                                name="province_id">
                            <option value="">Lựa chọn</option>
                        </select>
                    }
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Quận/Huyện</label>
                <div class="kt-input-icon">
                    <select data-live-search="true" class="form-control" id="kt-select-town"
                            name="town_id">
                        <option value="">Lựa chọn</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Phường xã</label>
                <div class="kt-input-icon">
                    <select data-live-search="true" class="form-control" id="kt-select-village"
                            name="village_id">
                        <option value="">Lựa chọn</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="address" class="control-label">Địa chỉ chi tiết</label>
                <div class="kt-input-icon">
                    <input asp-for="address" class="form-control" placeholder="Nhập địa chỉ chi tiết" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label class="control-label">Đơn vị ký hợp đồng</label>
                <div class="kt-input-icon widthfull">
                    @if (ViewBag.Unitsigneds != null)
                    {
                        <select data-live-search="true" class="form-control" id="kt-select-unitsigned"
                                title="Chọn đơn vị ký hợp đồng" name="unitSignedUuid" asp-items="@(new SelectList(ViewBag.Unitsigneds, "uuid", "name"))">
                            <option value="">Lựa chọn</option>
                        </select>
                    }
                    else
                    {
                        <select data-live-search="true" class="form-control kt-select-unitsigned" id="kt-select-unitsigned"
                                title="Chọn đơn vị ký hợp đồng" name="unitSignedUuid">
                            <option value="">Lựa chọn</option>
                        </select>
                    }
                </div>
            </div>
            <input name="unitSignedName" id="wrapper-fill_unitsigned" hidden />
            <div class="form-group col-6">
                <label class="control-label">Nhân viên kho</label>
                <div class="kt-input-icon widthfull">
                    @if (ViewBag.StaffNotInBunker != null)
                    {
                        <select data-live-search="true" class="form-control kt-selectbox" id="kt-select-staffss" data-all="false" multiple
                                title="Chọn nhân viên kho" name="storage_keeper[]" asp-items="@(new SelectList(ViewBag.StaffNotInBunker, "uuid", "name"))">
                            <option value="">Chọn tất cả</option>
                        </select>
                    }
                    else
                    {
                        <select data-live-search="true" class="form-control kt-selectbox" id="kt-select-staffss" data-all="false" multiple
                                title="Chọn nhân viên kho" name="storage_keeper[]">
                            <option value="">Chọn tất cả</option>
                        </select>
                    }
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-info">
                <i class="la la-save"></i>
                Thêm kho
            </button>
        </div>
    </form>
