﻿@model OfferInBunkerModel

@{
    ViewData["Title"] = "Chi tiết đề xuất";
    ViewData["BodyClass"] = "dmms-bunker";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                Thông tin chi tiết đề xuất
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                @if (ViewBag.StateBunker != 1 || Model.state == 3)
                {
                    <button type="button" class="btn btn-info export-supplies-oder kt-margin-r-10" data-id="@Model.uuid" disabled>
                        Tạo phiếu xuât kho
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-info export-supplies-oder kt-margin-r-10" data-id="@Model.uuid">
                        Tạo phiếu xuât kho
                    </button>
                }
                <div class="kt-portlet__head-actions">
                    <a href="/bunker/edit/@Model.store_uuid" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase importsupplier1" data-toggle="tab" href="#kt_tabs_2_1_2_1">Danh sách thiết bị-vật tư</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_2_1_1_1" role="tabpanel">
                <div class="row">
                    <div class="col-6" style="padding-right : 15px;">
                        <div class="form-group row">
                            <label class="control-label col-3 kt-margin-b-0">Người đề xuất</label>
                            <div class="kt-input-icon input-group col-9">
                                <input asp-for="order_person.name" class="form-control" placeholder="Người tạo phiếu" readonly />
                                <a href="/staff/update/@Model.order_person.uuid" class="input-group-append" title="Chuyển qua chi tiết nhân viên">
                                    @*<i class="input-group-text la la-forward btn btn-primary text-light"></i>*@
                                    <span class="input-group-text text-primary">Xem chi tiết</span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Mã đề xuất</label>
                            <div class="kt-input-icon col-9">
                                <input asp-for="code" class="form-control" placeholder="Mã đề xuất" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3 kt-margin-b-0">Công việc</label>
                            <div class="kt-input-icon input-group col-9">
                                <input asp-for="task.name" class="form-control" placeholder="Công việc" readonly />
                                <a href="/task/update/@Model.task.uuid" class="input-group-append" title="Chuyển qua chi tiết công việc">
                                    @*<i class="input-group-text la la-forward btn btn-primary text-light"></i>*@
                                    <span class="input-group-text text-primary">Xem chi tiết</span>
                                </a>
                            </div>
                            @*<div class="kt-input-icon col-9 kt-padding-r-10">
                                <input asp-for="task.name" class="form-control" placeholder="Công việc" readonly />
                                <a href="/task/update/@Model.task.uuid" class="btn btn-sm btn-primary btn-icon btn-icon-md ml-auto" title="Chuyển qua chi tiết công việc">
                                    <i class="la la-forward"></i>
                                </a>
                            </div>*@
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Kho nguồn VT-TB</label>
                            <div class="kt-input-icon col-9">
                                <input asp-for="from.name" class="form-control" placeholder="Kho nguồn VT-TB" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Thời gian đề xuất</label>
                            <div class="kt-input-icon col-9">
                                <input asp-for="time_created_format" class="form-control" placeholder="Thời gian đề xuất" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Nội dung đề xuất</label>
                            <div class="kt-input-icon col-9">
                                <textarea asp-for="content" class="form-control" placeholder="Nội dung đề xuất" readonly></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Trạng thái</label>
                            <div class="kt-input-icon col-9">
                                <input class="form-control" value="@ViewBag.OfferSates[Model.state.Value - 1].Text" placeholder="Trạng thái" readonly />
                            </div>
                        </div>
                    </div>
                    <input hidden asp-for="store_uuid">
                    @*Kho nguồn*@
                    <input hidden class="get_uuid" asp-for="from.uuid">
                    <input hidden class="get_name" asp-for="from.name">
                    @*Kho nguổn*@
                    <input hidden class="get_uuid_form" asp-for="order_person.uuid">
                    @*Kho đích*@
                    <input hidden class="get_uuid_to" value="@Model.reviewer.uuid">
                    <input hidden class="get_name_to" value="@Model.reviewer.name">
                    <input hidden class="documentorigin" value="@Model.code">
                    <input hidden asp-for="uuid">
                    @*<input hidden class="get_categories" asp-for="categories">*@

                    <div class="col-6 border-left">

                    </div>
                </div>
            </div>
            <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2_1" role="tabpanel">
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded kt-portlet__body">
                    <table class="kt-datatable__table">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row">
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style=" width:5%; text-align: center;">#</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="text-align: center;">Tên</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:10%;text-align: center;">Phân loại</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:10%;text-align: center;">Số lượng đề xuất</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:10%;text-align: center;">Đơn vị tính</th>

                            </tr>

                        </thead>
                        <tbody>
                            @if (Model.categories != null && Model.categories.Count > 0)
                            {
                                var k = 1;
                                foreach (var item in Model.categories)
                                {
                                    var type = "";
                                    if (item.type == 1)
                                    {
                                        type = "Thiết bị";
                                    }
                                    else if (item.type == 2)
                                    {
                                        type = "Vật tư";
                                    }
                                    else if (item.type == 3)
                                    {
                                        type = "Dụng cụ";
                                    }
                                <tbody class="kt-datatable__body">
                                    <tr class="kt-datatable__row">

                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:5%;">@(k++)</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell text-left kt-padding-l-10" data-autohide-disabled="false"><strong class="text-primary">@item.prefixName</strong><br />@item.name</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:10%;">@type</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:10%;">@item.offer_quantity</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:10%;">@item.unit</td>

                                    </tr>

                                </tbody>

                            }
                        }
                        else
                        {
                            <p>Không có thiết bị</p>
                        }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



