﻿@model ExportDetailResponese


@{
    Layout = null;

}

<form class="dmms-form-bunker__exportticket" asp-action="" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
     @*<input asp-for="type" hidden />*@
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase exportdetail" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị-vật tư</a>
                </li>
            </ul>

            <div class="tab-content">
                 @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Người tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input hidden />
                                        <input class="form-control" asp-for="staff_create.name" placeholder="Người tạo phiếu" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" asp-for="timecreatedformat" placeholder="Thời gian tạo phiếu" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Số chứng từ gốc</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" asp-for="document_origin" placeholder="Số chứng từ" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Kho đích</label>
                                <div class="kt-input-icon" id="wrapper-to_uuid">
                                    <input class="form-control" asp-for="to.name" placeholder="Kho đích" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            <div class="row" id="other-in_import">
                                <div class="form-group col-12">
                                    <label class="control-label">Kho nguồn</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" asp-for="from.name" placeholder="Kho nguồn" readonly />
                                    </div>
                                </div>
                                @*<div class="form-group col-6">
                                    <label class="control-label">Nhân viên giao hàng</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" asp-for="staff_name" placeholder="Nhân viên giao hàng" readonly />
                                    </div>
                                </div>*@
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon widthfull">
                                    <textarea class="form-control" asp-for="description" placeholder="Nhập ghi chú" readonly style="height: 115px"></textarea>
                                </div>
                            </div>
                            <input hidden asp-for="uuid" class="exportUuid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_tabs_2_1_2" role="tabpanel">
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        @if (Model.type == 4)
                        {
                            <div class="kt-datatableex"></div>
                        }
                        else
                        {
                            <div class="kt-datatableex_nottype4"></div>
                        }
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-danger kt-close">
            Đóng
        </button>
    </div>
</form>



