﻿
@{
    Layout = null;
}

<div class="kt-portlet__body kt-portlet__body--table">
    <!--begin: Datatable -->
    <div class="kt-datatable--detailsuppliesdevice"></div>
    <!--end: Datatable -->
</div>

