﻿@model InventoryModel

@{
    Layout = null;
}

<form class="dmms-form-inventory__detail" asp-action="DetailInventory" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="uuid" hidden />
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase suppliesininventory" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị-vật tư</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_3">Danh sách vật tư</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_4">Danh sách dụng cụ lao động</a>
                </li>
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Nhân viên kiểm kê</label>
                                    <div class="kt-input-icon">
                                        <input asp-for="storage_keeper.name" class="form-control" placeholder="Nhân viên kiểm kê" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian kiểm kê</label>
                                    <div class="kt-input-icon">
                                        <input name="time_stock_take" value="@Model.time_stock_take" class="form-control" placeholder="Thời gian kiểm kê" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon">
                                    <textarea asp-for="description" class="form-control" placeholder="Nhập ghi chú" style="height: 115px" readonly></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            <div class="form-group">
                                <label class="control-label">Người tham gia kiểm kê</label>
                                @if (Model.staff != null && Model.staff.Count > 0)
                                {
                                    @foreach (var item in Model.staff)
                                    {
                                        <div class="row kt-margin-b-10" style="margin: 0">
                                            <div class="col-4 kt-input-icon">
                                                <input name="@item.name" value="@item.name" class="form-control" readonly />
                                            </div>
                                            <div class="col-4 kt-input-icon kt-padding-l-10">
                                                <input name="@item.position" value="@item.position" class="form-control" placeholder="Chức vụ" readonly />
                                            </div>
                                            <div class="col-4 kt-input-icon kt-padding-l-10">
                                                <input name="@item.role" value="@item.role" class="form-control" placeholder="Vai trò" readonly />
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="text-danger kt-font-bold">Hiện không có nhân viên tham gia kiểm kê</div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
                @*TAB THIẾT BỊ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col" style="width: 100px">Đơn vị tính</th>
                                @*<th scope="col">Phân loại</th>*@
                                <th scope="col" style="width: 150px">Tồn kho</th>
                                <th scope="col" style="width: 150px">Tồn thực</th>
                                <th scope="col" style="width: 150px">SL hỏng</th>
                                <th scope="col" style="width: 150px">Sai lệch</th>
                                <th scope="col" style="width: 150px">Chi tiết TB thực</th>
                            </tr>
                        </thead>
                        @if (ViewBag.SuppliesInInventory != null && ViewBag.SuppliesInInventory.Count > 0)
                        {
                            @foreach (var item in ViewBag.SuppliesInInventory)
                            {
                                if (item.type == 1)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="categories[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td>@item.unit</td>
                                            @*<td>@item.type_format</td>*@
                                            <td><input hidden name="categories[][quantity_exist]" value="@item.quantity_exist" />@item.quantity_exist</td>
                                            <td><input hidden name="categories[][real_quantity]" value="@item.real_quantity" /><span class="real_quantity">@item.real_quantity</span></td>
                                            <td><input hidden name="categories[][broken_quantity]" value="@item.broken_quantity" /><span class="broken_quantity">@item.broken_quantity</span>/@item.real_quantity</td>
                                            <td>@item.deviations_quantity</td>
                                            <td style="display: none" class="list_device">
                                                @foreach (var item1 in item.detail_temp)
                                                {
                                                    <input name="categories[][detail[][uuid]]" value="@item1.uuid" />
                                                    <input name="categories[][detail[][name_display]]" value="@item1.name_display" />
                                                    <input name="categories[][detail[][prefix_name]]" value="@item1.prefix_name" />
                                                    <input name="categories[][detail[][expire_device_string]]" value="@item1.expire_device_string" />
                                                    <input name="categories[][detail[][serial]]" value="@item1.serial" />
                                                    <input name="categories[][detail[][state_in_inventory]]" value="@item1.state_in_inventory" />
                                                }
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary detail-supplies_inner" data-id="@item.category_id">
                                                    <span class="d-none d-sm-inline-block">Xem chi tiết</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
                @*TAB DANH SÁCH VẬT TƯ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_3" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên vật tư</th>
                                <th scope="col" style="width: 100px">Đơn vị tính</th>
                                @*<th scope="col">Phân loại</th>*@
                                <th scope="col" style="width: 150px">Tồn kho</th>
                                <th scope="col" style="width: 150px">Tồn thực</th>
                                <th scope="col" style="width: 150px">SL hỏng</th>
                                <th scope="col" style="width: 150px">Sai lệch</th>
                                @*<th scope="col">Chi tiết TB thực</th>*@
                            </tr>
                        </thead>
                        @if (ViewBag.SuppliesInInventory != null)
                        {
                            foreach (var item in ViewBag.SuppliesInInventory)
                            {
                                if (item.type == 2)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="categories[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td>@item.unit</td>
                                            @*<td>@item.type_format</td>*@
                                            <td><input hidden name="categories[][quantity_exist]" value="@item.quantity_exist" />@item.quantity_exist</td>
                                            <td><input class="form-control" name="categories[][real_quantity]" value="@item.real_quantity" readonly /></td>
                                            <td>
                                                <div class="d-inline-flex">
                                                    <input class="form-control" name="categories[][broken_quantity]" value="@item.broken_quantity" readonly />
                                                    <span class="m-auto">/<span>@item.real_quantity</span></span>
                                                </div>
                                            </td>
                                            <td>@item.deviations_quantity</td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
                @*TAB DANH SÁCH DỤNG CỤ LAO ĐỘNG*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_4" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên DCLĐ</th>
                                <th scope="col" style="width: 100px">Đơn vị tính</th>
                                @*<th scope="col">Phân loại</th>*@
                                <th scope="col" style="width: 150px">Tồn kho</th>
                                <th scope="col" style="width: 150px">Tồn thực</th>
                                <th scope="col" style="width: 150px">SL hỏng</th>
                                <th scope="col" style="width: 150px">Sai lệch</th>
                                @*<th scope="col">Chi tiết TB thực</th>*@
                            </tr>
                        </thead>
                        @if (ViewBag.SuppliesInInventory != null)
                        {
                            foreach (var item in ViewBag.SuppliesInInventory)
                            {
                                if (item.type == 3)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="categories[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td>@item.unit</td>
                                            @*<td>@item.type_format</td>*@
                                            <td><input hidden name="categories[][quantity_exist]" value="@item.quantity_exist" />@item.quantity_exist</td>
                                            <td><input class="form-control" name="categories[][real_quantity]" value="@item.real_quantity" readonly /></td>
                                            <td>
                                                <div class="d-inline-flex">
                                                    <input class="form-control" name="categories[][broken_quantity]" value="@item.broken_quantity" readonly />
                                                    <span class="m-auto">/<span>@item.real_quantity</span></span>
                                                </div>
                                            </td>
                                            <td>@item.deviations_quantity</td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-success">
            In chứng từ
        </button>
        <button type="button" class="btn btn-info goto-export" data-inventory="@Model.uuid">
            Xuất tiêu hao
        </button>
        <button type="button" class="btn btn-danger kt-close">
            Đóng
        </button>
    </div>
</form>



