﻿@model BunkerUpsertRequest
@{
    ViewData["Title"] = "Chi tiết kho";
    ViewData["BodyClass"] = "dmms-bunker";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a href="/bunker" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs nav-tabs_edit" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item width: 150">
                <a class="nav-link text-uppercase bunker-tab-supplies" data-toggle="tab" href="#kt_tabs_1_2" style="text-overflow:ellipsis">Danh sách vật tư-thiết bị</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase bunker-tab-staff" data-toggle="tab" href="#kt_tabs_1_3">Nhân viên kho</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase bunker-tab-inventory" data-toggle="tab" href="#kt_tabs_1_4">Kiểm kê</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase bunker-tab-offer" data-toggle="tab" href="#kt_tabs_1_5">Danh sách đề xuất</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase bunker-tab-ticketimport" data-toggle="tab" href="#kt_tabs_1_6">Phiếu nhập kho</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase bunker-tab-ticketexport" data-toggle="tab" href="#kt_tabs_1_7">Phiếu xuất kho</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase bunker-tab-listexportto" data-toggle="tab" href="#kt_tabs_1_8">Thông báo phiếu nhập</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="row">
                    <div class="col-6">
                        <form class="dmms-bunker__form" asp-action="Update" onsubmit="return false">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <input asp-for="uuid" hidden />
                            <input asp-for="state" hidden />
                            <input asp-for="province_id" hidden />
                            <input asp-for="town_id" hidden />
                            <input asp-for="village_id" hidden />
                            <div class="form-group row">
                                <label class="control-label col-3">Mã kho</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="code" class="form-control" placeholder="Mã kho" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Tên kho VT-TB</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="name" type="text" class="form-control" placeholder="Tên kho VT-TB" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Tỉnh/thành</label>
                                <div class="kt-input-icon widthfull col-9">
                                    @if (ViewBag.Provinces != null)
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-province"
                                                name="province_id" asp-items="@(new SelectList(ViewBag.Provinces, "id", "name"))">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-province"
                                                name="province_id">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Quận/huyện</label>
                                <div class="kt-input-icon widthfull col-9">
                                    @if (Model.province_id != null)
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-town"
                                                name="town_id" asp-items="@(new SelectList(ViewBag.Towns.Value, "id", "name"))">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-town"
                                                name="town_id">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Phường/xã</label>
                                <div class="kt-input-icon widthfull col-9">
                                    @if (Model.town_id != null)
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-village"
                                                name="village_id" asp-items="@(new SelectList(ViewBag.Villages.Value, "id", "name"))">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-village"
                                                name="village_id">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Địa chỉ chi tiết</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="address" class="form-control" placeholder="Nhập địa chỉ chi tiết" />
                                </div>
                            </div>
                            <input id="unitSignedUuid" value="@Model.unitSignedUuid" hidden />
                            <div class="form-group row">
                                <label class="control-label col-3">Đơn vị ký hợp đồng</label>
                                <div class="append_unitsigneds"></div>
                                <div class="kt-input-icon col-9 remove_unitsigneds">
                                    @if (ViewBag.Unitsigneds != null)
                                    {
                                        <select name="unitSignedUuid" asp-items="@(new SelectList(ViewBag.Unitsigneds, "uuid", "name"))" data-live-search="true" 
                                                class="form-control" title="Chọn đơn vị ký hợp đồng" id="kt-select-unitsigned">
                                            <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select data-live-search="true" class="form-control" id="kt-select-unitsigned"
                                                name="unitSignedUuid" title="Chọn đơn vị ký hợp đồng">
                                            <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
                                        </select>
                                    }
                                </div>
                                @*<div class="kt-radio-list col-9">
                                    <div class="row kt-margin-0">
                                        <div class="kt-input-icon widthfull col-10">
                                            @if (ViewBag.Unitsigneds != null)
                                            {
                                                <select data-live-search="true" class="form-control" id="kt-select-unitsigned"
                                                        title="Chọn đơn vị ký hợp đồng" name="unitSignedUuid" asp-items="@(new SelectList(ViewBag.Unitsigneds, "uuid", "name"))">
                                                    <option value="">Lựa chọn</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select data-live-search="true" class="form-control kt-select-unitsigned" id="kt-select-unitsigned"
                                                        title="Chọn đơn vị ký hợp đồng" name="unitSignedUuid">
                                                    <option value="">Lựa chọn</option>
                                                </select>
                                            }
                                        </div>
                                        <label class="kt-radio kt-radio--bold kt-radio--brand col-2">
                                            <input type="radio" id="select-choose" name="radio6">
                                            <span></span>
                                        </label>
                                        <div class="kt-input-icon col-10">
                                            <input name="unitSignedName" class="form-control" placeholder="Đơn vị ký hợp đồng mới" id="input-create" />
                                        </div>
                                        <label class="kt-radio kt-radio--bold kt-radio--brand col-2">
                                            <input type="radio" id="create-new" name="radio6">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>*@
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Trạng thái</label>
                                <div class="kt-input-icon col-9">
                                    <select class="form-control bootstrap-select" id="kt-select-state"
                                            name="state" asp-items="@(new SelectList(ViewBag.States, "Value", "Text"))">
                                        <option value="">Lựa chọn</option>
                                    </select>
                                </div>
                            </div>
                            <div class="kt-mb-30 row">
                                <button type="submit" class="btn btn-info submit kt-mr-10 offset-3">
                                    <i class="la la-save"></i>
                                    Cập nhật thông tin
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @* Tab - Danh sách vật tư-thiết bị *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">

                @await Html.PartialAsync("/Views/Bunker/_ListSupplies.cshtml")
            </div>
            @* Tab - Nhân viên *@
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">

                @await Html.PartialAsync("/Views/Bunker/_ListStaff.cshtml")
            </div>
            @* Tab - Kiểm kê *@
            <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">

                @await Html.PartialAsync("/Views/Bunker/_ListInventory.cshtml")
            </div>
            @* Tab - Danh sách đề xuất *@
            <div class="tab-pane" id="kt_tabs_1_5" role="tabpanel">

                @await Html.PartialAsync("/Views/Bunker/_ListOffer.cshtml")
            </div>
            @* Tab - Phiếu nhập kho *@
            <div class="tab-pane" id="kt_tabs_1_6" role="tabpanel">

                @await Html.PartialAsync("/Views/Bunker/_ListTicketImport.cshtml")
            </div>
            @* Tab - Phiếu xuất kho *@
            <div class="tab-pane" id="kt_tabs_1_7" role="tabpanel">

                @await Html.PartialAsync("/Views/Bunker/_ListTicketExport.cshtml")
            </div>
            @* Tab - Thông báo phiếu nhập *@
            <div class="tab-pane" id="kt_tabs_1_8" role="tabpanel">

                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword--messenger" type="text" name="keyword" class="form-control" value="" placeholder="Số chứng từ..." />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        <select id="js-filter-state_exportto" class="form-control bootstrap-select"
                                                name="status">
                                            <option value="">Trạng thái</option>
                                            @foreach (var item in ViewBag.StatusExportTo)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable--listexportto"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
@section scripts {
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.dropdown-import').on("click", function (e) {
                $('.dropdown-submenu a.dropdown-export').next('ul').css('display', 'none');
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            })
            $('.dropdown-submenu a.dropdown-export').on("click", function (e) {
                $('.dropdown-submenu a.dropdown-import').next('ul').css('display', 'none');
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
}
