﻿@model ExportBunkerRequest
@{
    Layout = null;
}

<form class="dmms-form-bunker__exportsuppliesoder" asp-action="exportstaff" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="type" hidden />
    <input value="@ViewBag.StateOfOrder" id="state-of_order" hidden />
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_2_10">Danh sách thiết bị</a>
                </li>
                @if (Model.categories.Where(w => w.type == 2).Count() > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_2_11">Danh sách vật tư</a>
                    </li>
                }
                @if (Model.categories.Where(w => w.type == 3).Count() > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_2_12">Danh sách dụng cụ lao động</a>
                    </li>
                }
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Người tạo phiếu</label>
                                    <select data-live-search="true" class="form-control" id="kt-select-staff"
                                            name="from_staff_uuid" asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                                        <option value="">Lựa chọn</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" placeholder="Thời gian tạo phiếu" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Chứng từ gốc</label>
                                <div class="kt-input-icon">
                                    <input asp-for="document_origin" class="form-control" placeholder="Nhập chứng từ gốc" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Kho nguồn</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" placeholder="Nhập kho đích" hidden />
                                    <input class="form-control fromto" placeholder="Nhập kho nguồn" readonly value="@ViewBag.Getname" />
                                    <input hidden name="from_uuid" class="from_uuid">
                                </div>
                            </div>
                        </div>
                        <input hidden name="to_staff_uuid" class="to_staff_uuid">
                        <div class="col-6 border-left">
                            <div class="form-group">
                                <label class="control-label">Kho đích</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" placeholder="Nhập kho đích" hidden />
                                    <input class="form-control to_name" placeholder="Nhập kho đích" readonly />
                                    <input hidden name="to_uuid" class="formto_uuid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon widthfull">
                                    <textarea asp-for="description" class="form-control" placeholder="Nhập ghi chú" style="height: 115px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*TAB THIẾT BỊ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2_10" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                                @*<th scope="col">Đơn giá(Đ)</th>
                        <th scope="col">Thành tiền(Đ)</th>*@
                                <th scope="col">Chi tiết TB thực</th>
                            </tr>
                        </thead>

                        <tbody class="wrapper-fill">
                            @foreach (var categories in Model.categories)
                            {
                                if (categories.type == 1)
                                {
                                    <tr id="@categories.id">
                                        <td class="text-left kt-padding-l-10">
                                            <input name="detail[][category_id]" value="@categories.id" hidden />
                                            <span class="text-primary">@categories.prefixName</span>
                                            <br />@categories.name
                                        </td>
                                        @if (categories.type == 1)
                                        {
                                            <td class="type_category">Thiết bị</td>
                                        }
                                        else if (categories.type == 2)
                                        {
                                            <td class="type_category">Vật tư</td>
                                        }
                                        else if (categories.type == 3)
                                        {
                                            <td class="type_category">Dụng cụ</td>
                                        }
                                        <td><input class="form-control document_quantity" name="detail[][document_quantity]" value="@categories.offer_quantity" placeholder="Nhập" readonly /></td>
                                        @if (categories.type == 1)
                                        {
                                            <td><input name="detail[][real_quantity]" class="form-control kt-hidden real_quantity" /><span>-</span></td>
                                        }
                                        else
                                        {
                                            <td><input name="detail[][real_quantity]" class="form-control real_quantity" /></td>
                                        }
                                        <td class="unit">@categories.unit</td>
                                        @*<td><input class="form-control" name="detail[][unit_price_string]" placeholder="Nhập" id="unit_price" /></td>
                                <td id="detail_money_string_@categories.id" class="detail_money_string">0</td>*@
                                        @*<td class="kt-hidden" id="list_device"></td>*@
                                        @if (categories.type == 1)
                                        {
                                            <td>
                                                <button type="button" class="btn btn-success js-add-detail-exportsupplies" data-id="@categories.id" data-name="@categories.name" data-pre="@categories.prefixName">
                                                    <span class="d-none d-sm-inline-block">Thêm chi tiết</span>
                                                </button>
                                            </td>
                                        }
                                        <td class="kt-hidden list_device"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @*TAB VẬT TƯ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2_11" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên vật tư</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                            </tr>
                        </thead>

                        <tbody class="wrapper-fill">
                            @foreach (var categories in Model.categories)
                            {
                                if (categories.type == 2)
                                {
                                    <tr id="@categories.id">
                                        <td class="text-left kt-padding-l-10">
                                            <input name="detail[][category_id]" value="@categories.id" hidden />
                                            <span class="text-primary">@categories.prefixName</span>
                                            <br />@categories.name
                                        </td>
                                        @if (categories.type == 1)
                                        {
                                            <td class="type_category">Thiết bị</td>
                                        }
                                        else if (categories.type == 2)
                                        {
                                            <td class="type_category">Vật tư</td>
                                        }
                                        else if (categories.type == 3)
                                        {
                                            <td class="type_category">Dụng cụ</td>
                                        }
                                        <td><input class="form-control document_quantity" name="detail[][document_quantity]" value="@categories.offer_quantity" placeholder="Nhập" readonly /></td>
                                        @if (categories.type == 1)
                                        {
                                            <td><input name="detail[][real_quantity]" class="form-control kt-hidden real_quantity" /><span>-</span></td>
                                        }
                                        else
                                        {
                                            <td><input name="detail[][real_quantity]" class="form-control real_quantity" min="0" max="@categories.offer_quantity" data-id="@categories.id" /></td>
                                        }
                                        <td class="unit">@categories.unit</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @*TAB DỤNG CỤ LAO ĐỘNG*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2_12" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên DCLĐ</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                            </tr>
                        </thead>

                        <tbody class="wrapper-fill">
                            @foreach (var categories in Model.categories)
                            {
                                if (categories.type == 3)
                                {
                                    <tr id="@categories.id">
                                        <td class="text-left kt-padding-l-10">
                                            <input name="detail[][category_id]" value="@categories.id" hidden />
                                            <span class="text-primary">@categories.prefixName</span>
                                            <br />@categories.name
                                        </td>
                                        @if (categories.type == 1)
                                        {
                                            <td class="type_category">Thiết bị</td>
                                        }
                                        else if (categories.type == 2)
                                        {
                                            <td class="type_category">Vật tư</td>
                                        }
                                        else if (categories.type == 3)
                                        {
                                            <td class="type_category">Dụng cụ</td>
                                        }
                                        <td><input class="form-control document_quantity" name="detail[][document_quantity]" value="@categories.offer_quantity" placeholder="Nhập" readonly /></td>
                                        @if (categories.type == 1)
                                        {
                                            <td><input name="detail[][real_quantity]" class="form-control kt-hidden real_quantity" /><span>-</span></td>
                                        }
                                        else
                                        {
                                            <td><input name="detail[][real_quantity]" class="form-control real_quantity" min="0" max="@categories.offer_quantity" data-id="@categories.id" /></td>
                                        }
                                        <td class="unit">@categories.unit</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-success">
            Lưu và in chứng từ
        </button>
        <button type="submit" class="btn btn-info">
            Lưu dữ liệu
        </button>
        <button type="button" class="btn btn-danger kt-close">
            Hủy bỏ
        </button>
    </div>
</form>
<script>
    $('input[name="detail[][unit_price_string]"]').simpleMoneyFormat();
</script>


