﻿@model ExportBunkerRequest
@{
    Layout = null;
}

<form class="dmms-form-bunker__exportsupplies" asp-action="exportstaff" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="type" hidden />
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase importsupplier1" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị-vật tư</a>
                </li>
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Người tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <select data-live-search="true" class="form-control" id="kt-select-staff"
                                                name="from_staff_uuid" asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                        @*<input asp-for="from_staff_uuid" class="form-control" placeholder="Người tạo phiếu" hidden />
                                            <input class="form-control" placeholder="Người tạo phiếu" value="@Model.from_staff_name" readonly />*@
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" placeholder="Thời gian tạo phiếu" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Chứng từ gốc</label>
                                <div class="kt-input-icon">
                                    <input asp-for="document_origin" class="form-control" placeholder="Nhập chứng từ gốc" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Kho nguồn</label>
                                <div class="kt-input-icon">
                                    <input asp-for="from_uuid" class="form-control" placeholder="Nhập kho đích" hidden />
                                    <input value="@Model.from_name" class="form-control" placeholder="Nhập kho đích" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            @if (Model.type != 5 && Model.type != 4)
                            {
                                <div class="form-group">
                                    @if (Model.type == 2)
                                    {
                                        <label class="control-label">Nhà cung cấp</label>
                                        <div class="kt-form__group">
                                            @if (ViewBag.Suppliers != null && ViewBag.Suppliers.Count > 0)
                                            {
                                                <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-supplier"
                                                        name="supplier_uuid" asp-items="@(new SelectList(ViewBag.Suppliers, "uuid", "name"))">
                                                    <option value="">Lựa chọn</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control bootstrap-select" id="kt-select-supplier"
                                                        name="">
                                                    <option value="">Không có nhà cung cấp</option>
                                                </select>
                                            }
                                        </div>
                                    }
                                    else if (Model.type == 1)
                                    {
                                        <input asp-for="to_staff_uuid" hidden />
                                        <label class="control-label">Kho đích</label>
                                        <div class="kt-form__group">
                                            @if (ViewBag.StaffTech != null && ViewBag.StaffTech.Count > 0)
                                            {
                                                <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-stafftech"
                                                        name="to_uuid" asp-items="@(new SelectList(ViewBag.StaffTech, "uuid", "name"))">
                                                    <option value="">Lựa chọn</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control bootstrap-select" id="kt-select-stafftech"
                                                        name="">
                                                    <option value="">Không có NVKT</option>
                                                </select>
                                            }
                                        </div>
                                    }
                                    else if (Model.type == 3)
                                    {
                                        <label class="control-label">Kho đích</label>
                                        <div class="kt-form__group">
                                            <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-bunker"
                                                    name="to_uuid" asp-items="@(new SelectList(ViewBag.Bunkers, "uuid", "name"))">
                                                <option value="">Lựa chọn</option>
                                            </select>
                                        </div>
                                    }
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon widthfull">
                                    <textarea asp-for="description" class="form-control" placeholder="Nhập ghi chú" style="height: 115px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên vật tư-thiết bị</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                                @if (Model.type == 4)
                                {
                                    <th scope="col">Đơn giá(Đ)</th>
                                    <th scope="col">Thành tiền(Đ)</th>
                                }
                                <th scope="col">Chi tiết TB thực</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody class="wrapper-fill">
                            <tr id="first">
                                <td>
                                    @if (ViewBag.SuppliesInBunker != null)
                                    {
                                        <select data-live-search="true" class="form-control kt-select-supplies" id="kt-select-supplies"
                                                name="detail[][category_id]">
                                            <option value="">Lựa chọn</option>
                                            @foreach (var item in ViewBag.SuppliesInBunker)
                                            {
                                                //Số lượng tồn kho còn
                                                if (item.quantity_exist > 0)
                                                {
                                                    <option value="@item.category_id" data-subtext="@item.name_display">@item.prefix_name_format</option>
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control bootstrap-select" id="kt-select-supplies"
                                                name="">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                </td>
                                <td id="type_category">-</td>
                                <td><input class="form-control" name="detail[][document_quantity]" placeholder="Nhập" id="document_quantity" readonly /></td>
                                <td><input name="detail[][real_quantity]" id="real_quantity" class="form-control kt-hidden" /><span>-</span></td>
                                <td id="unit">-</td>
                                @if (Model.type == 4)
                                {
                                    <td><input class="form-control" name="detail[][unit_price_string]" placeholder="Nhập" id="unit_price" /></td>
                                    <td id="money_string">0</td>
                                }
                                <td class="kt-hidden" id="list_device"></td>
                                <td>
                                    <button type="button" class="btn btn-success" id="js-add-detail-exportsupplies">
                                        <span class="d-none d-sm-inline-block">Thêm chi tiết</span>
                                    </button>
                                </td>
                                <td><i class="la la-plus kt-p-0-tablet-and-mobile" id="js-add-exportsupplies"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-success">
            Lưu và in chứng từ
        </button>
        <button type="submit" class="btn btn-info">
            Lưu dữ liệu
        </button>
        <button type="button" class="btn btn-danger kt-close">
            Hủy bỏ
        </button>
    </div>
</form>



