﻿@model ExportBunkerRequest

@{
    Layout = null;
}

<form class="dmms-form-exporttoinventory" asp-action="ExportToInventory" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input hidden name="type" value="5" />
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase suppliesininventory" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị-vật tư</a>
                </li>
                @if (ViewBag.CountSupplies > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_3">Danh sách vật tư</a>
                    </li>
                }
                @if (ViewBag.LabortTools > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_4">Danh sách dụng cụ lao động</a>
                    </li>
                }
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Người tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input name="from_staff_uuid" value="@ViewBag.Inventory.storage_keeper.uuid" class="form-control" hidden />
                                        <input value="@ViewBag.Inventory.storage_keeper.name" class="form-control" placeholder="Nhân viên kiểm kê" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input value="@ViewBag.Inventory.time_stock_take_format" class="form-control" placeholder="Thời gian kiểm kê" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Chứng từ gốc</label>
                                <div class="kt-input-icon">
                                    <input name="document_origin" value="@ViewBag.Inventory.code" class="form-control" placeholder="Nhập chứng từ gốc" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Kho nguồn</label>
                                <div class="kt-input-icon">
                                    <input asp-for="from_uuid" class="form-control" placeholder="Nhập kho đích" hidden />
                                    <input value="@Model.from_name" class="form-control" placeholder="Nhập kho đích" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon">
                                    <textarea name="description" class="form-control" placeholder="Nhập ghi chú" style="height: 115px">@ViewBag.Inventory.description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*TAB THIẾT BỊ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                                <th scope="col">Đơn giá(Đ)</th>
                                <th scope="col">Thành tiền(Đ)</th>
                                <th scope="col">Chi tiết TB thực</th>
                                @*<th scope="col">Tác vụ</th>*@
                            </tr>
                        </thead>
                        @if (ViewBag.SuppliesInInventory != null && ViewBag.SuppliesInInventory.Count > 0)
                        {
                            @foreach (var item in ViewBag.SuppliesInInventory)
                            {
                                if (item.type == 1 && item.deviations_quantity > 0)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="detail[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td>@item.type_format</td>
                                            <td><input class="form-control" name="detail[][document_quantity]" value="@item.deviations_quantity" placeholder="Nhập" hidden />@item.deviations_quantity</td>
                                            <td><input hidden name="detail[][real_quantity]" value="@item.deviations_quantity" /><span class="real_quantity">@item.deviations_quantity</span></td>
                                            <td>@item.unit</td>
                                            <td><input class="form-control unit_price" name="detail[][unit_price_string]" placeholder="Nhập" data-category="@item.category_id" /></td>
                                            <td class="money_string">0</td>
                                            <td style="display: none" class="list_device">
                                                @foreach (var item1 in item.detail_temp)
                                                {
                                                    if (item1.state_in_inventory == 3)
                                                    {
                                                        <input name="detail[][device[]]" value="@item1.uuid" />
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary detail-supplies_inner" data-id="@item.uuid" data-category="@item.category_id">
                                                    <span class="d-none d-sm-inline-block">Xem chi tiết</span>
                                                </button>
                                            </td>
                                            @*<td><i class="la la-trash remove_field_detailsupplies" data-category="@item.category_id" style="background-color: #FF5F6D" ></i></td>*@
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
                @*TAB DANH SÁCH VẬT TƯ*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_3" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên vật tư</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                                <th scope="col">Đơn giá(Đ)</th>
                                <th scope="col">Thành tiền(Đ)</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        @if (ViewBag.SuppliesInInventory != null)
                        {
                            foreach (var item in ViewBag.SuppliesInInventory)
                            {
                                if (item.type == 2 && item.deviations_quantity > 0)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="detail[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td><input class="form-control" name="detail[][document_quantity]" value="@item.deviations_quantity" placeholder="Nhập" hidden />@item.deviations_quantity</td>
                                            <td><input class="form-control" data-category="@item.category_id" name="detail[][real_quantity]" max="@item.deviations_quantity" min="0" /></td>
                                            <td>@item.unit</td>
                                            <td><input class="form-control unit_price" data-category="@item.category_id" name="detail[][unit_price_string]" placeholder="Nhập" /></td>
                                            <td class="money_string">0</td>
                                            <td><i class="la la-trash remove_field_detailsupplies" style="background-color: #FF5F6D"></i></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
                @*TAB DANH SÁCH DỤNG CỤ LAO ĐỘNG*@
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_4" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên DCLĐ</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                                <th scope="col">Đơn giá(Đ)</th>
                                <th scope="col">Thành tiền(Đ)</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        @if (ViewBag.SuppliesInInventory != null)
                        {
                            foreach (var item in ViewBag.SuppliesInInventory)
                            {
                                if (item.type == 3 && item.deviations_quantity > 0)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.category_id">
                                            <td class="text-left kt-padding-l-10">
                                                <input hidden name="detail[][category_id]" value="@item.category_id" />
                                                <sapn class="text-primary">@item.prefix_name</sapn>
                                                <br />
                                                @item.name_display
                                            </td>
                                            <td><input class="form-control" name="detail[][document_quantity]" value="@item.deviations_quantity" placeholder="Nhập" hidden />@item.deviations_quantity</td>
                                            <td><input class="form-control" data-category="@item.category_id" name="detail[][real_quantity]" max="@item.deviations_quantity" min="0" /></td>
                                            <td>@item.unit</td>
                                            <td><input class="form-control unit_price" data-category="@item.category_id" name="detail[][unit_price_string]" placeholder="Nhập" /></td>
                                            <td class="money_string">0</td>
                                            <td><i class="la la-trash remove_field_detailsupplies" style="background-color: #FF5F6D"></i></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-success">
            In chứng từ
        </button>
        <button type="submit" class="btn btn-info">
            Lưu dữ liệu
        </button>
        <button type="button" class="btn btn-danger kt-close">
            Đóng
        </button>
    </div>
</form>



