﻿@model ImportBunkerRequest

@{
    Layout = null;
}

<form class="dmms-form-bunker__importsupplies" asp-action="ImportSupplies" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="type" hidden />
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase importsupplier1" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị-vật tư</a>
                </li>
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="control-label">Người tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input asp-for="to_staff_uuid" hidden />
                                        <input value="@Model.to_staff_name" class="form-control" placeholder="Người tạo phiếu" readonly />
                                    </div>
                                </div>
                            </div>
                            @if (Model.type == 2)
                            {
                                <div class="form-group">
                                    <label class="control-label">Chứng từ gốc</label>
                                    <div class="kt-input-icon">
                                        <input asp-for="document_origin" class="form-control" placeholder="Nhập chứng từ gốc" />
                                    </div>
                                </div>
                            }
                            else if (Model.type == 1)
                            {
                                <div class="form-group">
                                    <label class="control-label">Chứng từ gốc</label>
                                    <div class="kt-input-icon">
                                        <input asp-for="document_origin" class="form-control" placeholder="Nhập chứng từ gốc" readonly />
                                    </div>
                                </div>
                            }
                            else if (Model.type == 3)
                            {
                                <div class="form-group">
                                    <label class="control-label">Chứng từ gốc</label>
                                    <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-document_origin">
                                        <option value="">Lựa chọn</option>
                                        @if (ViewBag.ListExports != null)
                                        {
                                            foreach (var item in ViewBag.ListExports)
                                            {
                                                <option value="@item.uuid" data-id="@item.StorageFrom.uuid" data-name="@item.StorageFrom.name" data-document="@item.code">@item.code</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <input name="exportUuid" id="fill-exportUuid" hidden />
                                <input name="document_origin" id="wrapper-document_origin" hidden />
                            }
                            <div class="form-group">
                                <label class="control-label">Kho đích</label>
                                <div class="kt-input-icon" id="wrapper-to_uuid">
                                    <input asp-for="to_uuid" placeholder="Nhập kho đích" hidden />
                                    <input class="form-control" placeholder="Nhập kho đích" value="@ViewBag.ToName" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            @* Hiển thị khi type = 2 *@
                            @if (Model.type == 2)
                            {
                                <div class="form-group" id="supplier-in_import">
                                    <label class="control-label">Nhà cung cấp</label>
                                    <div class="kt-form__group">
                                        @if (ViewBag.Suppliers != null)
                                        {
                                            <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-supplier"
                                                    name="supplier_uuid" asp-items="@(new SelectList(ViewBag.Suppliers, "uuid", "name"))">
                                                <option value="">Lựa chọn</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-supplier"
                                                    name="supplier_id">
                                                <option value="">Lựa chọn</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                            }
                            else if (Model.type == 1)
                            {
                                <div class="form-group">
                                    <label class="control-label">Kho nhân viên kỹ thuật</label>
                                    <div class="kt-form__group">
                                        <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-other"
                                                name="from_uuid" asp-items="@(new SelectList(ViewBag.Staffs, "uuid", "name"))">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="form-group col-6">
                                            <label class="control-label">Kho nhân viên kỹ thuật</label>
                                            <div class="kt-form__group">
                                                <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-other"
                                                        name="from_uuid" asp-items="@(new SelectList(ViewBag.Staffs, "uuid", "name"))">
                                                    <option value="">Lựa chọn</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-6">
                                            <label class="control-label">Nhân viên giao hàng</label>
                                            <div class="kt-input-icon">
                                                <input asp-for="from_staff_uuid" class="form-control" hidden />
                                                <input class="form-control" placeholder="Nhân viên giao hàng" />
                                            </div>
                                        </div>
                                    </div>*@
                            }
                            else if (Model.type == 3)
                            {
                                @*<div class="form-group">
                                        <label class="control-label">Kho nguồn</label>
                                        <div class="kt-form__group">
                                            <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-other"
                                                    name="from_uuid" asp-items="@(new SelectList(ViewBag.Bunkers, "uuid", "name"))">
                                                <option value="">Lựa chọn</option>
                                            </select>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="control-label">Kho nguồn</label>
                                    <div class="kt-form__group">
                                        <div class="kt-input-icon">
                                            <input name="from_uuid" id="wrapper-from_uuid" hidden />
                                            <input class="form-control" placeholder="Nhập kho nguồn" id="wrapper-from_name" readonly />
                                        </div>
                                    </div>
                                </div>
                            }
                            <input name="from_staff_uuid" hidden>
                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon widthfull">
                                    <textarea asp-for="description" class="form-control" placeholder="Nhập ghi chú" style="height: 115px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2" role="tabpanel">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên vật tư-thiết bị</th>
                                <th scope="col">Phân loại</th>
                                <th scope="col">SL theo CT</th>
                                <th scope="col">SL thực</th>
                                <th scope="col">Đơn vị tính</th>
                                @if (Model.type == 2)
                                {
                                    <th scope="col">Đơn giá(Đ)</th>
                                    <th scope="col">Thành tiền(Đ)</th>
                                }
                                <th scope="col">Chi tiết TB thực</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody class="wrapper-fill">
                            <tr id="first">
                                <td>
                                    @if (Model.type == 1 || Model.type == 3)
                                    {
                                        <select data-live-search="true" class="form-control kt-select-supplies" id="kt-select-supplies"
                                                name="detail[][category_id]" style="width: 150px">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    }
                                    else
                                    {
                                        if (ViewBag.Supplies != null)
                                        {

                                            <select data-live-search="true" class="form-control kt-select-supplies" id="kt-select-supplies"
                                                    name="detail[][category_id]" style="width: 150px">
                                                <option value="">Lựa chọn</option>
                                                @foreach (var item in ViewBag.Supplies)
                                                {
                                                    <option value="@item.id" data-subtext="@item.name_display">@item.prefix_name_format</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="form-control bootstrap-select" id="kt-select-supplies"
                                                    name="">
                                                <option value="">Lựa chọn</option>
                                            </select>
                                        }
                                    }

                                </td>
                                <td id="type_category">-</td>
                                <td>
                                    @if (Model.type == 1)
                                    {
                                        <input class="form-control" name="detail[][document_quantity]" placeholder="Nhập" id="document_quantity" readonly />
                                    }
                                    else
                                    {
                                        <input class="form-control" name="detail[][document_quantity]" placeholder="Nhập" id="document_quantity" />
                                    }
                                </td>
                                <td>
                                    <input name="detail[][real_quantity]" id="real_quantity" class="kt-hidden form-control" />
                                    <span>-</span>
                                </td>
                                <td id="unit">-</td>
                                @if (Model.type == 2)
                                {
                                    <td><input class="form-control" name="detail[][unit_price_string]" placeholder="Nhập" id="unit_price" /></td>
                                    <td id="money_string">0</td>
                                }
                                <td style="display: none" id="list_device"></td>
                                <td>
                                    <button type="button" class="btn btn-success" id="js-add-detail-importsupplies">
                                        <span class="d-none d-sm-inline-block">Thêm chi tiết</span>
                                    </button>
                                </td>
                                <td><i class="la la-plus kt-p-0-tablet-and-mobile" id="js-add-importsupplies"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-success">
            Lưu và in chứng từ
        </button>
        <button type="submit" class="btn btn-info">
            Lưu dữ liệu
        </button>
        <button type="button" class="btn btn-danger kt-close">
            Hủy bỏ
        </button>
    </div>
</form>



