﻿@model BunkerModel

@{
    ViewData["Title"] = "Danh sách kho";
    ViewData["BodyClass"] = "dmms-bunker";

}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Danh sách kho
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <button type="button" class="js-add-bunker btn btn-primary btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm kho mới</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã kho, tên kho" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row align-items-center kt-margin-t-10">
                <div class="col-md-3 col-lg-3">
                    <div class="kt-form__group">
                        @if (ViewBag.Provinces != null)
                        {
                            <select id="js-filter-province" data-live-search="true" class="form-control bootstrap-select" name="provinceID"
                                    asp-items="@(new SelectList(ViewBag.Provinces, "id", "name"))">
                                <option value="">Tỉnh/thành</option>
                            </select>
                        }
                        else
                        {
                            <select id="js-filter-province" data-live-search="true" class="form-control bootstrap-select" name="provinceID">
                                <option value="">Tỉnh/thành</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="kt-form__group">
                        <select id="js-filter-town" data-live-search="true" class="form-control bootstrap-select" name="townID">
                            <option value="">Quận/huyện</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="kt-form__group">
                        <select id="js-filter-village" data-live-search="true" class="form-control bootstrap-select" name="villageID">
                            <option value="">Phường/xã</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="kt-form__group">
                        <select id="js-filter-state" class="form-control bootstrap-select" name="state"
                                asp-items="@(new SelectList(ViewBag.States, "Value", "Text"))">
                            <option value="">Trạng thái</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt"></div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>
