﻿@model ImportBunkerRequest

@{
    Layout = null;
}

<form class="dmms-form-bunker__aceptimport" asp-action="" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="type" hidden />
    <input name="exportUuid" value="@Model.exportUuid" hidden />
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_2_1_1">THÔNG TIN CHUNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_2_1_2">Danh sách thiết bị-vật tư</a>
                </li>
            </ul>

            <div class="tab-content">
                @* Begin: THONG TIN CHUNG *@
                <div class="tab-pane active" id="kt_tabs_2_1_1" role="tabpanel">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Người tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input name="to_staff_uuid" value="@Model.to_staff_uuid" hidden />
                                        <input class="form-control" value="@ViewBag.Staff_create" placeholder="Người tạo phiếu" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Thời gian tạo phiếu</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" placeholder="Thời gian tạo phiếu" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Số chứng từ gốc</label>
                                <div class="kt-input-icon">
                                    <input class="form-control" asp-for="document_origin" placeholder="Số chứng từ" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Kho đích</label>
                                <div class="kt-input-icon" id="wrapper-to_uuid">
                                    <input class="form-control" asp-for="to_uuid" placeholder="Kho đích" hidden />
                                    <input class="form-control" value="@ViewBag.ToName" placeholder="Kho đích" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="col-6 border-left">
                            <div id="other-in_import">
                                <div class="form-group">
                                    <label class="control-label">Kho nguồn</label>
                                    <div class="kt-input-icon">
                                        <input class="form-control" asp-for="from_uuid" placeholder="Kho đích" hidden />
                                        <input class="form-control" value="@ViewBag.FromName" placeholder="Kho nguồn" readonly />
                                    </div>
                                </div>
                                @*<div class="form-group col-6">
                                        <label class="control-label">Nhân viên giao hàng</label>
                                        <div class="kt-input-icon">
                                            <input class="form-control" asp-for="staff_name" placeholder="Nhân viên giao hàng" readonly />
                                        </div>
                                    </div>*@
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ghi chú</label>
                                <div class="kt-input-icon widthfull">
                                    <textarea class="form-control" asp-for="description" placeholder="Nhập ghi chú" style="height: 115px"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane add-detail-supplies" id="kt_tabs_2_1_2" role="tabpanel">
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Tên vật tư-thiết bị</th>
                                    <th scope="col">Phân loại</th>
                                    <th scope="col">SL theo CT</th>
                                    <th scope="col">SL thực</th>
                                    <th scope="col">Đơn vị tính</th>
                                    <th scope="col">Chi tiết TB thực</th>
                                </tr>
                            </thead>
                            @if (ViewBag.Categories != null)
                            {
                                foreach (var item in ViewBag.Categories)
                                {
                                    <tbody class="wrapper-fill">
                                        <tr id="@item.id">
                                            <td class="text-left kt-padding-l-10" style="max-width:230px">
                                                <input name="detail[][category_id]" value="@item.id" hidden />
                                                <span class="text-primary">@item.prefixName</span><br />
                                                <span>@item.name</span>
                                            </td>
                                            <td>@ViewBag.TypeCategory[item.type - 1].Text</td>
                                            <td>
                                                <input class="form-control" name="detail[][document_quantity]" placeholder="Nhập" value="@item.realQuantity" hidden />
                                                <span>@item.realQuantity</span>
                                            </td>
                                            <td>
                                                @if (item.type == 1)
                                                {
                                                    <input name="detail[][real_quantity]" class="kt-hidden form-control" />
                                                    <span class="real_quantity">-</span>
                                                }
                                                else
                                                {
                                                    <input name="detail[][real_quantity]" data-categoryid="@item.id" min="0" max="@item.realQuantity" class="form-control" />
                                                }
                                            </td>
                                            <td>@item.unit</td>
                                            <td style="display: none" class="list_device"></td>
                                            <td>
                                                @if (item.type == 1)
                                                {
                                                    <button data-id="@item.id" data-uuidexport="@ViewBag.UuidOfExportDetail" type="button" class="btn btn-primary js-add-detail-importsupplies">
                                                        <span class="d-none d-sm-inline-block">Xem chi tiết</span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-primary" disabled>
                                                        <span class="d-none d-sm-inline-block">Xem chi tiết</span>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <div class="text-right">
            <button type="button" class="btn btn-success">
                Lưu và in chứng từ
            </button>
            <button type="submit" class="btn btn-info">
                Lưu dữ liệu
            </button>
            <button type="button" class="btn btn-danger kt-close">
                Hủy bỏ
            </button>
        </div>
    </div>
</form>



