﻿@model DMMS.Models.TreeAddRequest
@{

    Layout = null;
}
<form id="dmms-tree__form" asp-action="Create" asp-controller="tree">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

   
    <div class="form-group">
        <div class="kt-input-icon kt-input-icon--left">
            @if (ViewBag.getstaff != null)
            {
                <select id="js-getstafff" data-live-search="true" multiple="multiple" class="form-control"
                        name="uuids[]" asp-items="@(new SelectList(ViewBag.getstaff, "uuid", "name_format"))">
                    <option value="">---Chọn nhân viên---</option>
                </select>
            }
            else
            {
                <select id="js-getstafff" data-live-search="true" multiple="multiple" class="form-control"
                        name="uuids[]">
                    <option value="">---Chọn nhân viên---</option>
                </select>
            }

        </div>
    </div>
    <input asp-for="uuid" hidden />
    <div class="text-center">
        <button type="submit" class="btn btn-primary submit">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>
