﻿@model DMMS.Models.TreeAddRequest
@{

    Layout = null;
}
    <form id="dmms-tree__formDepartment" asp-action="CreateDepartment" asp-controller="tree">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="adddom"></div>
        <div class="form-group removedom">
            @if (ViewBag.getstaff != null)
            {
            <select id="js-getstafffdep" data-live-search="true" class="form-control" title="Chọn phòng ban"
                    name="uuids" asp-items="@(new SelectList(ViewBag.getstaff, "uuid", "name"))">
                <option value="" style="font-size:15px; font-weight:bold" ;>+ Thêm mới</option>
            </select>
            }
            else
            {
                <select id="js-getstafffdep" data-live-search="true" class="form-control"
                        name="uuids">
                    <option value="">---Chọn phòng ban---</option>
                </select>
            }


        </div>
       

        <input asp-for="uuid" hidden />
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary submit">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
