﻿@model DMMS.Models.TreeAddRequest
@{

    Layout = null;
}

<form id="dmms-tree__formteamnew" asp-action="CreateTeamnew" asp-controller="tree">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>


    <div class="form-group">
        <label asp-for="name" class="control-label">Tên đội nhóm</label>
        <div class="kt-input-icon ">
            <input asp-for="name" class="form-control" placeholder="Nhập tên đội nhóm" />
            @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
        </div>
    </div>
    <div class="adduuid"></div>
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary submit">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>

