﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - DMMS</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese" rel="stylesheet">
    @{
        var theme = httpContextAccessor.HttpContext.Request.Cookies["theme"];
        if (theme != null && !string.IsNullOrEmpty(theme.ToString()))
        {
            <link href="@string.Format("~/dist/{0}.css", theme)" rel="stylesheet" asp-append-version="true" />
        }
        else
        {
            <link href="~/dist/white.css" rel="stylesheet" asp-append-version="true" />
        }
    }
</head>
<body class="kt-page-content-white kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed @ViewData["BodyClass"]">
    <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v5 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
                <div class="kt-login__left" style="background-image: url(/statics/images/login-bg.png);">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__content text-center">
                            <a class="kt-login__logo" href="#">
                                <img src="/statics/images/logo.svg" height="80">
                            </a>

                            <h3 class="kt-login__title">CHÀO MỪNG BẠN ĐẾN VỚI</h3>

                            <span class="kt-login__subtitle">
                                HỆ THỐNG QUẢN LÝ BẢO TRÌ BẢO DƯỠNG
                            </span>
                            <div class="kt-login__div"></div>
                            <div class="kt-login__desc">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-login__right">
                    <div class="kt-login__wrapper">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
