﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - DMMS - Hệ Thống Quản Lý Bảo Trì - Bảo Dưỡng</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese" rel="stylesheet"> /statics/images/logo.svg*@
    <link href="~/dist/jquery-ui.min.css" rel="stylesheet" />
    @{
        var theme = httpContextAccessor.HttpContext.Request.Cookies["theme"];
        if (theme != null && !string.IsNullOrEmpty(theme.ToString()))
        {
            <link href="@string.Format("~/dist/{0}.css", theme)" rel="stylesheet" asp-append-version="true" />
        }
        else
        {
            <link href="~/dist/white.css" rel="stylesheet" asp-append-version="true" />
        }
    }

    <link rel="icon" href="/statics/images/logo.ico" id="favicon" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet" />
</head>
<body class="kt-page-content-white kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading @ViewData["BodyClass"]">
    <!-- begin:: Header Mobile -->
    @await Html.PartialAsync("/Views/Shared/HeaderMobile.cshtml")
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                @*@await Html.PartialAsync("/Views/Shared/Header.cshtml")*@
                @await Component.InvokeAsync("Header")
                <!-- end:: Header -->
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                    <div class="kt-container  kt-container--fluid  kt-grid kt-grid--ver">
                        <!-- begin:: Aside -->
                        @await Html.PartialAsync("/Views/Shared/Aside.cshtml")
                        <!-- end:: Aside -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                            <!-- begin:: Subheader -->
                            @*@await Html.PartialAsync("/Views/Shared/SubHeader.cshtml")*@
                            @await Component.InvokeAsync("SubHeader")
                            <!-- end:: Subheader -->
                            <!-- begin:: Content -->
                            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                                @RenderBody()
                            </div>
                            <!-- end:: Content -->
                        </div>
                    </div>
                </div>

                <!-- begin:: Footer -->
                @await Html.PartialAsync("/Views/Shared/Footer.cshtml")
                <!-- end:: Footer -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function changeTheme(theme) {
            if (theme !== undefined) {
                $.ajax({
                    url: "/set-theme",
                    method: 'POST',
                    data: {
                        name: theme
                    },
                })
                    .done(function (res) {
                        window.location.reload();
                    })
                    .fail(function (res) {
                        window.location.reload();
                    });
            }
        };
    </script>
    <script src="~/dist/main.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="~/dist/jquery-ui.min.js"></script>*@
    <script src="~/dist/simple.money.format.js"></script>
    @*<script src="~/dist/apexcharts.js"></script>*@
    @*<script src="~/dist/jquery-ui.min.js"></script>*@
    @RenderSection("scripts", false)
</body>
</html>
