﻿<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>

<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
    <!-- begin:: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1">

            <ul class="kt-menu__nav ">
                <li class="kt-menu__item" aria-haspopup="true"><a href="/" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span class="kt-menu__link-text">Dashboard</span></a></li>
                <li class="kt-menu__section ">
                    <h4 class="kt-menu__section-text">Tính năng chính</h4>
                    <i class="kt-menu__section-icon flaticon-more-v2"></i>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/ticket" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-responsive"></i>
                        <span class="kt-menu__link-text">Quản lý phiếu yêu cầu</span>
                        @*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@
                    </a>
                    @*<div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/ticket" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Danh sách yêu cầu</span>
                        </a>
                    </li>
                </ul>
            </div>*@
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon la la-tasks"></i>
                        <span class="kt-menu__link-text">Quản lý công việc</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/task" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh sách công việc</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/taskoffer" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Đề xuất công việc</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/taskplan" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Lập kế hoạch công việc</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/reportdaily" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Báo cáo</span>
                                </a>
                            </li>
                            @*<li class="kt-menu__item " aria-haspopup="true">
                        <a href="/supplier" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Nhà cung cấp</span>
                        </a>
                    </li>*@
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-notes"></i>
                        <span class="kt-menu__link-text">Quản lý dự án</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/project" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh sách dự án</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/contract" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Quản lý hợp đồng</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/package" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh mục sản phẩm</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/customer" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-user"></i>
                        <span class="kt-menu__link-text">Quản lý đơn vị</span>
                        @*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@
                    </a>
                    @*<div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                        <span class="kt-menu__link"><span class="kt-menu__link-text">Utils</span></span>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/customer" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Danh sách khách hàng</span>
                        </a>
                    </li>
                </ul>
            </div>*@
                </li>

                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/staff" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-users"></i>
                        <span class="kt-menu__link-text">Quản lý nhân viên</span>
                        @*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@
                    </a>
                    @*<div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/staff" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Danh sách</span>
                        </a>
                    </li>
                </ul>
            </div>*@
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-responsive"></i>
                        <span class="kt-menu__link-text">Quản lý thiết bị</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/device" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh sách thiết bị</span>
                                </a>
                            </li>
                            @*<li class="kt-menu__item " aria-haspopup="true">
                        <a href="/category" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Loại thiết bị</span>
                        </a>
                    </li>*@
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/supplier" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Nhà cung cấp</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                @*<li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
            <a href="/team" class="kt-menu__link kt-menu__toggle">
                <i class="kt-menu__link-icon flaticon2-group"></i>
                <span class="kt-menu__link-text">Quản lý đội nhóm</span>
            </a>
        </li>*@
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/area" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-users"></i>
                        <span class="kt-menu__link-text">Quản lý khu vực</span>
                        @*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@
                    </a>
                    @*<div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/group" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Danh sách nhóm</span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                <a href="/group/IndexList" class="kt-menu__link ">
                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                    <span class="kt-menu__link-text">Danh sách các nhóm</span>
                </a>
            </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/group/group-customer" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Nhóm khách hàng</span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/group/group-staff" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Nhóm nhân viên</span>
                        </a>
                    </li>
                </ul>
            </div>*@
                </li>
                @*<li class="kt-menu__section ">
            <h4 class="kt-menu__section-text">Quản lý báo cáo</h4>
            <i class="kt-menu__section-icon flaticon-more-v2"></i>
        </li>
        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
            <a href="/reportdaily" class="kt-menu__link kt-menu__toggle">
                <i class="kt-menu__link-icon flaticon-responsive"></i>
                <span class="kt-menu__link-text">Báo cáo thống kê</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/reportdaily" class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                            <span class="kt-menu__link-text">Báo cáo hàng ngày</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>*@

                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-responsive"></i>
                        <span class="kt-menu__link-text">Quản lý Thiết bị-Vật tư</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/bunker" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh sách kho</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/treecategories" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Mô hình Danh mục</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/listsupplies" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh mục thiết bị-vật tư</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/managefiled" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Quản lý lĩnh vực</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/listoffer" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Đề xuất thiết bị-vật tư</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="kt-menu__section ">
                    <h4 class="kt-menu__section-text">Báo cáo & thống kê</h4>
                    <i class="kt-menu__section-icon flaticon-more-v2"></i>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/reportoverview" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon2-chart "></i>
                        <span class="kt-menu__link-text">Báo cáo tổng quan</span>
                    </a>

                </li>

                <li class="kt-menu__section ">
                    <h4 class="kt-menu__section-text">Quản lý hệ thống</h4>
                    <i class="kt-menu__section-icon flaticon-more-v2"></i>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/sipaccount" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-computer "></i>
                        <span class="kt-menu__link-text">Quản lý Sip Account</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/calllog" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-computer "></i>
                        <span class="kt-menu__link-text">Lịch sử cuộc gọi</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/tree" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-map"></i>
                        <span class="kt-menu__link-text">Mô hình phân quyền</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/TimeWarning" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-settings"></i>
                        <span class="kt-menu__link-text">Cấu hình cảnh  báo</span>
                    </a>

                </li>
                <li class="kt-menu__section ">
                    <h4 class="kt-menu__section-text">Tri thức cơ sở</h4>
                    <i class="kt-menu__section-icon flaticon-more-v2"></i>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-icon flaticon-responsive"></i>
                        <span class="kt-menu__link-text">Quản lý tri thức cơ sở</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/Knowledge" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh sách Topic</span>
                                </a>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="/Knowledge/GetQa" class="kt-menu__link ">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Danh sách câu hỏi</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <!-- end:: Aside Menu -->
</div>