﻿<div class="kt-footer kt-grid__item" id="kt_footer">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__wrapper">
            <div class="kt-footer__copyright">
                Hệ thống quản lý bảo trì - bảo dưỡng DMMS v.1.002
            </div>
            <div class="kt-footer__menu">
                <a href="/" target="_blank" class="kt-link">Hỗ trợ</a>
                <a href="/" target="_blank" class="kt-link">Liên hệ</a>
            </div>
        </div>
    </div>
</div>