﻿<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
    <div class="kt-container  kt-container--fluid ">
        <!-- begin:: Brand -->
        <div class="kt-header__brand " id="kt_header_brand">
            <div class="kt-header__brand-logo">
                <a href="/">
                    <img alt="DMMS - Hệ Thống Quản Lý Bảo Trì - Bảo Dưỡng" src="/statics/images/logo.svg">
                </a>
            </div>
        </div>
        <!-- end:: Brand -->
        <!-- begin:: Header Topbar -->
        <div class="kt-header__topbar">
            <!--begin: User bar -->
            <div class="kt-header__topbar-item kt-header__topbar-item--user">
                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                    <span class="kt-header__topbar-username kt-visible-desktop">
                        <i class="flaticon2-user mr-1"></i>
                        admin
                    </span>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                    <div class="kt-notification">
                        <a href="/account/profile" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-calendar-3"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    Thông tin cá nhân
                                </div>
                                <div class="kt-notification__item-time">
                                    Cấu hình thông tin tài khoản
                                </div>
                            </div>
                        </a>
                        <div class="kt-notification__custom kt-space-between">
                            <form asp-action="Logout" asp-controller="Authen">
                                <button type="submit" class="btn btn-label btn-label-brand btn-sm btn-bold">Đăng xuất</button>
                            </form>
                            
                        </div>
                    </div>
                    <!--end: Navigation -->
                </div>
            </div>
            <!--end: User bar -->
        </div>
        <!-- end:: Header Topbar -->
    </div>
</div>