﻿@model DMMS.Models.ReportDailyAdd

@{
    Layout = null;
}


    <form asp-action="Create" class="dmms-report__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="kt-input-icon kt-input-icon--left">
            <div class="kt-form__group">
                <label class="control-label">Công việc</label>
                <select asp-items="@(new SelectList(ViewBag.task,"uuid","name"))" class="kt-multiple-select-taskstate" data-live-search="true" class="form-control bootstrap-select" asp-for="task_uuid">
                    <option value="">--- Chọn công việc ---</option>
                </select>

            </div>
        </div>
        <div class="kt-form__group">
            <label class="control-label">Khách hàng</label>
            <select asp-items="@(new SelectList(ViewBag.customer,"uuid","name"))" class="kt-multiple-select-taskstate" data-live-search="true" class="form-control bootstrap-select" asp-for="customer_uuid">
                <option value="">--- Chọn công việc ---</option>
            </select>

        </div>
        <div class="form-group">
            <label asp-for="content" class="control-label">Mô tả</label>
            <textarea asp-for="content" class="form-control" placeholder="Ghi chú" />

        </div>

        </div>
        <label asp-for="time_start">Thời gian bắt đầu</label>
        <div class="col-md-4 col-lg-6">
            <div class="input-group date">
                <input type="text" readonly placeholder="Select date" class="kt_datepicker_2 form-control" name="time_start" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-6">
            <label asp-for="time_end">Thời gian kết thúc</label>
            <div class="input-group date">
                <input type="text" readonly placeholder="Select date" class="kt_datepicker_2 form-control" name="time_end" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-6">
            <label asp-for="date_report">Thời gian báo cáo</label>
            <div class="input-group date">
                <input type="text" readonly placeholder="Select date" class="kt_datepicker_2 form-control" name="date_report" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
            </div>
            </div>
            <div class="form-group form-group-last">
                <label class="control-label">Upload image:</label>
                <div>
                    <div class="dropzone dropzone-default" id="kt_dropzone_image">
                        <div class="dropzone-panel">
                        </div>
                        <div class="dropzone-items">
                            <div class="dropzone-item" style="display:none">
                                <div class="dropzone-file">
                                    <div class="dropzone-filename" title="some_image_file_name.jpg">
                                        <span data-dz-name></span>
                                    </div>
                                    <div class="dropzone-error" data-dz-errormessage></div>
                                </div>
                                <div class="dropzone-progress">
                                    <div class="progress">
                                        <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                    </div>
                                </div>
                                <div class="dropzone-toolbar">
                                    <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
                </div>
            </div>
            <input asp-for="uuid_images" type="hidden" />

            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="la la-save"></i>
                    Lưu
                </button>
            </div>
    </form>
