﻿@model DMMS.Models.ReportDailyDataResponse

@{
    Layout = null;
}
<div class="form-group">
    <label asp-for="content" class="control-label" style="font-weight: bold;">Nội dung báo cáo</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="content" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
@if (Model.state == 2)
{

    <label class="control-label" style="font-weight: bold;">Báo cáo chưa duyệt</label>


}
else if (Model.state == 3)
{

    <label class="control-label" style="font-weight: bold;">Báo cáo đã duyệt</label>


}
else
{
    <label class="control-label" style="font-weight: bold;">Báo cáo từ chối</label>
}
<div class="form-group">
    <label asp-for="time_start" class="control-label" style="font-weight: bold;">Thời gian bắt đầu</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="time_start" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="time_end" class="control-label" style="font-weight: bold;">Thời gian kết thúc</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="time_end" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="date_report" class="control-label" style="font-weight: bold;">Thời gian báo cáo</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="date_report" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="staff.name" class="control-label" style="font-weight: bold;">Nhân viên</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="staff.name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="reviewer.name" class="control-label" style="font-weight: bold;">Người duyệt</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="reviewer.name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="task.name" class="control-label" style="font-weight: bold;">Công việc</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="task.name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="customer.name" class="control-label" style="font-weight: bold;">Khách hàng</label>
    <div class="kt-input-icon kt-input-icon--left">
        <input asp-for="customer.name" class="form-control" disabled />
        <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
    </div>
</div>



