﻿@model DMMS.Models.ReportDailyAdd

@{
    ViewData["Title"] = "Chi tiết báo cáo";
    ViewData["BodyClass"] = "dmms-reportdaily";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Báo cáo công việc: @Model.staff_name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a href="/reportdaily" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <form asp-action="edit" class="dmms-report__form" onsubmit="return false">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="form-group row">
                        <label asp-for="content" class="control-label col-3" >Nội dung báo cáo</label>

                        <textarea asp-for="content" class="form-control col-6" placeholder="Nội dung báo cáo" rows="3" readonly></textarea>

                    </div>
                    <div class="form-group row">
                        <label asp-for="taskmodel" class="control-label col-3">Công việc</label>

                        <input asp-for="taskmodel" class="form-control col-6" placeholder="Công việc" rows="3" readonly/>

                    </div>
                    <div class="form-group row">
                        <label asp-for="customermodel" class="control-label col-3">Đơn vị triển khai</label>

                        <input asp-for="customermodel" class="form-control col-6" placeholder="Đơn vị triển khai" rows="3" readonly/>

                    </div>
                    <div class="form-group row">
                        <label class="control-label col-3">Hình ảnh</label>
                        @if (Model.image != null)
                        {

                            <div class="col-9 row">
                                @foreach (var item in Model.image)
                                {
                                    <img class="col-md-4" src="@item.path" alt="@item.name" />
                                }
                               
                            </div>
                        }
                        else
                        {
                            <div class="kt-input-icon col-6">
                                <input class="form-control" value="Chưa có hình ảnh" disabled />
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label asp-for="staff_name" class="control-label col-3">Người báo cáo</label>

                        <input asp-for="staff_name" class="form-control col-6" placeholder="Người báo cáo" rows="3" readonly/>

                    </div>
                    <div class="form-group row">
                        <label asp-for="totaltime" class="control-label col-3">Thời gian bắt đầu - Kết thúc</label>

                        <input asp-for="totaltime" class="form-control col-6" placeholder="Thời gian bắt đầu - Kết thúc" rows="3" readonly/>

                    </div>
                    <div class="form-group row">
                        <label asp-for="date" class="control-label col-3">Thời gian báo cáo</label>

                        <input asp-for="date" class="form-control col-6" placeholder="Thời gian báo cáo" rows="3" readonly/>

                    </div>



                    <input asp-for="uuid" type="hidden" />

                </form>
            </div>
        </div>
    </div>
</div>
