﻿@model IEnumerable<DMMS.Models.ReportDailyModel>

@{
    ViewData["Title"] = "Full Calendar Demo";
    ViewData["BodyClass"] = "dmms-reportdaily-full";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-user"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Full Calendar Demo
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Datatable -->
        <div id="dmms-calendar"></div>
        <!--end: Datatable -->
      
    </div>
</div>
