﻿@model DMMS.Models.ReportDailyModel
@{
    ViewData["Title"] = "Danh sách báo cáo hàng ngày";
    ViewData["BodyClass"] = "dmms-reportdaily";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Danh sách báo cáo hàng ngày
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    @*<button type="button" class="js-edit-reportdaily btn btn-primary btn-icon-sm">
                        <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Thêm báo cáo</span>
                    </button>*@
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">

                @*@if (ViewBag.task != null)
                {

                    <div class="col-md-4 col-lg-3">
                        <div class="kt-form__group">
                            <select asp-items="@(new SelectList(ViewBag.task,"uuid","name"))" id="js-filter-task" data-live-search="true" class="form-control bootstrap-select" name="task_uuid">
                                <option value="">--- Chọn công việc ---</option>
                            </select>
                        </div>
                    </div>

                }*@
                @if (ViewBag.state != null)
                {

                    <div class="col-md-4 col-lg-3">
                        <div class="kt-form__group">
                            <select asp-items="@(new SelectList(ViewBag.state,"Value", "Text"))" id="js-filter-states" data-live-search="true" class="form-control bootstrap-select" name="state">
                                <option value="">--- Chọn trạng thái ---</option>
                            </select>
                        </div>
                    </div>

                }
                @if (ViewBag.staff != null)
                {
                    <div class="col-md-4 col-lg-3">
                        <div class="kt-form__group">
                            <select asp-items="@(new SelectList(ViewBag.staff,"uuid","name"))" id="js-filter-staff" data-live-search="true" class="form-control bootstrap-select" name="staff_uuid">
                                <option value="">--- Chọn nhân viên ---</option>
                            </select>
                        </div>
                    </div>
                }

                <div class="col-md-4 col-lg-3">
                    <div class="kt-form__group">
                        <div class="kt-input-icon kt-input-icon--left">
                            <input name="date_report1" type="text" placeholder="Từ ngày - Đến ngày (mm-dd-yyyy)" class="kt_datepicker_expire_device form-control" />
                            <span class="kt-input-icon__icon"><span><i class="la la-calendar-o"></i></span></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="kt-form__group">
                        <select id="js-filter-report" data-live-search="true" class="form-control bootstrap-select" name="staff_uuid">
                            <option value="0">---Báo cáo của nhân viên---</option>
                            <option value="1">---Báo cáo của quản lý---</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
    </div>
    
        <div class="kt-portlet__body kt-portlet__body--table">
            <!--begin: Datatable -->
            <div class="kt-datatable"></div>
            <!--end: Datatable -->
        </div>
  
</div>

