﻿@model ChangeStateRequest
@{
    Layout = null;
}

<form class="dmms-changestate__form" asp-action="changestate" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input asp-for="uuid" type="hidden" />
    <div class="row">
        <div class="form-group col-6 kt-padding-r-10">
            <label asp-for="state" class="control-label">Trạng thái</label>
            @if (ViewBag.States != null)
            {
                <select class="selectpicker form-control bootstrap-select" id="kt-task-state-select"
                        name="state" asp-items="@(new SelectList(ViewBag.States, "Value","Text"))">
                    <option value="">Chọn trạng thái</option>
                </select>
            }
            else
            {
                <select class="selectpicker form-control bootstrap-select" id="kt-task-state-select"
                        name="state">
                    <option value="">Chọn trạng thái</option>
                </select>
            }
        </div>

        <div class="form-group col-6 kt-padding-l-10">
            <label asp-for="deadline" class="control-label">Ngày hẹn</label>
            <div class="kt-input-icon kt-input-icon--left kt-form-deadline">
                <input name="deadline_str" class="form-control" placeholder="Ngày hẹn" id="kt_datepicker" disabled />
                <span class="kt-input-icon__icon"><span><i class="la la-calendar"></i></span></span>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="offer" class="control-label">Nội dung đề xuất</label>
        <div class="kt-input-icon">
            <textarea asp-for="offer" class="form-control" placeholder="Nhập nội dung đề xuất"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="note" class="control-label">Mô tả</label>
        <div class="kt-input-icon">
            <textarea asp-for="note" class="form-control" placeholder="Nhập mô tả"></textarea>
        </div>
    </div>

    <div class="form-group form-group-last">
        <label class="control-label">Tải ảnh:</label>
        <div>
            <div class="dropzone dropzone-default" id="kt_dropzone_image">

                <div class="dropzone-items">
                    <div class="dropzone-item" style="display:none">
                        <div class="dropzone-file">
                            <div class="dropzone-filename" title="some_image_file_name.jpg">
                                <span data-dz-name></span>
                            </div>
                            <div class="dropzone-error" data-dz-errormessage></div>
                        </div>
                        <div class="dropzone-progress">
                            <div class="progress">
                                <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div class="dropzone-toolbar">
                            <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
        </div>
    </div>
    <input asp-for="image_uuids" type="hidden" />
    <div class="text-center">
        <button type="submit" class="btn btn-info">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>