﻿@model DMMS.Models.TaskModel
@{
    Layout = null;
}

<div class="form-group row">
    <input asp-for="priority" type="hidden" />
    <label class="control-label col-3">Mã công việc-Mức độ ưu tiên</label>
    <div class="kt-input-icon col-6 kt-padding-r-10">
        <input asp-for="code" class="form-control" placeholder="Mã công việc" readonly />
        @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
    </div>
    @*<input asp-for="code" class="form-control col-md-2 text-center kt-ml-10" readonly />*@
    @if (ViewBag.TaskPriority != null)
    {
        <input value="@ViewBag.TaskPriority[Model.priority.Value - 1].Text" class="form-control col-3" readonly />
    }
    else
    {
        <input class="form-control col-3" placeholder="Độ ưu tiên" readonly />
    }
</div>
<div class="form-group row">
    <label asp-for="name" class="control-label col-3">Tên Công việc</label>
    <div class="kt-input-icon col-9">
        <input asp-for="name" class="form-control" placeholder="Tên công việc" readonly />
        @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
    </div>
</div>
<div class="form-group row">
    <label asp-for="description" class="control-label col-3">Mô tả</label>
    <div class="kt-input-icon col-9">
        <textarea asp-for="description" class="form-control" placeholder="Mô tả" readonly></textarea>
        @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-3">Trạng thái</label>

    @foreach (var item in ViewBag.TaskState)
    {
        if (Model.state == int.Parse(item.Value))
        {
            <div class="kt-input-icon col-9">
                <input class="form-control" value="@item.Text" readonly />
            </div>
        }
    }
</div>
<div class="form-group row">
    <label class="control-label col-3">Ngày hẹn làm việc</label>
    <div class="kt-input-icon col-9">
        <input asp-for="start_estimate_format" class="form-control js-datetime" placeholder="Ngày hẹn làm việc" disabled />
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-3">Ngày hẹn hoàn thành</label>
    <div class="kt-input-icon col-9">
        <input asp-for="finish_estimate_format" class="form-control js-datetime" placeholder="Ngày hẹn hoàn thành" disabled />
    </div>
</div>
