
@*﻿@model IEnumerable<DMMS.Models.TaskRequest>*@
@model DMMS.Models.TaskRequest
@{
    ViewData["Title"] = "Danh sách";
    ViewData["BodyClass"] = "dmms-task";
}

    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
                <h3 class="kt-portlet__head-title">
                    Danh sách công việc
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                            <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Export Excels</span>
                        </button>
                        @*<button type="button" class="js-edit-task btn btn-primary btn-icon-sm">
                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Thêm công việc</span>
                        </button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <div class="kt-input-icon kt-input-icon--left">
                            <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên công việc, mã CV" />
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                    </div>


                    @if (ViewBag.Staff != null)
                    {
                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                <select id="js-filter-staff" data-live-search="true" class="form-control bootstrap-select"
                                        name="staff_uuid" asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                                    <option value="">---Chọn nhân viên---</option>
                                </select>
                            </div>

                        </div>
                    }
                    @if (ViewBag.TaskState != null)
                    {

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                <select id="js-filter-state" class="form-control bootstrap-select" multiple title="---Chọn trạng thái---"
                                        name="stateIds" asp-items="@(new SelectList(ViewBag.TaskState, "Value", "Text"))">
                                </select>

                            </div>
                        </div>
                    }
                    @if (ViewBag.TaskPriority != null)
                    {

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                <select id="js-filter-priority" class="form-control bootstrap-select"
                                        name="priority" asp-items="@(new SelectList(ViewBag.TaskPriority, "Value", "Text"))">
                                    <option value="">---Chọn độ ưu tiên---</option>
                                </select>

                            </div>
                        </div>
                    }

                </div>

            </div>
            <input id="stateIds" type="hidden" value="@Model.stateIds" />
        </div>
        <div class="kt-portlet__body kt-portlet__body--table">
            <!--begin: Datatable -->
            <div class="kt-datatable"></div>
            <!--end: Datatable -->
        </div>

    </div>
