﻿@model DMMS.Models.TaskModel
@{
    ViewData["Title"] = "Cập nhật công việc";
    ViewData["BodyClass"] = "dmms-task";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title ">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @*<a data-id="@Model.uuid" title="Xóa" class="js-delete-task btn btn-danger btn-icon-sm text-white">
                        <i class="la la-trash"></i>
                        Xóa bỏ
                    </a>*@
                    <a href="/task" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkdetail" data-toggle="tab" href="#kt_tabs_1_3">NHÂN VIÊN KỸ THUẬT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkdevice" data-toggle="tab" href="#kt_tabs_1_4">DANH SÁCH THIẾT BỊ</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <form class="dmms-task__form" asp-action="edit" onsubmit="return false">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input asp-for="priority" type="hidden" />
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label class="control-label col-3">Mã công việc-Mức độ ưu tiên</label>
                            <div class="kt-input-icon col-4 kt-padding-r-10">
                                <input asp-for="code" class="form-control" placeholder="Mã công việc" readonly />
                                @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
                            </div>
                            @*<input asp-for="code" class="form-control col-md-2 text-center kt-ml-10" readonly />*@
                            @if (ViewBag.TaskPriority != null)
                            {
                                <select class="selectpicker form-control bootstrap-select col-md-2" id="kt-task-priority"
                                        name="priority" asp-items="@(new SelectList(ViewBag.TaskPriority, "Value","Text"))">
                                </select>
                            }
                            else
                            {
                                <select class="selectpicker form-control bootstrap-select col-md-2" id="kt-task-priority"
                                        name="priority">
                                </select>
                            }
                        </div>
                        <div class="form-group row">
                            <label asp-for="name" class="control-label col-3">Tên Công việc</label>
                            <div class="kt-input-icon col-6">
                                <input asp-for="name" class="form-control" placeholder="Tên công việc" />
                                @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="time_created_display" class="control-label col-3">Thời gian tạo</label>
                            <div class="kt-input-icon col-6">
                                <input asp-for="time_created_display" readonly class="form-control" placeholder="Thời gian tạo" />
                                @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="cost" class="control-label col-3">Chi phí</label>
                            <div class="kt-input-icon col-6">
                                <input asp-for="cost_format" readonly class="form-control" placeholder="Chi phí" />
                                @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Trạng thái</label>

                            @foreach (var item in ViewBag.TaskState)
                            {
                                if (Model.state == int.Parse(item.Value))
                                {
                                    <div class="kt-input-icon col-6">
                                        <input class="form-control" value="@item.Text" readonly />
                                    </div>
                                }
                            }
                            @*<button type="button" class="btn btn-primary col-2" id="js-change-state" data-id="@Model.uuid">Thay đổi</button>*@
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Ngày hẹn làm việc</label>
                            <div class="kt-input-icon col-6">
                                <input asp-for="starttime" class="form-control js-datetime" placeholder="Ngày hẹn làm việc" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Ngày hẹn hoàn thành</label>
                            <div class="kt-input-icon col-6">
                                <input asp-for="finishtime" class="form-control js-datetime" placeholder="Ngày hẹn hoàn thành" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="description" class="control-label col-3">Mô tả</label>
                            <div class="kt-input-icon col-6">
                                <textarea asp-for="description" class="form-control" placeholder="Mô tả"></textarea>
                                @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="note_plan" class="control-label col-3">Ghi chú</label>
                            <div class="kt-input-icon col-6">
                                <textarea asp-for="note_plan" class="form-control" readonly placeholder="Ghi chú"></textarea>
                                @*<span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>*@
                            </div>
                        </div>
                        @*<input id="state_id" type="hidden" value="@Model.state" />*@
                        <input id="deadline_str" type="hidden" value="@Model.deadline" />
                        <input asp-for="ticket.uuid" type="hidden" />
                        <input asp-for="state" type="hidden" />
                        <input asp-for="uuid" type="hidden" />
                        @*<input asp-for="staff.uuid" type="hidden" />*@
                        <div class="kt-mb-30 row">
                            @*<div class="col-3"></div>*@
                            <button type="submit" class="btn btn-info offset-md-3">
                                <i class="la la-save"></i>
                                Lưu
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded kt-portlet__body">
                    <table class="kt-datatable__table">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row">
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:8.5%;text-align: center;">#</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:20%;text-align: center;">Tên</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:30%;text-align: center;">Email</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="text-align: center;">Số điện thoại</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:15%;text-align: center;">Thời gian tham gia</th>
                                <th class="kt-datatable__cell kt-datatable__toggle-detail" style="width:15%;text-align: center;">Vai trò</th>
                            </tr>

                        </thead>
                        <tbody>
                            @if (Model.staffs != null && Model.staffs.Count > 0)
                            {



                                var k = 1;
                                foreach (var item in Model.staffs)
                                {
                                    var checkstate = "";
                                    if (item.state == 1)
                                    {
                                        checkstate = "Chịu trách nhiệm";
                                    }
                                    else if (item.state == 2)
                                    {
                                        checkstate = "Hỗ trợ";
                                    }
                                    else
                                    {
                                        checkstate = "Kết thúc công việc";
                                    }
                                <tbody class="kt-datatable__body">
                                    <tr class="kt-datatable__row">

                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:8.5%;">@(k++)</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:20%;">@item.name</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:30%;">@item.email</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false">@item.phone_number</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:15%">@item.time_created_at_format</td>
                                        <td class="kt-datatable__cell--center kt-datatable__cell" data-autohide-disabled="false" style="width:15%">@checkstate</td>

                                    </tr>

                                </tbody>

                            }
                        }
                        else
                        {
                            <a>Không nhân viên tiếp nhận</a>
                        }
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                    <input asp-for="uuid" type="hidden" />
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                @*<div class="col-md-4 col-lg-4">
                                    <div class="kt-form__group">
                                        <select asp-items="@(new SelectList(ViewBag.State,"Value","Text"))" id="js-filter-states" data-live-search="true" class="form-control bootstrap-select" name="state">
                                            <option value="">--- Trạng thái---</option>
                                        </select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatabledevice">

                        </div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--begin::Modal-->
    @*<div class="modal fade" id="kt_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" id="modal-deny">
            <div class="modal-content">
                <div class="modal-header kt-margin-r-10 kt-margin-l-10">
                    <h5 class="modal-title text-uppercase">Nội dung thay đổi trạng thái</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="kt-margin-10">
                        <select data-live-search="true" class="selectpicker form-control bootstrap-select kt-margin-b-10" id="kt-task-state-select"
                                name="state" asp-items="@(new SelectList(ViewBag.TaskState, "Value","Text"))">
                        </select>
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="recipient-name" placeholder="Nhập nội dung thay đổi trạng thái" style="height: 150px"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer kt-margin-r-10">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btn btn-primary" id="btn-deny">Thay đổi trạng thái</button>
                </div>
            </div>
        </div>
    </div>*@
    <!--end::Modal-->
