﻿@*@model DMMS.Models.TaskModel
@{
    Layout = null;
}
    <form class="dmms-task__form" asp-action="edit" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input asp-for="code" type="hidden" class="form-control" />
       
        <div class="form-group">
            <label asp-for="priority" class="control-label">Mức độ ưu tiên</label>
            <select class="selectpicker form-control bootstrap-select" id="kt-task-state-select"
                    name="priority" asp-items="@(new SelectList(ViewBag.TaskPriority, "Value","Text"))">
                <option value="">Chọn độ ưu tiên</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="name" class="control-label">Tên Công việc</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="name" class="form-control" placeholder="Tên công việc" />
                <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
            </div>
        </div>
        @if (ViewBag.Staff != null && ViewBag.Staff.Count > 0)
        {
            <div class="form-group">
                <label asp-for="staff.uuid" class="control-label">Nhân viên kỹ thuật</label>
                <div class="kt-form__group">
                    <select data-live-search="true" class="form-control bootstrap-select" id="kt-staff-select"
                            name="staff_uuid" asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                        <option value="">Chọn nhân viên</option>
                    </select>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label asp-for="staff.uuid" class="control-label">Không có nhân viên nhân viên</label>
                <div class="kt-form__group">
                    <select disabled data-live-search="true" class="form-control bootstrap-select" id="kt-staff-select"
                            name="staff_uuid" asp-items="@(new SelectList("uuid", "name"))">
                        <option value="">Chọn nhân viên</option>
                    </select>
                </div>
            </div>
        }
        <div class="form-group">
            <label asp-for="staff.uuid" class="control-label">Đơn vị triển khai</label>
            <div class="kt-form__group">
                <select data-live-search="true" class="form-control bootstrap-select" id="kt-customer-select"
                        name="staff_uuid" asp-items="@(new SelectList(ViewBag.Customer, "uuid", "name_display"))">
                    <option value="">Chọn đơn vị triển khai</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="description" class="control-label">Mô tả</label>
            <div class="kt-input-icon">
                <textarea asp-for="description" class="form-control" placeholder="Nhập mô tả">@Model.description</textarea>
            </div>
        </div>


        <input id="state_id" type="hidden" value="@Model.state" />
        <input id="deadline_str" type="hidden" value="@Model.deadline" />
        <input asp-for="ticket.uuid" type="hidden" />
        <input asp-for="uuid" type="hidden" />
        <input asp-for="staff.uuid" type="hidden" />
        <div class="text-center">
            <button type="submit" class="btn btn-info">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>*@