//
// FAQ v1
//



// Custom pages SASS files are compiled per demo as 
// each demo has own config settings that may override the global theme config
// and pages may slighty different on demos


// Global theme config(sass/theme/core/config.scss)
@import "../../config";

// Demo config(e.g: sass/theme/layout/[demo]/config.scss) that overrides global theme config.
// Do not change this path, build tool automatically finds current demo's config file.    
@import "config.scss";

.kt-faq-v1 {
    .kt-nav {
        .kt-nav__item {
            padding: 0.5rem 0;

            .kt-nav__link {
                background-color: transparent !important;

                > .kt-nav__link-text {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: kt-base-color(label, 2);
                    transition: color 0.3s ease;
                }
            }

            &:hover,
            &.kt-nav__item--active {
                > .kt-nav__link {

                    > .kt-nav__link-text {
                        color: kt-brand-color();
                        transition: color 0.3s ease;
                    }                   
                }
            }

            .kt-nav__sub {
                .kt-nav__item {
                    padding: 0.25rem 0;
                }
            }            
        }
    }
}