﻿@model LocationUpsertRequest

@{

    Layout = null;
}

    <form asp-action="Create" class="dmms-location__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="control-label">Tên đơn vị hành chính</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="name" class="form-control" placeholder="Tên đơn vị hành chính" />
                <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="parent_id" class="control-label">Tên đơn vị hành chính cha</label>
            <div class="kt-input-icon">
                @if (ViewBag.Location != null)
                {
                    <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-location" title="Chọn đơn vị hành chính cha..."
                            name="parent_id" asp-items="@(new SelectList(ViewBag.Location, "id", "name"))">
                    </select>
                }
                else
                {
                    <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-location" title="Chọn đơn vị hành chính cha..."
                            name="parent_id">
                    </select>
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="description" class="control-label">Mô tả</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="description" class="form-control" placeholder="Mô tả" />
                <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
