﻿@model DMMS.Models.ConTractAddRequest



@{
    Layout = null;
}


<form class="dmms-contract__form" asp-action="Create" asp-controller="contract" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="kt-section kt-section--first">
                <h3 class="kt-section__title">Thông tin cơ bản</h3>
                <div class="kt-section__body">
                    <div class="form-group">
                        <label asp-for="code" class="control-label">Mã hợp đồng</label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input asp-for="code" class="form-control" placeholder="Mã hợp đồng" />
                            <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="customer.uuid" class="control-label">Chọn đội</label>
                        <div class="kt-form__group">
                            @if (ViewBag.getcustomer != null)
                            {
                                <select data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid"
                                        asp-items="@(new SelectList(ViewBag.getcustomer, "uuid", "name"))">
                                    <option value="">---Chọn đội---</option>
                                </select>
                            }
                            else
                            {
                                <select data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid">
                                    <option value="">---Chọn đội---</option>
                                </select>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="project.uuid" class="control-label">Chọn đội</label>
                        <div class="kt-form__group">
                            @if (ViewBag.getProject != null)
                            {
                                <select data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid"
                                        asp-items="@(new SelectList(ViewBag.getProject, "uuid", "name"))">
                                    <option value="">---Chọn đội---</option>
                                </select>
                            }
                            else
                            {
                                <select data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid">
                                    <option value="">---Chọn đội---</option>
                                </select>
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div>
        @*<div class="col-12 col-lg-6">
            <div class="kt-section kt-section--first">
                <h3 class="kt-section__title">Thông tin liên hệ</h3>
                <div class="kt-section__body">
                    <div class="form-group">
                        <label asp-for="email" class="control-label">Email</label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input asp-for="email" class="form-control" placeholder="email" />
                            <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="address" class="control-label">Địa chỉ</label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input asp-for="address" class="form-control" placeholder="Địa chỉ" />
                            <span class="kt-input-icon__icon"><span><i class="la la-home"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="phone_number" class="control-label">Số điện thoại</label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input asp-for="phone_number" class="form-control" placeholder="Số điện thoại" />
                            <span class="kt-input-icon__icon"><span><i class="la la-phone"></i></span></span>
                        </div>
                    </div>
                    @if (ViewBag.teams != null && ViewBag.teams.Count > 0)
                    {
                        <div class="form-group">
                            <label asp-for="team_uuid" class="control-label">Chọn đội</label>
                            <div class="kt-form__group">
                                <select data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid" asp-items="@(new SelectList(ViewBag.teams, "uuid", "name"))"><option value="">---Chọn đội---</option></select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="team_uuid" class="control-label">Chưa có đội</label>
                            <div class="kt-form__group">
                                <select disabled data-live-search="true" id="kt_form_team_add" class="form-control" name="team_uuid" asp-items="@(new SelectList("uuid", "name"))"><option value="">---Chọn đội---</option></select>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>*@

    </div>
    <div>

    </div>
    <div class="form-group form-group-last">
        <label class="control-label">Tải ảnh:</label>
        <div>
            <div class="dropzone dropzone-default" id="kt_dropzone_image">

                <div class="dropzone-items">
                    <div class="dropzone-item" style="display:none">
                        <div class="dropzone-file">
                            <div class="dropzone-filename" title="some_image_file_name.jpg">
                                <span data-dz-name></span>
                            </div>
                            <div class="dropzone-error" data-dz-errormessage></div>
                        </div>
                        <div class="dropzone-progress">
                            <div class="progress">
                                <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div class="dropzone-toolbar">
                            <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
        </div>
    </div>
   

    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>
