﻿@model ContractDataResponse

@{
    ViewData["Title"] = "Chi tiết";
    ViewData["BodyClass"] = "dmms-contract";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                @Model.node
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @*@if (Model.comparedate < 0)
                        {
                            <a data-id="@Model.uuid" type="button" title="Hợp đồng còn hạn sử dụng" class="btn btn-success btn-icon-sm text-white">
                                Còn hạn sử dụng
                            </a>
                        }
                        else
                        {
                            <a data-id="@Model.uuid" type="button" title="Hợp đồng hết hạn sử dụng" class="btn btn-danger btn-icon-sm text-white">
                                Hết hạn sử dụng
                            </a>
                        }*@
                    <a href="/contract" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase js-list-customer" data-toggle="tab" href="#kt_tabs_1_2">ĐƠN VỊ THỤ HƯỞNG</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="row">
                    <div class="col-7">
                        <input asp-for="uuid" type="hidden" />
                        <div class="form-group row">
                            <label class="control-label col-3">Số hiệu HĐ-Dự án</label>
                            <div class="kt-input-icon col-3 kt-padding-r-10">
                                <input asp-for="@Model.code" class="form-control" placeholder="Mã dự án" readonly />
                            </div>
                            <input asp-for="@Model.projectName" class="form-control col-6" placeholder="Dự án" readonly />
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Giá trị hợp đồng</label>
                            <div class="kt-input-icon col-9">
                                <input asp-for="code_format" class="form-control" placeholder="Giá trị hợp đồng" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Chủ đầu tư</label>
                            <div class="kt-input-icon col-9">
                                <input asp-for="@Model.investorName" class="form-control" placeholder="Chủ đầu tư" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Ngày ký hợp đồng</label>
                            <div class="kt-input-icon col-9">
                                <input asp-for="@Model.timeSigned_format" class="form-control" placeholder="Ngày ký hợp đồng" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Ngày bàn giao</label>
                            <div class="kt-input-icon col-9">
                                <input asp-for="@Model.timeValidStart_format" class="form-control" placeholder="Ngày bàn giao" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Thời hạn BH - Thời gian kết thúc</label>
                            <div class="kt-input-icon col-3 kt-padding-r-10">
                                <input class="form-control" value="@Model.timeValidValue tháng" readonly />
                            </div>
                            <div class="kt-input-icon col-6">
                                <input asp-for="@Model.timeValidEnd_format" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Thời gian bảo dưỡng định kỳ</label>
                            <div class="kt-input-icon col-9">
                                <input class="form-control" value="@Model.timeMaintainLoop tháng" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-3">Trạng thái</label>
                            <div class="kt-input-icon col-9">
                                <input class="form-control" value="@Model.state.name" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Ticket đã gửi *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-cus-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã đơn vị, tên đơn vị" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                @*<div class="col-md-4 col-lg-3">
                                        <div class="kt-form__group">
                                            <select asp-items="@(new SelectList(ViewBag.Locations,"id","name"))" id="js-filter-location"
                                                    data-live-search="true" class="form-control bootstrap-select" name="location_id">
                                                <option value="">Phường/Xã</option>
                                            </select>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable--customer"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
