﻿@model IEnumerable<DMMS.Models.ContractModel>

@{
    ViewData["Title"] = "Danh sách hợp đồng";
    ViewData["BodyClass"] = "dmms-contract";

}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon2-avatar"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách hợp đồng
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button id="import-contract" type="button" class="btn btn-success btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile dropbtn"></i>
                        <span class="d-none d-sm-inline-block">Import Excels</span>
                    </button>
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-upload kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>


                    @*<button onclick="myFunction()" class="btn btn-success btn-icon-sm dropbtn">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile dropbtn"></i>
                        <span class="d-none d-sm-inline-block dropbtn">Import Excels</span>
                    </button>*@



                    @*<button type="button" class="js-edit-contract btn btn-primary btn-icon-sm">
            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
            <span class="d-none d-sm-inline-block">Thêm hợp đồng</span>
        </button>*@
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã HĐ, mã dự án" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </span>
                    </div>
                </div>
                @*<div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        <select id="js-filter-customer" data-live-search="true" class="form-control bootstrap-select"
                                name="customer_uuid" asp-items="@(new SelectList(ViewBag.Customers, "uuid", "name_display"))">
                            <option value="">Chọn đơn vị triển khai</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        <select id="js-filter-investor" data-live-search="true" class="form-control bootstrap-select"
                                name="investor" asp-items="@(new SelectList(ViewBag.Customers, "uuid", "name"))">
                            <option value="">Chọn chủ đầu tư</option>
                        </select>
                    </div>
                </div>*@
                <div class="col-md-2 col-lg-2 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        <select id="js-filter-state" class="form-control bootstrap-select"
                                name="contractStatus" asp-items="@(new SelectList(ViewBag.state, "Value", "Text"))">
                            <option value="">Chọn trạng thái</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt"></div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>



<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
