﻿@model ConTractAddRequest

@{
    ViewData["Title"] = "Cập nhật thông tin hợp đồng";
    ViewData["BodyClass"] = "dmms-contract";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                Triển khai thiết bị cho trường THPT Nguyễn Trãi
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a data-id="@Model.uuid" type="button" title="Hợp đồng còn hạn" class="btn btn-success btn-icon-sm text-white">
                        Còn hạn sử dụng
                    </a>
                    <a href="/contract" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" data-toggle="tab" href="#kt_tabs_1_2">ĐƠN VỊ TRIỂN KHAI</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                @*<form id="dmms-contract__form" asp-action="Update" asp-controller="Contract">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input asp-for="uuid" type="hidden" />*@
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group row">
                                <label class="control-label col-3">Số hiệu HĐ-Dự án</label>
                                <div class="kt-input-icon col-3 kt-padding-r-10">
                                    <input class="form-control" placeholder="Mã dự án" />
                                </div>
                                <input class="form-control col-6" placeholder="Dự án" />
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Giá trị hợp đồng</label>
                                <div class="kt-input-icon col-9">
                                    <input class="form-control" placeholder="Giá trị hợp đồng" value="8.888.8888.888" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Ngày ký hợp đồng</label>
                                <div class="kt-input-icon col-9">
                                    <input class="form-control" placeholder="Ngày ký hợp đồng" value="07/04/2020"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Ngày bàn giao</label>
                                <div class="kt-input-icon col-9">
                                    <input class="form-control" placeholder="Ngày bàn giao" value="09/04/2020" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Thời hạn BH - Thời gian kết thúc</label>
                                <div class="kt-input-icon col-3 kt-padding-r-10">
                                    <input class="form-control" value="24 tháng" />
                                </div>
                                <div class="kt-input-icon col-6">
                                    <input class="form-control" value="09/04/2022" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Thời gian bảo dưỡng định kỳ</label>
                                <div class="kt-input-icon col-9">
                                    <input class="form-control" value="06 tháng" />
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-3"></div>
                                <div class="kt-mb-30">
                                    <button type="submit" class="btn btn-info submit kt-mr-10">
                                        <i class="la la-save"></i>
                                        Cập nhật
                                    </button>
                                    <button data-id="@Model.uuid" type="button" title="Đặt lại mật khẩu" class="js-reset-account btn btn-success">
                                        <i class="la la-key"></i>
                                        Reset password
                                    </button>
                                </div>
                            </div>*@
                        </div>
                    </div>
                @*</form>*@
            </div>
            @* Ticket đã gửi *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword--ticket" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tiêu đề ticket" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable--customer"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
