﻿@model TaskPlanUpsertRequest
@{
    Layout = null;
}
    <form class="dmms-taskplan__form" asp-action="create" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input asp-for="creatorUuid" type="hidden" />
        <div class="form-group">
            <label asp-for="name" class="control-label">Tên kế hoạch công việc</label>
            <div class="kt-input-icon">
                <input asp-for="name" class="form-control" placeholder="Tên kế hoạch công việc" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Dự án</label>
            <div class="kt-form__group">
                @if (ViewBag.Projects != null)
                {
                    <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-project"
                            name="projectUuid" asp-items="@(new SelectList(ViewBag.Projects, "uuid", "name_display"))">
                        <option value="">Chọn dự án</option>
                    </select>
                }
                else
                {
                    <select data-live-search="true" class="form-control bootstrap-select" id="kt-select-project"
                            name="projectUuid">
                        <option value="">Chọn dự án</option>
                    </select>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Đơn vị</label>
            <div class="kt-input-icon widthfull">
                <select class="form-control kt-customer-selectbox" id="kt-select-customer" data-all="false" multiple
                        title="Chọn đơn vị" name="customerUuids[]">
                </select>
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label">Đơn vị triển khai</label>
            <div class="kt-form__group">
                <select class="form-control bootstrap-select kt-customer-selectbox" id="kt-select-customer" data-all="false" multiple
                        title="Chọn đơn vị" name="customerUuids[]" asp-items="@(new SelectList(ViewBag.Customers, "uuid", "name_display"))">
                    <option value="">Chọn tất cả</option>
                </select>
            </div>
        </div>*@
        <div class="form-group">
            <label class="form-label">Chi phí dự kiến</label>
            <div class="input-group">
                <input type="text" class="form-control" name="costEstimate_string" placeholder="Chi phí dự kiến" id="costEstimate_string">
                <div class="input-group-append"><span class="input-group-text">VNĐ</span></div>
            </div>
            <span class="form-text text-muted"></span>
        </div>
        @*<div class="form-group">
            <label class="control-label">Chi phí dự kiến</label>
            <div class="kt-input-icon">
                <input name="costEstimate_string" class="form-control" placeholder="Chi phí dự kiên" id="costEstimate_string" />
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label">Ngày triển khai - Ngày kết thúc</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input class="form-control" readonly placeholder="Chọn ngày" id="kt_daterangepicker" />
                <span class="kt-input-icon__icon"><span><i class="la la-calendar-check-o"></i></span></span>
            </div>
            <input asp-for="startdate" type="hidden" placeholder="Ngày bắt đầu" />
            <input asp-for="enddate" type="hidden" placeholder="Ngày kết thúc" />
        </div>

        @*<div class="form-group">
            <label class="control-label">Nhân viên kỹ thuật</label>
            <div class="input_fields_wrap">
                <div class="container row" style="width: auto">
                    <div class="kt-input-icon col-11 row">
                        <div class="col-8 kt-padding-l-10">
                            <select data-live-search="true" class="form-control kt-staff-select" id="kt-input-staff"
                                    name="staffUuids[][uuid]" asp-items="@(new SelectList(ViewBag.Staffs, "uuid", "name"))">
                                <option value="">Chọn nhân viên kỹ thuật</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select data-live-search="true" class="form-control kt-staffrole-select" id="kt-input-type"
                                    name="staffUuids[][type]" asp-items="@(new SelectList(ViewBag.StaffRole, "Value", "Text"))">
                                <option value="">Chọn vai trò</option>
                            </select>
                        </div>
                    </div>
                    <div class="ml-auto"><i class="btn btn-primary la la-plus add_field_button"></i></div>
                </div>
            </div>
        </div>*@

        <div class="form-group">
            <label asp-for="description" class="control-label">Mô tả kế hoạch</label>
            <div class="kt-input-icon">
                <textarea asp-for="description" class="form-control" placeholder="Mô tả kế hoạch">@Model.description</textarea>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-info">
                Thêm mới
            </button>
        </div>
    </form>