﻿@model TaskPlanDetailModel

@{
    ViewData["Title"] = "Chi tiết kế hoạch công việc";
    ViewData["BodyClass"] = "dmms-taskPlan";
}

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @if (Model.state == 7)
                    {
                        <a title="Đã hoàn thành" class="btn btn-success btn-icon-sm text-white" style="cursor: not-allowed;">
                            Đã báo cáo kết quả
                        </a>
                    }
                    @if (Model.state == 3)
                    {
                        <a data-id="@Model.uuid" title="Triển khai kế hoạch" class="btn btn-primary btn-icon-sm text-white js-deploy-plan">
                            Báo cáo kết quả
                        </a>
                        <a title="Đã hoàn thành" class="btn btn-success btn-icon-sm text-white" style="cursor: not-allowed;">
                            Đã hoàn thành
                        </a>
                    }
                    @if (Model.state == 0 || Model.state == 1 || Model.state == 5)
                    {
                        <a data-id="@Model.uuid" title="Hủy kế hoạch" class="btn btn-danger btn-icon-sm text-white js-cancel-plan">
                            Hủy kế hoạch
                        </a>
                    }
                    @if (Model.state == 4)
                    {
                        <a title="Đã hủy kế" class="btn btn-danger btn-icon-sm text-white" style="cursor: not-allowed;">
                            Đã hủy
                        </a>
                    }
                    @if (Model.state == 0)
                    {
                        <a data-id="@Model.uuid" data-accept="true" title="Duyệt đề xuất" class="btn btn-primary btn-icon-sm js-decide-plan text-white">
                            Duyệt kế hoạch
                        </a>
                        <a data-id="@Model.uuid" data-accept="false" title="Từ chối yêu cầu" class="btn btn-danger btn-icon-sm js-decide-plan text-white">
                            Từ chối yêu cầu
                        </a>
                    }
                    else if (Model.state == 1)
                    {
                        <a title="Đã duyệt" class="btn btn-success btn-icon-sm text-white" style="cursor: not-allowed;">
                            Đã duyệt
                        </a>
                    }
                    else if (Model.state == 2)
                    {
                        <a title="Đề từ chối" class="btn btn-danger btn-icon-sm text-white" style="cursor: not-allowed;">
                            Đã từ chối
                        </a>
                    }
                    @if (Model.state == 5)
                    {
                        <a title="Chưa lập kế hoạch" class="btn btn-warning btn-icon-sm text-white" style="cursor: not-allowed;">
                            Chưa lập kế hoạch
                        </a>
                    }
                    <a href="/taskplan" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase customerInPlan" data-toggle="tab" href="#kt_tabs_1_2">ĐƠN VỊ THỤ HƯỞNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase taskInPlan" data-toggle="tab" href="#kt_tabs_1_3">Công việc thuộc kế hoạch</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="row">
                    <div class="col-6 border-right">
                        <form class="dmms-taskplan__form" asp-action="Detail" onsubmit="return false" method="PUT">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <input asp-for="uuid" type="hidden" />
                            @*<input id="startdate" value="@Model.startdate" type="hidden" />
        <input id="enddate" value="@Model.enddate" type="hidden" />*@
                            <input @*asp-for="customer_uuid"*@ type="hidden" />
                            <input value="@Model.responserUuid" id="responserUuid_value" type="hidden" />
                            <div class="form-group row">
                                <label asp-for="name" class="control-label col-3">Tên kế hoạch công việc</label>
                                <div class="kt-input-icon col-8">
                                    <input asp-for="name" class="form-control" placeholder="Tên kế hoạch công việc" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-3">Dự án</label>
                                <div class="kt-input-icon col-8">
                                    <input asp-for="projectName" type="text" class="form-control" title="@Model.projectName" placeholder="Dự án" readonly />
                                </div>
                            </div>
                            @if (Model.state == 0 || Model.state == 1 || Model.state == 2 || Model.state == 5)
                            {
                                <div class="form-group row">
                                    <label class="control-label col-3">Người chịu trách nhiệm</label>
                                    <div class="kt-input-icon col-8">
                                        @if (ViewBag.Customer != null)
                                        {
                                            <select class="form-control" id="kt-select-teamleader"
                                                    name="responserUuid" asp-items="@(new SelectList(ViewBag.GetTeamLeaders, "uuid", "name"))">
                                                <option value="">Lựa chọn</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="kt-select-teamleader" class="form-control bootstrap-select"
                                                    name="responserUuid">
                                                <option value="">Lựa chọn</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <label class="control-label col-3">Chi phí dự kiến</label>
                                <div class="kt-input-icon col-8">
                                    <input asp-for="cost_update" type="text" class="form-control" placeholder="Chi phí dự kiến" readonly />
                                </div>
                            </div>
                            @if (Model.state == 5 || Model.state == 2 || Model.state == 1)
                            {
                                <div class="form-group row">
                                    <label class="control-label col-3">Ngày triển khai - Ngày kết thúc</label>
                                    <div class="kt-input-icon kt-input-icon--left col-8">
                                        <input class="form-control" readonly placeholder="Chọn ngày" id="kt_daterangepicker" />
                                        <span class="kt-input-icon__icon"><span><i class="la la-calendar-check-o"></i></span></span>
                                    </div>
                                    <input asp-for="startdate" type="hidden" placeholder="Ngày bắt đầu" />
                                    <input asp-for="enddate" type="hidden" placeholder="Ngày kết thúc" />
                                </div>
                            }
                            else
                            {
                                <div class="form-group row">
                                    <label class="control-label col-3">Ngày triển khai - Ngày kết thúc</label>
                                    <div class="kt-input-icon kt-input-icon--left col-8">
                                        <input class="form-control" readonly placeholder="Chọn ngày" value="@Model.startdate - @Model.enddate" />
                                        <span class="kt-input-icon__icon"><span><i class="la la-calendar-check-o"></i></span></span>
                                    </div>
                                </div>
                                <input id="startdate" value="@Model.startdate" type="hidden" />
                                <input id="enddate" value="@Model.enddate" type="hidden" />

                            }
                            <div class="form-group row">
                                <label asp-for="description" class="control-label col-3">Mô tả kế hoạch công việc</label>
                                <div class="kt-input-icon col-8">
                                    <textarea class="form-control" asp-for="description" readonly></textarea>
                                </div>
                            </div>

                            @if (Model.state == 5 || Model.state == 2 || Model.state == 1)
                            {
                                <script>
                                    document.getElementById("name").removeAttribute("readonly");
                                    document.getElementById("description").removeAttribute("readonly");
                                    document.getElementById("cost_update").removeAttribute("readonly");


                                </script>
                                <div class="form-group row">
                                    <label class="control-label col-3">Đợn vị thụ hưởng</label>
                                    <div class="kt-input-icon col-8">
                                        @if (ViewBag.Customer != null)
                                        {
                                            <select class="form-control kt-customer-selectbox" id="kt-select-customer" data-all="false" multiple title="Chọn đơn vị"
                                                    asp-for="customers_format" name="customers_format[]" asp-items="@(new SelectList(ViewBag.Customer, "customerUuid", "customerName"))">
                                                <option value="">Chọn tất cả</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="js-filter-state" class="form-control bootstrap-select" multiple title="Chưa có đơn vị"
                                                    name="stateIds">
                                            </select>
                                        }
                                    </div>
                                </div>

                                if (Model.state == 1)
                                {
                                    <div class="form-group row">
                                        <label asp-for="reviewNote" class="control-label col-3">Lý do</label>
                                        <div class="kt-input-icon col-8">
                                            <textarea class="form-control" asp-for="reviewNote" placeholder="Lý do cập nhật kế hoạch"></textarea>
                                        </div>
                                    </div>
                                    <div class="kt-mb-30 row">
                                        <div class="col-3"></div>
                                        <button type="submit" class="btn btn-info submit kt-mr-10">
                                            <i class="la la-save"></i>
                                            Cập nhật
                                        </button>
                                    </div>
                                    @*<input hidden name="state" value="1" />*@
                                }
                                else
                                {
                                    <div class="kt-mb-30 row">
                                        <div class="col-3"></div>
                                        <button type="submit" class="btn btn-info submit kt-mr-10">
                                            <i class="la la-save"></i>
                                            Cập nhật
                                        </button>
                                    </div>
                                }
                            }
                            @if (Model.state == 7)
                            {
                                <div class="form-group row">
                                    <label asp-for="reviewNote" class="control-label col-3">Nội dung báo cáo</label>
                                    <div class="kt-input-icon col-8">
                                        <textarea class="form-control" asp-for="reviewNote" placeholder="Nội dung báo cáo" readonly></textarea>
                                    </div>
                                </div>
                                @*<input hidden name="state" value="1" />*@
                            }
                            @if (Model.state == 0)
                            {
                                <div class="form-group row" style="display:none;">
                                    <label class="control-label col-3">Đợn vị thụ hưởng</label>
                                    <div class="kt-input-icon col-8">
                                        @if (ViewBag.Customer != null)
                                        {
                                            <select class="form-control kt-customer-selectbox" id="kt-select-customer" data-all="false" multiple title="Chọn đơn vị"
                                                    asp-for="customers_format" name="customers_format[]" asp-items="@(new SelectList(ViewBag.Customer, "customerUuid", "customerName"))">
                                                <option value="">Chọn tất cả</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="js-filter-state" class="form-control bootstrap-select" multiple title="Chưa có đơn vị"
                                                    name="stateIds">
                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="reviewNote" class="control-label col-3">Lý do cập nhật</label>
                                    <div class="kt-input-icon col-8">
                                        <textarea class="form-control" asp-for="reviewNote" placeholder="Lý do cập nhật kế hoạch"></textarea>
                                    </div>
                                </div>
                                @*<div class="kt-mb-30 row">
                <div class="col-3"></div>
                <button type="submit" class="btn btn-info submit kt-mr-10">
                    <i class="la la-save"></i>
                    Cập nhật
                </button>
            </div>*@
                            }

                        </form>
                    </div>
                    @if (Model.state == 2)
                    {
                        <div class="col-md-6">
                            <div class="kt-padding-l-20">
                                <div class="form-group row">
                                    <label asp-for="reviewNote" class="control-label col-md-3">Nội dung từ chối</label>
                                    <div class="kt-input-icon col-md-9">
                                        <textarea class="form-control" asp-for="reviewNote" readonly></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Người duyệt</label>
                                    <div class="kt-input-icon col-md-9">
                                        <input asp-for="reviewName" type="text" class="form-control" placeholder="Người duyệt" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Thời gian từ chối</label>
                                    <div class="kt-input-icon col-md-9">
                                        <input asp-for="reviewAt_display" type="text" class="form-control" placeholder="Thời gian từ chối" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.state == 1)
                    {
                        <div class="col-md-6">
                            <div class="kt-padding-l-20">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Người duyệt</label>
                                    <div class="kt-input-icon col-md-9">
                                        <input asp-for="reviewName" type="text" class="form-control" placeholder="Người duyệt" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Thời gian duyệt</label>
                                    <div class="kt-input-icon col-md-9">
                                        <input asp-for="reviewAt_display" type="text" class="form-control" placeholder="Thời gian duyệt" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
            @* Đơn vị triển khai *@
            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword--customer" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên đơn vị..." />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable--customer"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword--task" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên đơn vị..." />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.TaskStates != null)
                                        {
                                            <select id="js-filter-taskState" class="form-control bootstrap-select" multiple title="Chọn trạng thái"
                                                    name="taskStateIds" asp-items="@(new SelectList(ViewBag.TaskStates, "Value", "Text"))">
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="js-filter-taskState" class="form-control bootstrap-select" multiple title="Chọn trạng thái"
                                                    name="taskStateIds">
                                            </select>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable--task"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
@section scripts {
    <script>
        $("#cost_update").on('keyup', function () {
            $("#cost_update").unbind('keyup');
            $("#cost_update").val('');
            $("#cost_update").simpleMoneyFormat();
        })
    </script>
}