﻿@model DMMS.Models.OderListModel
@{
    ViewData["Title"] = "Cập nhật đề xuất";
    ViewData["BodyClass"] = "dmms-listoffer";

}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title text-uppercase">
                    Thông tin chi tiết đề xuất
                </h3>
            </div>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @if (Model.status == 1)
                    {
                        <a title="Đã duyệt" class="btn btn-primary btn-icon-sm text-white">
                            Đã duyệt
                        </a>
                    }
                    else if (Model.status == 3)
                    {
                        <a title="Đã duyệt" class="btn btn-danger btn-icon-sm text-white">
                            Đã từ chối
                        </a>
                    }
                    else
                    {
                        <a data-id="@Model.uuid" data-accept="true" title="Xóa" class="js-decide-listoffer btn btn-primary btn-icon-sm text-white">
                            Duyệt đề xuất
                        </a>
                        <a data-id="@Model.uuid" data-accept="false" title="Xóa" class="js-decide-listoffer btn btn-danger btn-icon-sm text-white">
                            Từ chối đề xuất
                        </a>
                    }
                    <a href="/listoffer" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link linkofferdevice" data-toggle="tab" href="#kt_tabs_1_3">DANH SÁCH THIẾT BỊ - VẬT TƯ</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="kt-portlet__body">
                    <form asp-action="Edit" class="dmms-supplier__form" onsubmit="return false">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="row">
                            <div class="col-6 border-right">
                                <div class="form-group row">
                                    <label class="control-label col-3 kt-margin-b-0">Thông tin người đề xuất</label>
                                    <div class="kt-input-icon input-group col-8">
                                        <input asp-for="order_person.name" class="form-control" placeholder="Người đề xuất" readonly />
                                        <a href="/staff/update/@Model.order_person.uuid" class="input-group-append" title="Chuyển qua chi tiết nhân viên">
                                            @*<i class="input-group-text la la-forward btn btn-primary text-light"></i>*@
                                            <span class="input-group-text text-primary">Xem chi tiết</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="code" class="control-label col-3">Mã đề xuất</label>
                                    <input asp-for="code" class="form-control col-8" placeholder="Mã đề xuất" readonly />
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3 kt-margin-b-0">Công việc</label>
                                    <div class="kt-input-icon input-group col-8">
                                        <input asp-for="task.name" class="form-control" placeholder="Công việc" readonly />
                                        <a href="/task/update/@Model.task.uuid" class="input-group-append" title="Chuyển qua chi tiết công việc">
                                            @*<i class="input-group-text la la-forward btn btn-primary text-light"></i>*@
                                            <span class="input-group-text text-primary">Xem chi tiết</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3 kt-margin-b-0">Kho nguồn thiết bị vật tư</label>
                                    <div class="kt-input-icon input-group col-8">
                                        <input asp-for="from.name" class="form-control" placeholder="Kho" readonly />
                                        <a href="/bunker/edit/@Model.from.uuid" class="input-group-append" title="Chuyển qua chi tiết kho">
                                            @*<i class="input-group-text la la-forward btn btn-primary text-light"></i>*@
                                            <span class="input-group-text text-primary">Xem chi tiết</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Thời gian đề xuất</label>
                                    <input value="@Model.time_created_format" class="form-control col-8" placeholder="Thời gian đề xuất" readonly />
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-3">Trạng thái</label>
                                    <input value="@ViewBag.StateOffer[Model.status - 1].Text" class="form-control col-8" placeholder="Trạng thái" readonly />
                                </div>
                                <input asp-for="uuid" type="hidden" />
                            </div>
                            @if (Model.status == 1 || Model.status == 3)
                            {
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label asp-for="reviewer.name" class="control-label col-3">Người duyệt</label>
                                        <input asp-for="reviewer.name" class="form-control col-8" placeholder="Người duyệt" readonly />
                                    </div>
                                    @if (Model.status == 3)
                                    {
                                        <div class="form-group row">
                                            <label asp-for="review_note" class="control-label col-3">Nội dung từ chối</label>
                                            <textarea asp-for="review_note" class="form-control col-8" placeholder="Nội dung từ chối" readonly></textarea>
                                        </div>
                                    }

                                    <div class="form-group row">
                                        <label asp-for="time_review_format" class="control-label col-3">Thời gian từ chối</label>
                                        <input asp-for="time_review_format" class="form-control col-8" placeholder="Thời gian từ chối" readonly />
                                    </div>
                                    @*<input asp-for="uuid" type="hidden" />*@
                                </div>
                            }
                        </div>

                        <div class="text-center kt-margin-t-20">
                            <button type="submit" class="btn btn-primary submit">
                                <i class="la la-save"></i>
                                Cập Nhật
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <input asp-for="uuid" type="hidden" />
                <div class="kt-portlet__body">
                    <!--begin: Search Form -->
                    <div class="kt-form kt-form--label-right">
                        <div class="row align-items-center">
                            <div class="col-md-3 col-lg-3">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input id="js-filter-keyword_device" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên thiết bị vật tư" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>

                            @*<div class="col-md-2 col-lg-2">
                                <div class="kt-form__group">
                                    <select data-live-search="true" class="form-control bootstrap-select filtercustomer" name="supplier_uuid">
                                        <option value="">Lọc theo danh mục</option>
                                    </select>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <!--end: Search Form -->
                </div>
                <div class="kt-portlet__body kt-portlet__body--table">
                    <!--begin: Datatable -->
                    <div class="kt-datatableofferdevice">
                    <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>