﻿@model PackageUpsertRequest
@{
    Layout = null;
}

<form class="dmms-package__form" asp-action="create" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="form-group">
        <label asp-for="code" class="control-label">Mã phòng</label>
        <div class="kt-input-icon">
            <input asp-for="code" class="form-control" placeholder="Mã phòng" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Tên phòng</label>
        <div class="kt-input-icon">
            <input asp-for="name" class="form-control" placeholder="Tên phòng" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="description" class="control-label">Mô tả</label>
        <div class="kt-input-icon">
            <textarea asp-for="description" class="form-control" placeholder="Mô tả"></textarea>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-info">
            <i class="la la-save"></i>
            Lưu
        </button>
    </div>
</form>