﻿@model PackageUpsertRequest

@{
    ViewData["Title"] = "Cập nhật kế hoạch công việc";
    ViewData["BodyClass"] = "dmms-package";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title text-uppercase">
                @Model.name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <buttom data-id="@Model.id" title="Xóa" class="btn btn-danger btn-icon-sm js-package-delete">
                        <i class="la la-trash"></i>
                        Xóa phòng
                    </buttom>
                    <a href="/package" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>
        </ul>

        <div class="tab-content">
            @* Begin: THONG TIN CHUNG *@
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="row">
                    <div class="col-6">
                        <form class="dmms-package__form" asp-action="Edit" onsubmit="return false">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <input asp-for="id" type="hidden" />
                            <div class="form-group row">
                                <label asp-for="code" class="control-label col-3">Mã phòng</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="code" class="form-control" placeholder="Mã phòng" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="name" class="control-label col-3">Tên phòng</label>
                                <div class="kt-input-icon col-9">
                                    <input asp-for="name" class="form-control" placeholder="Tên phòng" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="description" class="control-label col-3">Mô tả</label>
                                <div class="kt-input-icon col-9">
                                    <textarea asp-for="description" class="form-control" placeholder="Mô tả"></textarea>
                                </div>
                            </div>
                            <div class="kt-mb-30 row">
                                <div class="col-3"></div>
                                <button type="submit" class="btn btn-info submit kt-mr-10">
                                    Cập nhật thông tin
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
