﻿.dmms-area {
  .kt-portlet {
    height: calc(100vh - 180px);
    margin-bottom: 0;
  }

  .kt-group__container {
    position: absolute;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
  }

  .kt-group__btn {
    background: none;
    border: 0;
    outline: none;
    margin-left: auto;
    padding: 8px 12px;
    margin: -8px -8px -8px -8px;
    border-radius: 4px;
    &:hover {
      background-color: $light;
    }
  }

  .kt-portlet__body {
    flex: 1;
    position: relative;
  }

  .kt-group__list {
    display: none;
  }

  .kt-group__title {
    font-weight: 700;
  }

  .kt-group__item,
  .kt-group__title {
    padding: 12px 16px;
    cursor: pointer;
    border: 1px solid #ebedf2;
    margin-bottom: 4px;

    > i {
      color: $primary;
    }

    // &:hover {
    //   background-color: #f2f2f2;
    // }

    &.active {
      background-color: $primary;
      color: $white;

      > i {
        color: $white;
      }
    }
  }

  .kt-group {
    &.active {
      .kt-group__list {
        display: block;
      }

      .kt-group__title {
        background-color: #1261cd;
        color: $white;

        i {
          color: $white;
        }
      }
    }
  }

  .kt-group--customer {
    margin-bottom: 16px;
    .kt-group__list {
      display: block;
    }

    .kt-group__title {
      padding: 0;
      text-transform: uppercase;
      color: $primary;
      margin-bottom: 8px;
      border: 0;
      &:hover {
        background: none;
      }
    }
  }
}
