﻿/*variable*/

/*------------------*/
.dmms-bunker {
    /*.nav-tabs_edit {
        li {
            a {
                width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }*/
    .dmms-drawer__container {
        margin: auto 10%;
        height: 70% !important;
        width: 80% !important;

        .add-detail-supplies,
        .add-detail-supplies_inner {
            table {
                width: 100%;
                margin-right: auto;
                margin-left: auto;

                thead {
                    background-color: $primary;
                    color: $white;

                    tr th {
                        padding: 15px 10px;
                        text-align: center;
                    }
                }

                tbody {
                    tr td {
                        text-align: center;

                        input {
                            width: 80px;
                            margin-right: auto;
                            margin-left: auto;
                        }

                        input[type="search"] {
                            width: 100%;
                        }

                        i {
                            padding: 10px;
                            color: $white;
                            background-color: $primary;
                            cursor: pointer;
                            border-radius: 10%;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    .dropdown-submenu {
        position: relative;

        .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    }

    .kt-selectbox ul[role="presentation"] > li a {
        padding-right: 20px;
        vertical-align: middle;
    }

    .kt-selectbox ul[role="presentation"] > li a:before {
        content: "";
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border: 2px solid #e9e9e9;
        border-radius: 4px;
        background-color: #fff;
        margin-left: 20px;
        vertical-align: middle;
        float: right;
    }

    .kt-selectbox ul[role="presentation"] > li a[aria-selected=true]:before {
        font-family: "LineAwesome";
        content: "\f17b";
        color: #fff;
        background-color: #498ff8;
        border: 0;
        display: inline-block;
        padding-left: 3px;
    }

    .kt-selectbox ul[role="presentation"] > li a span.check-mark {
        visibility: hidden !important;
    }

    .kt-select-supplies {
        ul[role="presentation"] {
            > li {
                a[role="option"] span {
                    color: $primary;

                    small {
                        display: table-row;
                    }
                }

                &.active {
                    a[role="option"] span {
                        color: $primary;

                        small {
                            color: #74788d !important;
                        }
                    }
                }

                &:hover {
                    a[role="option"] span {
                        opacity: 0.8;
                        color: $primary;
                    }
                }
            }
        }

        button[data-id="kt-select-supplies"] {
            .filter-option .filter-option-inner-inner {
                color: $primary;
                max-width: 180px;

                small {
                    display: block;
                    /*max-width: 180px;*/
                }
            }
        }
    }
}
