$height-body : 200px;
/*Viet css vo day. Xem nhung file scss khac roi viet dung chuan nhe*/
/*.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span{
margin: 0 auto;
}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell:last-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell:last-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell:last-child{
    padding-right: 10px;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell:first-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell:first-child, 
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell:first-child {
    padding-left:10px;
}*/
.kt-badge.kt-badge--inline {
    height: 0;
    width: 100%;
    padding: 0.75rem 0.75rem;  
}

// .kt-portlet .kt-portlet__body {
//     padding: 25px 25px 0px 25px!important;
// }
.ui-autocomplete {
    z-index: 5000;
}
.dmms-home-chart {
    min-height: 400px;
}
body {
    font-family: Roboto,"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 420px){
    .dmms-drawer__container{
        width: 340px;
    }
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span,
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell > span {
    font-weight: 600;
    vertical-align: middle;
}
/*@media (max-width: 768px){
    .dmms-drawer__container {
        width: 440px;
    }
}*/

/* Datatable */
#category-table_filter,
.dataTables_filter {
    display:none;
}
table.dataTable thead tr {
    background-color: #498FF8;
}

#category-table {
    margin: -1rem 0 !important;
}
.kt-datatable__head span {
    text-align: center;
    margin: 0 auto;
}


.widthfull div.dropdown-menu.show {
    width: 100% !important;
}

.dblwidth div.dropdown-menu.show {
    width: 200% !important;
}
//hide staff in detail team
.hideme {
    display: none;
}

#notificetion {
    margin: 7px 0 0 -17px;
}

/* =============== */

.avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
    /* =============== */
.dmms-tree {
    .select2-results__option[aria-selected=true] {
        display: none;
    }
}

.dmms-drawer--treecreate .dmms-drawer__container {
    left: calc(50% - 320px);
    height: 33%;
    top: calc(50% - 162px);
    border-radius: 10px;
}
.dmms-drawer--CreateDepartment .dmms-drawer__container {
    left: calc(50% - 320px);
    height: 35%;
    top: calc(50% - 162px);
    border-radius: 10px;
}
.dmms-staff {
    .dmms-drawer--detailimportticket .dmms-drawer__container {
        /*left: calc(50% - 30%);
        width: 60%;
        top: calc(50% - 300px);
        height: 60%;*/
        margin: auto 10%;
        height: 70% !important;
        width: 80% !important;
    }

    .dmms-drawer--detailexportticket .dmms-drawer__container {
        /*left: calc(50% - 30%);
        width: 60%;
        top: calc(50% - 300px);
        height: 60%;*/
        margin: auto 10%;
        height: 70% !important;
        width: 80% !important;
    }
}
.dmms-drawer--upload .dmms-drawer__container {
    left: calc(50% - 30%);
    width: 60%;
    top: calc(50% - 300px);
    height: 60%;

    #devicetable {
        table {
            width: 100%;
            margin-right: auto;
            margin-left: auto;

            thead {
                background-color: $primary;
                color: $white;

                tr th {
                    padding: 15px 10px;
                    text-align: center;
                }
            }

            tbody {
                tr td {
                    text-align: center;

                    input {
                        width: 80px;
                        margin-right: auto;
                        margin-left: auto;
                    }

                    input[type="search"] {
                        width: 100%;
                    }

                    i {
                        padding: 10px;
                        color: $white;
                        background-color: $primary;
                        cursor: pointer;
                        border-radius: 10%;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
.dmms-drawer--uploadsave .dmms-drawer__container {
    left: calc(50% - 30%);
    width: 60%;
    top: calc(50% - 300px);
    height: 60%;

    #devicetable {
        table {
            width: 100%;
            margin-right: auto;
            margin-left: auto;

            thead {
                background-color: $primary;
                color: $white;

                tr th {
                    padding: 15px 10px;
                    text-align: center;
                }
            }

            tbody {
                tr td {
                    text-align: center;

                    input {
                        width: 80px;
                        margin-right: auto;
                        margin-left: auto;
                    }

                    input[type="search"] {
                        width: 100%;
                    }

                    i {
                        padding: 10px;
                        color: $white;
                        background-color: $primary;
                        cursor: pointer;
                        border-radius: 10%;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
.dmms-drawer--detaildevice .dmms-drawer__container {
    left: calc(50% - 30%);
    width: 60%;
    top: calc(50% - 300px);
    border-radius: 10px;
    height: 70%;

    .kt-datatable.kt-datatable--default > .kt-datatable__table {
        border-collapse: collapse;
        overflow: auto;
        width: 100%;
        border-radius: 0 !important;
    }
}
.dmms-drawer--knowledge .dmms-drawer__container {
    left: calc(50% - 15%);
    width: 35%;
    top: calc(50% - 200px);
    border-radius: 10px;
    height: 30%
}
.dmms-drawer--contact .dmms-drawer__container {
    left: calc(50% - 15%);
    width: 35%;
    top: calc(50% - 200px);
    height: 40%;
}
.dmms-drawer--listoffer .dmms-drawer__container {
    left: calc(50% - 30%);
    width: 60%;
    top: calc(50% - 300px);
    border-radius: 10px;
    height: 60%;
}

.dmms-drawer--addlistoffer {
    .dmms-drawer__container {
        margin: auto 20%;
        height: 70% !important;
        width: 60% !important;

        .add-detail-supplies {
            table {
                width: 100%;
                margin-right: auto;
                margin-left: auto;

                thead {
                    background-color: $primary;
                    color: $white;

                    tr th {
                        padding: 15px 10px;
                        text-align: center;
                    }
                }

                tbody {
                    tr td {
                        text-align: center;

                        input {
                            width: 80px;
                            margin-right: auto;
                            margin-left: auto;
                        }

                        input[type="search"] {
                            width: 100%;
                        }

                        i {
                            padding: 10px;
                            color: $white;
                            background-color: $primary;
                            cursor: pointer;
                            border-radius: 10%;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    .kt-select-supplies {
        ul[role="presentation"] {
            > li {
                a[role="option"] span {
                    color: $primary;

                    small {
                        display: table-row;
                    }
                }

                &.active {
                    a[role="option"] span {
                        color: $primary;

                        small {
                            color: #74788d !important;
                        }
                    }
                }

                &:hover {
                    a[role="option"] span {
                        opacity: 0.8;
                        color: $primary;
                    }
                }
            }
        }

        button[data-id="kt-select-supplies"] {
            .filter-option .filter-option-inner-inner {
                color: $primary;
                max-width: 180px;

                small {
                    display: block;
                    /*max-width: 180px;*/
                }
            }
        }
    }
}

.dmms-drawer--knowledgeqa .dmms-drawer__container {
    left: calc(50% - 30%);
    width: 60%;
    top: calc(50% - 300px);
    border-radius: 10px;
    height: 60%
}
.cus {width: 300px !important;}

/*==========================*/
.daterangepicker {
    z-index: 999 !important;
}

textarea.form-control {
    height: 100px;
}

/*==========================*/
.dmms-team {
    .kt-portlet {
        height: calc(100vh - 180px);
        margin-bottom: 0;
    }

    .kt-team__container {
        position: absolute;
        overflow: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 25px;
    }

    .kt-team__btn {
        background: none;
        border: 0;
        outline: none;
        margin-left: auto;
        padding: 8px 12px;
        margin: -8px -8px -8px -8px;
        border-radius: 4px;

        &:hover {
            background-color: $light;
        }
    }

    .kt-portlet__body {
        flex: 1;
        position: relative;
    }

    .kt-team__list {
        display: none;
    }

    .kt-team__title {
        font-weight: 700;
    }

    .kt-team__item,
    .kt-team__title {
        padding: 12px 16px;
        cursor: pointer;
        border: 1px solid #ebedf2;
        margin-bottom: 4px;

        > i {
            color: $primary;
        }
        // &:hover {
        //   background-color: #f2f2f2;
        // }
        &.active {
            background-color: $primary;
            color: $white;

            > i {
                color: $white;
            }
        }
    }

    .kt-team {
        &.active {
            .kt-team__list {
                display: block;
            }

            .kt-team__title {
                background-color: #1261cd;
                color: $white;

                i {
                    color: $white;
                }
            }
        }
    }

    .kt-team--staff {
        margin-bottom: 16px;

        .kt-team__list {
            display: block;
        }

        .kt-team__title {
            padding: 0;
            text-transform: uppercase;
            color: $primary;
            margin-bottom: 8px;
            border: 0;

            &:hover {
                background: none;
            }
        }
    }
}

/*Modal center*/
.dmms-team .dmms-drawer__container {
    margin: auto 35%;
    height: 30% !important;
    width: 500px !important;
}

.dmms-drawer--rateticket .dmms-drawer__container {
    margin: auto 30%;
    height: 50% !important;
    width: 40% !important;
}

/* BEGIN */
/* Rating star for ticket */
.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul > li.star {
    display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.la {
    font-size: 2.5em; /* Change the size of the stars */
    color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.la {
    color: rgba(0, 118, 228, 0.7);
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.la {
    color: #0076e4;
}
/* END */


/* BEGIN: DEVICE HISTORY */
.kt-device-history {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    margin-bottom: 20px;

    .kt-items {
        .kt-item {
            padding-bottom: 10px;

            .kt-item__state {
                width: auto;
            }

            .kt-item__time {
                float: right;
                padding-right: 10px;
            }

            img {
                margin-left: 10px;
                width: 100%;
            }
        }
    }
}
/* END: DEVICE HISTORY */

/*--------------------------------------*/
.dropbtn {
 
  
  cursor: pointer;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*.dropdown a:hover {background-color: #ddd;}*/

.show {display: block;}

/*--------Selectpicker select checkbox----------*/
.dmms-taskPlan {
    .kt-customer-selectbox ul[role="presentation"] > li a {
        padding-right: 20px;
        vertical-align: middle;
    }

    .kt-customer-selectbox ul[role="presentation"] > li a:before {
        content: "";
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border: 2px solid #e9e9e9;
        border-radius: 4px;
        background-color: #fff;
        margin-left: 20px;
        vertical-align: middle;
        float: right;
    }

    .kt-customer-selectbox ul[role="presentation"] > li a[aria-selected=true]:before {
        font-family: "LineAwesome";
        content: "\f17b";
        color: #fff;
        background-color: #498ff8;
        border: 0;
        display: inline-block;
        padding-left: 3px;
    }

    .kt-customer-selectbox ul[role="presentation"] > li a span.check-mark {
        visibility: hidden !important;
    }
}


.container {
    display: block;
    position: relative;
    /*padding-left: 35px;*/
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.dmms-treecategories {
    .dmms-drawer--CreateSupplies .dmms-drawer__container,
    .dmms-drawer--CreateTools .dmms-drawer__container,
    .dmms-drawer--device .dmms-drawer__container {
        margin: auto 25%;
        height: 65% !important;
        width: 50% !important;

        .kt-body-content {
            border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            margin: -13px -13px 10px;
            padding: 8px 13px;

            a {
                border: 1px solid #dee2e6;
                padding: 4px 10px;
                display:inline-block;
                margin: 2px 0;
                &.active {
                    background-color: $primary;
                    color: $white;
                }
            }
        }

        .dmms-treecategoriesaddsupplies__form, .dmms-treecategoriesedit__form, .dmms-treecategoriesaddtools__form, .dmms-treecategoriesadd__form, .dmms-treecategorieseditsupplies__form, .dmms-treecategoriesedittools__form {
            .steps {
                display: none;
            }



            .kt-form-left {
                border: 1px solid #dee2e6;
                padding: 10px;
                height: 400px;
                overflow: auto;
            }

            .kt-form-right {
                border: 1px solid #dee2e6;
                padding: 10px;
                height: 400px;
                margin-right: 0px !important;
                margin-left: 0px !important;

                .kt-form-right--content {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    border-bottom: 1px solid #dee2e6;

                    .check-all {
                        float: right;

                        label {
                            padding-left: 0 !important;
                            padding-right: 30px;

                            span {
                                right: 0 !important;
                                left: auto !important;
                            }
                        }
                    }
                }

                .kt-form-right--body {
                    height: (400px - 40px);
                    overflow: auto;
                    margin: 0 -10px;
                    padding: 10px;

                    .check-each {
                        label {
                            width: 100%;
                            padding-left: 0 !important;
                            padding-right: 30px;

                            span {
                                right: 0 !important;
                                left: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
.dmms-drawer--cusproject {
    .kt-select-customer ul[role="presentation"] {
        > li {
            a[role="option"] span {
                color: $primary;

                small {
                    display: table-row;
                }
            }

            &.active {
                a[role="option"] span {
                    color: $primary;

                    small {
                        color: #74788d !important;
                    }
                }
            }

            &:hover {
                a[role="option"] span {
                    opacity: 0.8;
                    color: $primary;
                }
            }
        }
    }
}
.dmms-drawer--ticket {
    .kt-select-device ul[role="presentation"] {
        > li {
            a[role="option"] span {
                color: $primary;

                small {
                    display: table-row;
                    font-size:12px;
                }
            }

            &.active {
                a[role="option"] span {
                    color: $primary;

                    small {
                        color: #74788d !important;
                    }
                }
            }

            &:hover {
                a[role="option"] span {
                    opacity: 0.8;
                    color: $primary;
                }
            }
        }
    }
}

.dmms-drawer--customercontractproject {
    .kt-select-customer-contract ul[role="presentation"] {
        > li {
            a[role="option"] span {
                color: $primary;

                small {
                    display: table-row;
                }
            }

            &.active {
                a[role="option"] span {
                    color: $primary;

                    small {
                        color: #74788d !important;
                    }
                }
            }

            &:hover {
                a[role="option"] span {
                    opacity: 0.8;
                    color: $primary;
                }
            }
        }
    }
}
.dmms-drawer--contractproject {
    .kt-select-customer-contract ul[role="presentation"] {
        > li {
            a[role="option"] span {
                color: $primary;

                small {
                    display: table-row;
                }
            }

            &.active {
                a[role="option"] span {
                    color: $primary;

                    small {
                        color: #74788d !important;
                    }
                }
            }

            &:hover {
                a[role="option"] span {
                    opacity: 0.8;
                    color: $primary;
                }
            }
        }
    }
}
//Form create package in project
.dmms-drawer--packageinproject, .dmms-drawer--packagedetailinproject {
    .dmms-drawer__container {
        margin: auto 20%;
        height: 70% !important;
        width: 60% !important;
    }

    table {
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        thead {
            background-color: $primary;
            color: $white;

            tr th {
                padding: 15px 10px;
                text-align: center;
            }
        }

        tbody {
            tr td {
                text-align: center;

                input {
                    width: 160px;
                    margin-right: auto;
                    margin-left: auto;
                }

                i {
                    padding: 10px;
                    color: $white;
                    background-color: $primary;
                    cursor: pointer;
                    border-radius: 10%;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
.dmms-drawer--contractproject {
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

    .kt-selectbox ul[role="presentation"] > li a {
        padding-right: 20px;
        vertical-align: middle;
    }

    .kt-selectbox ul[role="presentation"] > li a:before {
        content: "";
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border: 2px solid #e9e9e9;
        border-radius: 4px;
        background-color: #fff;
        margin-left: 20px;
        vertical-align: middle;
        float: right;
    }

    .kt-selectbox ul[role="presentation"] > li a[aria-selected=true]:before {
        font-family: "LineAwesome";
        content: "\f17b";
        color: #fff;
        background-color: #498ff8;
        border: 0;
        display: inline-block;
        padding-left: 3px;
    }

    .kt-selectbox ul[role="presentation"] > li a span.check-mark {
        visibility: hidden !important;
    }
}
.kt-dialog.kt-dialog--top-centercus {
    display: flex;
    margin-top: 25%;
    left: 50%;
    margin-left: -65px;
    transition: top 0.6s ease;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.kt-dialog.kt-dialog--top-centercus.kt-dialog--shown {
    top: 0px;
    transition: top 0.6s ease;
}

.note-radius {
    width: 20px;
    height: 20px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    --border-radius: 25px;
    border-radius: 25px;
}

.color-moitruong {
    background-color: #FFA800;
}

.color-suckhoe {
    background-color: #8950FC;
}

.color-giaoduc {
    background-color: #F64E60;
}

.color-xlmoitruong {
    background-color: #36B37E;
}

.icon-size {
    position: absolute;
    font-size: 2em;
    margin-top: 4px;
}

.tieude-bieudo {
    position: relative;
    margin-top: 2px;

}

.soluong-info {
    float: right;
}

.noidung-info {
    position: absolute;
    right: 0px;
    margin-top: 23px;
    white-space: nowrap;
}

.muc-chart {
    position: relative;
    height: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tenbieudotron {
    text-align: center;
}
.kt-user-card-v2__pic{
    padding-left:10px;
}
.kt-user-card-v2__details{
    padding-left:5px;
}

.tg {
    border-collapse: collapse;
    /*position: absolute;*/
    border-spacing: 0;
    border-color: #ccc;
    align-content: center;
    width: 100%;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #ffffff;
    background-color: #498ff8;
    font-weight: bold;
    text-align:center;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-width: 1px;
    border-color: #ccc;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    text-align: center
}

.overhidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-autocomplete {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 10px;

    .findname_autocomplete {
        background-color: white;
        border: 1px solid #dfdfdf;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 4px;
        padding-inline-start: 0;

        .findname_autocomplete_items {
            display: inline-block;
            padding: 10px 20px;
            width: 100%;

            &:hover {
                background-color: #e2e5ec;
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}

.dmms-project {
    .kt-select-supplies {
        ul[role="presentation"] {
            > li {
                a[role="option"] span {
                    color: $primary;

                    small {
                        display: table-row;
                    }
                }

                &.active {
                    a[role="option"] span {
                        color: $primary;

                        small {
                            color: #74788d !important;
                        }
                    }
                }

                &:hover {
                    a[role="option"] span {
                        opacity: 0.8;
                        color: $primary;
                    }
                }
            }
        }

        button[data-id="kt-select-supplies"] {
            .filter-option .filter-option-inner-inner {
                color: $primary;
                max-width: 180px;

                small {
                    display: block;
                    /*max-width: 180px;*/
                }
            }
        }
    }
}
.kt-user-card-v2__name:hover {
    position: absolute;
    background-color: #FFF;
}