﻿.dmms-timewarning {
    .kt-warning__list {
        display: none;
    }

    .kt-warning__title {
        font-weight: 700;
        padding: 0 16px;
        cursor: pointer;
        border: 1px solid #ebedf2;
        margin-bottom: 10px;

        .btn-on-off {
            margin-top: 13px !important;
        }

        &.active {
            background-color: $primary;
            color: $white;
        }
    }

    .kt-warning__title:hover {
        background-color: rgba(18, 97, 205, 0.4);
    }

    .kt-warning__item {
        margin: 0 15px 10px;
        border: 1px solid #ebedf2;
        background-color: white;
        padding: 10px 14px;

        .kt-state-title {
            color: #1261cd;
        }

        .btn-on-off {
            margin-top: -0.4rem;
        }
    }

    .kt-warning {
        &.active {
            .kt-warning__list {
                margin-top: -10px;
                margin-bottom: 10px;
                padding-top: 10px;
                background-color: #f9f9fc;
                border: 1px solid #ebedf2;
                display: block;

                input {
                    margin-top: -3px;
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    height: 23px;
                }

                .kt-warning-footer {
                    margin: 15px 16px 20px;
                }
                /*i {
                    margin-left: 15px;
                }*/
            }

            .kt-warning__title {
                background-color: #1261cd;
                color: $white;
            }
        }
    }
}
