﻿@{
    ViewData["Title"] = "Báo cáo thống kê";
    ViewData["BodyClass"] = "dmms-reportoverview";
}

<div class="row">
    <div class="col-12 col-sm-12 col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>
                            <i class="flaticon-pie-chart-1 text-success"></i>
                        </span>
                        Báo cáo thống kê dự án theo lĩnh vực
                    </h3>
                </div>
                <div><a href="/reportoverview/reportstatisticdetail"><i class="fas fa-arrow-right icon-size" style="float:right;margin: 15px -15px; cursor: pointer;"></i> </a></div>
            </div>
            <div class="kt-section__info row kt-margin-l-5 kt-margin-t-5 kt-margin-r-5">
                <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
                    <i class="flaticon2-pie-chart-4 text-success icon-size"></i>
                    <div class="tieude-bieudo">
                        <h4 class="soluong-info" id="duantrienkhai">0</h4>
                        <p class="noidung-info">Dự án đang triển khai</p>
                    </div>
                </div>

                <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
                    <i class="flaticon2-graphic-1 text-warning icon-size"></i>
                    <div class="tieude-bieudo">
                        <h4 class="soluong-info" id="donvitrienkhai">0</h4>
                        <p class="noidung-info">Đơn vị triển khai</p>
                    </div>
                </div>

                <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
                    <i class="flaticon2-list-2 text-info icon-size"></i>
                    <div class="tieude-bieudo">
                        <h4 class="soluong-info" id="sanphamtrienkhai">0</h4>
                        <p class="noidung-info">Sản phẩm triển khai</p>
                    </div>
                </div>

                <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
                    <i class="flaticon2-pie-chart-4 text-success icon-size"></i>
                    <div class="tieude-bieudo">
                        <h4 class="soluong-info" id="thietbitrienkhai">0</h4>
                        <p class="noidung-info">Thiết bị triển khai</p>
                    </div>
                </div>

            </div>
            <hr width="100%" align="center" style="margin-top: 0px;" />
            <div class="row col-12">
                <div class="kt-margin-t-5 col-sm-6 col-xl-3">
                    <div class="kt-portlet__body--fluid">
                        <div class="w-100 charpie1" style="height: 250px;">
                            <div id="charpie1"></div>
                        </div>
                        <p style="margin-left: 39px;">Thống kê số dự án theo lĩnh vực</p>
                    </div>

                </div>
                <div class="col-sm-6 col-xl-3 kt-margin-t-5">
                    <div class="kt-portlet__body--fluid">
                        <div class="w-100 charpie2" style="height: 250px;">
                            <div id="charpie2"></div>
                        </div>
                        <p style="margin-left: 20px;">Đơn vị triển khai của dự án theo lĩnh vực</p>
                    </div>

                </div>

                <div class="col-sm-6 col-xl-3 kt-margin-t-5 ">
                    <div class="kt-portlet__body--fluid">
                        <div class="w-100 charpie3" style="height: 250px;">
                            <div id="charpie3"></div>
                        </div>
                        <p style="margin-left: 39px;">Số thiết bị triển khai theo lĩnh vực</p>
                    </div>

                </div>

                <div class="col-sm-6 col-xl-3 kt-margin-t-20 ">
                    <div class="kt-portlet__body--fluid kt-margin-l-30">
                        <div style="width:200px; height:200px;  margin-left:20px;">
                            <h6 style="margin-bottom:20px;">Chú thích: </h6>
                            <div class="row">
                                <div class="note-radius color-giaoduc"></div>
                                &ensp;<p>Giáo dục & đào tạo</p>
                            </div>
                            <div class="row">
                                <div class="note-radius color-suckhoe"></div>
                                &ensp;<p>Y tế & sức khỏe</p>
                            </div>
                            <div class="row">
                                <div style="" class="note-radius color-moitruong"></div>
                                &ensp;<p>Xử lý môi trường</p>
                            </div>
                            <div class="row">
                                <div class="note-radius color-xlmoitruong"></div>
                                &ensp;<p>Quan trắc môi trường</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>
                            <i class="fas fa-poll text-success"></i>
                        </span>
                        Báo cáo thống kê số lượng sự cố theo thời gian
                    </h3>
                </div>
                <div><a href="/reportoverview/reportstatistictroubleshoot"><i class="fas fa-arrow-right icon-size" style="float:right;margin: 15px -15px; cursor: pointer;"></i> </a></div>
            </div>
            <div class="kt-section__info">

            </div>

            <div class="kt-portlet__body--fluid">
                <div class="tieude-bieudo kt-margin-l-20">
                    <h4 id="tongSoTicket">0</h4>
                    <p class="">Tổng số sự cố được phát sinh</p>
                </div>
                <div class="w-100 chartmix" style="height: 350px;">
                    <div id="chartmix">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-xl-8">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>
                            <i class="flaticon2-pie-chart-1 text-success"></i>
                        </span>
                        Báo cáo thống kê tổng quan về công việc
                    </h3>
                </div>
                <div><a href="/reportoverview/reportstatisticdetailtask"><i class="fas fa-arrow-right icon-size" style="float:right;margin: 15px -15px; cursor: pointer;"></i> </a></div>
            </div>
            <div class="kt-section__info">

            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-6 " style="padding:0;">
                    <div class="kt-portlet__body--fluid">
                        <div class="tieude-bieudo kt-margin-l-20">
                            <h4 id="tongSoTask1">0</h4>
                            <p class="">Công việc khắc phục sự cố</p>
                        </div>
                        <div class="w-100 chartstack1" style="height: 350px;">
                            <div id="chartstack1"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xl-6">
                    <div class="kt-portlet__body--fluid">
                        <div class="tieude-bieudo kt-margin-l-20">
                            <h4 id="tongSoTask2">0</h4>
                            <p class="">Công việc bảo trì - Bảo dưỡng</p>
                        </div>
                        <div class="w-100 chartstack2" style="height: 350px;">
                            <div id="chartstack2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-xl-8">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>
                            <i class="flaticon-graphic-2 text-success"></i>
                        </span>
                        Báo cáo thống kê tổng quan trạng thái thiết bị và vật tư tiêu hao cho công việc
                    </h3>
                </div>
                <div><a href="/reportoverview/reportstatisticdetailsuppliestask"><i class="fas fa-arrow-right icon-size" style="float:right;margin: 15px -15px; cursor: pointer;"></i> </a></div>
            </div>
            <div class="kt-section__info">

            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-6" style="padding:0;">
                    <div class="kt-portlet__body--fluid">
                        <div class="tieude-bieudo kt-margin-l-20">
                            <h4 class="">282</h4>
                            <p class="">Tổng số thiết bị sửa chữa cho công việc</p>
                        </div>
                        <div class="w-100">
                            <div id="chartcolumn1"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xl-6">
                    <div class="kt-portlet__body--fluid">
                        <div class="tieude-bieudo kt-margin-l-20">
                            <h4 class="">10.578.789</h4>
                            <p class="">Chi phí vật tư tiêu hao cho công việc</p>
                        </div>
                        <div class="w-100">
                            <div id="chartline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>
                            <i class="flaticon2-pie-chart-3 text-success"></i>
                        </span>
                        Thống kê tổng quan trạng thái hợp đồng của dự án
                    </h3>
                </div>
                <div><a href="/reportoverview/reportstatisticdetailstatuscontract"><i class="fas fa-arrow-right icon-size" style="float:right;margin: 15px -15px; cursor: pointer;"></i> </a></div>
            </div>
            <div class="kt-section__info">

            </div>

            <div class="kt-portlet__body--fluid">

                <div class="kt-portlet__head-label">
                    <div class="row">
                        <div class="col-sm-6 col-xl-6">
                            <h4 class="kt-margin-l-20 kt-margin-b-20">Hợp đồng bảo hành <i class="flaticon-pie-chart text-success"></i></h4>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-6">
                            <h4 class="kt-margin-l-20 kt-margin-b-20">Hợp đồng bảo trì <i class="flaticon-pie-chart text-success"></i></h4>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                            <div class="tieude-bieudo kt-margin-l-20">
                                <h4 class="">263</h4>
                                <p class="">Tổng số sự cố được phát sinh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>
                            <i class="flaticon2-chart text-success"></i>
                        </span>
                        Top 5 team xử ký nhiều công việc nhất
                    </h3>
                </div>
            </div>
            <div class="kt-section__info">

            </div>

            <div class="kt-portlet__body--fluid">
                <div class="tieude-bieudo kt-margin-l-20">
                </div>
                <div id="horizontal">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-xl-8">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>
                            <i class="flaticon2-chart2 text-success"></i>
                        </span>
                        Báo cáo thống kê tổng quan về cuộc gọi
                    </h3>
                </div>
                <div><a href="/reportoverview/reportstatisticdetailcall"><i class="fas fa-arrow-right icon-size" style="float:right;margin: 15px -15px; cursor: pointer;"></i> </a></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="kt-portlet__body--fluid">

                        <div class="tieude-bieudo kt-margin-l-20">
                            <div class="row">
                                <div class="col-sm-12 col-xl-6">
                                    <h4 class="">230</h4>
                                    <p class="">Tổng cuộc gọi đến</p>
                                </div>
                                <div class="col-sm-12 col-xl-6">
                                    <h4 class="">08 giờ 30 phút 53'</h4>
                                    <p class="">Thời lượng các cuộc gọi đên</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <div id="chartcolumn2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="kt-portlet__body--fluid">
                        <div class="tieude-bieudo kt-margin-l-20">
                            <div class="row">
                                <div class="col-sm-12 col-xl-6">
                                    <h4 class="">290</h4>
                                    <p class="">Tổng cuộc gọi đi</p>
                                </div>
                                <div class="col-sm-12 col-xl-6">
                                    <h4 class="">05 giờ 30 phút 53'</h4>
                                    <p class="">Thời lượng các cuộc gọi đi</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <div id="chartcolumn3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/dist/apexcharts.js"></script>