﻿@model IEnumerable<DMMS.Models.ReportStatisticDetailModel>
@{ ViewData["Title"] = "Báo cáo thống kê chi tiết vật tư tiêu khao trong công việc";
    ViewData["BodyClass"] = "dmms-reportstatisticdetailsuppliestask"; }

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Báo cáo thống kê chi tiết vật tư tiêu khao trong công việc
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <a href="/reportoverview" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-supplies-province active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">VẬT TƯ TIÊU HAO THEO PHÒNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-supplies-task" data-toggle="tab" href="#kt_tabs_1_3">VẬT TƯ TIÊU HAO THEO KHU VỰC</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">

                <div class="kt-portlet">
                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail-supplies-task1"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-portlet">

                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail-supplies-task2"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->

                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts
    {
        <script src="~/dist/summernote/summernote.js"></script>
    }*@
