﻿@model IEnumerable<DMMS.Models.ReportStatisticDetailStatusContractModel>
@{ ViewData["Title"] = "Báo cáo thống kê theo trạng thái của hợp đồng";
    ViewData["BodyClass"] = "dmms-reportstatisticdetailstatuscontract"; }

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Báo cáo thống kê theo trạng thái của hợp đồng
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <a href="/reportoverview" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã dự án, mã hợp đồng" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        @if (ViewBag.province != null)
                        {
                            <select asp-items="@(new SelectList(ViewBag.province,"id","name"))" id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="provinceId">
                                <option value="">---Tỉnh/Thành---</option>
                            </select> }
                        else
                        {
                            <select id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="provinceId">
                                <option value="">---Tỉnh/Thành---</option>
                            </select>}
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        @if (ViewBag.Fields != null)
                        {
                            <select id="js-filter-field" data-live-search="true" class="form-control bootstrap-select"
                                    name="fieldId" asp-items="@(new SelectList(ViewBag.Fields, "id", "name"))">
                                <option value="">---Lĩnh vực---</option>
                            </select> }
                        else
                        {
                            <select id="js-filter-field" data-live-search="true" class="form-control bootstrap-select"
                                    name="fieldId">
                                <option value="">---Lĩnh vực---</option>
                            </select>}
                    </div>

                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        @if (ViewBag.TaskState != null)
                        {
                            <select id="js-filter-state" data-live-search="true" class="form-control bootstrap-select"
                                    name="stateIds" asp-items="@(new SelectList(ViewBag.TaskState, "Value", "Text"))">
                                <option value="">---Trạng thái---</option>
                            </select> }
                        else
                        {
                            <select id="js-filter-state" data-live-search="true" class="form-control bootstrap-select"
                                    name="stateIds">
                                <option value="">---Trạng thái---</option>
                            </select>}
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>

@*@section Scripts
    {
        <script src="~/dist/summernote/summernote.js"></script>
    }*@
