﻿@model IEnumerable<DMMS.Models.ReportStatisticTroubleshootModel>
@{ ViewData["Title"] = "Báo cáo thống kê theo khắc phục sự cố";
    ViewData["BodyClass"] = "dmms-reportstatistictroubleshoot"; }

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Báo cáo thống kê theo khắc phục sự cố
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <a href="/reportoverview" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Tên sự cố, mã phiếu" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        @if (ViewBag.Customers != null)
                        {
                            <select id="js-filter-customer" data-live-search="true" class="form-control bootstrap-select"
                                    name="customerUuid" asp-items="@(new SelectList(ViewBag.Customers, "uuid", "name"))">
                                <option value="">---Đơn vị thụ hưởng---</option>
                            </select> }
                        else
                        {
                            <select id="js-filter-customer" data-live-search="true" class="form-control bootstrap-select"
                                    name="customerUuid">
                                <option value="">---Đơn vị thụ hưởng---</option>
                            </select>}
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="kt-form__group">
                        @if (ViewBag.TaskState != null)
                        {
                            <select id="js-filter-state" data-live-search="true" class="form-control bootstrap-select"
                                    name="state" asp-items="@(new SelectList(ViewBag.TaskState, "Value", "Text"))">
                                <option value="">---Trạng thái---</option>
                            </select> }
                        else
                        {
                            <select id="js-filter-state" data-live-search="true" class="form-control bootstrap-select"
                                    name="state">
                                <option value="">---Trạng thái---</option>
                            </select>}
                    </div>

                </div>

            </div>
        </div>
    </div>

    @* start landd - gắn biểu đồ*@
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="">
                    <div class="tieude-bieudo kt-margin-l-20">
                        <h4 id="tongSoTicketdetail">0</h4>
                        <p class="">Tổng số sự cố được phát sinh</p>
                    </div>
                    <div class="w-100 charttroules" style="height: 500px;">
                        <div id="charttroules">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*end - landd*@

    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>

<script src="~/dist/apexcharts.js"></script>