﻿@model IEnumerable<DMMS.Models.ReportStatisticDetailCallModel>
@{ ViewData["Title"] = "Báo cáo thống kê chi tiết cuộc gọi";
    ViewData["BodyClass"] = "dmms-reportstatisticdetailcall"; }

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Báo cáo thống kê chi tiết cuộc gọi
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <a href="/reportoverview" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-call-coming active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THỐNG KÊ CUỘC GỌI ĐẾN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-call-away" data-toggle="tab" href="#kt_tabs_1_3">THỐNG KÊ CUỘC GỌI ĐI</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <!--begin: Search Form -->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword-callcoming" type="text" name="keyword" class="form-control" value="" placeholder="VD: Số điện thoại" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.Customers != null)
                                        {
                                            <select id="js-filter-customer-callcoming" data-live-search="true" class="form-control bootstrap-select"
                                                    name="customerId" asp-items="@(new SelectList(ViewBag.Customers, "id", "name"))">
                                                <option value="">---Đơn vị liên hệ---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-customer-callcoming" data-live-search="true" class="form-control bootstrap-select"
                                                    name="customerId">
                                                <option value="">---Đơn vị liên hệ---</option>
                                            </select>}
                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.Contact != null)
                                        {
                                            <select id="js-filter-contact-callcoming" data-live-search="true" class="form-control bootstrap-select"
                                                    name="fieldId" asp-items="@(new SelectList(ViewBag.Contact, "id", "name"))">
                                                <option value="">---Người liên hệ---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-contact-callcoming" data-live-search="true" class="form-control bootstrap-select"
                                                    name="fieldId">
                                                <option value="">---Người liên hệ---</option>
                                            </select>}
                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.Position != null)
                                        {
                                            <select asp-items="@(new SelectList(ViewBag.Position,"Value","Text"))" id="js-filter-position-callcoming" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                                <option value="">---Chức vụ---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-position-callcoming" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                                <option value="">---Chức vụ---</option>
                                            </select>}
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.TaskState != null)
                                        {
                                            <select asp-items="@(new SelectList(ViewBag.TaskState,"Value","Text"))" id="js-filter-state-callcoming" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                                <option value="">---Trạng thái---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-state-callcoming" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                                <option value="">---Trạng thái---</option>
                                            </select>}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--end: Search Form -->
                    </div>
                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail-call1"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>
            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword-callaway" type="text" name="keyword" class="form-control" value="" placeholder="VD: Số điện thoại" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.Customers != null)
                                        {
                                            <select id="js-filter-customer-callaway" data-live-search="true" class="form-control bootstrap-select"
                                                    name="customerId" asp-items="@(new SelectList(ViewBag.Customers, "id", "name"))">
                                                <option value="">---Đơn vị liên hệ---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-customer-callaway" data-live-search="true" class="form-control bootstrap-select"
                                                    name="customerId">
                                                <option value="">---Đơn vị liên hệ---</option>
                                            </select>}
                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.Contact != null)
                                        {
                                            <select id="js-filter-contact-callaway" data-live-search="true" class="form-control bootstrap-select"
                                                    name="contactId" asp-items="@(new SelectList(ViewBag.Contact, "id", "name"))">
                                                <option value="">---Người liên hệ---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-contact-callaway" data-live-search="true" class="form-control bootstrap-select"
                                                    name="contactId">
                                                <option value="">---Người liên hệ---</option>
                                            </select>}
                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.Position != null)
                                        {
                                            <select asp-items="@(new SelectList(ViewBag.Position,"Value","Text"))" id="js-filter-position-callaway" data-live-search="true" class="form-control bootstrap-select" name="positionId">
                                                <option value="">---Chức vụ---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-position-callaway" data-live-search="true" class="form-control bootstrap-select" name="positionId">
                                                <option value="">---Chức vụ---</option>
                                            </select>}
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        @if (ViewBag.TaskState != null)
                                        {
                                            <select asp-items="@(new SelectList(ViewBag.TaskState,"Value","Text"))" id="js-filter-state-callaway" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                                <option value="">---Trạng thái---</option>
                                            </select> }
                                        else
                                        {
                                            <select id="js-filter-state-callaway" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                                <option value="">---Trạng thái---</option>
                                            </select>}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--end: Search Form -->
                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail-call2"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->

                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts
    {
        <script src="~/dist/summernote/summernote.js"></script>
    }*@
