﻿@model IEnumerable<DMMS.Models.ReportStatisticDetailModel>
@{ ViewData["Title"] = "Báo cáo thống kê chi tiết theo công việc";
    ViewData["BodyClass"] = "dmms-reportstatisticdetailtask"; }

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Báo cáo thống kê chi tiết theo công việc
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <a href="/reportoverview" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã dự án, tên dự án" />
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.Customers != null)
                                {
                                    <select id="js-filter-customer" data-live-search="true" class="form-control bootstrap-select"
                                            name="customerUuid" asp-items="@(new SelectList(ViewBag.Customers, "uuid", "name"))">
                                        <option value="">---Đơn vị thụ hưởng---</option>
                                    </select> }
                                else
                                {
                                    <select id="js-filter-customer" data-live-search="true" class="form-control bootstrap-select"
                                            name="customerUuid">
                                        <option value="">---Đơn vị thụ hưởng---</option>
                                    </select>}
                            </div>

                        </div>

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.Staff != null)
                                {
                                    <select id="js-filter-staff" data-live-search="true" class="form-control bootstrap-select"
                                            name="staff_uuid" asp-items="@(new SelectList(ViewBag.Staff, "uuid", "name"))">
                                        <option value="">---Nhân viên phụ trách---</option>
                                    </select> }
                                else
                                {
                                    <select id="js-filter-staff" data-live-search="true" class="form-control bootstrap-select"
                                            name="staff_uuid">
                                        <option value="">---Nhân viên phụ trách---</option>
                                    </select>}
                            </div>

                        </div>

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.FilterTeam != null)
                                {
                                    <select asp-items="@(new SelectList(ViewBag.FilterTeam,"uuid","name"))" id="js-filter-team" data-live-search="true" class="form-control bootstrap-select" name="teamUuid">
                                        <option value="">--- Team kỹ thuật ---</option>
                                    </select>
                                }
                                else
                                {
                                    <select id="js-filter-team" data-live-search="true" class="form-control bootstrap-select" name="teamUuid">
                                        <option value="">--- Team kỹ thuật ---</option>
                                    </select>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center kt-margin-t-10">
                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.TaskState != null)
                                {
                                    <select asp-items="@(new SelectList(ViewBag.TaskState,"Value","Text"))" id="js-filter-state" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                        <option value="">---Trạng thái---</option>
                                    </select> }
                                else
                                {
                                    <select id="js-filter-state" data-live-search="true" class="form-control bootstrap-select" name="stateId">
                                        <option value="">---Trạng thái---</option>
                                    </select>}
                            </div>
                        </div>
                    </div>

                </div>

                <!--end: Search Form -->
            </div>
        </div>
    </div>

    @* start landd - gắn biểu đồ*@
    <div class="row">
        <div class="col-sm-12 col-xl-6 ">
            <div class="kt-portlet__body--fluid">
                <div class="tieude-bieudo kt-margin-l-20">
                    <h4 id="tongSoTaskDetail1">0</h4>
                    <p class="">Công việc khắc phục sự cố</p>
                </div>
                <div class="w-100 chartstackdetail1" style="height: 450px;">
                    <div id="chartstackdetail1"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6">
            <div class="kt-portlet__body--fluid">
                <div class="tieude-bieudo kt-margin-l-20">
                    <h4 id="tongSoTaskDetail2">0</h4>
                    <p class="">Công việc bảo trì - Bảo dưỡng</p>
                </div>
                <div class="w-100 chartstackdetail2" style="height: 450px;">
                    <div id="chartstackdetail2"></div>
                </div>
            </div>
        </div>
    </div>
    @*end - landd*@
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-task-tab1 active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THỐNG KÊ CÔNG VIỆC THEO KHẮC PHỤC SỰ CỐ</a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-task-tab2" data-toggle="tab" href="#kt_tabs_1_2">THỐNG KÊ CÔNG VIỆC THEO BẢO HÀNH - BẢO TRÌ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-task-tab3" data-toggle="tab" href="#kt_tabs_1_3">THỐNG KÊ LẬP KẾ HOẠCH BẢO HÀNH - BẢO TRÌ</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane report-statistic-detail-task-tab1 active" id="kt_tabs_1_1" role="tabpanel">
                <!--begin: Search Form -->
                <div class="kt-portlet">

                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail-task1"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>

            <div class="tab-pane report-statistic-detail-task-tab2" id="kt_tabs_1_2" role="tabpanel">
                <div class="kt-portlet">
                    
                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail-task2"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->

                </div>
            </div>

            <div class="tab-pane report-statistic-detail-task-tab3" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-portlet">
                    
                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail-task3"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->

                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts
    {
        <script src="~/dist/summernote/summernote.js"></script>
    }*@
<script src="~/dist/apexcharts.js"></script>