﻿@model IEnumerable<DMMS.Models.ReportStatisticDetailModel>
@{ ViewData["Title"] = "Báo cáo thống kê chi tiết dự án";
    ViewData["BodyClass"] = "dmms-reportstatisticdetail"; }

<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                Báo cáo thống kê chi tiết dự án
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
                    <a href="/reportoverview" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Mã dự án, tên dự án" />
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.Customers != null)
                                {
                                    <select id="js-filter-unitSignedUuid" data-live-search="true" class="form-control bootstrap-select"
                                            name="unitSignedUuid" asp-items="@(new SelectList(ViewBag.Customers, "uuid", "name"))">
                                        <option value="">---Đơn vị sử dụng---</option>
                                    </select> }
                                else
                                {
                                    <select id="js-filter-unitSignedUuid" data-live-search="true" class="form-control bootstrap-select"
                                            name="unitSignedUuid">
                                        <option value="">---Đơn vị sử dụng---</option>
                                    </select>}
                            </div>

                        </div>

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.Fields != null)
                                {
                                    <select id="js-filter-field" data-live-search="true" class="form-control bootstrap-select"
                                            name="fieldId" asp-items="@(new SelectList(ViewBag.Fields, "id", "name"))">
                                        <option value="">---Lĩnh vực---</option>
                                    </select> }
                                else
                                {
                                    <select id="js-filter-field" data-live-search="true" class="form-control bootstrap-select"
                                            name="fieldId">
                                        <option value="">---Lĩnh vực---</option>
                                    </select>}
                            </div>

                        </div>

                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.FilterTeam != null)
                                {
                                    <select asp-items="@(new SelectList(ViewBag.FilterTeam,"uuid","name"))" id="js-filter-team" data-live-search="true" class="form-control bootstrap-select" name="teamUuid">
                                        <option value="">--- Phòng ban ---</option>
                                    </select>
                                }
                                else
                                {
                                    <select id="js-filter-team" data-live-search="true" class="form-control bootstrap-select" name="teamUuid">
                                        <option value="">--- Phòng ban ---</option>
                                    </select>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center kt-margin-t-10">
                        <div class="col-md-4 col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <div class="kt-form__group">
                                @if (ViewBag.province != null)
                                {
                                    <select asp-items="@(new SelectList(ViewBag.province,"id","name"))" id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="provinceId">
                                        <option value="">---Tỉnh/Thành---</option>
                                    </select> }
                                else
                                {
                                    <select id="js-filter-location" data-live-search="true" class="form-control bootstrap-select" name="provinceId">
                                        <option value="">---Tỉnh/Thành---</option>
                                    </select>}
                            </div>
                        </div>
                    </div>

                </div>

                <!--end: Search Form -->
            </div>
        </div>
    </div>

    @* start landd - gắn biểu đồ*@
    <div class="kt-section__info row kt-margin-l-5 kt-margin-t-5 kt-margin-r-5">
        <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
            <i class="flaticon2-pie-chart-4 text-success icon-size"></i>
            <div class="tieude-bieudo">
                <h4 class="soluong-info" id="duantrienkhai">0</h4>
                <p class="noidung-info">Dự án đang triển khai</p>
            </div>
        </div>

        <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
            <i class="flaticon2-graphic-1 text-warning icon-size"></i>
            <div class="tieude-bieudo">
                <h4 class="soluong-info" id="donvitrienkhai">0</h4>
                <p class="noidung-info">Đơn vị triển khai</p>
            </div>
        </div>

        <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
            <i class="flaticon2-list-2 text-info icon-size"></i>
            <div class="tieude-bieudo">
                <h4 class="soluong-info" id="sanphamtrienkhai">0</h4>
                <p class="noidung-info">Sản phẩm triển khai</p>
            </div>
        </div>

        <div class="kt-portlet__head-label col-sm-3 col-xl-3 muc-chart">
            <i class="flaticon2-pie-chart-4 text-success icon-size"></i>
            <div class="tieude-bieudo">
                <h4 class="soluong-info" id="thietbitrienkhai">0</h4>
                <p class="noidung-info">Thiết bị triển khai</p>
            </div>
        </div>

    </div>
    <hr width="100%" align="center" style="margin-top: 0px;" />
    <div class="row col-12">
        <div class="kt-margin-t-5 col-sm-6 col-xl-3">
            <div class="kt-portlet__body--fluid">
                <div class="w-100 charpie1" style="height: 250px;">
                    <div id="charpie1"></div>
                </div>
                <p style="margin-left: 39px;">Thống kê số dự án theo lĩnh vực</p>
            </div>

        </div>
        <div class="col-sm-6 col-xl-3 kt-margin-t-5">
            <div class="kt-portlet__body--fluid">
                <div class="w-100 charpie2" style="height: 250px;">
                    <div id="charpie2"></div>
                </div>
                <p style="margin-left: 20px;">Đơn vị triển khai của dự án theo lĩnh vực</p>
            </div>

        </div>

        <div class="col-sm-6 col-xl-3 kt-margin-t-5 ">
            <div class="kt-portlet__body--fluid">
                <div class="w-100 charpie3" style="height: 250px;">
                    <div id="charpie3"></div>
                </div>
                <p style="margin-left: 39px;">Số thiết bị triển khai theo lĩnh vực</p>
            </div>

        </div>

        <div class="col-sm-6 col-xl-3 kt-margin-t-20 ">
            <div class="kt-portlet__body--fluid kt-margin-l-30">
                <div style="width:200px; height:200px;  margin-left:20px;">
                    <h6 style="margin-bottom:20px;">Chú thích: </h6>
                    <div class="row">
                        <div class="note-radius color-giaoduc"></div>
                        &ensp;<p>Giáo dục & đào tạo</p>
                    </div>
                    <div class="row">
                        <div class="note-radius color-suckhoe"></div>
                        &ensp;<p>Y tế & sức khỏe</p>
                    </div>
                    <div class="row">
                        <div style="" class="note-radius color-moitruong"></div>
                        &ensp;<p>Xử lý môi trường</p>
                    </div>
                    <div class="row">
                        <div class="note-radius color-xlmoitruong"></div>
                        &ensp;<p>Quan trắc môi trường</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*end - landd*@

    <div class="kt-portlet__body">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-project active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THỐNG KÊ THEO DỰ ÁN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-project-2" data-toggle="tab" href="#kt_tabs_1_2">THỐNG KÊ THEO DỰ ÁN CHI TIẾT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-report-statistic-detail-area" data-toggle="tab" href="#kt_tabs_1_3">THỐNG KÊ THEO KHU VỰC</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <!--begin: Search Form -->
                <div class="kt-portlet">

                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>

            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                <!--begin: Search Form -->
                <div class="kt-portlet">

                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-project-detail"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>

            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                <div class="kt-portlet">

                    <!--begin: Datatable -->
                    <div class="kt-portlet__body kt-portlet__body--table">
                        <!--begin: Datatable -->
                        <div class="kt-datatable-detail2"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--end: Datatable -->

                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts
    {
        <script src="~/dist/summernote/summernote.js"></script>
    }*@
<script src="~/dist/apexcharts.js"></script>