﻿@model DMMS.Models.TaskStateAddRequest

@{
    Layout = null;
}


    <form asp-action="Create" class="dmms-taskstate__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="kt-input-icon kt-input-icon--left">
            <label asp-for="task_uuid" class="control-label">Công việc</label>
            <div class="kt-form__group">
                @if (ViewBag.task != null)
                {
                    <select asp-items="@(new SelectList(ViewBag.task,"uuid","name"))" id="kt-multiple-select-taskstate" data-live-search="true" class="form-control bootstrap-select" asp-for="task_uuid">
                        <option value="">--- Chọn công việc ---</option>
                    </select>
                }
                else
                {
                    <select id="kt-multiple-select-taskstate" data-live-search="true" class="form-control bootstrap-select" asp-for="task_uuid">
                        <option value="">--- Chọn công việc ---</option>
                    </select>
                }
            </div>
        </div>
        <div class="kt-input-icon kt-input-icon--left">
            <label asp-for="state" class="control-label">Trạng thái</label>
            <div class="kt-form__group">
                @if (ViewBag.devicestate)
                {
                    <select asp-items="@(new SelectList(ViewBag.devicestate,"Value","Text"))" id="kt-multiple-select-taskstate1" data-live-search="true" class="form-control bootstrap-select" asp-for="state">
                        <option value="">--- Trạng thái ---</option>
                    </select>
                }
                else
                {
                    <select id="kt-multiple-select-taskstate1" data-live-search="true" class="form-control bootstrap-select" asp-for="state">
                        <option value="">--- Trạng thái ---</option>
                    </select>
                }

            </div>
        </div>
        <div class="form-group">
            <label asp-for="note" class="control-label">Ghi chú</label>
            <div class="kt-input-icon kt-input-icon--left">
                <input asp-for="note" class="form-control" placeholder="Ghi chú" />
                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
            </div>

        </div>
        <div class="form-group form-group-last">
            <label class="control-label">Upload image:</label>
            <div>
                <div class="dropzone dropzone-default" id="kt_dropzone_image">
                    <div class="dropzone-panel">
                        <a class="dropzone-select btn btn-label-brand btn-bold btn-sm">Chọn ảnh</a>
                    </div>
                    <div class="dropzone-items">
                        <div class="dropzone-item" style="display:none">
                            <div class="dropzone-file">
                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                    <span data-dz-name></span>
                                </div>
                                <div class="dropzone-error" data-dz-errormessage></div>
                            </div>
                            <div class="dropzone-progress">
                                <div class="progress">
                                    <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div class="dropzone-toolbar">
                                <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="form-text text-muted">Dung lượng file lớn nhất 5MB</span>
            </div>
        </div>
        <input asp-for="uuid_images" type="hidden" />

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <i class="la la-save"></i>
                Lưu
            </button>
        </div>
    </form>
