﻿@model DMMS.Models.TaskStateAddRequest

@{
    Layout = null;
}


    <form asp-action="Detail" class="dmms-taskstate__form" onsubmit="return false">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="uuid" type="hidden" class="form-control" />
        <div class="col-md-4">
            <label class="control-label">Ảnh đại diện nhà cung cấp:</label>
            <div class="img-thumbnail text-center">
                @*@if (!string.IsNullOrEmpty(Model.image))
                {
                    <img height="100" src="@Model.image" />
                }
                else
                {
                    <img height="100" src="/statics/images/noimage.jpg" />
                }*@
                @*@foreach (var cus in Model.image)
                {
                    <tr>
                        <td>

                            <img height="100" src="@cus.image" />
                        </td>
                    </tr>
                }*@
            </div>
        </div>
        <input asp-for="uuid_images" type="hidden" />
        <input asp-for="uuid" type="hidden" />

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <i class="la la-save"></i>
                Cập Nhật
            </button>
        </div>
    </form>
