﻿@model IEnumerable<DMMS.Models.TaskStateModel>

@{
   ViewData["Title"] = "Danh sách trạng thái công việc";
    ViewData["BodyClass"] = "dmms-taskstate";
}

    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button type="button" class="js-edit-taskstate btn btn-primary btn-icon-sm">
                            <i class="la la-plus kt-p-0-tablet-and-mobile"></i>
                            <span class="d-none d-sm-inline-block">Thêm trạng thái công việc </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">

                    <div class="col-md-4 col-lg-2">
                        <div class="kt-form__group">
                            @if (ViewBag.task != null)
                            {
                                <select asp-items="@(new SelectList(ViewBag.task,"uuid","name"))" id="js-filter-task" data-live-search="true" class="form-control bootstrap-select" name="task_uuid">
                                    <option value="">--- Chọn công việc ---</option>
                                </select>
                            }
                            else
                            {
                                <select id="js-filter-task" data-live-search="true" class="form-control bootstrap-select" name="task_uuid">
                                    <option value="">--- Chọn công việc ---</option>
                                </select>
                            }
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2">
                        <div class="kt-form__group">
                            @if (ViewBag.tasksate != null)
                            {
                                <select asp-items="@(new SelectList(ViewBag.tasksate,"Value","Text"))" id="js-filter-states" data-live-search="true" class="form-control bootstrap-select" name="state">
                                    <option value="">--- Trạng thái ---</option>
                                </select>
                            }
                            else
                            {
                                <select id="js-filter-states" data-live-search="true" class="form-control bootstrap-select" name="state">
                                    <option value="">--- Trạng thái ---</option>
                                </select>
                            }
                        </div>
                    </div>
                </div>

                
            </div>
            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--table">
            <!--begin: Datatable -->
            <div class="kt-datatable"></div>
            <!--end: Datatable -->
        </div>
    </div>