﻿.dmms-timewarning {
    .kt-warning__list {
        display: none;
    }

    .kt-warning__title {
        font-weight: 700;
    }

    .kt-warning__title {
        padding: 0 12px 0 16px;
        cursor: pointer;
        border: 1px solid #004A9B;
        margin-bottom: 10px;

        .btn-on-off {
            margin-top: 15px !important;
        }

        &.active {
            background-color: $primary;
            color: $white;
        }
    }

    .kt-warning__title:hover {
        background-color: rgba(18, 97, 205, 0.4);
    }

    .kt-warning__item {
        margin: 0 15px 10px;
        border: 1px solid #004A9B;
        background-color: #00336C;
        padding: 10px 14px;
    }

    .kt-warning {
        &.active {
            .kt-warning__list {
                margin-top: -10px;
                margin-bottom: 10px;
                padding-top: 10px;
                background-color: #004A9B;
                border: 1px solid #004A9B;
                display: block;

                input {
                    margin-top: -3px;
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                }

                i {
                    margin-left: 15px;
                }
            }

            .kt-warning__title {
                background-color: #1261cd;
                color: $white;
            }
        }
    }
}
