﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Có lỗi xảy ra</h1>
<h2 class="text-danger">Đã có lỗi xảy ra trong quá trình xử lý yêu cầu của bạn.</h2>

<br />

<h3>Bạn có thể thử các việc sau:</h3>
<p>
    Đăng nhập lại <strong><a href="/authen/login">tại đây</a></strong>
</p>
<p>
    Hoặc quay về <strong><a href="/">trang chủ</a></strong>
</p>
