﻿@model DMMS.Models.TaskOfferModel
@{
    ViewData["Title"] = "Danh sách đề xuất công việc";
    ViewData["BodyClass"] = "dmms-taskoffer";
}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                <i class="flaticon-user"></i>
            </span>*@
            <h3 class="kt-portlet__head-title">
                Danh sách đề xuất công việc
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button type="button" class="js-edit-ticket btn btn-danger btn-icon-sm">
                        <i class="la la-cloud-download kt-p-0-tablet-and-mobile"></i>
                        <span class="d-none d-sm-inline-block">Export Excels</span>
                    </button>
              
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-4">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control" value="" placeholder="VD: Nội dung && Công việc" />
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="kt-form__group">
                        @if (ViewBag.offersate != null)
                        {
                            <select asp-items="@(new SelectList(ViewBag.offersate,"Value","Text"))" id="js-filter-states" data-live-search="true" class="form-control bootstrap-select offerstate" name="state">
                                <option value="">--- Trạng thái ---</option>
                            </select>
                        }
                        else
                        {
                            <select id="js-filter-states" data-live-search="true" class="form-control bootstrap-select offerstate" name="state">
                                <option value="">--- Trạng thái ---</option>
                            </select>
                        }
                    </div>
                    </div>

                </div>
            </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--table">
        <!--begin: Datatable -->
        <div class="kt-datatable"></div>
        <!--end: Datatable -->
    </div>
</div>
