﻿@model DMMS.Models.TaskOfferModel
@{
    ViewData["Title"] = "Chi tiết công việc đề suất";
    ViewData["BodyClass"] = "dmms-taskoffer";

}
<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            @*<span class="kt-portlet__head-icon">
                    <i class="flaticon-user"></i>
                </span>*@
            <h3 class="kt-portlet__head-title">
                @if (Model.task != null)
                {
                    @Model.task.name
                }
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                @if (Model.state == 1)
                {
                    <button type="button" class="btn btn-info submittaskoffer">
                        Duyệt đề xuất
                    </button>
                    <p>&nbsp</p>
                      <button type="button" class="btn btn-danger cancleoffer">
                        Từ chối yêu cầu
                    </button>

                }
                else if (Model.state == 2)
                {
                    <button type="button" class="btn btn-info">
                        Đã duyệt
                    </button>
                }
                else if (Model.state == 3)
                {
                    <button type="button" class="btn btn-danger ">

                        Đã từ chối
                    </button>
                }
                &nbsp &nbsp
                <div class="kt-portlet__head-actions">
                    <a href="/taskoffer" class="btn btn-secondary btn-icon-sm">
                        <i class="la la-arrow-left"></i>
                        Quay lại danh sách
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">THÔNG TIN CHUNG</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                <div class="kt-portlet__body">
                    <form class="dmms-staff__form" asp-action="Update" onsubmit="return false">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="row">
                                    <div class="col-6 border-right">
                                        <div class="form-group row">
                                            <label asp-for="description" class="control-label col-3">Nội dung đề xuất</label>
                                            <div class="kt-input-icon col-8">
                                                <textarea asp-for="description" class="form-control" placeholder="Nội dung đề xuất" disabled></textarea>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label asp-for="task.name" class="control-label col-3">Công việc</label>
                                            <div class="kt-input-icon col-8 kt-input-icon--left">
                                                <input asp-for="task.name" class="form-control" placeholder="Công việc" disabled />
                                                <span class="kt-input-icon__icon"><span><i class="la la-sticky-note"></i></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="employee.name" class="control-label col-3">Người đề xuất</label>
                                            <div class="kt-input-icon col-8 kt-input-icon--left">
                                                <input asp-for="employee.name" class="form-control" placeholder="Người đề xuất" disabled />
                                                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="time_created_format" class="control-label col-3">Thời gian đề xuất</label>
                                            <div class="kt-input-icon col-8 kt-input-icon--left">
                                                <input asp-for="time_created_format" class="form-control" placeholder="Thời giân đề xuất" disabled />
                                                <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="description" class="control-label col-3">Hình ảnh</label>
                                            @if (Model.images.Count > 0)
                                            {
                                                <div class="col-9 row">
                                                    @foreach (var item in Model.images)
                                                    {
                                                        <img class="col-md-4" src="@item.path" alt="@item.name" />
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="kt-input-icon col-8">
                                                    <input class="form-control" value="Chưa có hình ảnh" disabled />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        @if (Model.censor != null && Model.state == 3)
                                        {
                                            <div class="form-group row">
                                                <label asp-for="censor_note" class="control-label col-3">Nội dung từ chối</label>
                                                <div class="kt-input-icon col-8">
                                                    <textarea asp-for="censor_note" class="form-control" placeholder="Nội dung từ chối" disabled></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="censor.name" class="control-label col-3">Người duyệt</label>
                                                <div class="kt-input-icon col-8 kt-input-icon--left">
                                                    <input asp-for="censor.name" class="form-control" placeholder="Người duyệt" disabled />
                                                    <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="timecanceloffer" class="control-label col-3">Thời gian đề từ chối</label>
                                                <div class="kt-input-icon col-8 kt-input-icon--left">
                                                    <input asp-for="timecanceloffer" class="form-control" placeholder="Thời gian đề từ chối" disabled>
                                                    <span class="kt-input-icon__icon"><span><i class="la la-calendar"></i></span></span>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.censor != null && Model.state == 2)
                                        {
                                            <div class="form-group row">
                                                <label asp-for="censor.name" class="control-label col-3">Người duyệt</label>
                                                <div class="kt-input-icon col-8 kt-input-icon--left">
                                                    <input asp-for="censor.name" class="form-control" placeholder="Người duyệt" disabled />
                                                    <span class="kt-input-icon__icon"><span><i class="la la-user"></i></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="timecanceloffer" class="control-label col-3">Thời gian duyệt</label>
                                                <div class="kt-input-icon col-8 kt-input-icon--left">
                                                    <input asp-for="timecanceloffer" class="form-control" placeholder="Thời gian đề từ chối" disabled>
                                                    <span class="kt-input-icon__icon"><span><i class="la la-calendar"></i></span></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <input asp-for="uuid" type="hidden" />
                                <br />
                                <div class="text-center kt-mb-30">


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
            <input asp-for="uuid" type="hidden" />
            <div class="kt-portlet__body kt-portlet__body--table">
                <!--begin: Datatable -->
                <div class="kt-datatable1">

                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>

