﻿@model DMMS.Models.SubHeaderModel
@{
    Layout = null;
}
<!-- begin:: Subheader -->
@if (Model != null)
{
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="@Model.Icon"></i></a>
                <h3 class="kt-subheader__title">
                    @if (string.IsNullOrEmpty(Model.TitleLink))
                    {
                        <a href="@Model.TitleLink" title="@Model.Title">@Model.Title</a>
                    }
                    else
                    {
                        @Model.Title
                    }

                </h3>
                @if (!string.IsNullOrEmpty(Model.SubTitle))
                {
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="" class="kt-subheader__breadcrumbs-link">
                        @Model.SubTitle
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.SubTitleSmal))
                {
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="" class="kt-subheader__breadcrumbs-link">
                        @Model.SubTitleSmal
                    </a>
                }
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            
            @if (Model.Toolbar == 1)
            {
                <div class="kt-subheader__wrapper">
                    <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="Chọn ngày xem Dashboard" data-placement="left">
                        <i class="flaticon2-calendar-9"></i>
                        <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Hôm nay:</span>&nbsp;
                        <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">16 Th04</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
}
<!-- end:: Subheader -->